USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[perfilesporusuario]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfilesporusuario](
	[idEmpresa] [char](2) NOT NULL,
	[idUsuario] [char](8) NOT NULL,
	[iDPerfil] [char](8) NOT NULL,
	[CodSistema] [char](2) NOT NULL,
 CONSTRAINT [PK_perfilesporusuario_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idUsuario] ASC,
	[iDPerfil] ASC,
	[CodSistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[perfilesporusuario] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[perfilesporusuario] ADD  DEFAULT (N'') FOR [idUsuario]
GO
ALTER TABLE [dbo].[perfilesporusuario] ADD  DEFAULT (N'') FOR [iDPerfil]
GO
ALTER TABLE [dbo].[perfilesporusuario] ADD  DEFAULT (N'') FOR [CodSistema]
GO
