USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[combodet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[combodet](
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[item] [bigint] NOT NULL,
	[idComboCab] [char](8) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[idTipoProducto] [char](5) NOT NULL,
	[glsProducto] [varchar](200) NOT NULL,
	[idUM] [char](8) NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[VVUnit] [decimal](14, 2) NOT NULL,
	[IGVUnit] [decimal](14, 2) NOT NULL,
	[PVUnit] [decimal](14, 2) NOT NULL,
	[TotalVVNeto] [decimal](14, 2) NOT NULL,
	[TotalIGVNeto] [decimal](14, 2) NOT NULL,
	[TotalPVNeto] [decimal](14, 2) NOT NULL,
	[PorcDcto] [bigint] NOT NULL,
 CONSTRAINT [PK_combodet_item] PRIMARY KEY CLUSTERED 
(
	[item] ASC,
	[idComboCab] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT (N'') FOR [idComboCab]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT (N'') FOR [idTipoProducto]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT (N'') FOR [glsProducto]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT (N'') FOR [idUM]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT ((0.00)) FOR [cantidad]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT ((0.00)) FOR [VVUnit]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT ((0.00)) FOR [IGVUnit]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT ((0.00)) FOR [PVUnit]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT ((0.00)) FOR [TotalVVNeto]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT ((0.00)) FOR [TotalIGVNeto]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT ((0.00)) FOR [TotalPVNeto]
GO
ALTER TABLE [dbo].[combodet] ADD  DEFAULT ((0)) FOR [PorcDcto]
GO
