USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[almacenesvtas]    Script Date: 12/03/2026 12:24:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[almacenesvtas](
	[item] [bigint] NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idAlmacen] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
 CONSTRAINT [PK_almacenesvtas_item] PRIMARY KEY CLUSTERED 
(
	[item] ASC,
	[idSucursal] ASC,
	[idAlmacen] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[almacenesvtas] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[almacenesvtas] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[almacenesvtas] ADD  DEFAULT (N'') FOR [idAlmacen]
GO
ALTER TABLE [dbo].[almacenesvtas] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
