USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[gruposproveedor]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gruposproveedor](
	[idGrupoProveedor] [char](2) NOT NULL,
	[GlsGrupoProveedor] [varchar](150) NOT NULL,
 CONSTRAINT [PK_gruposproveedor_idGrupoProveedor] PRIMARY KEY CLUSTERED 
(
	[idGrupoProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[gruposproveedor] ADD  DEFAULT (N'') FOR [idGrupoProveedor]
GO
ALTER TABLE [dbo].[gruposproveedor] ADD  DEFAULT (N'') FOR [GlsGrupoProveedor]
GO
