USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[componentes_activos]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[componentes_activos](
	[idempresa] [char](2) NOT NULL,
	[idCodActivo] [char](8) NOT NULL,
	[idcomp] [char](8) NOT NULL,
	[item] [bigint] NOT NULL,
	[glscomp] [varchar](100) NOT NULL,
	[idUMVenta] [char](8) NULL,
	[glsUM] [varchar](100) NULL,
	[cantVUmda] [char](8) NOT NULL,
	[VUmda] [varchar](45) NOT NULL,
	[fechaReg] [datetime2](0) NULL,
	[fechaVU] [datetime2](0) NULL,
	[indBaja] [bigint] NOT NULL,
	[FechaBaja] [date] NULL,
	[FechaGarantia] [date] NULL,
 CONSTRAINT [PK_componentes_activos_idempresa] PRIMARY KEY CLUSTERED 
(
	[idempresa] ASC,
	[idCodActivo] ASC,
	[idcomp] ASC,
	[item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT (N'') FOR [idempresa]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT (N'') FOR [idCodActivo]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT (N'') FOR [idcomp]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT (N'') FOR [glscomp]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT (NULL) FOR [idUMVenta]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT (NULL) FOR [glsUM]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT (N'') FOR [cantVUmda]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT (N'') FOR [VUmda]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT (NULL) FOR [fechaReg]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT (NULL) FOR [fechaVU]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT ((0)) FOR [indBaja]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT (NULL) FOR [FechaBaja]
GO
ALTER TABLE [dbo].[componentes_activos] ADD  DEFAULT (NULL) FOR [FechaGarantia]
GO
