USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[preciosventa]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preciosventa](
	[idLista] [char](8) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[idUM] [char](8) NOT NULL,
	[VVUnit] [float] NOT NULL,
	[IGVUnit] [float] NOT NULL,
	[PVUnit] [float] NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[CostoUnit] [float] NOT NULL,
	[FactorUnit] [float] NOT NULL,
	[Factor2Unit] [float] NOT NULL,
	[MaxDcto] [bigint] NOT NULL,
 CONSTRAINT [PK_preciosventa_idLista] PRIMARY KEY CLUSTERED 
(
	[idLista] ASC,
	[idEmpresa] ASC,
	[idProducto] ASC,
	[idUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[preciosventa] ADD  DEFAULT (N'') FOR [idLista]
GO
ALTER TABLE [dbo].[preciosventa] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[preciosventa] ADD  DEFAULT (N'') FOR [idUM]
GO
ALTER TABLE [dbo].[preciosventa] ADD  DEFAULT ((0)) FOR [VVUnit]
GO
ALTER TABLE [dbo].[preciosventa] ADD  DEFAULT ((0)) FOR [IGVUnit]
GO
ALTER TABLE [dbo].[preciosventa] ADD  DEFAULT ((0)) FOR [PVUnit]
GO
ALTER TABLE [dbo].[preciosventa] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[preciosventa] ADD  DEFAULT ((0)) FOR [CostoUnit]
GO
ALTER TABLE [dbo].[preciosventa] ADD  DEFAULT ((0)) FOR [FactorUnit]
GO
ALTER TABLE [dbo].[preciosventa] ADD  DEFAULT ((0)) FOR [Factor2Unit]
GO
ALTER TABLE [dbo].[preciosventa] ADD  DEFAULT ((0)) FOR [MaxDcto]
GO
