USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tbtemptominv]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbtemptominv](
	[item] [int] NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[CodigoRapido] [varchar](20) NULL,
	[Stock] [float] NOT NULL,
	[idAlmacen] [char](8) NULL,
 CONSTRAINT [PK_tbtemptominv_item] PRIMARY KEY CLUSTERED 
(
	[item] ASC,
	[idEmpresa] ASC,
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbtemptominv] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[tbtemptominv] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[tbtemptominv] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[tbtemptominv] ADD  DEFAULT (NULL) FOR [CodigoRapido]
GO
ALTER TABLE [dbo].[tbtemptominv] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[tbtemptominv] ADD  DEFAULT (NULL) FOR [idAlmacen]
GO
