USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[datos]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datos](
	[idDato] [char](5) NOT NULL,
	[idTipoDatos] [char](3) NULL,
	[GlsDato] [varchar](200) NULL,
	[estDato] [char](3) NOT NULL,
	[Abreviatura] [varchar](5) NOT NULL,
	[idSunat] [varchar](45) NOT NULL,
	[idCtaVtaSoles] [varchar](12) NOT NULL,
	[idCtaVtaDolares] [varchar](12) NOT NULL,
	[idCtaVtaTerSoles] [varchar](12) NOT NULL,
	[idCtaVtaTerDolares] [varchar](12) NOT NULL,
	[Destino] [char](1) NOT NULL,
	[Orden] [bigint] NOT NULL,
	[IdCtaCorriente] [bigint] NOT NULL,
 CONSTRAINT [PK_datos_idDato] PRIMARY KEY CLUSTERED 
(
	[idDato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[datos] ADD  DEFAULT (N'') FOR [idDato]
GO
ALTER TABLE [dbo].[datos] ADD  DEFAULT (NULL) FOR [idTipoDatos]
GO
ALTER TABLE [dbo].[datos] ADD  DEFAULT (NULL) FOR [GlsDato]
GO
ALTER TABLE [dbo].[datos] ADD  DEFAULT (N'ACT') FOR [estDato]
GO
ALTER TABLE [dbo].[datos] ADD  DEFAULT (N'') FOR [Abreviatura]
GO
ALTER TABLE [dbo].[datos] ADD  DEFAULT (N'') FOR [idSunat]
GO
ALTER TABLE [dbo].[datos] ADD  DEFAULT (N'') FOR [idCtaVtaSoles]
GO
ALTER TABLE [dbo].[datos] ADD  DEFAULT (N'') FOR [idCtaVtaDolares]
GO
ALTER TABLE [dbo].[datos] ADD  DEFAULT (N'') FOR [idCtaVtaTerSoles]
GO
ALTER TABLE [dbo].[datos] ADD  DEFAULT (N'') FOR [idCtaVtaTerDolares]
GO
ALTER TABLE [dbo].[datos] ADD  DEFAULT (N'') FOR [Destino]
GO
ALTER TABLE [dbo].[datos] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [dbo].[datos] ADD  DEFAULT ((0)) FOR [IdCtaCorriente]
GO
