USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[plan]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plan](
	[CTA] [varchar](50) NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[GRADO] [int] NULL,
	[DESTINO1] [varchar](50) NULL,
	[DESTINO2] [varchar](50) NULL,
	[MONEDA] [varchar](50) NULL,
	[CTAANT] [varchar](50) NULL,
	[CC] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[plan] ADD  DEFAULT (NULL) FOR [CTA]
GO
ALTER TABLE [dbo].[plan] ADD  DEFAULT (NULL) FOR [DESCRIPCION]
GO
ALTER TABLE [dbo].[plan] ADD  DEFAULT (NULL) FOR [GRADO]
GO
ALTER TABLE [dbo].[plan] ADD  DEFAULT (NULL) FOR [DESTINO1]
GO
ALTER TABLE [dbo].[plan] ADD  DEFAULT (NULL) FOR [DESTINO2]
GO
ALTER TABLE [dbo].[plan] ADD  DEFAULT (NULL) FOR [MONEDA]
GO
ALTER TABLE [dbo].[plan] ADD  DEFAULT (NULL) FOR [CTAANT]
GO
ALTER TABLE [dbo].[plan] ADD  DEFAULT (NULL) FOR [CC]
GO
