USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[cta_mvto]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cta_mvto](
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idCta_Dcto] [char](8) NOT NULL,
	[idCta_Comp] [char](8) NOT NULL,
	[idCliente] [char](8) NOT NULL,
	[ValImputaSO] [decimal](14, 5) NOT NULL,
	[ValImputaDO] [decimal](14, 5) NOT NULL,
	[valTipoCambio] [decimal](14, 5) NOT NULL,
	[Fec_Mvto] [datetime2](0) NOT NULL,
	[Fec_Repo] [datetime2](0) NOT NULL,
	[CTA_DCTO_AUX] [varchar](45) NULL,
	[idCta_Dcto_Ant] [varchar](45) NOT NULL,
	[idCta_Comp_Ant] [varchar](45) NOT NULL,
 CONSTRAINT [PK_cta_mvto_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idCta_Dcto] ASC,
	[idCta_Comp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cta_mvto] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[cta_mvto] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[cta_mvto] ADD  DEFAULT (N'') FOR [idCta_Dcto]
GO
ALTER TABLE [dbo].[cta_mvto] ADD  DEFAULT (N'') FOR [idCta_Comp]
GO
ALTER TABLE [dbo].[cta_mvto] ADD  DEFAULT (N'') FOR [idCliente]
GO
ALTER TABLE [dbo].[cta_mvto] ADD  DEFAULT ((0.00000)) FOR [ValImputaSO]
GO
ALTER TABLE [dbo].[cta_mvto] ADD  DEFAULT ((0.00000)) FOR [ValImputaDO]
GO
ALTER TABLE [dbo].[cta_mvto] ADD  DEFAULT ((0.00000)) FOR [valTipoCambio]
GO
ALTER TABLE [dbo].[cta_mvto] ADD  DEFAULT (getdate()) FOR [Fec_Mvto]
GO
ALTER TABLE [dbo].[cta_mvto] ADD  DEFAULT (getdate()) FOR [Fec_Repo]
GO
ALTER TABLE [dbo].[cta_mvto] ADD  DEFAULT (NULL) FOR [CTA_DCTO_AUX]
GO
ALTER TABLE [dbo].[cta_mvto] ADD  DEFAULT (N'') FOR [idCta_Dcto_Ant]
GO
ALTER TABLE [dbo].[cta_mvto] ADD  DEFAULT (N'') FOR [idCta_Comp_Ant]
GO
