USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[cheq_digitados]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cheq_digitados](
	[Periodo] [char](6) NOT NULL,
	[idCtaCorriente] [bigint] NOT NULL,
	[idMovBancosCab] [int] NOT NULL,
 CONSTRAINT [PK_cheq_digitados_Periodo] PRIMARY KEY CLUSTERED 
(
	[Periodo] ASC,
	[idCtaCorriente] ASC,
	[idMovBancosCab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cheq_digitados] ADD  DEFAULT (N'') FOR [Periodo]
GO
ALTER TABLE [dbo].[cheq_digitados] ADD  DEFAULT ((0)) FOR [idCtaCorriente]
GO
ALTER TABLE [dbo].[cheq_digitados] ADD  DEFAULT ((0)) FOR [idMovBancosCab]
GO
