USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[movcajasdet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movcajasdet](
	[idMovCaja] [char](8) NOT NULL,
	[idTipoMovCaja] [char](8) NOT NULL,
	[idMoneda] [char](8) NOT NULL,
	[ValMonto] [decimal](14, 5) NOT NULL,
	[FecRegistro] [datetime2](0) NOT NULL,
	[idSerie] [char](4) NOT NULL,
	[idDocVentas] [char](8) NOT NULL,
	[idDocumento] [char](2) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[GlsObs] [varchar](250) NOT NULL,
	[ValTipoCambio] [decimal](14, 5) NOT NULL,
	[idMovCajaDet] [char](8) NOT NULL,
	[idFormadePago] [char](8) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[estMovCajaDet] [char](3) NOT NULL,
 CONSTRAINT [PK_movcajasdet_idMovCaja] PRIMARY KEY CLUSTERED 
(
	[idMovCaja] ASC,
	[idEmpresa] ASC,
	[idMovCajaDet] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT (N'') FOR [idMovCaja]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT (N'') FOR [idTipoMovCaja]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT ((0.00000)) FOR [ValMonto]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT (getdate()) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT (N'') FOR [idDocVentas]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT (N'') FOR [idDocumento]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT (N'') FOR [GlsObs]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT ((0.00000)) FOR [ValTipoCambio]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT (N'') FOR [idMovCajaDet]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT (N'') FOR [idFormadePago]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[movcajasdet] ADD  DEFAULT (N'ACT') FOR [estMovCajaDet]
GO
