USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[movcajas]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movcajas](
	[idMovCaja] [char](8) NOT NULL,
	[idCaja] [char](8) NOT NULL,
	[idUsuario] [char](8) NOT NULL,
	[indEstado] [char](1) NOT NULL,
	[FecApertura] [datetime2](0) NOT NULL,
	[FecCierre] [datetime2](0) NOT NULL,
	[idEmpresa] [char](8) NOT NULL,
	[FecCaja] [date] NOT NULL,
	[idSucursal] [char](8) NOT NULL,
 CONSTRAINT [PK_movcajas_idMovCaja] PRIMARY KEY CLUSTERED 
(
	[idMovCaja] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[movcajas] ADD  DEFAULT (N'') FOR [idMovCaja]
GO
ALTER TABLE [dbo].[movcajas] ADD  DEFAULT (N'') FOR [idCaja]
GO
ALTER TABLE [dbo].[movcajas] ADD  DEFAULT (N'') FOR [idUsuario]
GO
ALTER TABLE [dbo].[movcajas] ADD  DEFAULT (N'A') FOR [indEstado]
GO
ALTER TABLE [dbo].[movcajas] ADD  DEFAULT (getdate()) FOR [FecApertura]
GO
ALTER TABLE [dbo].[movcajas] ADD  DEFAULT (getdate()) FOR [FecCierre]
GO
ALTER TABLE [dbo].[movcajas] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[movcajas] ADD  DEFAULT (getdate()) FOR [FecCaja]
GO
ALTER TABLE [dbo].[movcajas] ADD  DEFAULT (N'') FOR [idSucursal]
GO
