USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[ctascorrientes]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ctascorrientes](
	[idCtaCorriente] [bigint] NOT NULL,
	[idBanco] [char](8) NULL,
	[glsCtaCorriente] [varchar](45) NULL,
	[idCtaContable] [varchar](12) NULL,
	[idMoneda] [char](3) NULL,
	[Titular] [varchar](35) NULL,
	[Firma1] [varchar](35) NULL,
	[Firma2] [varchar](35) NULL,
	[Firma3] [varchar](35) NULL,
	[FecApertura] [datetime2](0) NULL,
	[F5DEBM00] [decimal](14, 5) NULL,
	[F5HABM00] [decimal](14, 5) NULL,
	[UltTalonario] [bigint] NULL,
	[UltiChqGirado] [int] NULL,
	[UltNumCaja] [bigint] NULL,
	[NumMovCaja] [int] NULL,
	[indTransConta] [varchar](1) NULL,
	[Modalidad] [char](1) NULL,
	[PeriodoCaja] [char](6) NULL,
	[DNI1] [varchar](10) NULL,
	[DNI2] [varchar](10) NULL,
	[DNI3] [varchar](10) NULL,
	[TipoDoc1] [varchar](5) NULL,
	[TipoDoc2] [varchar](5) NULL,
	[TipoDoc3] [varchar](5) NULL,
	[MontoFondo] [decimal](14, 5) NULL,
	[idResponsable] [varchar](50) NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idUsuarioReg] [char](8) NOT NULL,
	[FecchaReg] [datetime2](0) NOT NULL,
	[indConciliado01] [char](1) NULL,
	[indConciliado02] [char](1) NULL,
	[indConciliado03] [char](1) NULL,
	[indConciliado04] [char](1) NULL,
	[indConciliado05] [char](1) NULL,
	[indConciliado06] [char](1) NULL,
	[indConciliado07] [char](1) NULL,
	[indConciliado08] [char](1) NULL,
	[indConciliado09] [char](1) NULL,
	[indConciliado10] [char](1) NULL,
	[indConciliado11] [char](1) NULL,
	[indConciliado12] [char](1) NULL,
	[UltNumRen] [bigint] NOT NULL,
	[NumMovRen] [bigint] NOT NULL,
	[PeriodoRen] [char](6) NOT NULL,
	[IdAnno] [varchar](4) NOT NULL,
	[IdSunat] [varchar](4) NOT NULL,
	[Mostrar] [bigint] NOT NULL,
 CONSTRAINT [PK_ctascorrientes_idCtaCorriente] PRIMARY KEY CLUSTERED 
(
	[idCtaCorriente] ASC,
	[idEmpresa] ASC,
	[IdAnno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT ((0)) FOR [idCtaCorriente]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [idBanco]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [glsCtaCorriente]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [idCtaContable]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [idMoneda]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [Titular]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [Firma1]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [Firma2]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [Firma3]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [FecApertura]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [F5DEBM00]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [F5HABM00]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [UltTalonario]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [UltiChqGirado]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [UltNumCaja]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [NumMovCaja]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [indTransConta]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [Modalidad]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [PeriodoCaja]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [DNI1]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [DNI2]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [DNI3]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [TipoDoc1]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [TipoDoc2]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [TipoDoc3]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [MontoFondo]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [idResponsable]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (N'') FOR [idUsuarioReg]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (getdate()) FOR [FecchaReg]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [indConciliado01]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [indConciliado02]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [indConciliado03]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [indConciliado04]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [indConciliado05]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [indConciliado06]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [indConciliado07]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [indConciliado08]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [indConciliado09]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [indConciliado10]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [indConciliado11]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (NULL) FOR [indConciliado12]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT ((1)) FOR [UltNumRen]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT ((0)) FOR [NumMovRen]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (N'') FOR [PeriodoRen]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (N'') FOR [IdAnno]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT (N'') FOR [IdSunat]
GO
ALTER TABLE [dbo].[ctascorrientes] ADD  DEFAULT ((0)) FOR [Mostrar]
GO
