USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[docventasdetlote]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docventasdetlote](
	[idDocventas] [varchar](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[idLote] [varchar](8) NOT NULL,
	[GlsLote] [varchar](255) NOT NULL,
	[CantidadStock] [float] NOT NULL,
	[Cantidad] [float] NOT NULL,
	[idProducto] [varchar](8) NOT NULL,
	[ItemDocVentas] [varchar](3) NOT NULL,
	[idSerie] [char](4) NOT NULL,
	[idDocumento] [char](2) NOT NULL,
	[idEmpresa] [varchar](8) NOT NULL,
	[idSucursal] [varchar](8) NOT NULL,
 CONSTRAINT [PK_docventasdetlote_idDocventas] PRIMARY KEY CLUSTERED 
(
	[idDocventas] ASC,
	[Item] ASC,
	[idProducto] ASC,
	[idSerie] ASC,
	[idDocumento] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[ItemDocVentas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[docventasdetlote] ADD  DEFAULT (N'') FOR [idDocventas]
GO
ALTER TABLE [dbo].[docventasdetlote] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[docventasdetlote] ADD  DEFAULT (N'') FOR [idLote]
GO
ALTER TABLE [dbo].[docventasdetlote] ADD  DEFAULT (N'') FOR [GlsLote]
GO
ALTER TABLE [dbo].[docventasdetlote] ADD  DEFAULT ((0)) FOR [CantidadStock]
GO
ALTER TABLE [dbo].[docventasdetlote] ADD  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[docventasdetlote] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[docventasdetlote] ADD  DEFAULT (N'') FOR [ItemDocVentas]
GO
ALTER TABLE [dbo].[docventasdetlote] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[docventasdetlote] ADD  DEFAULT (N'') FOR [idDocumento]
GO
ALTER TABLE [dbo].[docventasdetlote] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[docventasdetlote] ADD  DEFAULT (N'') FOR [idSucursal]
GO
