USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[docventasregisdocfe]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docventasregisdocfe](
	[IdDocVentasRegisDocFE] [bigint] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [char](2) NOT NULL,
	[IdDocumento] [char](2) NOT NULL,
	[IdSerie] [char](4) NOT NULL,
	[IdDocVentas] [char](8) NOT NULL,
	[IdEmpresaCli] [char](2) NOT NULL,
	[Annio_Mov] [char](4) NOT NULL,
	[IdMesMov] [char](2) NOT NULL,
	[IdNumMov] [char](8) NOT NULL,
	[IdCentroCosto] [varchar](8) NOT NULL,
 CONSTRAINT [PK_docventasregisdocfe_IdDocVentasRegisDocFE] PRIMARY KEY CLUSTERED 
(
	[IdDocVentasRegisDocFE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [docventasregisdocfe$Index_1] UNIQUE NONCLUSTERED 
(
	[IdEmpresa] ASC,
	[IdDocumento] ASC,
	[IdSerie] ASC,
	[IdDocVentas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [docventasregisdocfe$Index_2] UNIQUE NONCLUSTERED 
(
	[IdEmpresaCli] ASC,
	[Annio_Mov] ASC,
	[IdMesMov] ASC,
	[IdNumMov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[docventasregisdocfe] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[docventasregisdocfe] ADD  DEFAULT (N'') FOR [IdDocumento]
GO
ALTER TABLE [dbo].[docventasregisdocfe] ADD  DEFAULT (N'') FOR [IdSerie]
GO
ALTER TABLE [dbo].[docventasregisdocfe] ADD  DEFAULT (N'') FOR [IdDocVentas]
GO
ALTER TABLE [dbo].[docventasregisdocfe] ADD  DEFAULT (N'') FOR [IdEmpresaCli]
GO
ALTER TABLE [dbo].[docventasregisdocfe] ADD  DEFAULT (N'') FOR [Annio_Mov]
GO
ALTER TABLE [dbo].[docventasregisdocfe] ADD  DEFAULT (N'') FOR [IdMesMov]
GO
ALTER TABLE [dbo].[docventasregisdocfe] ADD  DEFAULT (N'') FOR [IdNumMov]
GO
ALTER TABLE [dbo].[docventasregisdocfe] ADD  DEFAULT (N'') FOR [IdCentroCosto]
GO
