USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[cobradores]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cobradores](
	[idEmpresa] [char](2) NOT NULL,
	[idCobrador] [char](8) NOT NULL,
 CONSTRAINT [PK_cobradores_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idCobrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cobradores] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[cobradores] ADD  DEFAULT (N'') FOR [idCobrador]
GO
