USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[combocab]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[combocab](
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idComboCab] [char](8) NOT NULL,
	[glsCombo] [varchar](200) NOT NULL,
	[idUM] [varchar](45) NOT NULL,
	[fecEmision] [datetime2](0) NOT NULL,
	[idMoneda] [char](8) NOT NULL,
	[TotalValorVenta] [decimal](14, 2) NOT NULL,
	[TotalIGVVenta] [decimal](14, 2) NOT NULL,
	[TotalPrecioVenta] [decimal](14, 2) NOT NULL,
	[idUsuario] [char](8) NOT NULL,
	[IdAlmacen] [varchar](8) NOT NULL,
	[IdLista] [varchar](8) NOT NULL,
 CONSTRAINT [PK_combocab_idComboCab] PRIMARY KEY CLUSTERED 
(
	[idComboCab] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[combocab] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[combocab] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[combocab] ADD  DEFAULT (N'') FOR [idComboCab]
GO
ALTER TABLE [dbo].[combocab] ADD  DEFAULT (N'') FOR [glsCombo]
GO
ALTER TABLE [dbo].[combocab] ADD  DEFAULT (N'') FOR [idUM]
GO
ALTER TABLE [dbo].[combocab] ADD  DEFAULT (getdate()) FOR [fecEmision]
GO
ALTER TABLE [dbo].[combocab] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[combocab] ADD  DEFAULT ((0.00)) FOR [TotalValorVenta]
GO
ALTER TABLE [dbo].[combocab] ADD  DEFAULT ((0.00)) FOR [TotalIGVVenta]
GO
ALTER TABLE [dbo].[combocab] ADD  DEFAULT ((0.00)) FOR [TotalPrecioVenta]
GO
ALTER TABLE [dbo].[combocab] ADD  DEFAULT (N'') FOR [idUsuario]
GO
ALTER TABLE [dbo].[combocab] ADD  DEFAULT (N'') FOR [IdAlmacen]
GO
ALTER TABLE [dbo].[combocab] ADD  DEFAULT (N'') FOR [IdLista]
GO
