USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tbdetracciones]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbdetracciones](
	[idComprobante] [varchar](15) NOT NULL,
	[Doc_pago] [varchar](15) NULL,
	[NumRegisCom] [varchar](15) NOT NULL,
	[Cod_cta] [varchar](3) NULL,
	[NumMOv] [varchar](15) NULL,
	[MesCompras] [varchar](2) NULL,
	[NumMovCompras] [varchar](15) NULL,
	[GlsConcepto] [varchar](5) NULL,
	[Porcentaje] [float] NULL,
	[Total] [varchar](45) NOT NULL,
	[idempresa] [char](2) NOT NULL,
	[idsucursal] [char](8) NOT NULL,
	[annio_mov] [char](4) NOT NULL,
	[Fecha] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_tbdetracciones_idempresa] PRIMARY KEY CLUSTERED 
(
	[idempresa] ASC,
	[idsucursal] ASC,
	[idComprobante] ASC,
	[NumRegisCom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbdetracciones] ADD  DEFAULT (N'') FOR [idComprobante]
GO
ALTER TABLE [dbo].[tbdetracciones] ADD  DEFAULT (NULL) FOR [Doc_pago]
GO
ALTER TABLE [dbo].[tbdetracciones] ADD  DEFAULT (NULL) FOR [Cod_cta]
GO
ALTER TABLE [dbo].[tbdetracciones] ADD  DEFAULT (NULL) FOR [NumMOv]
GO
ALTER TABLE [dbo].[tbdetracciones] ADD  DEFAULT (NULL) FOR [MesCompras]
GO
ALTER TABLE [dbo].[tbdetracciones] ADD  DEFAULT (NULL) FOR [NumMovCompras]
GO
ALTER TABLE [dbo].[tbdetracciones] ADD  DEFAULT (NULL) FOR [GlsConcepto]
GO
ALTER TABLE [dbo].[tbdetracciones] ADD  DEFAULT (NULL) FOR [Porcentaje]
GO
ALTER TABLE [dbo].[tbdetracciones] ADD  DEFAULT (N'') FOR [Total]
GO
ALTER TABLE [dbo].[tbdetracciones] ADD  DEFAULT (N'') FOR [idempresa]
GO
ALTER TABLE [dbo].[tbdetracciones] ADD  DEFAULT (N'') FOR [idsucursal]
GO
ALTER TABLE [dbo].[tbdetracciones] ADD  DEFAULT (N'') FOR [annio_mov]
GO
ALTER TABLE [dbo].[tbdetracciones] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
