USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[gruposflujodet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gruposflujodet](
	[IdGrupoFlujoCaja] [char](5) NOT NULL,
	[IdFlujoCaja] [char](5) NOT NULL,
 CONSTRAINT [PK_gruposflujodet_IdGrupoFlujoCaja] PRIMARY KEY CLUSTERED 
(
	[IdGrupoFlujoCaja] ASC,
	[IdFlujoCaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[gruposflujodet] ADD  DEFAULT (N'') FOR [IdGrupoFlujoCaja]
GO
ALTER TABLE [dbo].[gruposflujodet] ADD  DEFAULT (N'') FOR [IdFlujoCaja]
GO
