USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[centroscosto_log]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centroscosto_log](
	[idCentroCosto] [char](8) NOT NULL,
	[GlsCentroCosto] [varchar](200) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[IndEstado] [char](1) NOT NULL,
	[AbrevCcosto] [varchar](40) NOT NULL,
	[idcodunegocio] [varchar](8) NOT NULL,
	[IndGenerado] [varchar](1) NOT NULL,
	[IdCliente] [varchar](8) NULL,
	[FechaInicio] [date] NULL,
	[FechaTermino] [date] NULL,
	[GlsPlaca] [varchar](15) NULL,
	[IdResponsable] [varchar](8) NULL,
	[IndEstadoHC] [varchar](1) NULL,
	[IdMoneda] [varchar](3) NULL,
	[TotalValorVenta] [decimal](14, 5) NULL,
	[TotalIgvVenta] [decimal](14, 5) NULL,
	[TotalPrecioVenta] [decimal](14, 5) NULL,
	[IdDocumento] [varchar](2) NULL,
	[IdSerie] [varchar](3) NULL,
	[IdDocVentas] [varchar](8) NULL,
	[ItemLog] [bigint] NOT NULL,
	[AccionLog] [char](1) NOT NULL,
	[FechaLog] [date] NOT NULL,
	[HoraLog] [time](7) NOT NULL,
	[IdUsuarioLog] [char](8) NOT NULL,
	[GlsPCLog] [varchar](100) NOT NULL,
	[GlsPCUsuarioLog] [varchar](100) NOT NULL,
 CONSTRAINT [PK_centroscosto_log_idCentroCosto] PRIMARY KEY CLUSTERED 
(
	[idCentroCosto] ASC,
	[idEmpresa] ASC,
	[ItemLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (N'') FOR [idCentroCosto]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (N'') FOR [GlsCentroCosto]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (N'') FOR [IndEstado]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (N'') FOR [AbrevCcosto]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (N'') FOR [idcodunegocio]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (N'') FOR [IndGenerado]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (NULL) FOR [IdCliente]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (NULL) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (NULL) FOR [FechaTermino]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (NULL) FOR [GlsPlaca]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (NULL) FOR [IdResponsable]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (NULL) FOR [IndEstadoHC]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (NULL) FOR [IdMoneda]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (NULL) FOR [TotalValorVenta]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (NULL) FOR [TotalIgvVenta]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (NULL) FOR [TotalPrecioVenta]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (NULL) FOR [IdDocumento]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (NULL) FOR [IdSerie]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (NULL) FOR [IdDocVentas]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT ((0)) FOR [ItemLog]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (N'') FOR [AccionLog]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (N'') FOR [IdUsuarioLog]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (N'') FOR [GlsPCLog]
GO
ALTER TABLE [dbo].[centroscosto_log] ADD  DEFAULT (N'') FOR [GlsPCUsuarioLog]
GO
