USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[plancuentas]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plancuentas](
	[idCtaContable] [varchar](12) NOT NULL,
	[glsNombreCuenta] [varchar](255) NOT NULL,
	[glsNombreCuenta2] [varchar](50) NULL,
	[gradoCuenta] [smallint] NULL,
	[ColBalance] [varchar](1) NULL,
	[ColSituacion1] [varchar](2) NULL,
	[ColSituacion2] [varchar](2) NULL,
	[indReferencia] [char](1) NULL,
	[indCCosto] [char](1) NULL,
	[GradoSit] [char](1) NULL,
	[idMoneda] [varchar](3) NULL,
	[indsobregiro] [varchar](1) NULL,
	[TipoCambio] [varchar](1) NULL,
	[Tipo] [varchar](2) NULL,
	[indCtaAuxiliar] [varchar](1) NULL,
	[DetalleAnexo] [int] NULL,
	[nivel] [varchar](10) NULL,
	[F5GGYPPDET_OFICIAL] [varchar](10) NULL,
	[idCodCtaSunat] [varchar](50) NULL,
	[idEmpresa] [varchar](2) NOT NULL,
	[IdAnno] [varchar](4) NOT NULL,
	[IdGrupoFlujo] [varchar](5) NOT NULL,
	[idCtaContableAnt] [varchar](45) NOT NULL,
	[IdGGYPPDet] [varchar](10) NOT NULL,
	[idActividadFlujo] [char](3) NOT NULL,
	[IndActivoFijo] [bigint] NOT NULL,
	[IndCostoGGyPP] [bigint] NOT NULL,
	[IdGrupoCosto] [varchar](8) NOT NULL,
	[idGrupoGasto] [char](4) NULL,
 CONSTRAINT [PK_plancuentas_idCtaContable] PRIMARY KEY CLUSTERED 
(
	[idCtaContable] ASC,
	[idEmpresa] ASC,
	[IdAnno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (N'') FOR [idCtaContable]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (N'') FOR [glsNombreCuenta]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [glsNombreCuenta2]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [gradoCuenta]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [ColBalance]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [ColSituacion1]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [ColSituacion2]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [indReferencia]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [indCCosto]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [GradoSit]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [idMoneda]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [indsobregiro]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [TipoCambio]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [Tipo]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [indCtaAuxiliar]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [DetalleAnexo]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [nivel]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [F5GGYPPDET_OFICIAL]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [idCodCtaSunat]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (N'') FOR [IdAnno]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (N'') FOR [IdGrupoFlujo]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (N'') FOR [idCtaContableAnt]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (N'') FOR [IdGGYPPDet]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (N'') FOR [idActividadFlujo]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT ((0)) FOR [IndActivoFijo]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT ((0)) FOR [IndCostoGGyPP]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (N'') FOR [IdGrupoCosto]
GO
ALTER TABLE [dbo].[plancuentas] ADD  DEFAULT (NULL) FOR [idGrupoGasto]
GO
