USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[docventasdet_log]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docventasdet_log](
	[idDocumento] [char](2) NOT NULL,
	[idDocVentas] [char](8) NOT NULL,
	[idSerie] [char](4) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[GlsProducto] [varchar](max) NOT NULL,
	[idMarca] [char](8) NOT NULL,
	[idUM] [char](8) NOT NULL,
	[Factor] [decimal](14, 5) NOT NULL,
	[Afecto] [char](1) NOT NULL,
	[Cantidad] [decimal](14, 5) NOT NULL,
	[VVUnit] [decimal](14, 5) NOT NULL,
	[IGVUnit] [decimal](14, 5) NOT NULL,
	[PVUnit] [decimal](14, 5) NOT NULL,
	[TotalVVBruto] [decimal](14, 5) NOT NULL,
	[TotalPVBruto] [decimal](14, 5) NOT NULL,
	[PorDcto] [varchar](20) NOT NULL,
	[DctoVV] [decimal](14, 5) NOT NULL,
	[DctoPV] [decimal](14, 5) NOT NULL,
	[TotalVVNeto] [decimal](14, 5) NOT NULL,
	[TotalIGVNeto] [decimal](14, 5) NOT NULL,
	[TotalPVNeto] [decimal](14, 5) NOT NULL,
	[item] [bigint] NOT NULL,
	[GlsMarca] [varchar](185) NOT NULL,
	[GlsUM] [varchar](185) NOT NULL,
	[idTipoProducto] [char](5) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[idCodFabricante] [varchar](25) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[estDocImportado] [char](1) NOT NULL,
	[idDocumentoImp] [varchar](2) NULL,
	[idDocVentasImp] [varchar](8) NULL,
	[idSerieImp] [varchar](4) NULL,
	[NumLote] [varchar](45) NOT NULL,
	[FecVencProd] [varchar](30) NOT NULL,
	[idUsuarioDcto] [char](8) NULL,
	[VVUnitLista] [decimal](14, 5) NOT NULL,
	[PVUnitLista] [decimal](14, 5) NOT NULL,
	[CantidadImp] [decimal](14, 5) NOT NULL,
	[VVUnitNeto] [decimal](14, 5) NOT NULL,
	[PVUnitNeto] [decimal](14, 5) NOT NULL,
	[Cantidad2] [decimal](14, 5) NOT NULL,
	[CodigoRapido] [varchar](30) NOT NULL,
	[idTallaPeso] [decimal](14, 5) NOT NULL,
	[CantidadAnt] [decimal](14, 5) NOT NULL,
	[Simbolo1] [varchar](45) NOT NULL,
	[Simbolo2] [varchar](45) NOT NULL,
	[simbolo3] [varchar](45) NOT NULL,
	[itemPro] [bigint] NOT NULL,
	[PorcUtilidad] [decimal](14, 5) NULL,
	[IdCentroCosto] [varchar](8) NULL,
	[IdSucursalPres] [varchar](8) NULL,
	[IdDocumentoPres] [varchar](2) NULL,
	[IdSeriePres] [varchar](4) NULL,
	[IdDocVentasPres] [varchar](8) NULL,
	[GlsPlaca] [varchar](15) NULL,
	[IdUPCliente] [varchar](8) NULL,
	[FechaEmision] [date] NULL,
	[IvapUnit] [decimal](14, 5) NOT NULL,
	[TotalIvapNeto] [decimal](14, 5) NOT NULL,
	[IdLote] [varchar](45) NOT NULL,
	[GlsProveedor] [varchar](150) NULL,
	[CostoS] [decimal](14, 5) NULL,
	[CostoD] [decimal](14, 5) NULL,
	[Margen] [int] NULL,
	[CostoSInc] [decimal](14, 5) NULL,
	[ItemLog] [bigint] NOT NULL,
 CONSTRAINT [PK_docventasdet_log] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[item] ASC,
	[idDocumento] ASC,
	[idDocVentas] ASC,
	[idSerie] ASC,
	[ItemLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [idDocumento]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [idDocVentas]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [GlsProducto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [idMarca]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [idUM]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [Factor]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [Afecto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [VVUnit]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [IGVUnit]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [PVUnit]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [TotalVVBruto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [TotalPVBruto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'0.00000') FOR [PorDcto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [DctoVV]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [DctoPV]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [TotalVVNeto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [TotalIGVNeto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [TotalPVNeto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [GlsMarca]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [GlsUM]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [idTipoProducto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [idCodFabricante]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [estDocImportado]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (NULL) FOR [idDocumentoImp]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (NULL) FOR [idDocVentasImp]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (NULL) FOR [idSerieImp]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [NumLote]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [FecVencProd]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (NULL) FOR [idUsuarioDcto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [VVUnitLista]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [PVUnitLista]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [CantidadImp]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [VVUnitNeto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [PVUnitNeto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [Cantidad2]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [CodigoRapido]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [idTallaPeso]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [CantidadAnt]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [Simbolo1]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [Simbolo2]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [simbolo3]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0)) FOR [itemPro]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (NULL) FOR [PorcUtilidad]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (NULL) FOR [IdCentroCosto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (NULL) FOR [IdSucursalPres]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (NULL) FOR [IdDocumentoPres]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (NULL) FOR [IdSeriePres]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (NULL) FOR [IdDocVentasPres]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (NULL) FOR [GlsPlaca]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (NULL) FOR [IdUPCliente]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (NULL) FOR [FechaEmision]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [IvapUnit]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT ((0.00000)) FOR [TotalIvapNeto]
GO
ALTER TABLE [dbo].[docventasdet_log] ADD  DEFAULT (N'') FOR [IdLote]
GO
