USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[receta_log]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receta_log](
	[IdEmpresa] [char](2) NOT NULL,
	[IdReceta] [varchar](8) NOT NULL,
	[GlsReceta] [varchar](250) NOT NULL,
	[IdMoneda] [char](3) NOT NULL,
	[GlsObservacion] [varchar](250) NOT NULL,
	[FechaHoraRegistro] [datetime2](0) NOT NULL,
	[IdUsuarioRegistro] [char](8) NOT NULL,
	[GlsPC] [varchar](100) NOT NULL,
	[GlsPcUsuario] [varchar](100) NOT NULL,
	[ItemLog] [bigint] NOT NULL,
	[AccionLog] [char](1) NOT NULL,
	[FechaLog] [date] NOT NULL,
	[HoraLog] [time](7) NOT NULL,
	[IdUsuarioLog] [char](8) NOT NULL,
	[GlsPCLog] [varchar](100) NOT NULL,
	[GlsPCUsuarioLog] [varchar](100) NOT NULL,
 CONSTRAINT [PK_receta_log_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdReceta] ASC,
	[ItemLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (N'') FOR [IdReceta]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (N'') FOR [GlsReceta]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (N'') FOR [IdMoneda]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (N'') FOR [GlsObservacion]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (getdate()) FOR [FechaHoraRegistro]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (N'') FOR [IdUsuarioRegistro]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (N'') FOR [GlsPC]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (N'') FOR [GlsPcUsuario]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT ((0)) FOR [ItemLog]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (N'') FOR [AccionLog]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (getdate()) FOR [FechaLog]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT ('00:00:00') FOR [HoraLog]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (N'') FOR [IdUsuarioLog]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (N'') FOR [GlsPCLog]
GO
ALTER TABLE [dbo].[receta_log] ADD  DEFAULT (N'') FOR [GlsPCUsuarioLog]
GO
