USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[valesconverdet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[valesconverdet](
	[idValesConver] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idTipoDetalle] [char](1) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[idUM] [char](8) NOT NULL,
	[Cantidad] [decimal](14, 5) NOT NULL,
	[Factor] [decimal](14, 5) NOT NULL,
	[idDocumentoImp] [varchar](2) NOT NULL,
	[idSerieImp] [varchar](3) NOT NULL,
	[idDocVentasImp] [varchar](8) NOT NULL,
	[Porcentaje] [bigint] NULL,
	[idLote] [varchar](45) NOT NULL,
	[NumLote] [varchar](45) NOT NULL,
 CONSTRAINT [PK_valesconverdet_idValesConver] PRIMARY KEY CLUSTERED 
(
	[idValesConver] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[Item] ASC,
	[idTipoDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT (N'') FOR [idValesConver]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT (N'') FOR [idTipoDetalle]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT (N'') FOR [idUM]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT ((0.00000)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT ((0.00000)) FOR [Factor]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT (N'') FOR [idDocumentoImp]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT (N'') FOR [idSerieImp]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT (N'') FOR [idDocVentasImp]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT (NULL) FOR [Porcentaje]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT (N'') FOR [idLote]
GO
ALTER TABLE [dbo].[valesconverdet] ADD  DEFAULT (N'') FOR [NumLote]
GO
