USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[clientes_lp]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes_lp](
	[ID] [int] NULL,
	[persona] [varchar](255) NULL,
	[ruc] [varchar](255) NULL,
	[razonsoc] [varchar](255) NULL,
	[domi_legal] [varchar](255) NULL,
	[telefonos] [varchar](255) NULL,
	[fax] [varchar](255) NULL,
	[categoria] [varchar](255) NULL,
	[ubigeo] [varchar](255) NULL,
	[zona] [varchar](255) NULL,
	[nlocalidad] [varchar](255) NULL,
	[e_mail] [varchar](255) NULL,
	[sdo_ctacte] [float] NULL,
	[codrel] [varchar](255) NULL,
	[canal_vta] [varchar](255) NULL,
	[linea_cred] [binary](1) NULL,
	[valor_cred] [float] NULL,
	[situacion] [binary](1) NULL,
	[fec_ing] [varchar](255) NULL,
	[agenciat] [varchar](255) NULL,
	[fec_nac] [varchar](255) NULL,
	[giro_comer] [varchar](255) NULL,
	[vendedor] [varchar](255) NULL,
	[nvendedor] [varchar](255) NULL,
	[observa] [varchar](255) NULL,
	[representa] [varchar](255) NULL,
	[planilla] [binary](1) NULL,
	[facturacion] [float] NULL,
	[retencion] [binary](1) NULL,
	[percepcion] [binary](1) NULL,
	[app_paterno] [varchar](255) NULL,
	[app_materno] [varchar](255) NULL,
	[nombre1] [varchar](255) NULL,
	[nombre2] [varchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [ID]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [persona]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [ruc]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [razonsoc]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [domi_legal]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [telefonos]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [fax]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [categoria]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [ubigeo]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [zona]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [nlocalidad]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [e_mail]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [sdo_ctacte]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [codrel]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [canal_vta]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [linea_cred]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [valor_cred]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [situacion]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [fec_ing]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [agenciat]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [fec_nac]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [giro_comer]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [vendedor]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [nvendedor]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [observa]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [representa]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [planilla]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [facturacion]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [retencion]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [percepcion]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [app_paterno]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [app_materno]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [nombre1]
GO
ALTER TABLE [dbo].[clientes_lp] ADD  DEFAULT (NULL) FOR [nombre2]
GO
