USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[objimpespeciales]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[objimpespeciales](
	[idEmpresa] [char](2) NOT NULL,
	[iddocumento] [char](2) NOT NULL,
	[Variable] [varchar](100) NOT NULL,
	[Campo] [varchar](45) NOT NULL,
	[impX] [bigint] NOT NULL,
	[impY] [bigint] NOT NULL,
	[Correlativo] [bigint] IDENTITY(1,1) NOT NULL,
	[Longitud] [bigint] NOT NULL,
 CONSTRAINT [PK_objimpespeciales_Correlativo] PRIMARY KEY CLUSTERED 
(
	[Correlativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[objimpespeciales] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[objimpespeciales] ADD  DEFAULT (N'') FOR [iddocumento]
GO
ALTER TABLE [dbo].[objimpespeciales] ADD  DEFAULT (N'') FOR [Variable]
GO
ALTER TABLE [dbo].[objimpespeciales] ADD  DEFAULT (N'') FOR [Campo]
GO
ALTER TABLE [dbo].[objimpespeciales] ADD  DEFAULT ((0)) FOR [impX]
GO
ALTER TABLE [dbo].[objimpespeciales] ADD  DEFAULT ((0)) FOR [impY]
GO
ALTER TABLE [dbo].[objimpespeciales] ADD  DEFAULT ((0)) FOR [Longitud]
GO
