USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[productosalmacen]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productosalmacen](
	[IdAlmacen] [char](8) NOT NULL,
	[IdProducto] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[IdUMCompra] [char](8) NOT NULL,
	[IdEmpresa] [char](2) NOT NULL,
	[IdSucursal] [char](8) NOT NULL,
	[CantidadStock] [float] NOT NULL,
	[CostoUnit] [decimal](14, 5) NOT NULL,
	[Separacion] [float] NOT NULL,
	[idUbicacion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_productosalmacen_IdAlmacen] PRIMARY KEY CLUSTERED 
(
	[IdAlmacen] ASC,
	[IdProducto] ASC,
	[IdUMCompra] ASC,
	[IdEmpresa] ASC,
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[productosalmacen] ADD  DEFAULT (N'') FOR [IdAlmacen]
GO
ALTER TABLE [dbo].[productosalmacen] ADD  DEFAULT (N'') FOR [IdProducto]
GO
ALTER TABLE [dbo].[productosalmacen] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[productosalmacen] ADD  DEFAULT (N'') FOR [IdUMCompra]
GO
ALTER TABLE [dbo].[productosalmacen] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[productosalmacen] ADD  DEFAULT (N'') FOR [IdSucursal]
GO
ALTER TABLE [dbo].[productosalmacen] ADD  DEFAULT ((0)) FOR [CantidadStock]
GO
ALTER TABLE [dbo].[productosalmacen] ADD  DEFAULT ((0.00000)) FOR [CostoUnit]
GO
ALTER TABLE [dbo].[productosalmacen] ADD  DEFAULT ((0)) FOR [Separacion]
GO
ALTER TABLE [dbo].[productosalmacen] ADD  DEFAULT (N'') FOR [idUbicacion]
GO
