USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[vehiculos]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculos](
	[idVehiculo] [char](8) NOT NULL,
	[GlsVehiculo] [varchar](85) NOT NULL,
	[GlsPlaca] [varchar](10) NOT NULL,
	[idMarcaVehi] [char](5) NOT NULL,
	[GlsModelo] [varchar](85) NOT NULL,
	[GlsColor] [varchar](85) NOT NULL,
	[GlsCodInscripcion] [varchar](85) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idEmpTrans] [char](8) NOT NULL,
	[IdChofer] [char](8) NULL,
 CONSTRAINT [PK_vehiculos_idVehiculo] PRIMARY KEY CLUSTERED 
(
	[idVehiculo] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[vehiculos] ADD  DEFAULT (N'') FOR [idVehiculo]
GO
ALTER TABLE [dbo].[vehiculos] ADD  DEFAULT (N'') FOR [GlsVehiculo]
GO
ALTER TABLE [dbo].[vehiculos] ADD  DEFAULT (N'') FOR [GlsPlaca]
GO
ALTER TABLE [dbo].[vehiculos] ADD  DEFAULT (N'') FOR [idMarcaVehi]
GO
ALTER TABLE [dbo].[vehiculos] ADD  DEFAULT (N'') FOR [GlsModelo]
GO
ALTER TABLE [dbo].[vehiculos] ADD  DEFAULT (N'') FOR [GlsColor]
GO
ALTER TABLE [dbo].[vehiculos] ADD  DEFAULT (N'') FOR [GlsCodInscripcion]
GO
ALTER TABLE [dbo].[vehiculos] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[vehiculos] ADD  DEFAULT (N'') FOR [idEmpTrans]
GO
ALTER TABLE [dbo].[vehiculos] ADD  DEFAULT (NULL) FOR [IdChofer]
GO
