USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[monedas]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monedas](
	[idMoneda] [char](3) NOT NULL,
	[glsMoneda] [varchar](85) NOT NULL,
	[estMoneda] [char](3) NOT NULL,
	[simbolo] [varchar](10) NOT NULL,
 CONSTRAINT [PK_monedas_idMoneda] PRIMARY KEY CLUSTERED 
(
	[idMoneda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[monedas] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[monedas] ADD  DEFAULT (N'') FOR [glsMoneda]
GO
ALTER TABLE [dbo].[monedas] ADD  DEFAULT (N'ACT') FOR [estMoneda]
GO
ALTER TABLE [dbo].[monedas] ADD  DEFAULT (N'') FOR [simbolo]
GO
