USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[controllineacreditohistorico]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[controllineacreditohistorico](
	[IdEmpresa] [char](2) NOT NULL,
	[IdCliente] [varchar](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[IdMoneda] [char](3) NOT NULL,
	[LineaAprobada] [decimal](14, 5) NOT NULL,
	[LineaAumento] [decimal](14, 5) NOT NULL,
	[LineaDisminucion] [decimal](14, 5) NOT NULL,
	[LineaTotal] [decimal](14, 5) NOT NULL,
	[IndActivo] [char](1) NOT NULL,
	[IdUsuarioReg] [varchar](8) NOT NULL,
	[FechaReg] [datetime2](0) NOT NULL,
	[GlsMotivo] [varchar](max) NULL,
	[GlsPC] [varchar](100) NOT NULL,
	[GlsPCUsuario] [varchar](100) NOT NULL,
	[IndSuspension] [varchar](1) NOT NULL,
 CONSTRAINT [PK_controllineacreditohistorico_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdCliente] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT (N'') FOR [IdCliente]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT (N'') FOR [IdMoneda]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT ((0.00000)) FOR [LineaAprobada]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT ((0.00000)) FOR [LineaAumento]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT ((0.00000)) FOR [LineaDisminucion]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT ((0.00000)) FOR [LineaTotal]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT (N'0') FOR [IndActivo]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT (N'') FOR [IdUsuarioReg]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT (getdate()) FOR [FechaReg]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT (N'') FOR [GlsPC]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT (N'') FOR [GlsPCUsuario]
GO
ALTER TABLE [dbo].[controllineacreditohistorico] ADD  DEFAULT (N'') FOR [IndSuspension]
GO
