USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[productosalmacenporlote]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productosalmacenporlote](
	[idAlmacen] [char](8) NOT NULL,
	[idLote] [char](8) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[item] [bigint] NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idUMCompra] [char](8) NOT NULL,
	[CantidadStock] [float] NOT NULL,
	[CostoUnit] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_productosalmacenporlote_idLote] PRIMARY KEY CLUSTERED 
(
	[idLote] ASC,
	[idAlmacen] ASC,
	[idProducto] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[idUMCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[productosalmacenporlote] ADD  DEFAULT (N'') FOR [idAlmacen]
GO
ALTER TABLE [dbo].[productosalmacenporlote] ADD  DEFAULT (N'') FOR [idLote]
GO
ALTER TABLE [dbo].[productosalmacenporlote] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[productosalmacenporlote] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[productosalmacenporlote] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[productosalmacenporlote] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[productosalmacenporlote] ADD  DEFAULT (N'') FOR [idUMCompra]
GO
ALTER TABLE [dbo].[productosalmacenporlote] ADD  DEFAULT ((0)) FOR [CantidadStock]
GO
ALTER TABLE [dbo].[productosalmacenporlote] ADD  DEFAULT ((0.00000)) FOR [CostoUnit]
GO
