USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[vales_temp]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vales_temp](
	[item] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [char](8) NULL,
	[GlsProducto] [varchar](180) NULL,
	[idUM] [char](8) NULL,
	[AfectoIGV] [int] NULL,
	[stock] [float] NULL,
	[ValCosto] [decimal](24, 10) NULL,
	[Fecha] [date] NULL,
 CONSTRAINT [PK_vales_temp_item] PRIMARY KEY CLUSTERED 
(
	[item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[vales_temp] ADD  DEFAULT (NULL) FOR [idProducto]
GO
ALTER TABLE [dbo].[vales_temp] ADD  DEFAULT (NULL) FOR [GlsProducto]
GO
ALTER TABLE [dbo].[vales_temp] ADD  DEFAULT (NULL) FOR [idUM]
GO
ALTER TABLE [dbo].[vales_temp] ADD  DEFAULT (NULL) FOR [AfectoIGV]
GO
ALTER TABLE [dbo].[vales_temp] ADD  DEFAULT (NULL) FOR [stock]
GO
ALTER TABLE [dbo].[vales_temp] ADD  DEFAULT (NULL) FOR [ValCosto]
GO
ALTER TABLE [dbo].[vales_temp] ADD  DEFAULT (NULL) FOR [Fecha]
GO
