USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[valesdetatributos]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[valesdetatributos](
	[IdEmpresa] [char](2) NOT NULL,
	[IdSucursal] [char](8) NOT NULL,
	[TipoVale] [char](1) NOT NULL,
	[IdValesCab] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[IdAtributo] [char](8) NOT NULL,
	[Valor] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_valesdetatributos_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdSucursal] ASC,
	[TipoVale] ASC,
	[IdValesCab] ASC,
	[Item] ASC,
	[IdAtributo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[valesdetatributos] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[valesdetatributos] ADD  DEFAULT (N'') FOR [IdSucursal]
GO
ALTER TABLE [dbo].[valesdetatributos] ADD  DEFAULT (N'') FOR [TipoVale]
GO
ALTER TABLE [dbo].[valesdetatributos] ADD  DEFAULT (N'') FOR [IdValesCab]
GO
ALTER TABLE [dbo].[valesdetatributos] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[valesdetatributos] ADD  DEFAULT (N'') FOR [IdAtributo]
GO
ALTER TABLE [dbo].[valesdetatributos] ADD  DEFAULT ((0.00000)) FOR [Valor]
GO
