USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[dirrecojos]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dirrecojos](
	[idDirRecojo] [char](8) NOT NULL,
	[glsDirRecojo] [varchar](200) NOT NULL,
	[idPais] [varchar](8) NOT NULL,
	[idDistrito] [varchar](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
 CONSTRAINT [PK_dirrecojos_idDirRecojo] PRIMARY KEY CLUSTERED 
(
	[idDirRecojo] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dirrecojos] ADD  DEFAULT (N'') FOR [idDirRecojo]
GO
ALTER TABLE [dbo].[dirrecojos] ADD  DEFAULT (N'') FOR [glsDirRecojo]
GO
ALTER TABLE [dbo].[dirrecojos] ADD  DEFAULT (N'') FOR [idPais]
GO
ALTER TABLE [dbo].[dirrecojos] ADD  DEFAULT (N'') FOR [idDistrito]
GO
ALTER TABLE [dbo].[dirrecojos] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
