USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[autogenera]    Script Date: 12/03/2026 12:24:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autogenera](
	[NRO_LET] [varchar](6) NULL,
	[F2SUCURSAL] [varchar](2) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[autogenera] ADD  DEFAULT (NULL) FOR [NRO_LET]
GO
ALTER TABLE [dbo].[autogenera] ADD  DEFAULT (NULL) FOR [F2SUCURSAL]
GO
