USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[retenciondet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[retenciondet](
	[idEmpresa] [char](2) NOT NULL,
	[idComprobante] [varchar](8) NOT NULL,
	[TipoDcto] [char](3) NOT NULL,
	[Serie] [varchar](4) NOT NULL,
	[Numero] [varchar](12) NOT NULL,
	[Fec_Dcto] [date] NOT NULL,
	[ValTotDolares] [decimal](14, 5) NOT NULL,
	[ValTotSoles] [decimal](14, 5) NOT NULL,
	[ValTotRetencion] [decimal](14, 5) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[item] [bigint] NOT NULL,
	[idRetencion] [char](8) NOT NULL,
	[idSerie] [varchar](45) NOT NULL,
	[ValTotOriSoles] [decimal](14, 5) NOT NULL,
	[idCta_dcto] [char](8) NULL,
	[IdCta_Dcto_Doc] [char](8) NOT NULL,
 CONSTRAINT [PK_retenciondet_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idComprobante] ASC,
	[item] ASC,
	[idSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT (N'') FOR [idComprobante]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT (N'') FOR [TipoDcto]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT (N'') FOR [Serie]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT (N'') FOR [Numero]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT (getdate()) FOR [Fec_Dcto]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT ((0.00000)) FOR [ValTotDolares]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT ((0.00000)) FOR [ValTotSoles]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT ((0.00000)) FOR [ValTotRetencion]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT (N'') FOR [idRetencion]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT (NULL) FOR [idCta_dcto]
GO
ALTER TABLE [dbo].[retenciondet] ADD  DEFAULT (N'') FOR [IdCta_Dcto_Doc]
GO
