USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[docreferencia]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docreferencia](
	[tipoDocOrigen] [char](2) NOT NULL,
	[numDocOrigen] [varchar](16) NOT NULL,
	[serieDocOrigen] [char](4) NOT NULL,
	[tipoDocReferencia] [char](2) NOT NULL,
	[numDocReferencia] [varchar](16) NOT NULL,
	[serieDocReferencia] [varchar](10) NOT NULL,
	[item] [bigint] NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idSucursalReferencia] [char](8) NULL,
	[idano] [char](4) NOT NULL,
	[IndImportado] [char](1) NOT NULL,
 CONSTRAINT [PK_docreferencia_item] PRIMARY KEY CLUSTERED 
(
	[item] ASC,
	[idSucursal] ASC,
	[idEmpresa] ASC,
	[tipoDocOrigen] ASC,
	[numDocOrigen] ASC,
	[serieDocOrigen] ASC,
	[tipoDocReferencia] ASC,
	[numDocReferencia] ASC,
	[serieDocReferencia] ASC,
	[idano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[docreferencia] ADD  DEFAULT (N'') FOR [tipoDocOrigen]
GO
ALTER TABLE [dbo].[docreferencia] ADD  DEFAULT (N'') FOR [numDocOrigen]
GO
ALTER TABLE [dbo].[docreferencia] ADD  DEFAULT (N'') FOR [serieDocOrigen]
GO
ALTER TABLE [dbo].[docreferencia] ADD  DEFAULT (N'') FOR [tipoDocReferencia]
GO
ALTER TABLE [dbo].[docreferencia] ADD  DEFAULT (N'') FOR [numDocReferencia]
GO
ALTER TABLE [dbo].[docreferencia] ADD  DEFAULT (N'') FOR [serieDocReferencia]
GO
ALTER TABLE [dbo].[docreferencia] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[docreferencia] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[docreferencia] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[docreferencia] ADD  DEFAULT (NULL) FOR [idSucursalReferencia]
GO
ALTER TABLE [dbo].[docreferencia] ADD  DEFAULT (N'') FOR [idano]
GO
ALTER TABLE [dbo].[docreferencia] ADD  DEFAULT (N'0') FOR [IndImportado]
GO
