USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[letras]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[letras](
	[idEmpresa] [char](2) NOT NULL,
	[idAno] [char](4) NOT NULL,
	[idLetra] [char](12) NOT NULL,
	[idSerie] [char](1) NOT NULL,
	[Item] [bigint] NOT NULL,
	[idCliente] [char](8) NOT NULL,
	[GlsCliente] [varchar](185) NOT NULL,
	[RUCCliente] [varchar](11) NOT NULL,
	[GlsDocReferencia] [varchar](120) NOT NULL,
	[FecVencimiento] [datetime2](0) NOT NULL,
	[FecEmision] [datetime2](0) NOT NULL,
	[Plazo] [decimal](14, 5) NOT NULL,
	[Porcentaje] [decimal](14, 5) NOT NULL,
	[Capital] [decimal](14, 5) NOT NULL,
	[Portes] [decimal](14, 5) NOT NULL,
	[Interes] [decimal](14, 5) NOT NULL,
	[TotalLetra] [decimal](14, 5) NOT NULL,
	[MontoOriginal] [decimal](14, 5) NOT NULL,
	[IGVIntereses] [decimal](14, 5) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[TipoCambio] [decimal](14, 5) NOT NULL,
	[TasaLetra] [decimal](14, 5) NOT NULL,
	[TotalDocumento] [decimal](14, 5) NOT NULL,
	[idPeriodoLetra] [char](5) NOT NULL,
	[idTipoInteres] [char](5) NOT NULL,
	[idTipoCuotaLetra] [char](5) NOT NULL,
	[idTipoCapitalizacion] [char](5) NOT NULL,
	[idUsuarioReg] [char](8) NOT NULL,
	[FecRegistro] [datetime2](0) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idAval] [varchar](8) NOT NULL,
	[Situacion] [char](1) NULL,
	[modalidad] [char](5) NULL,
	[FecAceptacion] [datetime2](0) NULL,
	[FecEnvio] [datetime2](0) NULL,
	[idBanco] [char](8) NULL,
	[banco] [varchar](185) NULL,
	[RGTO_BCO] [varchar](10) NULL,
	[Correla_Ant] [char](8) NULL,
	[Correla_Dcto] [char](8) NULL,
	[FecRenovacion] [datetime2](0) NULL,
	[FecProtesto] [datetime2](0) NULL,
	[FecAnulacion] [datetime2](0) NULL,
	[FecCancelacion] [datetime2](0) NULL,
	[Rep_Cobro] [float] NULL,
	[Rep_Banco] [float] NULL,
	[Int_Banco] [float] NULL,
	[Por_Banco] [float] NULL,
	[Com_Banco] [float] NULL,
	[Com_Prot] [float] NULL,
	[Gtos_Nota] [float] NULL,
	[Otros_Gtos] [float] NULL,
	[FecIngresoBanco] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_letras_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idAno] ASC,
	[idLetra] ASC,
	[idSucursal] ASC,
	[Item] ASC,
	[idSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [idAno]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [idLetra]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [idCliente]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [GlsCliente]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [RUCCliente]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [GlsDocReferencia]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (getdate()) FOR [FecVencimiento]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (getdate()) FOR [FecEmision]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT ((0.00000)) FOR [Plazo]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT ((0.00000)) FOR [Porcentaje]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT ((0.00000)) FOR [Capital]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT ((0.00000)) FOR [Portes]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT ((0.00000)) FOR [Interes]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT ((0.00000)) FOR [TotalLetra]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT ((0.00000)) FOR [MontoOriginal]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT ((0.00000)) FOR [IGVIntereses]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT ((0.00000)) FOR [TipoCambio]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT ((0.00000)) FOR [TasaLetra]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT ((0.00000)) FOR [TotalDocumento]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [idPeriodoLetra]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [idTipoInteres]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [idTipoCuotaLetra]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [idTipoCapitalizacion]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [idUsuarioReg]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (getdate()) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (N'') FOR [idAval]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [Situacion]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [modalidad]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [FecAceptacion]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [FecEnvio]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [idBanco]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [banco]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [RGTO_BCO]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [Correla_Ant]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [Correla_Dcto]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [FecRenovacion]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [FecProtesto]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [FecAnulacion]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [FecCancelacion]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [Rep_Cobro]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [Rep_Banco]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [Int_Banco]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [Por_Banco]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [Com_Banco]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [Com_Prot]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [Gtos_Nota]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (NULL) FOR [Otros_Gtos]
GO
ALTER TABLE [dbo].[letras] ADD  DEFAULT (getdate()) FOR [FecIngresoBanco]
GO
