USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[emptrans]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emptrans](
	[idEmpTrans] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
 CONSTRAINT [PK_emptrans_idEmpTrans] PRIMARY KEY CLUSTERED 
(
	[idEmpTrans] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[emptrans] ADD  DEFAULT (N'') FOR [idEmpTrans]
GO
ALTER TABLE [dbo].[emptrans] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
