USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[sucursales]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursales](
	[idSucursal] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[GlsAbrev] [varchar](20) NOT NULL,
	[CtaContTotalContado] [varchar](12) NOT NULL,
	[CtaContTotalCredito] [varchar](12) NOT NULL,
	[CtaContAfecto] [varchar](12) NOT NULL,
	[CtaContInaAfecto] [varchar](12) NOT NULL,
	[TipoLetra] [varchar](45) NOT NULL,
	[idLote] [char](8) NOT NULL,
	[indReferencia] [char](1) NOT NULL,
	[Orden] [bigint] NOT NULL,
	[IndPrincipal] [bigint] NOT NULL,
 CONSTRAINT [PK_sucursales_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[sucursales] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[sucursales] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[sucursales] ADD  DEFAULT (N'') FOR [GlsAbrev]
GO
ALTER TABLE [dbo].[sucursales] ADD  DEFAULT (N'') FOR [CtaContTotalContado]
GO
ALTER TABLE [dbo].[sucursales] ADD  DEFAULT (N'') FOR [CtaContTotalCredito]
GO
ALTER TABLE [dbo].[sucursales] ADD  DEFAULT (N'') FOR [CtaContAfecto]
GO
ALTER TABLE [dbo].[sucursales] ADD  DEFAULT (N'') FOR [CtaContInaAfecto]
GO
ALTER TABLE [dbo].[sucursales] ADD  DEFAULT (N'') FOR [TipoLetra]
GO
ALTER TABLE [dbo].[sucursales] ADD  DEFAULT (N'') FOR [idLote]
GO
ALTER TABLE [dbo].[sucursales] ADD  DEFAULT (N'') FOR [indReferencia]
GO
ALTER TABLE [dbo].[sucursales] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [dbo].[sucursales] ADD  DEFAULT ((0)) FOR [IndPrincipal]
GO
