USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[colores]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colores](
	[idEmpresa] [char](2) NOT NULL,
	[idColor] [char](8) NOT NULL,
	[glsColor] [varchar](85) NOT NULL,
 CONSTRAINT [PK_colores_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[colores] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[colores] ADD  DEFAULT (N'') FOR [idColor]
GO
ALTER TABLE [dbo].[colores] ADD  DEFAULT (N'') FOR [glsColor]
GO
