USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tbusuarioempresa]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbusuarioempresa](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idEmpresa] [varchar](45) NOT NULL,
 CONSTRAINT [PK_tbusuarioempresa_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbusuarioempresa] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
