USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[objetiquetasdoc]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[objetiquetasdoc](
	[idObjEtiquetasDoc] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idDocumento] [char](2) NOT NULL,
	[idSerie] [char](3) NOT NULL,
	[Etiqueta] [varchar](80) NOT NULL,
	[impX] [bigint] NOT NULL,
	[impY] [bigint] NOT NULL,
	[GlsObs] [varchar](185) NOT NULL,
	[tipoObj] [varchar](45) NOT NULL,
	[indDirSucursal] [bigint] NOT NULL,
	[indSerieEtiquetera] [bigint] NOT NULL,
	[indRUCCliente] [bigint] NOT NULL,
	[indRazonSocial] [bigint] NOT NULL,
	[indIGVTotal] [bigint] NOT NULL,
	[indHora] [bigint] NOT NULL,
	[indSoloTicketFactura] [bigint] NOT NULL,
	[indVendedor] [bigint] NOT NULL,
	[indDirecCliente] [bigint] NOT NULL,
	[indDestinatarioGuia] [bigint] NOT NULL,
	[indMotivoTrasladoGuia] [bigint] NOT NULL,
	[indUsuario] [bigint] NOT NULL,
	[indMuestraGratuita] [bigint] NOT NULL,
 CONSTRAINT [PK_objetiquetasdoc_idObjEtiquetasDoc] PRIMARY KEY CLUSTERED 
(
	[idObjEtiquetasDoc] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT (N'') FOR [idObjEtiquetasDoc]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT (N'') FOR [idDocumento]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT (N'') FOR [Etiqueta]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [impX]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [impY]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT (N'') FOR [GlsObs]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT (N'C') FOR [tipoObj]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [indDirSucursal]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [indSerieEtiquetera]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [indRUCCliente]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [indRazonSocial]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [indIGVTotal]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [indHora]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [indSoloTicketFactura]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [indVendedor]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [indDirecCliente]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [indDestinatarioGuia]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [indMotivoTrasladoGuia]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [indUsuario]
GO
ALTER TABLE [dbo].[objetiquetasdoc] ADD  DEFAULT ((0)) FOR [indMuestraGratuita]
GO
