USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tbsaldo_costo_kardex]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbsaldo_costo_kardex](
	[Sc_Periodo] [char](6) NOT NULL,
	[Sc_CodAlm] [char](8) NOT NULL,
	[Sc_CodArt] [char](8) NOT NULL,
	[Sc_Stock] [decimal](16, 3) NULL,
	[idEmpresa] [char](2) NOT NULL,
 CONSTRAINT [PK_tbsaldo_costo_kardex_Sc_CodArt] PRIMARY KEY CLUSTERED 
(
	[Sc_CodArt] ASC,
	[Sc_CodAlm] ASC,
	[Sc_Periodo] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbsaldo_costo_kardex] ADD  DEFAULT (N'') FOR [Sc_CodAlm]
GO
ALTER TABLE [dbo].[tbsaldo_costo_kardex] ADD  DEFAULT (N'') FOR [Sc_CodArt]
GO
ALTER TABLE [dbo].[tbsaldo_costo_kardex] ADD  DEFAULT (NULL) FOR [Sc_Stock]
GO
ALTER TABLE [dbo].[tbsaldo_costo_kardex] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
