USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[objimprecibos]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[objimprecibos](
	[Identificador] [int] IDENTITY(1,1) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[GlsCampo] [varchar](45) NULL,
	[GlsObs] [varchar](150) NULL,
	[tipoDato] [varchar](1) NULL,
	[Etiqueta] [varchar](45) NULL,
	[Decimales] [int] NULL,
	[indImprime] [int] NULL,
	[impX] [int] NULL,
	[impY] [int] NULL,
	[impLongitud] [int] NULL,
 CONSTRAINT [PK_objimprecibos_Identificador] PRIMARY KEY CLUSTERED 
(
	[Identificador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[objimprecibos] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[objimprecibos] ADD  DEFAULT (NULL) FOR [GlsCampo]
GO
ALTER TABLE [dbo].[objimprecibos] ADD  DEFAULT (NULL) FOR [GlsObs]
GO
ALTER TABLE [dbo].[objimprecibos] ADD  DEFAULT (NULL) FOR [tipoDato]
GO
ALTER TABLE [dbo].[objimprecibos] ADD  DEFAULT (NULL) FOR [Etiqueta]
GO
ALTER TABLE [dbo].[objimprecibos] ADD  DEFAULT (NULL) FOR [Decimales]
GO
ALTER TABLE [dbo].[objimprecibos] ADD  DEFAULT (NULL) FOR [indImprime]
GO
ALTER TABLE [dbo].[objimprecibos] ADD  DEFAULT (NULL) FOR [impX]
GO
ALTER TABLE [dbo].[objimprecibos] ADD  DEFAULT (NULL) FOR [impY]
GO
ALTER TABLE [dbo].[objimprecibos] ADD  DEFAULT (NULL) FOR [impLongitud]
GO
