USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tbsaldo_costo_kardex_log]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbsaldo_costo_kardex_log](
	[Fecha] [datetime2](0) NOT NULL,
	[IdEmpresaParam] [char](2) NOT NULL,
	[FechaParam] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbsaldo_costo_kardex_log] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[tbsaldo_costo_kardex_log] ADD  DEFAULT (N'') FOR [IdEmpresaParam]
GO
ALTER TABLE [dbo].[tbsaldo_costo_kardex_log] ADD  DEFAULT (N'') FOR [FechaParam]
GO
