USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[listaprecios]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listaprecios](
	[idLista] [char](8) NOT NULL,
	[glsLista] [varchar](85) NOT NULL,
	[estLista] [bigint] NOT NULL,
	[fecVcto] [datetime2](0) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
 CONSTRAINT [PK_listaprecios_idLista] PRIMARY KEY CLUSTERED 
(
	[idLista] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[listaprecios] ADD  DEFAULT (N'') FOR [idLista]
GO
ALTER TABLE [dbo].[listaprecios] ADD  DEFAULT (N'') FOR [glsLista]
GO
ALTER TABLE [dbo].[listaprecios] ADD  DEFAULT ((0)) FOR [estLista]
GO
ALTER TABLE [dbo].[listaprecios] ADD  DEFAULT (getdate()) FOR [fecVcto]
GO
ALTER TABLE [dbo].[listaprecios] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[listaprecios] ADD  DEFAULT (N'') FOR [idMoneda]
GO
