USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[valestransref]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[valestransref](
	[item] [bigint] IDENTITY(1,1) NOT NULL,
	[idValesTrans] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idValeIngreso] [char](8) NOT NULL,
	[idOCompra] [varchar](200) NOT NULL,
	[idRCompra] [varchar](200) NOT NULL,
 CONSTRAINT [PK_valestransref_item] PRIMARY KEY CLUSTERED 
(
	[item] ASC,
	[idValesTrans] ASC,
	[idSucursal] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[valestransref] ADD  DEFAULT (N'') FOR [idValesTrans]
GO
ALTER TABLE [dbo].[valestransref] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[valestransref] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[valestransref] ADD  DEFAULT (N'') FOR [idValeIngreso]
GO
ALTER TABLE [dbo].[valestransref] ADD  DEFAULT (N'') FOR [idOCompra]
GO
ALTER TABLE [dbo].[valestransref] ADD  DEFAULT (N'') FOR [idRCompra]
GO
