USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[pruebaconeccion]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pruebaconeccion](
	[IdPruebaConeccion] [bigint] IDENTITY(1,1) NOT NULL,
	[GlsPruebaConeccion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_pruebaconeccion_IdPruebaConeccion] PRIMARY KEY CLUSTERED 
(
	[IdPruebaConeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pruebaconeccion] ADD  DEFAULT (N'') FOR [GlsPruebaConeccion]
GO
