USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[proveedores_apimas]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores_apimas](
	[ID] [int] NULL,
	[CODIGO] [varchar](255) NULL,
	[RAZONSOCIAL] [varchar](255) NULL,
	[NOMBRECOMERCIAL] [varchar](255) NULL,
	[RUC] [float] NULL,
	[TELEFONO] [varchar](255) NULL,
	[CORREOELECTRONICO] [varchar](255) NULL,
	[DIRECCION] [varchar](255) NULL,
	[Distrito] [varchar](255) NULL,
	[CONTACTO] [varchar](255) NULL,
	[FORMAPAGO] [varchar](255) NULL,
	[lugadeentrega] [varchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[proveedores_apimas] ADD  DEFAULT (NULL) FOR [ID]
GO
ALTER TABLE [dbo].[proveedores_apimas] ADD  DEFAULT (NULL) FOR [CODIGO]
GO
ALTER TABLE [dbo].[proveedores_apimas] ADD  DEFAULT (NULL) FOR [RAZONSOCIAL]
GO
ALTER TABLE [dbo].[proveedores_apimas] ADD  DEFAULT (NULL) FOR [NOMBRECOMERCIAL]
GO
ALTER TABLE [dbo].[proveedores_apimas] ADD  DEFAULT (NULL) FOR [RUC]
GO
ALTER TABLE [dbo].[proveedores_apimas] ADD  DEFAULT (NULL) FOR [TELEFONO]
GO
ALTER TABLE [dbo].[proveedores_apimas] ADD  DEFAULT (NULL) FOR [CORREOELECTRONICO]
GO
ALTER TABLE [dbo].[proveedores_apimas] ADD  DEFAULT (NULL) FOR [DIRECCION]
GO
ALTER TABLE [dbo].[proveedores_apimas] ADD  DEFAULT (NULL) FOR [Distrito]
GO
ALTER TABLE [dbo].[proveedores_apimas] ADD  DEFAULT (NULL) FOR [CONTACTO]
GO
ALTER TABLE [dbo].[proveedores_apimas] ADD  DEFAULT (NULL) FOR [FORMAPAGO]
GO
ALTER TABLE [dbo].[proveedores_apimas] ADD  DEFAULT (NULL) FOR [lugadeentrega]
GO
