USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[conci_automatica]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conci_automatica](
	[IdEmpresa] [char](2) NOT NULL,
	[IdConci_Automatica] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[IdPeriodo] [varchar](6) NOT NULL,
	[IdCtaCorriente] [bigint] NOT NULL,
	[IdMovBancosCab] [int] NOT NULL,
	[Fecha] [datetime2](0) NULL,
	[GlsOperacion] [varchar](250) NOT NULL,
	[Total] [decimal](14, 5) NULL,
	[Saldo] [decimal](14, 5) NULL,
	[GlsAgencia] [varchar](250) NOT NULL,
	[NroOperacion] [varchar](50) NULL,
	[HoraOperacion] [varchar](20) NULL,
	[GlsUsuario] [varchar](50) NULL,
	[UTC] [varchar](20) NULL,
	[GlsReferencia] [varchar](250) NOT NULL,
	[Destino] [char](1) NOT NULL,
	[IndConciliado] [char](1) NOT NULL,
	[IndAutomatico] [char](1) NOT NULL,
	[IndRelacionado] [char](1) NOT NULL,
	[GlsExcel] [varchar](250) NOT NULL,
	[GlsPC] [varchar](250) NOT NULL,
 CONSTRAINT [PK_conci_automatica_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdConci_Automatica] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (N'') FOR [IdConci_Automatica]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (N'') FOR [IdPeriodo]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT ((0)) FOR [IdCtaCorriente]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT ((0)) FOR [IdMovBancosCab]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (NULL) FOR [Fecha]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (N'') FOR [GlsOperacion]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (NULL) FOR [Total]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (NULL) FOR [Saldo]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (N'') FOR [GlsAgencia]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (NULL) FOR [NroOperacion]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (NULL) FOR [HoraOperacion]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (NULL) FOR [GlsUsuario]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (NULL) FOR [UTC]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (N'') FOR [GlsReferencia]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (N'') FOR [Destino]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (N'') FOR [IndConciliado]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (N'') FOR [IndAutomatico]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (N'0') FOR [IndRelacionado]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (N'') FOR [GlsExcel]
GO
ALTER TABLE [dbo].[conci_automatica] ADD  DEFAULT (N'') FOR [GlsPC]
GO
