USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[compromisocab]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compromisocab](
	[IdEmpresa] [char](2) NOT NULL,
	[IdCompromiso] [char](8) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Numero] [varchar](45) NOT NULL,
	[GlsBien] [varchar](250) NOT NULL,
	[TipoCompromiso] [varchar](3) NOT NULL,
	[IdEntidad] [varchar](8) NOT NULL,
	[ImporteTotal] [decimal](14, 5) NOT NULL,
	[GlsObserva] [varchar](250) NOT NULL,
	[CantCuotas] [bigint] NOT NULL,
	[PorcInteres] [decimal](14, 5) NOT NULL,
	[ImporteCuota] [decimal](14, 5) NOT NULL,
	[IdMoneda] [char](3) NOT NULL,
	[IdCta_Dcto_Ini] [varchar](8) NOT NULL,
	[ImporteCuotaIni] [decimal](14, 5) NOT NULL,
	[IndAfectoCuotaIni] [char](1) NOT NULL,
	[IdCta_Dcto_OCompra] [varchar](8) NOT NULL,
	[ImporteOCompra] [decimal](14, 5) NOT NULL,
	[IndAfectoOCompra] [char](1) NOT NULL,
	[ImporteSeguro] [decimal](14, 5) NOT NULL,
	[ImporteComPortes] [decimal](14, 5) NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[MesesGracia] [bigint] NOT NULL,
	[MontoGracia] [decimal](14, 5) NOT NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
	[IdUsuarioRegistro] [varchar](8) NOT NULL,
	[IdCtaContable] [varchar](12) NOT NULL,
	[IdComprobante] [varchar](10) NOT NULL,
 CONSTRAINT [PK_compromisocab_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdCompromiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [IdCompromiso]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [Numero]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [GlsBien]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [TipoCompromiso]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [IdEntidad]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT ((0.00000)) FOR [ImporteTotal]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [GlsObserva]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT ((0)) FOR [CantCuotas]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT ((0.00000)) FOR [PorcInteres]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT ((0.00000)) FOR [ImporteCuota]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [IdMoneda]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [IdCta_Dcto_Ini]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT ((0.00000)) FOR [ImporteCuotaIni]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [IndAfectoCuotaIni]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [IdCta_Dcto_OCompra]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT ((0.00000)) FOR [ImporteOCompra]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [IndAfectoOCompra]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT ((0.00000)) FOR [ImporteSeguro]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT ((0.00000)) FOR [ImporteComPortes]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (getdate()) FOR [FechaVencimiento]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT ((0)) FOR [MesesGracia]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT ((0.00000)) FOR [MontoGracia]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [IdUsuarioRegistro]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [IdCtaContable]
GO
ALTER TABLE [dbo].[compromisocab] ADD  DEFAULT (N'') FOR [IdComprobante]
GO
