USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[contactosproveedores]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactosproveedores](
	[idProveedor] [char](8) NOT NULL,
	[idContacto] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[IndEnvCorreo] [bigint] NOT NULL,
 CONSTRAINT [PK_contactosproveedores_idProveedor] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC,
	[idContacto] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[contactosproveedores] ADD  DEFAULT (N'') FOR [idProveedor]
GO
ALTER TABLE [dbo].[contactosproveedores] ADD  DEFAULT (N'') FOR [idContacto]
GO
ALTER TABLE [dbo].[contactosproveedores] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[contactosproveedores] ADD  DEFAULT ((0)) FOR [IndEnvCorreo]
GO
