USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[producciondet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producciondet](
	[idEmpresa] [char](2) NOT NULL,
	[IdProduccion] [char](8) NOT NULL,
	[item] [bigint] NOT NULL,
	[idproducto] [char](8) NOT NULL,
	[glsproducto] [varchar](100) NOT NULL,
	[cantidad] [numeric](14, 5) NOT NULL,
 CONSTRAINT [PK_producciondet_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[IdProduccion] ASC,
	[item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[producciondet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[producciondet] ADD  DEFAULT (N'') FOR [IdProduccion]
GO
ALTER TABLE [dbo].[producciondet] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[producciondet] ADD  DEFAULT (N'') FOR [idproducto]
GO
ALTER TABLE [dbo].[producciondet] ADD  DEFAULT (N'') FOR [glsproducto]
GO
ALTER TABLE [dbo].[producciondet] ADD  DEFAULT ((0.00000)) FOR [cantidad]
GO
