USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[unidadesnegocio]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unidadesnegocio](
	[idcodunegocio] [varchar](8) NOT NULL,
	[glsunegocio] [varchar](100) NOT NULL,
 CONSTRAINT [PK_unidadesnegocio_idcodunegocio] PRIMARY KEY CLUSTERED 
(
	[idcodunegocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[unidadesnegocio] ADD  DEFAULT (N'') FOR [idcodunegocio]
GO
ALTER TABLE [dbo].[unidadesnegocio] ADD  DEFAULT (N'') FOR [glsunegocio]
GO
