USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[gruposproducto]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gruposproducto](
	[idGrupo] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[GlsGrupo] [varchar](185) NOT NULL,
	[IndStock] [char](1) NULL,
	[IndRep1] [char](1) NULL,
	[IndRep2] [char](1) NULL,
	[IndRep3] [char](1) NULL,
	[IdMaterial] [varchar](10) NULL,
	[IndRep4] [char](1) NULL,
	[IndRep7] [char](1) NULL,
 CONSTRAINT [PK_gruposproducto_idGrupo] PRIMARY KEY CLUSTERED 
(
	[idGrupo] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[gruposproducto] ADD  DEFAULT (N'') FOR [idGrupo]
GO
ALTER TABLE [dbo].[gruposproducto] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[gruposproducto] ADD  DEFAULT (N'') FOR [GlsGrupo]
GO
ALTER TABLE [dbo].[gruposproducto] ADD  DEFAULT (NULL) FOR [IndStock]
GO
ALTER TABLE [dbo].[gruposproducto] ADD  DEFAULT (NULL) FOR [IndRep1]
GO
ALTER TABLE [dbo].[gruposproducto] ADD  DEFAULT (NULL) FOR [IndRep2]
GO
ALTER TABLE [dbo].[gruposproducto] ADD  DEFAULT (NULL) FOR [IndRep3]
GO
ALTER TABLE [dbo].[gruposproducto] ADD  DEFAULT (NULL) FOR [IdMaterial]
GO
ALTER TABLE [dbo].[gruposproducto] ADD  DEFAULT (NULL) FOR [IndRep4]
GO
ALTER TABLE [dbo].[gruposproducto] ADD  DEFAULT (NULL) FOR [IndRep7]
GO
