USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[objdocvales]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[objdocvales](
	[GlsObj] [varchar](45) NULL,
	[GlsCampo] [varchar](45) NULL,
	[indVisible] [varchar](1) NULL,
	[tipoDato] [varchar](1) NULL,
	[Etiqueta] [varchar](45) NULL,
	[numCol] [int] NULL,
	[ancho] [int] NULL,
	[Decimales] [int] NULL,
	[GlsObs] [varchar](150) NULL,
	[Identificador] [int] IDENTITY(1,1) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
 CONSTRAINT [PK_objdocvales_Identificador] PRIMARY KEY CLUSTERED 
(
	[Identificador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[objdocvales] ADD  DEFAULT (NULL) FOR [GlsObj]
GO
ALTER TABLE [dbo].[objdocvales] ADD  DEFAULT (NULL) FOR [GlsCampo]
GO
ALTER TABLE [dbo].[objdocvales] ADD  DEFAULT (NULL) FOR [indVisible]
GO
ALTER TABLE [dbo].[objdocvales] ADD  DEFAULT (NULL) FOR [tipoDato]
GO
ALTER TABLE [dbo].[objdocvales] ADD  DEFAULT (NULL) FOR [Etiqueta]
GO
ALTER TABLE [dbo].[objdocvales] ADD  DEFAULT (NULL) FOR [numCol]
GO
ALTER TABLE [dbo].[objdocvales] ADD  DEFAULT (NULL) FOR [ancho]
GO
ALTER TABLE [dbo].[objdocvales] ADD  DEFAULT (NULL) FOR [Decimales]
GO
ALTER TABLE [dbo].[objdocvales] ADD  DEFAULT (NULL) FOR [GlsObs]
GO
ALTER TABLE [dbo].[objdocvales] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
