USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tblmovcompras]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblmovcompras](
	[Ano] [varchar](255) NULL,
	[Mes] [float] NULL,
	[Movimiento] [float] NULL,
	[Ruc] [float] NULL,
	[TipoDoc] [varchar](255) NULL,
	[Serie] [float] NULL,
	[Numero] [float] NULL,
	[Total] [float] NULL,
	[Item] [float] NULL,
	[Cuenta] [float] NULL,
	[CtaActual] [float] NULL,
	[Descripcion] [varchar](255) NULL,
	[Afecto_Igv] [varchar](255) NULL,
	[Centro] [varchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [Ano]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [Mes]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [Movimiento]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [Ruc]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [TipoDoc]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [Serie]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [Numero]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [Total]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [Item]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [Cuenta]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [CtaActual]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [Descripcion]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [Afecto_Igv]
GO
ALTER TABLE [dbo].[tblmovcompras] ADD  DEFAULT (NULL) FOR [Centro]
GO
