USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[gastosingresos]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gastosingresos](
	[Afecto] [char](1) NULL,
	[indTipo] [char](1) NOT NULL,
	[indCajaChica] [char](1) NULL,
	[idGastosIngresos] [varchar](4) NOT NULL,
	[idCtaContable] [varchar](12) NULL,
	[idGrupoGastos] [varchar](3) NULL,
	[glsGastosIngresos] [varchar](100) NOT NULL,
	[indReferencia] [char](1) NULL,
	[indTipoGastos] [char](1) NULL,
	[idMoneda] [char](3) NULL,
	[idGrupoFlujo] [varchar](3) NULL,
	[indAnticipo] [char](1) NULL,
	[indLetrasReno] [char](1) NULL,
	[indChqDevuelto] [char](1) NULL,
	[indPagares] [char](1) NULL,
	[indCtasPagar] [char](1) NULL,
	[idEmpresa] [char](2) NOT NULL,
	[IdAnno] [varchar](4) NOT NULL,
	[IdRubro] [varchar](8) NULL,
	[AbreDocumento] [varchar](3) NOT NULL,
 CONSTRAINT [PK_gastosingresos_indTipo] PRIMARY KEY CLUSTERED 
(
	[indTipo] ASC,
	[idGastosIngresos] ASC,
	[idEmpresa] ASC,
	[IdAnno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [Afecto]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (N'') FOR [indTipo]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [indCajaChica]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (N'') FOR [idGastosIngresos]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [idCtaContable]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [idGrupoGastos]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (N'') FOR [glsGastosIngresos]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [indReferencia]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [indTipoGastos]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [idMoneda]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [idGrupoFlujo]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [indAnticipo]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [indLetrasReno]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [indChqDevuelto]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [indPagares]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [indCtasPagar]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (N'') FOR [IdAnno]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (NULL) FOR [IdRubro]
GO
ALTER TABLE [dbo].[gastosingresos] ADD  DEFAULT (N'') FOR [AbreDocumento]
GO
