USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[documentoscuentas]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documentoscuentas](
	[IdEmpresa] [char](2) NOT NULL,
	[IdDocumento] [char](2) NOT NULL,
	[idCtaVtaSoles] [varchar](12) NOT NULL,
	[idCtaVtaDolares] [varchar](12) NOT NULL,
	[idCtaVtaTerSoles] [varchar](12) NOT NULL,
	[idCtaVtaTerDolares] [varchar](12) NOT NULL,
	[idCtaCompSoles] [varchar](12) NOT NULL,
	[idCtaCompDolares] [varchar](12) NOT NULL,
	[idCtaCompTerSoles] [varchar](12) NOT NULL,
	[idCtaCompTerDolares] [varchar](45) NOT NULL,
	[IdCtaCompTerMatrizS] [varchar](12) NOT NULL,
	[IdCtaCompTerMatrizD] [varchar](12) NOT NULL,
	[IdCtaCompTerSubSiS] [varchar](12) NOT NULL,
	[IdCtaCompTerSubSiD] [varchar](12) NOT NULL,
	[IdCtaVtaTerMatrizS] [varchar](12) NOT NULL,
	[IdCtaVtaTerMatrizD] [varchar](12) NOT NULL,
	[IdCtaVtaTerSubSiS] [varchar](12) NOT NULL,
	[IdCtaVtaTerSubSiD] [varchar](12) NOT NULL,
	[IdCtaVtaPerS] [varchar](12) NOT NULL,
	[IdCtaVtaPerD] [varchar](12) NOT NULL,
	[IdCtaCompPerS] [varchar](12) NOT NULL,
	[IdCtaCompPerD] [varchar](12) NOT NULL,
	[IdCtaVtaSocS] [varchar](12) NOT NULL,
	[IdCtaVtaSocD] [varchar](12) NOT NULL,
	[IdCtaCompSocS] [varchar](12) NOT NULL,
	[IdCtaCompSocD] [varchar](12) NOT NULL,
 CONSTRAINT [PK_documentoscuentas_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdDocumento]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [idCtaVtaSoles]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [idCtaVtaDolares]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [idCtaVtaTerSoles]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [idCtaVtaTerDolares]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [idCtaCompSoles]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [idCtaCompDolares]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [idCtaCompTerSoles]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [idCtaCompTerDolares]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaCompTerMatrizS]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaCompTerMatrizD]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaCompTerSubSiS]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaCompTerSubSiD]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaVtaTerMatrizS]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaVtaTerMatrizD]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaVtaTerSubSiS]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaVtaTerSubSiD]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaVtaPerS]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaVtaPerD]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaCompPerS]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaCompPerD]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaVtaSocS]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaVtaSocD]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaCompSocS]
GO
ALTER TABLE [dbo].[documentoscuentas] ADD  DEFAULT (N'') FOR [IdCtaCompSocD]
GO
