USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[presentaciones]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presentaciones](
	[Item] [bigint] NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[idUM] [char](8) NOT NULL,
	[Factor] [decimal](14, 5) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
 CONSTRAINT [PK_presentaciones_Item] PRIMARY KEY CLUSTERED 
(
	[Item] ASC,
	[idProducto] ASC,
	[idUM] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[presentaciones] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[presentaciones] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[presentaciones] ADD  DEFAULT (N'') FOR [idUM]
GO
ALTER TABLE [dbo].[presentaciones] ADD  DEFAULT ((0.00000)) FOR [Factor]
GO
ALTER TABLE [dbo].[presentaciones] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
