USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[pladescuentocab]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pladescuentocab](
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idPladescuento] [char](8) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[idTipoCobro] [char](5) NOT NULL,
	[NroDeposito] [varchar](20) NOT NULL,
	[idCtaCorriente] [char](8) NOT NULL,
	[idCobrador] [char](8) NOT NULL,
	[idTipoEfectivo] [char](5) NOT NULL,
	[Observaciones] [varchar](185) NOT NULL,
	[idMovBancos] [bigint] NOT NULL,
	[UsuarioReg] [char](8) NOT NULL,
	[FechaReg] [datetime2](0) NOT NULL,
	[PeriodoBancos] [char](6) NULL,
 CONSTRAINT [PK_pladescuentocab_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[idPladescuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT (N'') FOR [idPladescuento]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT (N'') FOR [idTipoCobro]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT (N'') FOR [NroDeposito]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT (N'') FOR [idCtaCorriente]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT (N'') FOR [idCobrador]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT (N'') FOR [idTipoEfectivo]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT (N'') FOR [Observaciones]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT ((0)) FOR [idMovBancos]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT (N'') FOR [UsuarioReg]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT (getdate()) FOR [FechaReg]
GO
ALTER TABLE [dbo].[pladescuentocab] ADD  DEFAULT (NULL) FOR [PeriodoBancos]
GO
