USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[estructurareportescuentasdet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estructurareportescuentasdet](
	[idTipoEstruc] [char](2) NOT NULL,
	[idFila] [char](3) NOT NULL,
	[Ctacontable] [varchar](45) NOT NULL,
	[Signo] [char](1) NOT NULL,
 CONSTRAINT [PK_estructurareportescuentasdet_idTipoEstruc] PRIMARY KEY CLUSTERED 
(
	[idTipoEstruc] ASC,
	[idFila] ASC,
	[Ctacontable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[estructurareportescuentasdet] ADD  DEFAULT (N'') FOR [idTipoEstruc]
GO
ALTER TABLE [dbo].[estructurareportescuentasdet] ADD  DEFAULT (N'') FOR [idFila]
GO
ALTER TABLE [dbo].[estructurareportescuentasdet] ADD  DEFAULT (N'') FOR [Ctacontable]
GO
ALTER TABLE [dbo].[estructurareportescuentasdet] ADD  DEFAULT (N'') FOR [Signo]
GO
