USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[valestransdet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[valestransdet](
	[idValesTrans] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[Cantidad] [decimal](14, 5) NOT NULL,
	[idUM] [char](8) NOT NULL,
	[Factor] [decimal](14, 5) NOT NULL,
	[IdTallaPeso] [varchar](30) NULL,
	[IdLote] [varchar](45) NOT NULL,
	[NumLote] [varchar](45) NOT NULL,
 CONSTRAINT [PK_valestransdet_idValesTrans] PRIMARY KEY CLUSTERED 
(
	[idValesTrans] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[valestransdet] ADD  DEFAULT (N'') FOR [idValesTrans]
GO
ALTER TABLE [dbo].[valestransdet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[valestransdet] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[valestransdet] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[valestransdet] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[valestransdet] ADD  DEFAULT ((0.00000)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[valestransdet] ADD  DEFAULT (N'') FOR [idUM]
GO
ALTER TABLE [dbo].[valestransdet] ADD  DEFAULT ((0.00000)) FOR [Factor]
GO
ALTER TABLE [dbo].[valestransdet] ADD  DEFAULT (NULL) FOR [IdTallaPeso]
GO
ALTER TABLE [dbo].[valestransdet] ADD  DEFAULT (N'') FOR [IdLote]
GO
ALTER TABLE [dbo].[valestransdet] ADD  DEFAULT (N'') FOR [NumLote]
GO
