USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[seriexusuario]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seriexusuario](
	[idUsuario] [char](8) NOT NULL,
	[idDocumento] [char](2) NOT NULL,
	[idSerie] [char](4) NOT NULL,
	[item] [bigint] NOT NULL,
	[idEmpresa] [char](8) NOT NULL,
 CONSTRAINT [PK_seriexusuario_idUsuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[idDocumento] ASC,
	[idSerie] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[seriexusuario] ADD  DEFAULT (N'') FOR [idUsuario]
GO
ALTER TABLE [dbo].[seriexusuario] ADD  DEFAULT (N'') FOR [idDocumento]
GO
ALTER TABLE [dbo].[seriexusuario] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[seriexusuario] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[seriexusuario] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
