USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[letrasxpagar]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[letrasxpagar](
	[idEmpresa] [char](2) NOT NULL,
	[idAno] [char](4) NOT NULL,
	[idLetra] [varchar](15) NOT NULL,
	[idSerie] [char](1) NOT NULL,
	[Item] [bigint] NOT NULL,
	[idproveedor] [char](8) NOT NULL,
	[GlsProveedor] [varchar](185) NOT NULL,
	[RUCProveedor] [varchar](11) NOT NULL,
	[GlsReferencia] [varchar](120) NOT NULL,
	[FecVencimiento] [datetime2](0) NOT NULL,
	[FecEmision] [datetime2](0) NOT NULL,
	[Plazo] [decimal](14, 5) NOT NULL,
	[TotalLetra] [decimal](14, 5) NOT NULL,
	[MontoOriginal] [decimal](14, 5) NOT NULL,
	[IGVIntereses] [decimal](14, 5) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[TipoCambio] [decimal](14, 5) NOT NULL,
	[idUsuarioReg] [char](8) NOT NULL,
	[FecRegistro] [datetime2](0) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[Situacion] [char](1) NOT NULL,
	[modalidad] [char](5) NULL,
	[FecAceptacion] [datetime2](0) NULL,
	[FecEnvio] [datetime2](0) NULL,
	[idBanco] [char](8) NULL,
	[banco] [varchar](185) NULL,
	[RGTO_BCO] [varchar](20) NULL,
	[Correla_Ant] [varchar](8) NULL,
	[Correla_Dcto] [varchar](8) NULL,
	[Observacion] [varchar](250) NOT NULL,
 CONSTRAINT [PK_letrasxpagar_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idproveedor] ASC,
	[idAno] ASC,
	[idLetra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (N'') FOR [idAno]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (N'') FOR [idLetra]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (N'') FOR [idproveedor]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (N'') FOR [GlsProveedor]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (N'') FOR [RUCProveedor]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (N'') FOR [GlsReferencia]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (getdate()) FOR [FecVencimiento]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (getdate()) FOR [FecEmision]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT ((0.00000)) FOR [Plazo]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT ((0.00000)) FOR [TotalLetra]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT ((0.00000)) FOR [MontoOriginal]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT ((0.00000)) FOR [IGVIntereses]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT ((0.00000)) FOR [TipoCambio]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (N'') FOR [idUsuarioReg]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (getdate()) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (N'X') FOR [Situacion]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (NULL) FOR [modalidad]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (NULL) FOR [FecAceptacion]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (NULL) FOR [FecEnvio]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (NULL) FOR [idBanco]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (NULL) FOR [banco]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (NULL) FOR [RGTO_BCO]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (NULL) FOR [Correla_Ant]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (NULL) FOR [Correla_Dcto]
GO
ALTER TABLE [dbo].[letrasxpagar] ADD  DEFAULT (N'') FOR [Observacion]
GO
