USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[documentos]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documentos](
	[idDocumento] [char](2) NOT NULL,
	[GlsDocumento] [varchar](180) NULL,
	[AbreDocumento] [varchar](3) NULL,
	[indVentas] [char](1) NULL,
	[estDocumentos] [char](3) NOT NULL,
	[frameHeight] [bigint] NOT NULL,
	[idSerie] [char](3) NOT NULL,
	[TipoImpFecha] [char](1) NOT NULL,
	[FontSize] [bigint] NOT NULL,
	[indImprimeTicket] [char](1) NOT NULL,
	[IndOficial] [char](1) NOT NULL,
	[Aprobacion] [char](1) NOT NULL,
	[FormatoImpFecha] [char](1) NOT NULL,
	[PorcPercepcion] [float] NOT NULL,
	[Longitud] [bigint] NOT NULL,
	[SerieLongitud] [bigint] NOT NULL,
	[IndLeasing] [char](1) NOT NULL,
	[IndAfectoRetencion] [bigint] NOT NULL,
	[IdCtaCompTerMatrizS] [varchar](12) NOT NULL,
	[IdCtaCompTerMatrizD] [varchar](12) NOT NULL,
	[IdCtaCompTerSubSiS] [varchar](12) NOT NULL,
	[IdCtaCompTerSubSiD] [varchar](12) NOT NULL,
	[IdCtaVtaTerMatrizS] [varchar](12) NOT NULL,
	[IdCtaVtaTerMatrizD] [varchar](12) NOT NULL,
	[IdCtaVtaTerSubSiS] [varchar](12) NOT NULL,
	[IdCtaVtaTerSubSiD] [varchar](12) NOT NULL,
	[IndDomiciliado] [bigint] NOT NULL,
	[GlsDctoNew] [varchar](45) NULL,
	[GlsDctoNew2] [varchar](45) NULL,
	[idCtaVtaSoles] [varchar](12) NOT NULL,
	[idCtaVtaDolares] [varchar](12) NOT NULL,
	[idCtaVtaTerSoles] [varchar](12) NOT NULL,
	[idCtaVtaTerDolares] [varchar](12) NOT NULL,
	[idCtaCompSoles] [varchar](12) NOT NULL,
	[idCtaCompDolares] [varchar](12) NOT NULL,
	[idCtaCompTerSoles] [varchar](12) NOT NULL,
	[idCtaCompTerDolares] [varchar](12) NOT NULL,
	[Idsunat] [char](2) NULL,
 CONSTRAINT [PK_documentos_idDocumento] PRIMARY KEY CLUSTERED 
(
	[idDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [documentos$Index_2] UNIQUE NONCLUSTERED 
(
	[AbreDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [idDocumento]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (NULL) FOR [GlsDocumento]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (NULL) FOR [AbreDocumento]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (NULL) FOR [indVentas]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [estDocumentos]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT ((0)) FOR [frameHeight]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [TipoImpFecha]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT ((0)) FOR [FontSize]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'N') FOR [indImprimeTicket]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'1') FOR [IndOficial]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [Aprobacion]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [FormatoImpFecha]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT ((0)) FOR [PorcPercepcion]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT ((0)) FOR [Longitud]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT ((0)) FOR [SerieLongitud]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'0') FOR [IndLeasing]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT ((0)) FOR [IndAfectoRetencion]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [IdCtaCompTerMatrizS]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [IdCtaCompTerMatrizD]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [IdCtaCompTerSubSiS]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [IdCtaCompTerSubSiD]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [IdCtaVtaTerMatrizS]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [IdCtaVtaTerMatrizD]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [IdCtaVtaTerSubSiS]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [IdCtaVtaTerSubSiD]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT ((0)) FOR [IndDomiciliado]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (NULL) FOR [GlsDctoNew]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (NULL) FOR [GlsDctoNew2]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [idCtaVtaSoles]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [idCtaVtaDolares]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [idCtaVtaTerSoles]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [idCtaVtaTerDolares]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [idCtaCompSoles]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [idCtaCompDolares]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [idCtaCompTerSoles]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (N'') FOR [idCtaCompTerDolares]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (NULL) FOR [Idsunat]
GO
