USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[factura_cabecera]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_cabecera](
	[ID] [int] NULL,
	[serie_doc] [varchar](255) NULL,
	[clvfact] [varchar](255) NULL,
	[anno] [varchar](255) NULL,
	[oper] [varchar](255) NULL,
	[n_fact] [varchar](255) NULL,
	[fecha] [datetime2](0) NULL,
	[cliente] [varchar](255) NULL,
	[sucursal] [varchar](255) NULL,
	[convta] [varchar](255) NULL,
	[vend] [varchar](255) NULL,
	[vence] [varchar](255) NULL,
	[igv] [float] NULL,
	[v_bruto] [float] NULL,
	[v_venta] [float] NULL,
	[v_flete] [float] NULL,
	[v_igv] [float] NULL,
	[v_redon] [float] NULL,
	[v_total] [float] NULL,
	[moneda] [float] NULL,
	[anula_doc] [binary](1) NULL,
	[xtransa] [varchar](255) NULL,
	[ope_refer] [varchar](255) NULL,
	[doc_refer] [varchar](255) NULL,
	[tc_refer] [float] NULL,
	[t_cambio] [float] NULL,
	[xfile] [varchar](255) NULL,
	[vouchers] [varchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [ID]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [serie_doc]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [clvfact]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [anno]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [oper]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [n_fact]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [fecha]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [cliente]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [sucursal]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [convta]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [vend]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [vence]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [igv]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [v_bruto]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [v_venta]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [v_flete]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [v_igv]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [v_redon]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [v_total]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [moneda]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [anula_doc]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [xtransa]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [ope_refer]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [doc_refer]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [tc_refer]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [t_cambio]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [xfile]
GO
ALTER TABLE [dbo].[factura_cabecera] ADD  DEFAULT (NULL) FOR [vouchers]
GO
