USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tbcomprasvales]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbcomprasvales](
	[idMesMov] [char](8) NOT NULL,
	[idNumMov] [char](8) NOT NULL,
	[idAlmacen] [varchar](8) NOT NULL,
	[idValesCab] [varchar](8) NOT NULL,
	[annio_Mov] [char](4) NOT NULL,
	[idempresa] [char](2) NOT NULL,
 CONSTRAINT [PK_tbcomprasvales_idMesMov] PRIMARY KEY CLUSTERED 
(
	[idMesMov] ASC,
	[idNumMov] ASC,
	[idAlmacen] ASC,
	[idValesCab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbcomprasvales] ADD  DEFAULT (N'') FOR [idMesMov]
GO
ALTER TABLE [dbo].[tbcomprasvales] ADD  DEFAULT (N'') FOR [idNumMov]
GO
ALTER TABLE [dbo].[tbcomprasvales] ADD  DEFAULT (N'') FOR [idAlmacen]
GO
ALTER TABLE [dbo].[tbcomprasvales] ADD  DEFAULT (N'') FOR [idValesCab]
GO
ALTER TABLE [dbo].[tbcomprasvales] ADD  DEFAULT (N'') FOR [annio_Mov]
GO
ALTER TABLE [dbo].[tbcomprasvales] ADD  DEFAULT (N'') FOR [idempresa]
GO
