USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[valestrans]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[valestrans](
	[idValesTrans] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[FecRegistro] [datetime2](0) NOT NULL,
	[idAlmacenOrigen] [char](8) NOT NULL,
	[idAlmacenDestino] [char](8) NOT NULL,
	[idValeIngreso] [char](8) NOT NULL,
	[idValeSalida] [char](8) NOT NULL,
	[glsObs] [varchar](185) NOT NULL,
	[estValeTrans] [char](3) NOT NULL,
	[idMoneda] [char](8) NOT NULL,
	[idUsuarioRegistro] [varchar](8) NOT NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
	[HoraRegistro] [time](7) NOT NULL,
 CONSTRAINT [PK_valestrans_idValesTrans] PRIMARY KEY CLUSTERED 
(
	[idValesTrans] ASC,
	[idSucursal] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT (N'') FOR [idValesTrans]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT (getdate()) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT (N'') FOR [idAlmacenOrigen]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT (N'') FOR [idAlmacenDestino]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT (N'') FOR [idValeIngreso]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT (N'') FOR [idValeSalida]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT (N'') FOR [glsObs]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT (N'GEN') FOR [estValeTrans]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT (N'') FOR [idUsuarioRegistro]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[valestrans] ADD  DEFAULT ('00:00:00') FOR [HoraRegistro]
GO
