USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[idProveedor] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idGrupoProveedor] [char](2) NOT NULL,
	[idFormaPago] [varchar](45) NOT NULL,
	[CodReferencia] [varchar](45) NOT NULL,
	[idBanco] [char](2) NOT NULL,
	[CtaCorriente] [varchar](255) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[GlsObservacion] [varchar](700) NOT NULL,
	[IndRetencion] [bigint] NOT NULL,
	[IndPercepcion] [bigint] NOT NULL,
	[IndBnContribuyente] [bigint] NOT NULL,
 CONSTRAINT [PK_proveedores_idProveedor] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC,
	[idEmpresa] ASC,
	[idGrupoProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT (N'') FOR [idGrupoProveedor]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT (N'') FOR [idFormaPago]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT (N'') FOR [CodReferencia]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT (N'') FOR [idBanco]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT (N'') FOR [CtaCorriente]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT (N'') FOR [GlsObservacion]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT ((0)) FOR [IndRetencion]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT ((0)) FOR [IndPercepcion]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT ((0)) FOR [IndBnContribuyente]
GO
