USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[productosproveedor]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productosproveedor](
	[idEmpresa] [varchar](45) NOT NULL,
	[idProveedor] [char](8) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[Fecha] [date] NOT NULL,
	[IdDocumento] [varchar](2) NOT NULL,
	[IdSerie] [varchar](3) NOT NULL,
	[IdDocVentas] [varchar](8) NOT NULL,
	[IdMoneda] [char](3) NOT NULL,
	[valorVenta] [decimal](14, 5) NOT NULL,
	[IGVVenta] [decimal](14, 5) NOT NULL,
	[precioVenta] [decimal](14, 5) NOT NULL,
	[item] [bigint] NOT NULL,
 CONSTRAINT [PK_productosproveedor_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idProveedor] ASC,
	[idProducto] ASC,
	[Fecha] ASC,
	[IdDocumento] ASC,
	[IdSerie] ASC,
	[IdDocVentas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[productosproveedor] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[productosproveedor] ADD  DEFAULT (N'') FOR [idProveedor]
GO
ALTER TABLE [dbo].[productosproveedor] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[productosproveedor] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[productosproveedor] ADD  DEFAULT (N'') FOR [IdDocumento]
GO
ALTER TABLE [dbo].[productosproveedor] ADD  DEFAULT (N'') FOR [IdSerie]
GO
ALTER TABLE [dbo].[productosproveedor] ADD  DEFAULT (N'') FOR [IdDocVentas]
GO
ALTER TABLE [dbo].[productosproveedor] ADD  DEFAULT (N'') FOR [IdMoneda]
GO
ALTER TABLE [dbo].[productosproveedor] ADD  DEFAULT ((0.00000)) FOR [valorVenta]
GO
ALTER TABLE [dbo].[productosproveedor] ADD  DEFAULT ((0.00000)) FOR [IGVVenta]
GO
ALTER TABLE [dbo].[productosproveedor] ADD  DEFAULT ((0.00000)) FOR [precioVenta]
GO
ALTER TABLE [dbo].[productosproveedor] ADD  DEFAULT ((0)) FOR [item]
GO
