USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[prod_atributo]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prod_atributo](
	[idEmpresa] [char](2) NOT NULL,
	[idAtributo] [char](8) NOT NULL,
	[glsAtributo] [varchar](250) NULL,
	[unidadMedida] [varchar](250) NULL,
	[idUM] [char](8) NULL,
 CONSTRAINT [PK_prod_atributo_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idAtributo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [prod_atributo$uc_prod_atributo] UNIQUE NONCLUSTERED 
(
	[idAtributo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[prod_atributo] ADD  DEFAULT (NULL) FOR [glsAtributo]
GO
ALTER TABLE [dbo].[prod_atributo] ADD  DEFAULT (NULL) FOR [unidadMedida]
GO
ALTER TABLE [dbo].[prod_atributo] ADD  DEFAULT (NULL) FOR [idUM]
GO
