USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[recmercaderiadet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recmercaderiadet](
	[idRecMercaderia] [char](8) NOT NULL,
	[item] [bigint] NOT NULL,
	[Marca] [bigint] NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[idCodFabricante] [varchar](45) NOT NULL,
	[GlsProducto] [varchar](185) NOT NULL,
	[idMarca] [char](8) NOT NULL,
	[GlsMarca] [varchar](185) NOT NULL,
	[idUM] [char](8) NOT NULL,
	[GlsUM] [varchar](185) NOT NULL,
	[Factor] [decimal](14, 5) NOT NULL,
	[Cantidad] [decimal](14, 5) NOT NULL,
	[FecVencProd] [varchar](30) NOT NULL,
	[NumLote] [varchar](45) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
 CONSTRAINT [PK_recmercaderiadet_idRecMercaderia] PRIMARY KEY CLUSTERED 
(
	[idRecMercaderia] ASC,
	[item] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT (N'') FOR [idRecMercaderia]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT ((0)) FOR [Marca]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT (N'') FOR [idCodFabricante]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT (N'') FOR [GlsProducto]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT (N'') FOR [idMarca]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT (N'') FOR [GlsMarca]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT (N'') FOR [idUM]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT (N'') FOR [GlsUM]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT ((0.00000)) FOR [Factor]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT ((0.00000)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT (N'') FOR [FecVencProd]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT (N'') FOR [NumLote]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[recmercaderiadet] ADD  DEFAULT (N'') FOR [idSucursal]
GO
