USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[diferidos]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diferidos](
	[F4CHEQUE] [varchar](10) NULL,
	[F4CLIENTE] [varchar](100) NULL,
	[F4FCHVENC] [datetime2](0) NULL,
	[F4CODCTA] [smallint] NULL,
	[F4COBRA] [varchar](3) NULL,
	[F4TOTAL] [float] NULL,
	[F4NUMMOV] [int] NULL,
	[F4MONEDA] [varchar](1) NULL,
	[F4MES] [varchar](2) NULL,
	[F4DIFERIDO] [varchar](1) NULL,
	[F4DEPOSITO] [varchar](15) NULL,
	[F4CODBANCLI] [varchar](2) NULL,
	[F4NOMBANCLI] [varchar](50) NULL,
	[F4CODBANEMP] [varchar](2) NULL,
	[F4NOMBANEMP] [varchar](50) NULL,
	[FECPRG] [datetime2](0) NULL,
	[MONTO] [float] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4CHEQUE]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4CLIENTE]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4FCHVENC]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4CODCTA]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4COBRA]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4TOTAL]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4NUMMOV]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4MONEDA]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4MES]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4DIFERIDO]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4DEPOSITO]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4CODBANCLI]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4NOMBANCLI]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4CODBANEMP]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [F4NOMBANEMP]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [FECPRG]
GO
ALTER TABLE [dbo].[diferidos] ADD  DEFAULT (NULL) FOR [MONTO]
GO
