USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[retencionbandejacab]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[retencionbandejacab](
	[idEmpresa] [char](2) NOT NULL,
	[idRetencion] [varchar](8) NOT NULL,
	[Estado] [char](3) NOT NULL,
	[Fec_Emision] [date] NOT NULL,
	[ValTipoCambio] [decimal](14, 5) NOT NULL,
	[idPeriodo] [char](6) NOT NULL,
	[idMovBancosCab] [bigint] NOT NULL,
	[idCtaCorriente] [bigint] NOT NULL,
	[idProveedor] [char](8) NOT NULL,
 CONSTRAINT [PK_retencionbandejacab_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idRetencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[retencionbandejacab] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[retencionbandejacab] ADD  DEFAULT (N'') FOR [idRetencion]
GO
ALTER TABLE [dbo].[retencionbandejacab] ADD  DEFAULT (N'0') FOR [Estado]
GO
ALTER TABLE [dbo].[retencionbandejacab] ADD  DEFAULT (getdate()) FOR [Fec_Emision]
GO
ALTER TABLE [dbo].[retencionbandejacab] ADD  DEFAULT ((0.00000)) FOR [ValTipoCambio]
GO
ALTER TABLE [dbo].[retencionbandejacab] ADD  DEFAULT (N'') FOR [idPeriodo]
GO
ALTER TABLE [dbo].[retencionbandejacab] ADD  DEFAULT ((0)) FOR [idMovBancosCab]
GO
ALTER TABLE [dbo].[retencionbandejacab] ADD  DEFAULT ((0)) FOR [idCtaCorriente]
GO
ALTER TABLE [dbo].[retencionbandejacab] ADD  DEFAULT (N'') FOR [idProveedor]
GO
