USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[cuentas_no_existen]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas_no_existen](
	[IdCtaContable] [float] NULL,
	[SAV] [float] NULL,
	[CCOSTO] [varchar](255) NULL,
	[des] [varchar](255) NULL,
	[Campo5] [varchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cuentas_no_existen] ADD  DEFAULT (NULL) FOR [IdCtaContable]
GO
ALTER TABLE [dbo].[cuentas_no_existen] ADD  DEFAULT (NULL) FOR [SAV]
GO
ALTER TABLE [dbo].[cuentas_no_existen] ADD  DEFAULT (NULL) FOR [CCOSTO]
GO
ALTER TABLE [dbo].[cuentas_no_existen] ADD  DEFAULT (NULL) FOR [des]
GO
ALTER TABLE [dbo].[cuentas_no_existen] ADD  DEFAULT (NULL) FOR [Campo5]
GO
