USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[aplicactadet]    Script Date: 12/03/2026 12:24:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aplicactadet](
	[idAplicaCtaCab] [varchar](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[idEmpresa] [varchar](2) NOT NULL,
	[idSucursal] [varchar](8) NOT NULL,
	[idcta_dcto] [varchar](8) NOT NULL,
	[ValTotalOri] [decimal](14, 5) NOT NULL,
	[ValTotalApli] [decimal](14, 5) NOT NULL,
	[ValSaldo] [decimal](14, 5) NOT NULL,
	[idMoneda] [varchar](45) NOT NULL,
	[ValSaldoOri] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_aplicactadet_idAplicaCtaCab] PRIMARY KEY CLUSTERED 
(
	[idAplicaCtaCab] ASC,
	[Item] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[idcta_dcto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[aplicactadet] ADD  DEFAULT (N'') FOR [idAplicaCtaCab]
GO
ALTER TABLE [dbo].[aplicactadet] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[aplicactadet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[aplicactadet] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[aplicactadet] ADD  DEFAULT (N'') FOR [idcta_dcto]
GO
ALTER TABLE [dbo].[aplicactadet] ADD  DEFAULT ((0.00000)) FOR [ValTotalOri]
GO
ALTER TABLE [dbo].[aplicactadet] ADD  DEFAULT ((0.00000)) FOR [ValTotalApli]
GO
ALTER TABLE [dbo].[aplicactadet] ADD  DEFAULT ((0.00000)) FOR [ValSaldo]
GO
ALTER TABLE [dbo].[aplicactadet] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[aplicactadet] ADD  DEFAULT ((0.00000)) FOR [ValSaldoOri]
GO
