USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[atribucionescab]    Script Date: 12/03/2026 12:24:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[atribucionescab](
	[IdEmpresa] [char](2) NOT NULL,
	[IdSerieAtri] [char](3) NOT NULL,
	[IdDocAtri] [char](8) NOT NULL,
	[IdProveedor] [varchar](8) NOT NULL,
	[IdMoneda] [varchar](3) NOT NULL,
	[FechaEmision] [date] NOT NULL,
	[TipoCambio] [decimal](14, 5) NOT NULL,
	[ImpSubTotal] [decimal](14, 5) NOT NULL,
	[ImpIGV] [decimal](14, 5) NOT NULL,
	[ImpTotal] [decimal](14, 5) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[HoraRegistro] [time](7) NOT NULL,
	[IdUsuarioRegistro] [varchar](8) NOT NULL,
	[FechaModificacion] [date] NOT NULL,
	[HoraModificacion] [time](7) NOT NULL,
	[IdUsuarioModificacion] [varchar](8) NOT NULL,
 CONSTRAINT [PK_atribucionescab_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdDocAtri] ASC,
	[IdSerieAtri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT (N'') FOR [IdSerieAtri]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT (N'') FOR [IdDocAtri]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT (N'') FOR [IdProveedor]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT (N'') FOR [IdMoneda]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT (getdate()) FOR [FechaEmision]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT ((0.00000)) FOR [TipoCambio]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT ((0.00000)) FOR [ImpSubTotal]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT ((0.00000)) FOR [ImpIGV]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT ((0.00000)) FOR [ImpTotal]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT ('00:00:00') FOR [HoraRegistro]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT (N'') FOR [IdUsuarioRegistro]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT ('00:00:00') FOR [HoraModificacion]
GO
ALTER TABLE [dbo].[atribucionescab] ADD  DEFAULT (N'') FOR [IdUsuarioModificacion]
GO
