USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tiposmovcaja]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiposmovcaja](
	[idTipoMovCaja] [char](8) NOT NULL,
	[GlsTipoMovCaja] [varchar](185) NOT NULL,
	[indIngresoSalida] [char](1) NOT NULL,
 CONSTRAINT [PK_tiposmovcaja_idTipoMovCaja] PRIMARY KEY CLUSTERED 
(
	[idTipoMovCaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tiposmovcaja] ADD  DEFAULT (N'') FOR [idTipoMovCaja]
GO
ALTER TABLE [dbo].[tiposmovcaja] ADD  DEFAULT (N'') FOR [GlsTipoMovCaja]
GO
ALTER TABLE [dbo].[tiposmovcaja] ADD  DEFAULT (N'') FOR [indIngresoSalida]
GO
