USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[clienteslineascredito]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clienteslineascredito](
	[idEmpresa] [char](2) NOT NULL,
	[idCliente] [char](8) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[LineaCredito] [decimal](14, 5) NOT NULL,
	[FecRegistro] [datetime2](0) NOT NULL,
	[idUsuario] [char](8) NOT NULL,
 CONSTRAINT [PK_clienteslineascredito_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idCliente] ASC,
	[FecRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[clienteslineascredito] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[clienteslineascredito] ADD  DEFAULT (N'') FOR [idCliente]
GO
ALTER TABLE [dbo].[clienteslineascredito] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[clienteslineascredito] ADD  DEFAULT ((0.00000)) FOR [LineaCredito]
GO
ALTER TABLE [dbo].[clienteslineascredito] ADD  DEFAULT (getdate()) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[clienteslineascredito] ADD  DEFAULT (N'') FOR [idUsuario]
GO
