USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[hoja1]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoja1](
	[idCliente] [varchar](255) NULL,
	[IdDpto] [varchar](50) NULL,
	[IdProv] [varchar](50) NULL,
	[IdDist] [varchar](50) NULL,
	[IDdistrito] [varchar](50) NULL,
	[ruc] [varchar](255) NULL,
	[GlsPersona] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[Telefonos] [varchar](255) NULL,
	[mail] [varchar](255) NULL,
	[DISTRITO] [varchar](255) NULL,
	[VENDEDOR] [varchar](255) NULL,
	[Zona] [varchar](255) NULL,
	[IdDistANT] [varchar](50) NULL,
	[CODVENDEDOR] [varchar](50) NULL,
	[CODZONA] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [idCliente]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [IdDpto]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [IdProv]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [IdDist]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [IDdistrito]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [ruc]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [GlsPersona]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [direccion]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [Telefonos]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [mail]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [DISTRITO]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [VENDEDOR]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [Zona]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [IdDistANT]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [CODVENDEDOR]
GO
ALTER TABLE [dbo].[hoja1] ADD  DEFAULT (NULL) FOR [CODZONA]
GO
