USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[docventasdetresponsesunat]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docventasdetresponsesunat](
	[IdDocVentasDetResponseSunat] [bigint] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [char](2) NOT NULL,
	[IdSucursal] [char](8) NOT NULL,
	[IdDocumento] [char](2) NOT NULL,
	[IdSerie] [char](4) NOT NULL,
	[IdDocVentas] [char](8) NOT NULL,
	[Item] [varchar](45) NOT NULL,
	[FechaHora] [datetime2](0) NOT NULL,
	[NombreArchivo] [varchar](300) NOT NULL,
	[RutaArchivo] [varchar](300) NOT NULL,
	[SuccesSistema] [bigint] NOT NULL,
	[ErrorSistema] [varchar](1000) NOT NULL,
	[SuccesSunat] [bigint] NOT NULL,
	[SunatReferenceID] [varchar](100) NOT NULL,
	[SunatResponseCode] [varchar](100) NOT NULL,
	[SunatDescription] [varchar](1000) NOT NULL,
	[SunatTicket] [varchar](100) NOT NULL,
 CONSTRAINT [PK_docventasdetresponsesunat_IdDocVentasDetResponseSunat] PRIMARY KEY CLUSTERED 
(
	[IdDocVentasDetResponseSunat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [docventasdetresponsesunat$Index_1] UNIQUE NONCLUSTERED 
(
	[IdEmpresa] ASC,
	[IdSucursal] ASC,
	[IdDocumento] ASC,
	[IdSerie] ASC,
	[IdDocVentas] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (N'') FOR [IdSucursal]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (N'') FOR [IdDocumento]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (N'') FOR [IdSerie]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (N'') FOR [IdDocVentas]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (N'') FOR [Item]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (N'') FOR [NombreArchivo]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (N'') FOR [RutaArchivo]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT ((0)) FOR [SuccesSistema]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (N'') FOR [ErrorSistema]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT ((0)) FOR [SuccesSunat]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (N'') FOR [SunatReferenceID]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (N'') FOR [SunatResponseCode]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (N'') FOR [SunatDescription]
GO
ALTER TABLE [dbo].[docventasdetresponsesunat] ADD  DEFAULT (N'') FOR [SunatTicket]
GO
