USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[docventasdetliquidacion]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docventasdetliquidacion](
	[IdDocumento] [char](2) NOT NULL,
	[IdSerie] [char](3) NOT NULL,
	[IdDocventas] [char](8) NOT NULL,
	[IdProducto] [char](8) NOT NULL,
	[IdLiquidacion] [char](8) NOT NULL,
	[IdUPP] [char](8) NOT NULL,
	[idCamal] [char](8) NOT NULL,
	[FechaLiq] [datetime2](0) NOT NULL,
	[UnidadSaldo] [decimal](14, 5) NOT NULL,
	[Unidad] [decimal](14, 5) NOT NULL,
	[KgSaldo] [decimal](14, 5) NOT NULL,
	[Kg] [decimal](14, 5) NOT NULL,
	[KgVivo] [decimal](14, 5) NOT NULL,
	[IdEmpresa] [char](2) NOT NULL,
	[Idsucursal] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[ReKg] [decimal](14, 5) NOT NULL,
	[KgEnv] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_docventasdetliquidacion_IdDocumento] PRIMARY KEY CLUSTERED 
(
	[IdDocumento] ASC,
	[IdSerie] ASC,
	[IdDocventas] ASC,
	[IdProducto] ASC,
	[IdLiquidacion] ASC,
	[IdEmpresa] ASC,
	[Idsucursal] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT (N'') FOR [IdDocumento]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT (N'') FOR [IdSerie]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT (N'') FOR [IdDocventas]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT (N'') FOR [IdProducto]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT (N'') FOR [IdLiquidacion]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT (N'') FOR [IdUPP]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT (N'') FOR [idCamal]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT (getdate()) FOR [FechaLiq]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT ((0.00000)) FOR [UnidadSaldo]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT ((0.00000)) FOR [Unidad]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT ((0.00000)) FOR [KgSaldo]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT ((0.00000)) FOR [Kg]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT ((0.00000)) FOR [KgVivo]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT (N'') FOR [Idsucursal]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT ((0.00000)) FOR [ReKg]
GO
ALTER TABLE [dbo].[docventasdetliquidacion] ADD  DEFAULT ((0.00000)) FOR [KgEnv]
GO
