USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[compromisodet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compromisodet](
	[IdEmpresa] [char](2) NOT NULL,
	[IdCompromiso] [char](8) NOT NULL,
	[IdCuota] [bigint] NOT NULL,
	[IdCta_Dcto] [varchar](8) NOT NULL,
	[FecVenc] [date] NOT NULL,
	[ImpCapital] [decimal](14, 5) NOT NULL,
	[ImpAmortizacion] [decimal](14, 5) NOT NULL,
	[ImpInteres] [decimal](14, 5) NOT NULL,
	[ImpSeguro] [decimal](14, 5) NOT NULL,
	[ImpComPortes] [decimal](14, 5) NOT NULL,
	[ImpCuota] [decimal](14, 5) NOT NULL,
	[ImpIgv] [decimal](14, 5) NOT NULL,
	[ImpTotal] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_compromisodet_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdCompromiso] ASC,
	[IdCuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[compromisodet] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[compromisodet] ADD  DEFAULT (N'') FOR [IdCompromiso]
GO
ALTER TABLE [dbo].[compromisodet] ADD  DEFAULT ((0)) FOR [IdCuota]
GO
ALTER TABLE [dbo].[compromisodet] ADD  DEFAULT (N'') FOR [IdCta_Dcto]
GO
ALTER TABLE [dbo].[compromisodet] ADD  DEFAULT (getdate()) FOR [FecVenc]
GO
ALTER TABLE [dbo].[compromisodet] ADD  DEFAULT ((0.00000)) FOR [ImpCapital]
GO
ALTER TABLE [dbo].[compromisodet] ADD  DEFAULT ((0.00000)) FOR [ImpAmortizacion]
GO
ALTER TABLE [dbo].[compromisodet] ADD  DEFAULT ((0.00000)) FOR [ImpInteres]
GO
ALTER TABLE [dbo].[compromisodet] ADD  DEFAULT ((0.00000)) FOR [ImpSeguro]
GO
ALTER TABLE [dbo].[compromisodet] ADD  DEFAULT ((0.00000)) FOR [ImpComPortes]
GO
ALTER TABLE [dbo].[compromisodet] ADD  DEFAULT ((0.00000)) FOR [ImpCuota]
GO
ALTER TABLE [dbo].[compromisodet] ADD  DEFAULT ((0.00000)) FOR [ImpIgv]
GO
ALTER TABLE [dbo].[compromisodet] ADD  DEFAULT ((0.00000)) FOR [ImpTotal]
GO
