USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[valesconvercosteo]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[valesconvercosteo](
	[idValesConver] [char](8) NOT NULL,
	[IdEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idCosto] [char](8) NOT NULL,
	[Afecto] [char](1) NOT NULL,
	[Cantidad] [float] NOT NULL,
	[VVUnit] [decimal](14, 5) NOT NULL,
	[IGVUnit] [decimal](14, 5) NOT NULL,
	[PVUnit] [decimal](14, 5) NOT NULL,
	[TotalVVNeto] [decimal](14, 5) NOT NULL,
	[TotalIGVNeto] [decimal](14, 5) NOT NULL,
	[TotalPVNeto] [decimal](14, 5) NOT NULL,
	[idProveedor] [varchar](8) NOT NULL,
	[item] [bigint] NOT NULL,
	[idDocumentoImp] [varchar](2) NOT NULL,
	[idSerieImp] [varchar](3) NOT NULL,
	[idDocVentasImp] [varchar](8) NOT NULL,
 CONSTRAINT [PK_valesconvercosteo_idValesConver] PRIMARY KEY CLUSTERED 
(
	[idValesConver] ASC,
	[IdEmpresa] ASC,
	[idSucursal] ASC,
	[item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT (N'') FOR [idValesConver]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT (N'0.00000') FOR [idCosto]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT (N'') FOR [Afecto]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT ((0.00000)) FOR [VVUnit]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT ((0.00000)) FOR [IGVUnit]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT ((0.00000)) FOR [PVUnit]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT ((0.00000)) FOR [TotalVVNeto]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT ((0.00000)) FOR [TotalIGVNeto]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT ((0.00000)) FOR [TotalPVNeto]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT (N'') FOR [idProveedor]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT (N'') FOR [idDocumentoImp]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT (N'') FOR [idSerieImp]
GO
ALTER TABLE [dbo].[valesconvercosteo] ADD  DEFAULT (N'') FOR [idDocVentasImp]
GO
