USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[bancos]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bancos](
	[idBanco] [char](8) NOT NULL,
	[GlsBanco] [varchar](185) NOT NULL,
	[Modalidad] [char](1) NOT NULL,
	[ConLet] [decimal](14, 5) NULL,
	[idCtaContable] [varchar](12) NULL,
	[idCtaContable2] [varchar](12) NULL,
	[Detallado] [char](1) NULL,
	[Formato_Imp] [char](5) NULL,
	[AbreBanco] [varchar](10) NULL,
	[IdSunat] [varchar](10) NOT NULL,
	[IndRptCxC] [char](1) NOT NULL,
 CONSTRAINT [PK_bancos_idBanco] PRIMARY KEY CLUSTERED 
(
	[idBanco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bancos] ADD  DEFAULT (N'') FOR [idBanco]
GO
ALTER TABLE [dbo].[bancos] ADD  DEFAULT (N'') FOR [GlsBanco]
GO
ALTER TABLE [dbo].[bancos] ADD  DEFAULT (N'') FOR [Modalidad]
GO
ALTER TABLE [dbo].[bancos] ADD  DEFAULT (NULL) FOR [ConLet]
GO
ALTER TABLE [dbo].[bancos] ADD  DEFAULT (NULL) FOR [idCtaContable]
GO
ALTER TABLE [dbo].[bancos] ADD  DEFAULT (NULL) FOR [idCtaContable2]
GO
ALTER TABLE [dbo].[bancos] ADD  DEFAULT (NULL) FOR [Detallado]
GO
ALTER TABLE [dbo].[bancos] ADD  DEFAULT (NULL) FOR [Formato_Imp]
GO
ALTER TABLE [dbo].[bancos] ADD  DEFAULT (NULL) FOR [AbreBanco]
GO
ALTER TABLE [dbo].[bancos] ADD  DEFAULT (N'0') FOR [IndRptCxC]
GO
