USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[factura_detalle]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_detalle](
	[ID] [int] NULL,
	[CLVMFACT] [varchar](255) NULL,
	[CIA] [varchar](255) NULL,
	[ANNO] [varchar](255) NULL,
	[OPER] [varchar](255) NULL,
	[N_FACT] [varchar](255) NULL,
	[SECFAC] [varchar](255) NULL,
	[GRUPO] [varchar](255) NULL,
	[ALMACEN] [varchar](255) NULL,
	[ARTICULO] [varchar](255) NULL,
	[MODELO] [varchar](255) NULL,
	[UNIDAD] [varchar](255) NULL,
	[CANT] [varchar](255) NULL,
	[PRECIO] [varchar](255) NULL,
	[BRUTO] [varchar](255) NULL,
	[EXONERADO] [varchar](255) NULL,
	[V_AFECTO] [varchar](255) NULL,
	[V_INAFECTO] [varchar](255) NULL,
	[PRECIOMN] [varchar](255) NULL,
	[BRUTOMN] [varchar](255) NULL,
	[AFECTOMN] [varchar](255) NULL,
	[INAFECTOMN] [varchar](255) NULL,
	[PRECIOME] [varchar](255) NULL,
	[BRUTOME] [varchar](255) NULL,
	[AFECTOME] [varchar](255) NULL,
	[INAFECTOME] [varchar](255) NULL,
	[PRECIO_INC] [varchar](255) NULL,
	[BRUTO_INC] [varchar](255) NULL,
	[BRUTO_INCM] [varchar](255) NULL,
	[BRUTO_INC2] [varchar](255) NULL,
	[DSCT_1] [varchar](255) NULL,
	[DSCT_2] [varchar](255) NULL,
	[DSCT_3] [varchar](255) NULL,
	[DSCT_3A] [varchar](255) NULL,
	[DESC] [varchar](255) NULL,
	[DESC1] [varchar](255) NULL,
	[CUNIT_MN] [varchar](255) NULL,
	[COSTO_MN] [varchar](255) NULL,
	[CUNIT_ME] [varchar](255) NULL,
	[COSTO_ME] [varchar](255) NULL,
	[CUENTA] [varchar](255) NULL,
	[MEMO_DES] [varchar](255) NULL,
	[FLAG_DEL] [varchar](255) NULL,
	[USUARIO] [varchar](255) NULL,
	[F_PROCESO] [varchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [ID]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [CLVMFACT]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [CIA]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [ANNO]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [OPER]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [N_FACT]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [SECFAC]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [GRUPO]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [ALMACEN]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [ARTICULO]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [MODELO]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [UNIDAD]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [CANT]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [PRECIO]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [BRUTO]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [EXONERADO]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [V_AFECTO]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [V_INAFECTO]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [PRECIOMN]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [BRUTOMN]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [AFECTOMN]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [INAFECTOMN]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [PRECIOME]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [BRUTOME]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [AFECTOME]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [INAFECTOME]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [PRECIO_INC]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [BRUTO_INC]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [BRUTO_INCM]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [BRUTO_INC2]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [DSCT_1]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [DSCT_2]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [DSCT_3]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [DSCT_3A]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [DESC]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [DESC1]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [CUNIT_MN]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [COSTO_MN]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [CUNIT_ME]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [COSTO_ME]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [CUENTA]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [MEMO_DES]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [FLAG_DEL]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [USUARIO]
GO
ALTER TABLE [dbo].[factura_detalle] ADD  DEFAULT (NULL) FOR [F_PROCESO]
GO
