USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[retencionbandejadet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[retencionbandejadet](
	[idEmpresa] [char](2) NOT NULL,
	[idRetencion] [varchar](8) NOT NULL,
	[TipoDcto] [char](3) NOT NULL,
	[Serie] [varchar](4) NOT NULL,
	[Fec_Dcto] [date] NOT NULL,
	[ValTotDolares] [decimal](14, 5) NOT NULL,
	[ValTotSoles] [decimal](14, 5) NOT NULL,
	[ValTotRetencion] [decimal](14, 5) NOT NULL,
	[Numero] [varchar](12) NOT NULL,
	[ValTipoCambio] [decimal](14, 5) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[idCta_dcto] [char](8) NOT NULL,
 CONSTRAINT [PK_retencionbandejadet_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idRetencion] ASC,
	[idCta_dcto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[retencionbandejadet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[retencionbandejadet] ADD  DEFAULT (N'') FOR [idRetencion]
GO
ALTER TABLE [dbo].[retencionbandejadet] ADD  DEFAULT (N'') FOR [TipoDcto]
GO
ALTER TABLE [dbo].[retencionbandejadet] ADD  DEFAULT (N'') FOR [Serie]
GO
ALTER TABLE [dbo].[retencionbandejadet] ADD  DEFAULT (getdate()) FOR [Fec_Dcto]
GO
ALTER TABLE [dbo].[retencionbandejadet] ADD  DEFAULT ((0.00000)) FOR [ValTotDolares]
GO
ALTER TABLE [dbo].[retencionbandejadet] ADD  DEFAULT ((0.00000)) FOR [ValTotSoles]
GO
ALTER TABLE [dbo].[retencionbandejadet] ADD  DEFAULT ((0.00000)) FOR [ValTotRetencion]
GO
ALTER TABLE [dbo].[retencionbandejadet] ADD  DEFAULT (N'') FOR [Numero]
GO
ALTER TABLE [dbo].[retencionbandejadet] ADD  DEFAULT ((0.00000)) FOR [ValTipoCambio]
GO
ALTER TABLE [dbo].[retencionbandejadet] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[retencionbandejadet] ADD  DEFAULT (N'') FOR [idCta_dcto]
GO
ALTER TABLE [dbo].[retencionbandejadet]  WITH NOCHECK ADD  CONSTRAINT [retencionbandejadet$FK_RetencionBandejaDet] FOREIGN KEY([idEmpresa], [idRetencion])
REFERENCES [dbo].[retencionbandejacab] ([idEmpresa], [idRetencion])
GO
ALTER TABLE [dbo].[retencionbandejadet] CHECK CONSTRAINT [retencionbandejadet$FK_RetencionBandejaDet]
GO
