USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[opagodet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opagodet](
	[idempresa] [char](2) NOT NULL,
	[idperiodo] [char](6) NOT NULL,
	[idordenpago] [char](8) NOT NULL,
	[nro_comp] [varchar](30) NOT NULL,
	[idmonedaDocumento] [char](3) NOT NULL,
	[ValMontoOriginal] [float] NOT NULL,
	[ValTipoCambioDocumento] [float] NOT NULL,
	[valmonto] [float] NOT NULL,
	[idCta_Dcto] [char](8) NOT NULL,
	[ValTipoCambio] [float] NOT NULL,
	[Item] [int] NOT NULL,
	[idGastosIngresos] [varchar](4) NOT NULL,
	[GlsCtaCorriente] [varchar](25) NOT NULL,
	[idTalonario] [varchar](10) NOT NULL,
	[NumCheque] [varchar](20) NOT NULL,
	[idOpeBancaria] [char](2) NOT NULL,
	[ValRetencion] [decimal](14, 5) NOT NULL,
	[IdControlDetraccion] [bigint] NOT NULL,
	[IdControlPago] [bigint] NOT NULL,
 CONSTRAINT [PK_opagodet_idempresa] PRIMARY KEY CLUSTERED 
(
	[idempresa] ASC,
	[idperiodo] ASC,
	[idordenpago] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT (N'') FOR [idempresa]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT (N'') FOR [idperiodo]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT (N'0') FOR [idordenpago]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT (N'') FOR [nro_comp]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT (N'') FOR [idmonedaDocumento]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT ((0)) FOR [ValMontoOriginal]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT ((0)) FOR [ValTipoCambioDocumento]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT ((0)) FOR [valmonto]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT (N'') FOR [idCta_Dcto]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT ((0)) FOR [ValTipoCambio]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT (N'') FOR [idGastosIngresos]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT (N'') FOR [GlsCtaCorriente]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT (N'') FOR [idTalonario]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT (N'') FOR [NumCheque]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT (N'') FOR [idOpeBancaria]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT ((0.00000)) FOR [ValRetencion]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT ((0)) FOR [IdControlDetraccion]
GO
ALTER TABLE [dbo].[opagodet] ADD  DEFAULT ((0)) FOR [IdControlPago]
GO
