USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[movbancosdet_sincab]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movbancosdet_sincab](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[idMovBancosCab] [int] NOT NULL,
	[Item] [bigint] NOT NULL,
	[Periodo] [char](6) NOT NULL,
	[idCtaCorriente] [bigint] NOT NULL,
	[idCtaContable] [varchar](12) NULL,
	[glsDetalle] [varchar](150) NULL,
	[NroDocumento] [varchar](20) NULL,
	[ValMonto] [decimal](14, 5) NULL,
	[TipoCambio] [decimal](14, 5) NULL,
	[indDebHab] [char](1) NULL,
	[idTipoDocumento] [varchar](3) NULL,
	[idGastosIngresos] [varchar](12) NULL,
	[serieDocumento] [char](4) NULL,
	[idCentroCosto] [char](8) NULL,
	[idPag_MovBancos] [char](8) NULL,
	[NumMovCompras] [varchar](15) NULL,
	[RUC_DNI] [varchar](20) NULL,
	[idPag_Dcto] [char](8) NULL,
	[idCtaCorrienteRec] [char](8) NULL,
	[idMovBancosCabRec] [char](8) NULL,
	[idEmpresa] [char](2) NOT NULL,
	[FecEmision] [datetime2](0) NULL,
	[FecVencPrestamo] [varchar](30) NOT NULL,
	[ValTotRetencion] [decimal](14, 5) NOT NULL,
	[ValTipoCambioOp] [decimal](14, 5) NOT NULL,
	[idCta_Dcto_Ret] [char](8) NOT NULL,
	[ValMontoOri] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_movbancosdet_sincab_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT ((0)) FOR [idMovBancosCab]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT ((0)) FOR [idCtaCorriente]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [idCtaContable]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [glsDetalle]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [NroDocumento]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [ValMonto]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [TipoCambio]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [indDebHab]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [idTipoDocumento]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [idGastosIngresos]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [serieDocumento]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [idCentroCosto]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [idPag_MovBancos]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [NumMovCompras]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [RUC_DNI]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [idPag_Dcto]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [idCtaCorrienteRec]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [idMovBancosCabRec]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (NULL) FOR [FecEmision]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (N'') FOR [FecVencPrestamo]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT ((0.00000)) FOR [ValTotRetencion]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT ((0.00000)) FOR [ValTipoCambioOp]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT (N'') FOR [idCta_Dcto_Ret]
GO
ALTER TABLE [dbo].[movbancosdet_sincab] ADD  DEFAULT ((0.00000)) FOR [ValMontoOri]
GO
