USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[valesconver]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[valesconver](
	[idValesConver] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[FecRegistro] [datetime2](0) NOT NULL,
	[idAlmacenOrigen] [char](8) NOT NULL,
	[idAlmacenDestino] [char](8) NOT NULL,
	[idValeIngreso] [char](8) NOT NULL,
	[idValeSalida] [char](8) NOT NULL,
	[GlsObs] [varchar](185) NOT NULL,
	[estValeConver] [char](3) NOT NULL,
	[idMoneda] [char](8) NOT NULL,
	[IdCentroCosto] [varchar](8) NULL,
	[IndCierre] [varchar](1) NULL,
	[FecSalida] [datetime2](0) NOT NULL,
	[FecIngreso] [datetime2](0) NOT NULL,
	[GlsDocReferencia] [varchar](250) NOT NULL,
	[IdReceta] [varchar](8) NOT NULL,
	[FactorReceta] [float] NOT NULL,
 CONSTRAINT [PK_valesconver_idValesConver] PRIMARY KEY CLUSTERED 
(
	[idValesConver] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (N'') FOR [idValesConver]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (getdate()) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (N'') FOR [idAlmacenOrigen]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (N'') FOR [idAlmacenDestino]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (N'') FOR [idValeIngreso]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (N'') FOR [idValeSalida]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (N'') FOR [GlsObs]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (N'GEN') FOR [estValeConver]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (NULL) FOR [IdCentroCosto]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (NULL) FOR [IndCierre]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (getdate()) FOR [FecSalida]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (getdate()) FOR [FecIngreso]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (N'') FOR [GlsDocReferencia]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT (N'') FOR [IdReceta]
GO
ALTER TABLE [dbo].[valesconver] ADD  DEFAULT ((0)) FOR [FactorReceta]
GO
