USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[activoscompras]    Script Date: 12/03/2026 12:24:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activoscompras](
	[IdEmpresa] [char](2) NOT NULL,
	[IdCodActivo] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[OrigenActivo] [char](1) NOT NULL,
	[IdProveedor] [varchar](8) NOT NULL,
	[Annio_Mov] [varchar](4) NOT NULL,
	[IdMesMov] [varchar](2) NOT NULL,
	[IdNumMov] [varchar](8) NOT NULL,
	[TipoDcto] [varchar](2) NOT NULL,
	[IdSerieDcto] [varchar](4) NOT NULL,
	[NumDcto] [varchar](20) NOT NULL,
	[FechaMov] [date] NOT NULL,
	[ValTipoCambio] [decimal](14, 5) NOT NULL,
	[IdMoneda] [varchar](3) NOT NULL,
	[MtoImponible] [decimal](14, 5) NOT NULL,
	[MtoIgv] [decimal](14, 5) NOT NULL,
	[IndIgvCosto] [char](1) NOT NULL,
	[MtoTotal] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_activoscompras_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdCodActivo] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT (N'') FOR [IdCodActivo]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT (N'') FOR [OrigenActivo]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT (N'') FOR [IdProveedor]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT (N'') FOR [Annio_Mov]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT (N'') FOR [IdMesMov]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT (N'') FOR [IdNumMov]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT (N'') FOR [TipoDcto]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT (N'') FOR [IdSerieDcto]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT (N'') FOR [NumDcto]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT (getdate()) FOR [FechaMov]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT ((0.00000)) FOR [ValTipoCambio]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT (N'') FOR [IdMoneda]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT ((0.00000)) FOR [MtoImponible]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT ((0.00000)) FOR [MtoIgv]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT (N'') FOR [IndIgvCosto]
GO
ALTER TABLE [dbo].[activoscompras] ADD  DEFAULT ((0.00000)) FOR [MtoTotal]
GO
