USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[lotes]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lotes](
	[idLote] [varchar](8) NOT NULL,
	[GlsLote] [varchar](255) NOT NULL,
	[Estado] [varchar](3) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [varchar](8) NOT NULL,
	[TipoVale] [char](1) NOT NULL,
	[IdValesCab] [varchar](8) NOT NULL,
	[FechaLote] [date] NOT NULL,
 CONSTRAINT [PK_lotes_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[lotes] ADD  DEFAULT (N'') FOR [idLote]
GO
ALTER TABLE [dbo].[lotes] ADD  DEFAULT (N'') FOR [GlsLote]
GO
ALTER TABLE [dbo].[lotes] ADD  DEFAULT (N'') FOR [Estado]
GO
ALTER TABLE [dbo].[lotes] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[lotes] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[lotes] ADD  DEFAULT (N'') FOR [TipoVale]
GO
ALTER TABLE [dbo].[lotes] ADD  DEFAULT (N'') FOR [IdValesCab]
GO
ALTER TABLE [dbo].[lotes] ADD  DEFAULT (getdate()) FOR [FechaLote]
GO
