USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[regisofi_log]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regisofi_log](
	[idMesMov] [varchar](2) NOT NULL,
	[idNumMov] [varchar](8) NOT NULL,
	[idProveedor] [varchar](8) NULL,
	[GlsProveedor] [varchar](100) NULL,
	[DireccionProveedor] [varchar](200) NULL,
	[RucProveedor] [varchar](11) NULL,
	[TipoDcto] [varchar](2) NULL,
	[idSerieDcto] [varchar](4) NULL,
	[NumDcto] [varchar](20) NULL,
	[FechaMov] [datetime2](0) NULL,
	[idMoneda] [varchar](3) NULL,
	[ValTipoCambio] [float] NULL,
	[Observacion] [varchar](100) NULL,
	[MtoImponible] [float] NULL,
	[MtoExonerado] [float] NULL,
	[MtoIGV] [float] NULL,
	[MtoOtrosImp] [float] NULL,
	[MtoTotal] [float] NULL,
	[idForma_pago] [varchar](30) NULL,
	[Fec_Vcto] [datetime2](0) NULL,
	[MtoRetencion] [float] NULL,
	[indTransferido] [varchar](1) NULL,
	[NumPoliza] [varchar](20) NULL,
	[CodIGV] [varchar](3) NULL,
	[MtoRedSuma] [float] NULL,
	[MtoRedResta] [float] NULL,
	[MtoDcto] [float] NULL,
	[ValPorcIGV] [int] NULL,
	[F4AJUSTE_EXONERADO] [varchar](50) NULL,
	[NroCompServicios] [varchar](20) NULL,
	[WAL] [varchar](1) NULL,
	[indDetraccion] [varchar](1) NULL,
	[IdDetraccion] [varchar](5) NULL,
	[valPorc_Detraccion] [float] NULL,
	[MtoIES] [float] NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[Annio_Mov] [varchar](4) NOT NULL,
	[Item_Log] [bigint] NOT NULL,
 CONSTRAINT [PK_regisofi_log_idMesMov] PRIMARY KEY CLUSTERED 
(
	[idMesMov] ASC,
	[idNumMov] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[Annio_Mov] ASC,
	[Item_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (N'') FOR [idMesMov]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (N'') FOR [idNumMov]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [idProveedor]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [GlsProveedor]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [DireccionProveedor]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [RucProveedor]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [TipoDcto]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [idSerieDcto]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [NumDcto]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [FechaMov]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [idMoneda]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [ValTipoCambio]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [Observacion]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [MtoImponible]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [MtoExonerado]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [MtoIGV]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [MtoOtrosImp]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [MtoTotal]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [idForma_pago]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [Fec_Vcto]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [MtoRetencion]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [indTransferido]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [NumPoliza]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [CodIGV]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [MtoRedSuma]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [MtoRedResta]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [MtoDcto]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [ValPorcIGV]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [F4AJUSTE_EXONERADO]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [NroCompServicios]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [WAL]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [indDetraccion]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [IdDetraccion]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [valPorc_Detraccion]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (NULL) FOR [MtoIES]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT (N'') FOR [Annio_Mov]
GO
ALTER TABLE [dbo].[regisofi_log] ADD  DEFAULT ((0)) FOR [Item_Log]
GO
