USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tiposdecambio]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiposdecambio](
	[fecha] [date] NOT NULL,
	[tcFacturacion] [decimal](14, 5) NOT NULL,
	[tcVenta] [decimal](14, 5) NOT NULL,
	[tcCompra] [decimal](14, 5) NOT NULL,
	[tcCompraC] [decimal](14, 5) NOT NULL,
	[tcVentaSBS] [decimal](14, 5) NOT NULL,
	[tcCompraSBS] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_tiposdecambio_fecha] PRIMARY KEY CLUSTERED 
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tiposdecambio] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[tiposdecambio] ADD  DEFAULT ((0.00000)) FOR [tcFacturacion]
GO
ALTER TABLE [dbo].[tiposdecambio] ADD  DEFAULT ((0.00000)) FOR [tcVenta]
GO
ALTER TABLE [dbo].[tiposdecambio] ADD  DEFAULT ((0.00000)) FOR [tcCompra]
GO
ALTER TABLE [dbo].[tiposdecambio] ADD  DEFAULT ((0.00000)) FOR [tcCompraC]
GO
ALTER TABLE [dbo].[tiposdecambio] ADD  DEFAULT ((0.00000)) FOR [tcVentaSBS]
GO
ALTER TABLE [dbo].[tiposdecambio] ADD  DEFAULT ((0.00000)) FOR [tcCompraSBS]
GO
