USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[recmercaderia]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recmercaderia](
	[idRecMercaderia] [char](8) NOT NULL,
	[FecEmision] [date] NOT NULL,
	[FecEnvio] [date] NOT NULL,
	[idAlmacen] [char](8) NOT NULL,
	[idVendedor] [char](8) NOT NULL,
	[ObsRecMercaderia] [varchar](255) NOT NULL,
	[GlsDocReferencia] [varchar](85) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[estRecMercaderia] [char](3) NOT NULL,
	[numVale] [char](8) NOT NULL,
	[idMotivoTraslado] [char](8) NOT NULL,
 CONSTRAINT [PK_recmercaderia_idRecMercaderia] PRIMARY KEY CLUSTERED 
(
	[idRecMercaderia] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[recmercaderia] ADD  DEFAULT (N'') FOR [idRecMercaderia]
GO
ALTER TABLE [dbo].[recmercaderia] ADD  DEFAULT (getdate()) FOR [FecEmision]
GO
ALTER TABLE [dbo].[recmercaderia] ADD  DEFAULT (getdate()) FOR [FecEnvio]
GO
ALTER TABLE [dbo].[recmercaderia] ADD  DEFAULT (N'') FOR [idAlmacen]
GO
ALTER TABLE [dbo].[recmercaderia] ADD  DEFAULT (N'') FOR [idVendedor]
GO
ALTER TABLE [dbo].[recmercaderia] ADD  DEFAULT (N'') FOR [ObsRecMercaderia]
GO
ALTER TABLE [dbo].[recmercaderia] ADD  DEFAULT (N'') FOR [GlsDocReferencia]
GO
ALTER TABLE [dbo].[recmercaderia] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[recmercaderia] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[recmercaderia] ADD  DEFAULT (N'GEN') FOR [estRecMercaderia]
GO
ALTER TABLE [dbo].[recmercaderia] ADD  DEFAULT (N'') FOR [numVale]
GO
ALTER TABLE [dbo].[recmercaderia] ADD  DEFAULT (N'') FOR [idMotivoTraslado]
GO
