USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[talonarios]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[talonarios](
	[idCtaCorriente] [bigint] NOT NULL,
	[idTalonario] [bigint] NOT NULL,
	[NumChqIni] [bigint] NULL,
	[NumChqFin] [bigint] NULL,
	[TotalCheques] [bigint] NULL,
	[FecApertura] [datetime2](0) NULL,
	[CantChqGirado] [bigint] NULL,
	[CantChqAnulado] [bigint] NULL,
	[UltNumChq] [bigint] NULL,
	[Tipo] [char](1) NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idUsuarioReg] [char](8) NOT NULL,
	[FechaReg] [datetime2](0) NOT NULL,
	[indValida] [bigint] NOT NULL,
 CONSTRAINT [PK_talonarios_idCtaCorriente] PRIMARY KEY CLUSTERED 
(
	[idCtaCorriente] ASC,
	[idTalonario] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT ((0)) FOR [idCtaCorriente]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT ((0)) FOR [idTalonario]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT (NULL) FOR [NumChqIni]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT (NULL) FOR [NumChqFin]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT (NULL) FOR [TotalCheques]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT (NULL) FOR [FecApertura]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT (NULL) FOR [CantChqGirado]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT (NULL) FOR [CantChqAnulado]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT (NULL) FOR [UltNumChq]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT (NULL) FOR [Tipo]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT (N'') FOR [idUsuarioReg]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT (getdate()) FOR [FechaReg]
GO
ALTER TABLE [dbo].[talonarios] ADD  DEFAULT ((1)) FOR [indValida]
GO
