USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[activosmov]    Script Date: 12/03/2026 12:24:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activosmov](
	[IdEmpresa] [char](8) NOT NULL,
	[IndActivo] [char](1) NOT NULL,
	[idCodActivo] [char](8) NOT NULL,
	[item] [bigint] NOT NULL,
	[idcodunegocio] [char](8) NULL,
	[idcentrocosto] [char](8) NULL,
	[idsucursal] [char](8) NOT NULL,
	[codUbicacion] [char](5) NULL,
	[idresponsable] [char](8) NULL,
	[fechaMov] [datetime2](0) NULL,
	[codmtraslado] [char](5) NULL,
	[indAprobado] [char](1) NULL,
	[glsObservacion] [varchar](100) NULL,
 CONSTRAINT [PK_activosmov_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[idCodActivo] ASC,
	[item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activosmov] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[activosmov] ADD  DEFAULT (N'0') FOR [IndActivo]
GO
ALTER TABLE [dbo].[activosmov] ADD  DEFAULT (N'') FOR [idCodActivo]
GO
ALTER TABLE [dbo].[activosmov] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[activosmov] ADD  DEFAULT (NULL) FOR [idcodunegocio]
GO
ALTER TABLE [dbo].[activosmov] ADD  DEFAULT (NULL) FOR [idcentrocosto]
GO
ALTER TABLE [dbo].[activosmov] ADD  DEFAULT (N'') FOR [idsucursal]
GO
ALTER TABLE [dbo].[activosmov] ADD  DEFAULT (NULL) FOR [codUbicacion]
GO
ALTER TABLE [dbo].[activosmov] ADD  DEFAULT (NULL) FOR [idresponsable]
GO
ALTER TABLE [dbo].[activosmov] ADD  DEFAULT (NULL) FOR [fechaMov]
GO
ALTER TABLE [dbo].[activosmov] ADD  DEFAULT (NULL) FOR [codmtraslado]
GO
ALTER TABLE [dbo].[activosmov] ADD  DEFAULT (NULL) FOR [indAprobado]
GO
ALTER TABLE [dbo].[activosmov] ADD  DEFAULT (NULL) FOR [glsObservacion]
GO
