USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[estructurareportes]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estructurareportes](
	[idTipoEstruc] [char](2) NOT NULL,
	[GlsEstruc] [varchar](255) NOT NULL,
 CONSTRAINT [PK_estructurareportes_idTipoEstruc] PRIMARY KEY CLUSTERED 
(
	[idTipoEstruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[estructurareportes] ADD  DEFAULT (N'') FOR [idTipoEstruc]
GO
ALTER TABLE [dbo].[estructurareportes] ADD  DEFAULT (N'') FOR [GlsEstruc]
GO
