USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[retencioncab]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[retencioncab](
	[idEmpresa] [char](2) NOT NULL,
	[idSerie] [char](4) NOT NULL,
	[idComprobante] [varchar](8) NOT NULL,
	[idProveedor] [varchar](8) NULL,
	[Fec_Emision] [date] NOT NULL,
	[Estado] [char](3) NOT NULL,
	[ValTipoCambio] [decimal](14, 5) NOT NULL,
	[idComprobanteCont] [varchar](45) NOT NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
	[IdUsuarioRegistro] [varchar](8) NOT NULL,
	[IdAplicaPagCab] [varchar](8) NOT NULL,
	[idPeriodo] [varchar](6) NOT NULL,
	[idMovBancosCab] [bigint] NOT NULL,
	[idCtaCorriente] [bigint] NOT NULL,
 CONSTRAINT [PK_retencioncab_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idComprobante] ASC,
	[idSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[retencioncab] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[retencioncab] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[retencioncab] ADD  DEFAULT (N'') FOR [idComprobante]
GO
ALTER TABLE [dbo].[retencioncab] ADD  DEFAULT (NULL) FOR [idProveedor]
GO
ALTER TABLE [dbo].[retencioncab] ADD  DEFAULT (getdate()) FOR [Fec_Emision]
GO
ALTER TABLE [dbo].[retencioncab] ADD  DEFAULT (N'') FOR [Estado]
GO
ALTER TABLE [dbo].[retencioncab] ADD  DEFAULT ((0.00000)) FOR [ValTipoCambio]
GO
ALTER TABLE [dbo].[retencioncab] ADD  DEFAULT (N'') FOR [idComprobanteCont]
GO
ALTER TABLE [dbo].[retencioncab] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[retencioncab] ADD  DEFAULT (N'') FOR [IdUsuarioRegistro]
GO
ALTER TABLE [dbo].[retencioncab] ADD  DEFAULT (N'') FOR [IdAplicaPagCab]
GO
