USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[productos_apimas]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos_apimas](
	[ID] [int] NULL,
	[Familia] [varchar](255) NULL,
	[SubFamilia] [varchar](255) NULL,
	[Categoria] [varchar](255) NULL,
	[PRODUCTO] [varchar](255) NULL,
	[DESCRIPCION] [varchar](255) NULL,
	[MARCA] [varchar](255) NULL,
	[Codigo_Fabricante] [varchar](255) NULL,
	[Unidad_Medida] [varchar](255) NULL,
	[Afecto_IGV] [varchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[productos_apimas] ADD  DEFAULT (NULL) FOR [ID]
GO
ALTER TABLE [dbo].[productos_apimas] ADD  DEFAULT (NULL) FOR [Familia]
GO
ALTER TABLE [dbo].[productos_apimas] ADD  DEFAULT (NULL) FOR [SubFamilia]
GO
ALTER TABLE [dbo].[productos_apimas] ADD  DEFAULT (NULL) FOR [Categoria]
GO
ALTER TABLE [dbo].[productos_apimas] ADD  DEFAULT (NULL) FOR [PRODUCTO]
GO
ALTER TABLE [dbo].[productos_apimas] ADD  DEFAULT (NULL) FOR [DESCRIPCION]
GO
ALTER TABLE [dbo].[productos_apimas] ADD  DEFAULT (NULL) FOR [MARCA]
GO
ALTER TABLE [dbo].[productos_apimas] ADD  DEFAULT (NULL) FOR [Codigo_Fabricante]
GO
ALTER TABLE [dbo].[productos_apimas] ADD  DEFAULT (NULL) FOR [Unidad_Medida]
GO
ALTER TABLE [dbo].[productos_apimas] ADD  DEFAULT (NULL) FOR [Afecto_IGV]
GO
