USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[distrito_zona]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[distrito_zona](
	[distrito] [varchar](50) NULL,
	[zona] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[distrito_zona] ADD  DEFAULT (NULL) FOR [distrito]
GO
ALTER TABLE [dbo].[distrito_zona] ADD  DEFAULT (NULL) FOR [zona]
GO
