USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[personal]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personal](
	[IdEmpresa] [char](2) NOT NULL,
	[IdPersona] [varchar](8) NOT NULL,
	[IndPersonal] [char](1) NOT NULL,
	[IndSocio] [char](1) NOT NULL,
 CONSTRAINT [PK_personal_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[personal] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[personal] ADD  DEFAULT (N'') FOR [IdPersona]
GO
ALTER TABLE [dbo].[personal] ADD  DEFAULT (N'') FOR [IndPersonal]
GO
ALTER TABLE [dbo].[personal] ADD  DEFAULT (N'') FOR [IndSocio]
GO
