USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[valescab_log]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[valescab_log](
	[idValesCab] [char](8) NOT NULL,
	[tipoVale] [char](1) NOT NULL,
	[fechaEmision] [datetime2](0) NULL,
	[valorTotal] [decimal](14, 5) NULL,
	[igvTotal] [decimal](14, 5) NULL,
	[precioTotal] [decimal](14, 5) NULL,
	[idProvCliente] [char](8) NULL,
	[idConcepto] [char](2) NULL,
	[idAlmacen] [char](8) NULL,
	[obsValesCab] [varchar](500) NULL,
	[idMoneda] [varchar](5) NULL,
	[GlsDocReferencia] [varchar](85) NULL,
	[TipoCambio] [decimal](14, 5) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[estValeCab] [char](3) NOT NULL,
	[idPeriodoInv] [char](8) NOT NULL,
	[idCentroCosto] [char](8) NOT NULL,
	[codAnula] [char](5) NULL,
	[obsAnulacion] [varchar](200) NULL,
	[fecAnulacion] [datetime2](0) NULL,
	[usuAnula] [varchar](45) NULL,
	[IdValeTemp] [varchar](8) NULL,
	[TipoValeRef] [varchar](1) NULL,
	[IdValesCabRef] [varchar](8) NULL,
	[idUsuarioRegistro] [char](8) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[HoraRegistro] [time](7) NOT NULL,
	[IdUsuarioModificacion] [char](8) NOT NULL,
	[FechaModificacion] [date] NOT NULL,
	[HoraModificacion] [time](7) NOT NULL,
	[IdUsuarioAnulacion] [char](8) NOT NULL,
	[FechaAnulacion] [date] NOT NULL,
	[HoraEliminacion] [time](7) NOT NULL,
	[Item_Log] [bigint] NOT NULL,
	[GlsPCLog] [varchar](100) NOT NULL,
	[GlsPCUsuarioLog] [varchar](100) NOT NULL,
	[idPerTran] [varchar](8) NULL,
	[FecDatTran] [date] NULL,
	[ObsDatTran] [varchar](200) NULL,
	[IdUsuarioEliminacion] [varchar](8) NOT NULL,
	[FechaEliminacion] [date] NOT NULL,
	[HoraAnulacion] [time](7) NOT NULL,
 CONSTRAINT [PK_valescab_log_idValesCab] PRIMARY KEY CLUSTERED 
(
	[idValesCab] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[tipoVale] ASC,
	[Item_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (N'') FOR [tipoVale]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [fechaEmision]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [valorTotal]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [igvTotal]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [precioTotal]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [idProvCliente]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [idConcepto]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [idAlmacen]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [obsValesCab]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [idMoneda]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [GlsDocReferencia]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT ((0.00000)) FOR [TipoCambio]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (N'GEN') FOR [estValeCab]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (N'') FOR [idPeriodoInv]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (N'') FOR [idCentroCosto]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [codAnula]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [obsAnulacion]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [fecAnulacion]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [usuAnula]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [IdValeTemp]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [TipoValeRef]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [IdValesCabRef]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (N'') FOR [idUsuarioRegistro]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT ('00:00:00') FOR [HoraRegistro]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (N'') FOR [IdUsuarioModificacion]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT ('00:00:00') FOR [HoraModificacion]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (N'') FOR [IdUsuarioAnulacion]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (getdate()) FOR [FechaAnulacion]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT ('00:00:00') FOR [HoraEliminacion]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT ((0)) FOR [Item_Log]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (N'') FOR [GlsPCLog]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (N'') FOR [GlsPCUsuarioLog]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [idPerTran]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [FecDatTran]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (NULL) FOR [ObsDatTran]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (N'') FOR [IdUsuarioEliminacion]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT (getdate()) FOR [FechaEliminacion]
GO
ALTER TABLE [dbo].[valescab_log] ADD  DEFAULT ('00:00:00') FOR [HoraAnulacion]
GO
