USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[formula]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formula](
	[idProducto] [char](8) NOT NULL,
	[idProductoFormula] [char](8) NOT NULL,
	[Cantidad] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_formula_idProducto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[formula] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[formula] ADD  DEFAULT (N'') FOR [idProductoFormula]
GO
ALTER TABLE [dbo].[formula] ADD  DEFAULT ((0.00000)) FOR [Cantidad]
GO
