USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[docreferenciadet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docreferenciadet](
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[TipoDocOrigen] [char](2) NOT NULL,
	[SerieDocOrigen] [char](4) NOT NULL,
	[NumDocOrigen] [char](8) NOT NULL,
	[TipoDocReferencia] [char](2) NOT NULL,
	[SerieDocReferencia] [char](4) NOT NULL,
	[NumDocReferencia] [char](8) NOT NULL,
	[item] [bigint] NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[Cantidad] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_docreferenciadet_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[item] ASC,
	[TipoDocOrigen] ASC,
	[SerieDocOrigen] ASC,
	[NumDocOrigen] ASC,
	[TipoDocReferencia] ASC,
	[SerieDocReferencia] ASC,
	[NumDocReferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[docreferenciadet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[docreferenciadet] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[docreferenciadet] ADD  DEFAULT (N'') FOR [TipoDocOrigen]
GO
ALTER TABLE [dbo].[docreferenciadet] ADD  DEFAULT (N'') FOR [SerieDocOrigen]
GO
ALTER TABLE [dbo].[docreferenciadet] ADD  DEFAULT (N'') FOR [NumDocOrigen]
GO
ALTER TABLE [dbo].[docreferenciadet] ADD  DEFAULT (N'') FOR [TipoDocReferencia]
GO
ALTER TABLE [dbo].[docreferenciadet] ADD  DEFAULT (N'') FOR [SerieDocReferencia]
GO
ALTER TABLE [dbo].[docreferenciadet] ADD  DEFAULT (N'') FOR [NumDocReferencia]
GO
ALTER TABLE [dbo].[docreferenciadet] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[docreferenciadet] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[docreferenciadet] ADD  DEFAULT ((0.00000)) FOR [Cantidad]
GO
