USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[formulasdet]    Script Date: 12/03/2026 12:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formulasdet](
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[item] [bigint] NOT NULL,
	[idFormulasCab] [char](8) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[glsProducto] [varchar](200) NOT NULL,
	[idUM] [char](8) NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_formulasdet_item] PRIMARY KEY CLUSTERED 
(
	[item] ASC,
	[idFormulasCab] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[formulasdet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[formulasdet] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[formulasdet] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[formulasdet] ADD  DEFAULT (N'') FOR [idFormulasCab]
GO
ALTER TABLE [dbo].[formulasdet] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[formulasdet] ADD  DEFAULT (N'') FOR [glsProducto]
GO
ALTER TABLE [dbo].[formulasdet] ADD  DEFAULT (N'') FOR [idUM]
GO
ALTER TABLE [dbo].[formulasdet] ADD  DEFAULT ((0.00)) FOR [cantidad]
GO
