USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[produccioncab]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produccioncab](
	[idEmpresa] [char](2) NOT NULL,
	[idProduccion] [char](8) NOT NULL,
	[FechaReg] [date] NOT NULL,
	[idTurno] [char](8) NOT NULL,
	[UsuarioReg] [char](100) NOT NULL,
	[Observacion] [varchar](45) NOT NULL,
	[UsuarioMod] [char](100) NOT NULL,
	[Fechamod] [date] NOT NULL,
	[FecEmision] [date] NOT NULL,
	[HoraReg] [time](7) NOT NULL,
	[HoraMod] [time](7) NOT NULL,
	[IdValesCabI] [char](8) NOT NULL,
	[IdValesCabS] [char](8) NOT NULL,
	[indCerrado] [bigint] NOT NULL,
	[FecCierre] [date] NOT NULL,
	[IndEstado] [bigint] NOT NULL,
 CONSTRAINT [PK_produccioncab_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idProduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT (N'') FOR [idProduccion]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT (getdate()) FOR [FechaReg]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT (N'') FOR [idTurno]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT (N'') FOR [UsuarioReg]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT (N'') FOR [Observacion]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT (N'') FOR [UsuarioMod]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT (getdate()) FOR [Fechamod]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT (getdate()) FOR [FecEmision]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT ('00:00:00') FOR [HoraReg]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT ('00:00:00') FOR [HoraMod]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT (N'') FOR [IdValesCabI]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT (N'') FOR [IdValesCabS]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT ((0)) FOR [indCerrado]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT (getdate()) FOR [FecCierre]
GO
ALTER TABLE [dbo].[produccioncab] ADD  DEFAULT ((0)) FOR [IndEstado]
GO
