USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[docventasliqdet]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docventasliqdet](
	[IdEmpresa] [char](2) NOT NULL,
	[IdSucursal] [char](8) NOT NULL,
	[IdLiquidacion] [char](8) NOT NULL,
	[FechaGuia] [datetime2](0) NOT NULL,
	[SerieGuia] [char](3) NOT NULL,
	[NumGuia] [char](8) NOT NULL,
	[ValCantidad] [decimal](14, 5) NOT NULL,
	[ValPesovivo] [decimal](14, 5) NOT NULL,
	[idUpp] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
 CONSTRAINT [PK_docventasliqdet_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdSucursal] ASC,
	[IdLiquidacion] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[docventasliqdet] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[docventasliqdet] ADD  DEFAULT (N'') FOR [IdSucursal]
GO
ALTER TABLE [dbo].[docventasliqdet] ADD  DEFAULT (N'') FOR [IdLiquidacion]
GO
ALTER TABLE [dbo].[docventasliqdet] ADD  DEFAULT (getdate()) FOR [FechaGuia]
GO
ALTER TABLE [dbo].[docventasliqdet] ADD  DEFAULT (N'') FOR [SerieGuia]
GO
ALTER TABLE [dbo].[docventasliqdet] ADD  DEFAULT (N'') FOR [NumGuia]
GO
ALTER TABLE [dbo].[docventasliqdet] ADD  DEFAULT ((0.00000)) FOR [ValCantidad]
GO
ALTER TABLE [dbo].[docventasliqdet] ADD  DEFAULT ((0.00000)) FOR [ValPesovivo]
GO
ALTER TABLE [dbo].[docventasliqdet] ADD  DEFAULT (N'') FOR [idUpp]
GO
ALTER TABLE [dbo].[docventasliqdet] ADD  DEFAULT ((0)) FOR [Item]
GO
