USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[ubigeo]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ubigeo](
	[idDistrito] [varchar](6) NOT NULL,
	[idDpto] [varchar](2) NULL,
	[idProv] [varchar](2) NULL,
	[idDist] [varchar](2) NULL,
	[GlsUbigeo] [varchar](250) NULL,
	[estUbigeo] [varchar](1) NOT NULL,
	[idPais] [varchar](5) NOT NULL,
	[idZona] [char](8) NULL,
 CONSTRAINT [PK_ubigeo_idDistrito] PRIMARY KEY CLUSTERED 
(
	[idDistrito] ASC,
	[idPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ubigeo] ADD  DEFAULT (NULL) FOR [idDpto]
GO
ALTER TABLE [dbo].[ubigeo] ADD  DEFAULT (NULL) FOR [idProv]
GO
ALTER TABLE [dbo].[ubigeo] ADD  DEFAULT (NULL) FOR [idDist]
GO
ALTER TABLE [dbo].[ubigeo] ADD  DEFAULT (NULL) FOR [GlsUbigeo]
GO
ALTER TABLE [dbo].[ubigeo] ADD  DEFAULT (N'0') FOR [estUbigeo]
GO
ALTER TABLE [dbo].[ubigeo] ADD  DEFAULT (N'') FOR [idPais]
GO
ALTER TABLE [dbo].[ubigeo] ADD  DEFAULT (NULL) FOR [idZona]
GO
