USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[idCliente] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idVendedorCampo] [char](8) NOT NULL,
	[idEmpTrans] [char](8) NOT NULL,
	[idLista] [char](8) NULL,
	[idFormaPago] [char](8) NULL,
	[Val_LineaCredito] [decimal](14, 5) NULL,
	[indAgenteRetencion] [bigint] NOT NULL,
	[Val_LineaCreditoConsumida] [decimal](14, 5) NOT NULL,
	[idMonedaLineaCredito] [char](3) NULL,
	[Val_Dscto] [decimal](14, 5) NOT NULL,
	[idClienteInterno] [varchar](45) NOT NULL,
	[idCanal] [char](8) NULL,
	[indventasterceros] [bigint] NOT NULL,
	[idGrupoCliente] [char](2) NOT NULL,
	[idProvCliente] [varchar](45) NOT NULL,
	[GlsObservacion] [varchar](45) NOT NULL,
	[indComision] [bigint] NOT NULL,
	[IndAnula] [bigint] NOT NULL,
	[IndPercepcion] [bigint] NOT NULL,
	[IndBnContribuyente] [bigint] NOT NULL,
	[IndEspecial] [bigint] NOT NULL,
 CONSTRAINT [PK_clientes_idCliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (N'') FOR [idCliente]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (N'') FOR [idVendedorCampo]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (N'') FOR [idEmpTrans]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (NULL) FOR [idLista]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (NULL) FOR [idFormaPago]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (NULL) FOR [Val_LineaCredito]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((0)) FOR [indAgenteRetencion]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((0.00000)) FOR [Val_LineaCreditoConsumida]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (NULL) FOR [idMonedaLineaCredito]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((0.00000)) FOR [Val_Dscto]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (N'') FOR [idClienteInterno]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (NULL) FOR [idCanal]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((0)) FOR [indventasterceros]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (N'') FOR [idGrupoCliente]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (N'') FOR [idProvCliente]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (N'') FOR [GlsObservacion]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((0)) FOR [indComision]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((0)) FOR [IndAnula]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((0)) FOR [IndPercepcion]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((0)) FOR [IndBnContribuyente]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((0)) FOR [IndEspecial]
GO
