USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tiposdocidentidad]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiposdocidentidad](
	[IdTipoDocIdentidad] [char](1) NOT NULL,
	[GlsTipoDocIdentidad] [varchar](150) NOT NULL,
	[Longitud] [bigint] NOT NULL,
 CONSTRAINT [PK_tiposdocidentidad_IdTipoDocIdentidad] PRIMARY KEY CLUSTERED 
(
	[IdTipoDocIdentidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tiposdocidentidad] ADD  DEFAULT (N'') FOR [IdTipoDocIdentidad]
GO
ALTER TABLE [dbo].[tiposdocidentidad] ADD  DEFAULT (N'') FOR [GlsTipoDocIdentidad]
GO
ALTER TABLE [dbo].[tiposdocidentidad] ADD  DEFAULT ((0)) FOR [Longitud]
GO
