USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[seriesdocumento]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seriesdocumento](
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idDocumento] [char](2) NOT NULL,
	[idSerie] [char](3) NOT NULL,
	[item] [bigint] NOT NULL,
	[numRegMaximo] [bigint] NOT NULL,
	[espacioLineasImp] [bigint] NOT NULL,
	[indTransferencia] [char](1) NULL,
 CONSTRAINT [PK_seriesdocumento_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[seriesdocumento] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[seriesdocumento] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[seriesdocumento] ADD  DEFAULT (N'') FOR [idDocumento]
GO
ALTER TABLE [dbo].[seriesdocumento] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[seriesdocumento] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[seriesdocumento] ADD  DEFAULT ((0)) FOR [numRegMaximo]
GO
ALTER TABLE [dbo].[seriesdocumento] ADD  DEFAULT ((0)) FOR [espacioLineasImp]
GO
ALTER TABLE [dbo].[seriesdocumento] ADD  DEFAULT (NULL) FOR [indTransferencia]
GO
