USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[comisionxvendedor]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comisionxvendedor](
	[item] [bigint] NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idVendedor] [char](8) NOT NULL,
	[PeriodoIni] [char](6) NOT NULL,
	[PeriodoFin] [char](6) NOT NULL,
	[Monto1] [float] NOT NULL,
	[Monto2] [float] NOT NULL,
	[Porcentaje1] [float] NOT NULL,
	[Porcentaje2] [float] NOT NULL,
	[Porcentaje3] [float] NOT NULL,
	[IndJefe] [varchar](8) NULL,
 CONSTRAINT [PK_comisionxvendedor_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idVendedor] ASC,
	[item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comisionxvendedor] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[comisionxvendedor] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[comisionxvendedor] ADD  DEFAULT (N'') FOR [idVendedor]
GO
ALTER TABLE [dbo].[comisionxvendedor] ADD  DEFAULT (N'') FOR [PeriodoIni]
GO
ALTER TABLE [dbo].[comisionxvendedor] ADD  DEFAULT (N'') FOR [PeriodoFin]
GO
ALTER TABLE [dbo].[comisionxvendedor] ADD  DEFAULT ((0)) FOR [Monto1]
GO
ALTER TABLE [dbo].[comisionxvendedor] ADD  DEFAULT ((0)) FOR [Monto2]
GO
ALTER TABLE [dbo].[comisionxvendedor] ADD  DEFAULT ((0)) FOR [Porcentaje1]
GO
ALTER TABLE [dbo].[comisionxvendedor] ADD  DEFAULT ((0)) FOR [Porcentaje2]
GO
ALTER TABLE [dbo].[comisionxvendedor] ADD  DEFAULT ((0)) FOR [Porcentaje3]
GO
ALTER TABLE [dbo].[comisionxvendedor] ADD  DEFAULT (NULL) FOR [IndJefe]
GO
