USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[centroscostoant]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centroscostoant](
	[idCentroCosto] [char](8) NOT NULL,
	[GlsCentroCosto] [varchar](185) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[IndEstado] [char](1) NOT NULL,
	[Gerencia] [varchar](50) NULL,
	[Area] [varchar](50) NULL,
	[idcodunegocio] [varchar](8) NOT NULL,
	[IndGenerado] [varchar](1) NOT NULL,
	[AbrevCcosto] [varchar](45) NOT NULL,
	[idCliente] [char](8) NULL,
	[FechaInicio] [datetime2](0) NULL,
	[FechaFin] [datetime2](0) NULL,
	[Drywall] [float] NOT NULL,
	[DrywallP] [float] NOT NULL,
	[Aio] [float] NOT NULL,
	[AioP] [float] NOT NULL,
	[Muebles] [float] NOT NULL,
	[MueblesP] [float] NOT NULL,
	[Administracion] [float] NOT NULL,
	[AdministracionP] [float] NOT NULL,
	[Proyectos] [float] NOT NULL,
	[ProyectosP] [float] NOT NULL,
	[Otros] [float] NOT NULL,
	[OtrosP] [float] NOT NULL,
	[PrecioVta] [float] NOT NULL,
	[IgvVta] [float] NOT NULL,
	[TotalVta] [float] NOT NULL,
	[NoLeer] [char](1) NULL,
	[Moneda] [char](4) NULL,
	[Material0] [float] NOT NULL,
	[MaterialIgv0] [float] NOT NULL,
	[MaterialTotal0] [float] NOT NULL,
	[ManoObra0] [float] NOT NULL,
	[ManoObraIgv0] [float] NOT NULL,
	[ManoObraTotal0] [float] NOT NULL,
	[EquipoHerr0] [float] NOT NULL,
	[EquipoHerrIgv0] [float] NOT NULL,
	[EquipoHerrTotal0] [float] NOT NULL,
	[SubContrata0] [float] NOT NULL,
	[SubContrataIgv0] [float] NOT NULL,
	[SubContrataTotal0] [float] NOT NULL,
	[GastoGnral0] [float] NOT NULL,
	[GastoGnralIgv0] [float] NOT NULL,
	[GastoGnralTotal0] [float] NOT NULL,
	[Parcial0] [float] NOT NULL,
	[Igv0] [float] NOT NULL,
	[Total0] [float] NOT NULL,
	[UtilProy0] [float] NOT NULL,
	[UtilProyIgv0] [float] NOT NULL,
	[UtilProyTotal0] [float] NOT NULL,
	[UtilProyPor0] [float] NOT NULL,
	[Material1] [float] NOT NULL,
	[MaterialIgv1] [float] NOT NULL,
	[MaterialTotal1] [float] NOT NULL,
	[ManoObra1] [float] NOT NULL,
	[ManoObraIgv1] [float] NOT NULL,
	[ManoObraTotal1] [float] NOT NULL,
	[EquipoHerr1] [float] NOT NULL,
	[EquipoHerrIgv1] [float] NOT NULL,
	[EquipoHerrTotal1] [float] NOT NULL,
	[SubContrata1] [float] NOT NULL,
	[SubContrataIgv1] [float] NOT NULL,
	[SubContrataTotal1] [float] NOT NULL,
	[GastoGnral1] [float] NOT NULL,
	[GastoGnralIgv1] [float] NOT NULL,
	[GastoGnralTotal1] [float] NOT NULL,
	[Parcial1] [float] NOT NULL,
	[Igv1] [float] NOT NULL,
	[Total1] [float] NOT NULL,
	[UtilProy1] [float] NOT NULL,
	[UtilProyIgv1] [float] NOT NULL,
	[UtilProyTotal1] [float] NOT NULL,
	[UtilProyPor1] [float] NOT NULL,
	[IgvPor] [float] NOT NULL,
	[FechaReg] [datetime2](0) NULL,
	[FechaCierre] [varchar](45) NULL,
 CONSTRAINT [PK_centroscostoant_idCentroCosto] PRIMARY KEY CLUSTERED 
(
	[idCentroCosto] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (N'') FOR [idCentroCosto]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (N'') FOR [GlsCentroCosto]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (N'') FOR [IndEstado]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (NULL) FOR [Gerencia]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (NULL) FOR [Area]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (N'') FOR [idcodunegocio]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (N'') FOR [IndGenerado]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (N'') FOR [AbrevCcosto]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (N'0') FOR [idCliente]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (NULL) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (NULL) FOR [FechaFin]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Drywall]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [DrywallP]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Aio]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [AioP]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Muebles]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [MueblesP]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Administracion]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [AdministracionP]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Proyectos]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [ProyectosP]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Otros]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [OtrosP]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [PrecioVta]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [IgvVta]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [TotalVta]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (NULL) FOR [NoLeer]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (NULL) FOR [Moneda]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Material0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [MaterialIgv0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [MaterialTotal0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [ManoObra0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [ManoObraIgv0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [ManoObraTotal0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [EquipoHerr0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [EquipoHerrIgv0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [EquipoHerrTotal0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [SubContrata0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [SubContrataIgv0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [SubContrataTotal0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [GastoGnral0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [GastoGnralIgv0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [GastoGnralTotal0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Parcial0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Igv0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Total0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [UtilProy0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [UtilProyIgv0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [UtilProyTotal0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [UtilProyPor0]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Material1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [MaterialIgv1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [MaterialTotal1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [ManoObra1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [ManoObraIgv1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [ManoObraTotal1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [EquipoHerr1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [EquipoHerrIgv1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [EquipoHerrTotal1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [SubContrata1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [SubContrataIgv1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [SubContrataTotal1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [GastoGnral1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [GastoGnralIgv1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [GastoGnralTotal1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Parcial1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Igv1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [Total1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [UtilProy1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [UtilProyIgv1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [UtilProyTotal1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((0)) FOR [UtilProyPor1]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT ((1)) FOR [IgvPor]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (NULL) FOR [FechaReg]
GO
ALTER TABLE [dbo].[centroscostoant] ADD  DEFAULT (NULL) FOR [FechaCierre]
GO
