USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[retenciondet_log]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[retenciondet_log](
	[IdEmpresa] [char](2) NOT NULL,
	[IdComprobante] [varchar](8) NOT NULL,
	[TipoDcto] [char](3) NOT NULL,
	[Serie] [varchar](4) NOT NULL,
	[Numero] [varchar](12) NOT NULL,
	[Fec_Dcto] [date] NOT NULL,
	[ValTotDolares] [decimal](14, 5) NOT NULL,
	[ValTotSoles] [decimal](14, 5) NOT NULL,
	[ValTotRetencion] [decimal](14, 5) NOT NULL,
	[IdMoneda] [char](3) NOT NULL,
	[Item] [bigint] NOT NULL,
	[IdRetencion] [char](8) NOT NULL,
	[IdSerie] [char](4) NOT NULL,
	[ValTotOriSoles] [decimal](14, 5) NOT NULL,
	[IdCta_Dcto] [char](8) NOT NULL,
	[IdCta_Dcto_Doc] [char](8) NOT NULL,
	[ItemLog] [bigint] NOT NULL,
 CONSTRAINT [PK_retenciondet_log_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdComprobante] ASC,
	[Item] ASC,
	[IdSerie] ASC,
	[IdCta_Dcto] ASC,
	[ItemLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT (N'') FOR [IdComprobante]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT (N'') FOR [TipoDcto]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT (N'') FOR [Serie]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT (N'') FOR [Numero]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT (getdate()) FOR [Fec_Dcto]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT ((0.00000)) FOR [ValTotDolares]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT ((0.00000)) FOR [ValTotSoles]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT ((0.00000)) FOR [ValTotRetencion]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT (N'') FOR [IdMoneda]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT (N'') FOR [IdRetencion]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT (N'') FOR [IdSerie]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT ((0.00000)) FOR [ValTotOriSoles]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT (N'') FOR [IdCta_Dcto]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT (N'') FOR [IdCta_Dcto_Doc]
GO
ALTER TABLE [dbo].[retenciondet_log] ADD  DEFAULT ((0)) FOR [ItemLog]
GO
