USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[movbancoscab]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movbancoscab](
	[idCtaCorriente] [bigint] NOT NULL,
	[idMovBancosCab] [bigint] NOT NULL,
	[idOpeBancaria] [char](2) NULL,
	[Nro_Comp] [varchar](20) NULL,
	[Detalle] [varchar](255) NULL,
	[FecEmision] [datetime2](0) NULL,
	[idTalonario] [bigint] NULL,
	[Destino] [varchar](1) NULL,
	[TotalCab] [decimal](14, 5) NULL,
	[TotalDet] [decimal](14, 5) NULL,
	[indContable] [char](1) NULL,
	[indConciliado] [char](1) NULL,
	[estMovBancos] [char](3) NULL,
	[FechaMod] [datetime2](0) NULL,
	[idUsuarioMod] [char](8) NULL,
	[GiradoA] [varchar](100) NULL,
	[indPendiente] [char](1) NULL,
	[TipoCambio] [decimal](14, 5) NULL,
	[Observacion1] [varchar](255) NULL,
	[Observacion2] [varchar](255) NULL,
	[idPendiente] [char](2) NULL,
	[idCliProv] [char](8) NULL,
	[idCtaCorrienteEmi] [bigint] NULL,
	[idMovBancosCabEmi] [int] NULL,
	[idCtaCorrienteRec] [bigint] NULL,
	[idMovBancosCabRec] [int] NULL,
	[indChqEntregado] [char](1) NULL,
	[FecVcto_ChqDif] [datetime2](0) NULL,
	[NroComp_Conta] [varchar](10) NULL,
	[NroOrden_Pago] [char](8) NULL,
	[FecChqEntregado] [datetime2](0) NULL,
	[idUsuarioReg] [char](8) NOT NULL,
	[FechaReg] [datetime2](0) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[Periodo] [char](6) NOT NULL,
	[Fecha1] [datetime2](0) NULL,
	[Fecha2] [datetime2](0) NULL,
	[idNumPlanilla] [char](8) NOT NULL,
	[indDiferido] [bigint] NOT NULL,
	[indCxD] [char](1) NOT NULL,
	[MontoComision] [decimal](14, 5) NOT NULL,
	[IdUsuarioComision] [varchar](8) NOT NULL,
	[FechaComision] [datetime2](0) NULL,
	[MontoAjuste] [decimal](14, 5) NOT NULL,
	[IdUsuarioAjuste] [varchar](8) NOT NULL,
	[FechaAjuste] [datetime2](0) NULL,
	[IdAutoDetraccion] [varchar](8) NOT NULL,
	[indContableFin] [char](1) NOT NULL,
	[NumCaja] [bigint] NULL,
	[idcomprobante] [varchar](9) NOT NULL,
	[TipoImportacion] [char](1) NOT NULL,
	[IdTienda] [varchar](2) NOT NULL,
 CONSTRAINT [PK_movbancoscab_idCtaCorriente] PRIMARY KEY CLUSTERED 
(
	[idCtaCorriente] ASC,
	[idMovBancosCab] ASC,
	[idEmpresa] ASC,
	[Periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT ((0)) FOR [idCtaCorriente]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT ((0)) FOR [idMovBancosCab]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [idOpeBancaria]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [Nro_Comp]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [Detalle]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [FecEmision]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [idTalonario]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [Destino]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [TotalCab]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [TotalDet]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [indContable]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [indConciliado]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [estMovBancos]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [FechaMod]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [idUsuarioMod]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [GiradoA]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [indPendiente]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [TipoCambio]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [Observacion1]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [Observacion2]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [idPendiente]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [idCliProv]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [idCtaCorrienteEmi]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [idMovBancosCabEmi]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [idCtaCorrienteRec]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [idMovBancosCabRec]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [indChqEntregado]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [FecVcto_ChqDif]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [NroComp_Conta]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [NroOrden_Pago]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [FecChqEntregado]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (N'') FOR [idUsuarioReg]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (getdate()) FOR [FechaReg]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (N'') FOR [Periodo]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [Fecha1]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [Fecha2]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (N'') FOR [idNumPlanilla]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT ((0)) FOR [indDiferido]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (N'') FOR [indCxD]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT ((0.00000)) FOR [MontoComision]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (N'') FOR [IdUsuarioComision]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [FechaComision]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT ((0.00000)) FOR [MontoAjuste]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (N'') FOR [IdUsuarioAjuste]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [FechaAjuste]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (N'') FOR [IdAutoDetraccion]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (N'') FOR [indContableFin]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (NULL) FOR [NumCaja]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (N'') FOR [idcomprobante]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (N'') FOR [TipoImportacion]
GO
ALTER TABLE [dbo].[movbancoscab] ADD  DEFAULT (N'') FOR [IdTienda]
GO
