USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[perfil]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil](
	[idPerfil] [char](8) NOT NULL,
	[GlsPerfil] [varchar](185) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[CodSistema] [char](2) NOT NULL,
 CONSTRAINT [PK_perfil_idPerfil] PRIMARY KEY CLUSTERED 
(
	[idPerfil] ASC,
	[idEmpresa] ASC,
	[CodSistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[perfil] ADD  DEFAULT (N'') FOR [idPerfil]
GO
ALTER TABLE [dbo].[perfil] ADD  DEFAULT (N'') FOR [GlsPerfil]
GO
ALTER TABLE [dbo].[perfil] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[perfil] ADD  DEFAULT (N'') FOR [CodSistema]
GO
