USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[personas_k]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas_k](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[idPersona] [char](8) NOT NULL,
	[GlsPersona] [varchar](255) NOT NULL,
	[apellidoPaterno] [varchar](255) NOT NULL,
	[apellidoMaterno] [varchar](255) NOT NULL,
	[nombres] [varchar](255) NOT NULL,
	[tipoPersona] [char](5) NOT NULL,
	[ruc] [varchar](20) NOT NULL,
	[idDistrito] [char](6) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[direccionEntrega] [varchar](185) NOT NULL,
	[IdPais] [char](5) NOT NULL,
	[IdTipoDocIdentidad] [char](1) NOT NULL,
 CONSTRAINT [PK_personas_k_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[idPersona] ASC,
	[IdPais] ASC,
	[ruc] ASC,
	[idDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[personas_k] ADD  DEFAULT (N'') FOR [idPersona]
GO
ALTER TABLE [dbo].[personas_k] ADD  DEFAULT (N'') FOR [GlsPersona]
GO
ALTER TABLE [dbo].[personas_k] ADD  DEFAULT (N'') FOR [apellidoPaterno]
GO
ALTER TABLE [dbo].[personas_k] ADD  DEFAULT (N'') FOR [apellidoMaterno]
GO
ALTER TABLE [dbo].[personas_k] ADD  DEFAULT (N'') FOR [nombres]
GO
ALTER TABLE [dbo].[personas_k] ADD  DEFAULT (N'') FOR [tipoPersona]
GO
ALTER TABLE [dbo].[personas_k] ADD  DEFAULT (N'') FOR [ruc]
GO
ALTER TABLE [dbo].[personas_k] ADD  DEFAULT (N'') FOR [idDistrito]
GO
ALTER TABLE [dbo].[personas_k] ADD  DEFAULT (N'') FOR [direccion]
GO
ALTER TABLE [dbo].[personas_k] ADD  DEFAULT (N'') FOR [direccionEntrega]
GO
ALTER TABLE [dbo].[personas_k] ADD  DEFAULT (N'') FOR [IdPais]
GO
ALTER TABLE [dbo].[personas_k] ADD  DEFAULT (N'') FOR [IdTipoDocIdentidad]
GO
