USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[cta_dcto]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cta_dcto](
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idCta_Dcto] [char](8) NOT NULL,
	[idSucursalCobro] [char](8) NOT NULL,
	[indViaIngreso] [bigint] NOT NULL,
	[Nro_Comp] [varchar](45) NOT NULL,
	[Fec_Comp] [datetime2](0) NOT NULL,
	[Fec_Vcto] [datetime2](0) NOT NULL,
	[idCliente] [char](8) NOT NULL,
	[idClienteOri] [char](8) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[idMonedaOri] [char](3) NOT NULL,
	[ValTipoCambio] [decimal](14, 5) NOT NULL,
	[ValTipoCambioOri] [decimal](14, 5) NOT NULL,
	[ValTotal] [decimal](14, 5) NOT NULL,
	[ValTotalOri] [decimal](14, 5) NOT NULL,
	[ValSaldo] [decimal](14, 5) NOT NULL,
	[indDeb_Hab] [char](1) NOT NULL,
	[GlsReferencia] [varchar](2000) NOT NULL,
	[idCobrador] [char](8) NOT NULL,
	[idPlanillaCob] [char](8) NOT NULL,
	[NroDeposito] [varchar](25) NOT NULL,
	[idBanco] [char](8) NOT NULL,
	[idVendedor] [char](8) NULL,
	[CodCliAnt] [char](8) NULL,
	[CodVendAnt] [char](8) NULL,
	[idCta_Plani] [varchar](8) NOT NULL,
	[idCtaCorriente] [bigint] NOT NULL,
	[idMovBancosCab] [bigint] NOT NULL,
	[Periodo] [char](6) NOT NULL,
	[Fecha1] [datetime2](0) NULL,
	[Fecha2] [datetime2](0) NULL,
	[Monto1] [decimal](15, 4) NULL,
	[Monto2] [decimal](15, 4) NULL,
	[Observacion] [varchar](200) NULL,
	[idCentroCosto] [char](8) NULL,
	[idTipoDcto] [char](5) NOT NULL,
	[TipoProducto] [varchar](max) NULL,
	[FecIngresoBanco] [date] NOT NULL,
	[Rgto_Bco] [varchar](45) NOT NULL,
	[idCta_DctoAnt] [varchar](45) NOT NULL,
	[Fec_EntMensajero] [date] NULL,
	[Fec_Recepcion] [date] NULL,
 CONSTRAINT [PK_cta_dcto_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idCta_Dcto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [idCta_Dcto]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [idSucursalCobro]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT ((0)) FOR [indViaIngreso]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [Nro_Comp]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (getdate()) FOR [Fec_Comp]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (getdate()) FOR [Fec_Vcto]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [idCliente]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [idClienteOri]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [idMonedaOri]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT ((0.00000)) FOR [ValTipoCambio]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT ((0.00000)) FOR [ValTipoCambioOri]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT ((0.00000)) FOR [ValTotal]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT ((0.00000)) FOR [ValTotalOri]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT ((0.00000)) FOR [ValSaldo]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [indDeb_Hab]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [GlsReferencia]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [idCobrador]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [idPlanillaCob]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [NroDeposito]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [idBanco]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (NULL) FOR [idVendedor]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (NULL) FOR [CodCliAnt]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (NULL) FOR [CodVendAnt]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [idCta_Plani]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT ((0)) FOR [idCtaCorriente]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT ((0)) FOR [idMovBancosCab]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [Periodo]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (NULL) FOR [Fecha1]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (NULL) FOR [Fecha2]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (NULL) FOR [Monto1]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (NULL) FOR [Monto2]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (NULL) FOR [Observacion]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (NULL) FOR [idCentroCosto]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'22001') FOR [idTipoDcto]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (getdate()) FOR [FecIngresoBanco]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [Rgto_Bco]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (N'') FOR [idCta_DctoAnt]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (NULL) FOR [Fec_EntMensajero]
GO
ALTER TABLE [dbo].[cta_dcto] ADD  DEFAULT (NULL) FOR [Fec_Recepcion]
GO
