USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[parametrosdaot]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parametrosdaot](
	[idAnnoDAOT] [char](4) NOT NULL,
	[TotalDAOT] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_parametrosdaot_idAnnoDAOT] PRIMARY KEY CLUSTERED 
(
	[idAnnoDAOT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[parametrosdaot] ADD  DEFAULT (N'') FOR [idAnnoDAOT]
GO
ALTER TABLE [dbo].[parametrosdaot] ADD  DEFAULT ((0.00000)) FOR [TotalDAOT]
GO
