USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[operacionesbancarias]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operacionesbancarias](
	[idOpeBancaria] [char](2) NOT NULL,
	[idOpeIngreso] [char](2) NULL,
	[idCtaContable] [varchar](12) NULL,
	[Destino] [char](1) NULL,
	[indMarche] [char](1) NULL,
	[AbreDocumento] [varchar](4) NULL,
	[Tipo] [varchar](200) NULL,
	[idTipoOpeBancaria] [char](1) NULL,
	[indTranConta] [char](1) NULL,
	[CodGasto] [varchar](4) NULL,
	[TipoOperacion] [char](1) NULL,
	[indDiferido] [char](1) NULL,
	[indChqDevuelto] [char](1) NULL,
	[indLetras_Pagar] [char](1) NULL,
	[DEP_CANC_NC] [char](1) NULL,
	[indRetencion] [char](1) NULL,
	[indDetraccion] [char](1) NULL,
	[indAutomatico] [char](1) NULL,
	[indCta_Pagar] [char](1) NULL,
	[indPagare] [char](1) NULL,
	[indRestringir] [char](1) NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idUsuarioReg] [char](8) NOT NULL,
	[FechaReg] [datetime2](0) NOT NULL,
	[IdAnno] [varchar](4) NOT NULL,
	[idSunat] [varchar](45) NOT NULL,
 CONSTRAINT [PK_operacionesbancarias_idOpeBancaria] PRIMARY KEY CLUSTERED 
(
	[idOpeBancaria] ASC,
	[idEmpresa] ASC,
	[IdAnno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (N'') FOR [idOpeBancaria]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [idOpeIngreso]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [idCtaContable]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [Destino]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [indMarche]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [AbreDocumento]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [Tipo]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [idTipoOpeBancaria]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [indTranConta]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [CodGasto]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [TipoOperacion]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [indDiferido]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [indChqDevuelto]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [indLetras_Pagar]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [DEP_CANC_NC]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [indRetencion]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [indDetraccion]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [indAutomatico]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [indCta_Pagar]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [indPagare]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (NULL) FOR [indRestringir]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (N'') FOR [idUsuarioReg]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (getdate()) FOR [FechaReg]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (N'') FOR [IdAnno]
GO
ALTER TABLE [dbo].[operacionesbancarias] ADD  DEFAULT (N'') FOR [idSunat]
GO
