USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[pasesdocvenc]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pasesdocvenc](
	[IdEmpresa] [char](2) NOT NULL,
	[IdCliente] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[IdUsuarioReg] [varchar](8) NOT NULL,
	[IdUsuarioPase] [varchar](8) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[GlsPC] [varchar](100) NOT NULL,
	[GlsPCUsuario] [varchar](100) NOT NULL,
 CONSTRAINT [PK_pasesdocvenc_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdCliente] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pasesdocvenc] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[pasesdocvenc] ADD  DEFAULT (N'') FOR [IdCliente]
GO
ALTER TABLE [dbo].[pasesdocvenc] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[pasesdocvenc] ADD  DEFAULT (N'') FOR [IdUsuarioReg]
GO
ALTER TABLE [dbo].[pasesdocvenc] ADD  DEFAULT (N'') FOR [IdUsuarioPase]
GO
ALTER TABLE [dbo].[pasesdocvenc] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[pasesdocvenc] ADD  DEFAULT ('00:00:00') FOR [Hora]
GO
ALTER TABLE [dbo].[pasesdocvenc] ADD  DEFAULT (N'') FOR [GlsPC]
GO
ALTER TABLE [dbo].[pasesdocvenc] ADD  DEFAULT (N'') FOR [GlsPCUsuario]
GO
