USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[factura_cabecera_np]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_cabecera_np](
	[ID] [int] NULL,
	[clvfact] [varchar](255) NULL,
	[CIA] [varchar](255) NULL,
	[ANNO] [varchar](255) NULL,
	[OPER] [varchar](255) NULL,
	[N_FACT] [varchar](255) NULL,
	[FECHA] [datetime2](0) NULL,
	[CLIENTE] [varchar](255) NULL,
	[SUCURSAL] [varchar](255) NULL,
	[CONVTA] [varchar](255) NULL,
	[VEND] [varchar](255) NULL,
	[VENCE] [varchar](255) NULL,
	[IGV] [float] NULL,
	[DCT1] [float] NULL,
	[DCT2] [float] NULL,
	[ITEM_DP] [varchar](255) NULL,
	[V_BRUTO] [float] NULL,
	[V_DESCTOIT] [varchar](255) NULL,
	[V_DESCTO] [varchar](255) NULL,
	[V_VENTA] [float] NULL,
	[V_FLETE] [float] NULL,
	[V_IGV] [float] NULL,
	[V_REDON] [float] NULL,
	[V_TOTAL] [float] NULL,
	[MONEDA] [float] NULL,
	[V_BRUTOMN] [varchar](255) NULL,
	[V_DESCTMN] [varchar](255) NULL,
	[V_AFECTO] [varchar](255) NULL,
	[V_INAFECTO] [varchar](255) NULL,
	[V_AFECTOMN] [varchar](255) NULL,
	[V_INAFECT2] [varchar](255) NULL,
	[V_VENTAMN] [varchar](255) NULL,
	[V_FLETEMN] [varchar](255) NULL,
	[V_IGVMN] [varchar](255) NULL,
	[V_REDONMN] [varchar](255) NULL,
	[V_TOTALMN] [varchar](255) NULL,
	[V_BRUTOME] [varchar](255) NULL,
	[V_DESCTME] [varchar](255) NULL,
	[V_AFECTOME] [varchar](255) NULL,
	[V_INAFECT3] [varchar](255) NULL,
	[V_VENTAME] [varchar](255) NULL,
	[V_FLETEME] [varchar](255) NULL,
	[V_IGVME] [varchar](255) NULL,
	[V_REDONME] [varchar](255) NULL,
	[V_TOTALME] [varchar](255) NULL,
	[SERIE_DOC] [varchar](255) NULL,
	[ANULA_DOC] [varchar](255) NULL,
	[XTRANSA] [varchar](255) NULL,
	[OCOMPRA] [varchar](255) NULL,
	[OPE_REFER] [varchar](255) NULL,
	[DOC_REFER] [varchar](255) NULL,
	[FEC_REFER] [varchar](255) NULL,
	[TC_REFER] [varchar](255) NULL,
	[T_CAMBIO] [varchar](255) NULL,
	[CANAL] [varchar](255) NULL,
	[T_DOC] [varchar](255) NULL,
	[REGMASTER] [varchar](255) NULL,
	[XFILE] [varchar](255) NULL,
	[VOUCHERS] [varchar](255) NULL,
	[FACTURACIO] [varchar](255) NULL,
	[GRUPO] [varchar](255) NULL,
	[MOTIVO] [varchar](255) NULL,
	[REF_NCND] [varchar](255) NULL,
	[CANJE1] [varchar](255) NULL,
	[CANJE2] [varchar](255) NULL,
	[CANJE3] [varchar](255) NULL,
	[CANJE4] [varchar](255) NULL,
	[CANJE5] [varchar](255) NULL,
	[CANJE6] [varchar](255) NULL,
	[CANJE7] [varchar](255) NULL,
	[CANJE8] [varchar](255) NULL,
	[CANJE9] [varchar](255) NULL,
	[VVV] [varchar](255) NULL,
	[CCC] [varchar](255) NULL,
	[DOM_ENTREG] [varchar](255) NULL,
	[DIS_ENTREG] [varchar](255) NULL,
	[OFICIAL] [varchar](255) NULL,
	[FOFICIAL] [varchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [ID]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [clvfact]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CIA]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [ANNO]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [OPER]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [N_FACT]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [FECHA]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CLIENTE]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [SUCURSAL]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CONVTA]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [VEND]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [VENCE]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [IGV]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [DCT1]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [DCT2]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [ITEM_DP]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_BRUTO]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_DESCTOIT]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_DESCTO]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_VENTA]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_FLETE]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_IGV]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_REDON]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_TOTAL]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [MONEDA]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_BRUTOMN]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_DESCTMN]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_AFECTO]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_INAFECTO]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_AFECTOMN]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_INAFECT2]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_VENTAMN]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_FLETEMN]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_IGVMN]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_REDONMN]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_TOTALMN]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_BRUTOME]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_DESCTME]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_AFECTOME]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_INAFECT3]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_VENTAME]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_FLETEME]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_IGVME]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_REDONME]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [V_TOTALME]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [SERIE_DOC]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [ANULA_DOC]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [XTRANSA]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [OCOMPRA]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [OPE_REFER]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [DOC_REFER]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [FEC_REFER]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [TC_REFER]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [T_CAMBIO]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CANAL]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [T_DOC]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [REGMASTER]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [XFILE]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [VOUCHERS]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [FACTURACIO]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [GRUPO]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [MOTIVO]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [REF_NCND]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CANJE1]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CANJE2]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CANJE3]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CANJE4]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CANJE5]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CANJE6]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CANJE7]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CANJE8]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CANJE9]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [VVV]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [CCC]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [DOM_ENTREG]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [DIS_ENTREG]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [OFICIAL]
GO
ALTER TABLE [dbo].[factura_cabecera_np] ADD  DEFAULT (NULL) FOR [FOFICIAL]
GO
