USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[gastosventadet]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gastosventadet](
	[item] [bigint] NOT NULL,
	[idCodGastoVenta] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idCliente] [char](8) NOT NULL,
	[ruc] [char](12) NULL,
	[NroDocumento] [char](100) NULL,
	[ValImporte] [decimal](14, 5) NULL,
	[GlsCliente] [varchar](300) NOT NULL,
 CONSTRAINT [PK_gastosventadet_item] PRIMARY KEY CLUSTERED 
(
	[item] ASC,
	[idCodGastoVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[gastosventadet] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[gastosventadet] ADD  DEFAULT (N'') FOR [idCodGastoVenta]
GO
ALTER TABLE [dbo].[gastosventadet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[gastosventadet] ADD  DEFAULT (N'') FOR [idCliente]
GO
ALTER TABLE [dbo].[gastosventadet] ADD  DEFAULT (NULL) FOR [ruc]
GO
ALTER TABLE [dbo].[gastosventadet] ADD  DEFAULT (NULL) FOR [NroDocumento]
GO
ALTER TABLE [dbo].[gastosventadet] ADD  DEFAULT (NULL) FOR [ValImporte]
GO
ALTER TABLE [dbo].[gastosventadet] ADD  DEFAULT (N'') FOR [GlsCliente]
GO
