USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[autodetraccioncab]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autodetraccioncab](
	[IdEmpresa] [char](2) NOT NULL,
	[IdAutoDetraccion] [char](8) NOT NULL,
	[Fecha] [datetime2](0) NOT NULL,
	[PeriodoBancos] [varchar](6) NULL,
	[IdCtaCorrienteOri] [bigint] NULL,
	[IdMovBancosCabOri] [bigint] NULL,
	[IdCtaCorrienteDes] [bigint] NULL,
	[IdMovBancosCabDes] [bigint] NULL,
	[IdSucursal] [varchar](8) NOT NULL,
 CONSTRAINT [PK_autodetraccioncab_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdAutoDetraccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[autodetraccioncab] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[autodetraccioncab] ADD  DEFAULT (N'') FOR [IdAutoDetraccion]
GO
ALTER TABLE [dbo].[autodetraccioncab] ADD  DEFAULT ('1900-01-01 00:00:00.000000') FOR [Fecha]
GO
ALTER TABLE [dbo].[autodetraccioncab] ADD  DEFAULT (NULL) FOR [PeriodoBancos]
GO
ALTER TABLE [dbo].[autodetraccioncab] ADD  DEFAULT (NULL) FOR [IdCtaCorrienteOri]
GO
ALTER TABLE [dbo].[autodetraccioncab] ADD  DEFAULT (NULL) FOR [IdMovBancosCabOri]
GO
ALTER TABLE [dbo].[autodetraccioncab] ADD  DEFAULT (NULL) FOR [IdCtaCorrienteDes]
GO
ALTER TABLE [dbo].[autodetraccioncab] ADD  DEFAULT (NULL) FOR [IdMovBancosCabDes]
GO
ALTER TABLE [dbo].[autodetraccioncab] ADD  DEFAULT (N'') FOR [IdSucursal]
GO
