USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[planillaperdet]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planillaperdet](
	[idEmpresa] [varchar](2) NOT NULL,
	[idSucursal] [varchar](8) NOT NULL,
	[idPlanillaPer] [varchar](8) NOT NULL,
	[NroComp_Per] [varchar](200) NULL,
	[Fec_Comp] [datetime2](0) NULL,
	[idMoneda] [varchar](8) NULL,
	[Mto_Per] [decimal](14, 5) NOT NULL,
	[item] [bigint] NOT NULL,
	[idPeriodo] [char](6) NOT NULL,
	[Mto_PerS] [decimal](14, 5) NOT NULL,
	[Mto_AplicacionS] [decimal](14, 5) NOT NULL,
	[Mto_SaldoS] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_planillaperdet_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[idPlanillaPer] ASC,
	[item] ASC,
	[idPeriodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[planillaperdet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[planillaperdet] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[planillaperdet] ADD  DEFAULT (N'') FOR [idPlanillaPer]
GO
ALTER TABLE [dbo].[planillaperdet] ADD  DEFAULT (NULL) FOR [NroComp_Per]
GO
ALTER TABLE [dbo].[planillaperdet] ADD  DEFAULT (NULL) FOR [Fec_Comp]
GO
ALTER TABLE [dbo].[planillaperdet] ADD  DEFAULT (NULL) FOR [idMoneda]
GO
ALTER TABLE [dbo].[planillaperdet] ADD  DEFAULT ((0.00000)) FOR [Mto_Per]
GO
ALTER TABLE [dbo].[planillaperdet] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[planillaperdet] ADD  DEFAULT (N'') FOR [idPeriodo]
GO
ALTER TABLE [dbo].[planillaperdet] ADD  DEFAULT ((0.00000)) FOR [Mto_PerS]
GO
ALTER TABLE [dbo].[planillaperdet] ADD  DEFAULT ((0.00000)) FOR [Mto_AplicacionS]
GO
ALTER TABLE [dbo].[planillaperdet] ADD  DEFAULT ((0.00000)) FOR [Mto_SaldoS]
GO
