USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[recetadetorigen_log]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recetadetorigen_log](
	[IdEmpresa] [char](2) NOT NULL,
	[IdReceta] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[IdProducto] [char](8) NOT NULL,
	[Cantidad] [decimal](14, 5) NOT NULL,
	[ItemLog] [bigint] NOT NULL,
 CONSTRAINT [PK_recetadetorigen_log_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdReceta] ASC,
	[Item] ASC,
	[ItemLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[recetadetorigen_log] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[recetadetorigen_log] ADD  DEFAULT (N'') FOR [IdReceta]
GO
ALTER TABLE [dbo].[recetadetorigen_log] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[recetadetorigen_log] ADD  DEFAULT (N'') FOR [IdProducto]
GO
ALTER TABLE [dbo].[recetadetorigen_log] ADD  DEFAULT ((0.00000)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[recetadetorigen_log] ADD  DEFAULT ((0)) FOR [ItemLog]
GO
