USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[idProducto] [char](8) NOT NULL,
	[GlsProducto] [varchar](185) NOT NULL,
	[idNivel] [char](8) NOT NULL,
	[idUMCompra] [char](20) NOT NULL,
	[idUMVenta] [char](20) NOT NULL,
	[idMarca] [char](8) NOT NULL,
	[afectoIGV] [bigint] NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[idTipoProducto] [char](5) NOT NULL,
	[idFabricante] [varchar](30) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[GlsObs] [varchar](180) NULL,
	[CodigoRapido] [varchar](40) NOT NULL,
	[idGrupo] [char](8) NOT NULL,
	[idTallaPeso] [char](8) NOT NULL,
	[indImagen] [char](1) NOT NULL,
	[indInsertaPrecioLista] [bigint] NOT NULL,
	[afectoDctoEspecial] [bigint] NOT NULL,
	[CtaContable] [varchar](13) NOT NULL,
	[idGastosIngresos] [varchar](20) NOT NULL,
	[CtaContable2_2010] [varchar](13) NOT NULL,
	[estProducto] [char](1) NOT NULL,
	[indDetraccion] [char](1) NOT NULL,
	[Orden] [char](1) NOT NULL,
	[CtaContable2] [varchar](45) NOT NULL,
	[CtaContable_Relacionada] [varchar](45) NOT NULL,
	[CtaCosto_Venta] [varchar](45) NOT NULL,
	[tiemporepinv] [varchar](10) NOT NULL,
	[IdConceptoDetraccion] [varchar](5) NULL,
	[indRptGL] [char](1) NULL,
	[IndAfectoIVAP] [char](1) NOT NULL,
	[IdConceptoCosteo] [varchar](5) NOT NULL,
	[ValorTotal] [decimal](14, 5) NOT NULL,
	[idNivColor] [varchar](8) NOT NULL,
	[GlsDescCorta] [varchar](60) NOT NULL,
	[StockMinimo] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_productos_idProducto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [GlsProducto]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [idNivel]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [idUMCompra]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [idUMVenta]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [idMarca]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0)) FOR [afectoIGV]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'P') FOR [idTipoProducto]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [idFabricante]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (NULL) FOR [GlsObs]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [CodigoRapido]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [idGrupo]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [idTallaPeso]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [indImagen]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0)) FOR [indInsertaPrecioLista]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0)) FOR [afectoDctoEspecial]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [CtaContable]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [idGastosIngresos]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [CtaContable2_2010]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [estProducto]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [indDetraccion]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [Orden]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [CtaContable2]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [CtaContable_Relacionada]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [CtaCosto_Venta]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [tiemporepinv]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (NULL) FOR [IdConceptoDetraccion]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (NULL) FOR [indRptGL]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'0') FOR [IndAfectoIVAP]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [IdConceptoCosteo]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0.00000)) FOR [ValorTotal]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [idNivColor]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (N'') FOR [GlsDescCorta]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0.00000)) FOR [StockMinimo]
GO
