USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[bancoscuentascompromiso]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bancoscuentascompromiso](
	[IdEmpresa] [char](2) NOT NULL,
	[IdBanco] [char](2) NOT NULL,
	[IdCtaContable_Igv_Soles] [varchar](12) NOT NULL,
	[IdCtaContable_Igv_Dolares] [varchar](12) NOT NULL,
	[IdCtaContable_Interes_Soles] [varchar](12) NOT NULL,
	[IdCtaContable_Interes_Dolares] [varchar](12) NOT NULL,
	[IdCtaContable_Portes_Soles] [varchar](12) NOT NULL,
	[IdCtaContable_Portes_Dolares] [varchar](12) NOT NULL,
	[IdCtaContable_Seguro_Soles] [varchar](12) NOT NULL,
	[IdCtaContable_Seguro_Dolares] [varchar](12) NOT NULL,
	[IdCtaContable_Banco_Corto_Soles] [varchar](12) NOT NULL,
	[IdCtaContable_Banco_Corto_Dolares] [varchar](12) NOT NULL,
	[IdCtaContable_Banco_Largo_Soles] [varchar](12) NOT NULL,
	[IdCtaContable_Banco_Largo_Dolares] [varchar](12) NOT NULL,
 CONSTRAINT [PK_bancoscuentascompromiso_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdBanco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdBanco]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdCtaContable_Igv_Soles]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdCtaContable_Igv_Dolares]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdCtaContable_Interes_Soles]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdCtaContable_Interes_Dolares]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdCtaContable_Portes_Soles]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdCtaContable_Portes_Dolares]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdCtaContable_Seguro_Soles]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdCtaContable_Seguro_Dolares]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdCtaContable_Banco_Corto_Soles]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdCtaContable_Banco_Corto_Dolares]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdCtaContable_Banco_Largo_Soles]
GO
ALTER TABLE [dbo].[bancoscuentascompromiso] ADD  DEFAULT (N'') FOR [IdCtaContable_Banco_Largo_Dolares]
GO
