USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[unidadproduccioncliente]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unidadproduccioncliente](
	[IdEmpresa] [char](2) NOT NULL,
	[IdCliente] [char](8) NOT NULL,
	[IdUPCliente] [char](8) NOT NULL,
	[GlsUPCliente] [varchar](255) NOT NULL,
	[Direccion] [varchar](255) NULL,
 CONSTRAINT [PK_unidadproduccioncliente_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdCliente] ASC,
	[IdUPCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[unidadproduccioncliente] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[unidadproduccioncliente] ADD  DEFAULT (N'') FOR [IdCliente]
GO
ALTER TABLE [dbo].[unidadproduccioncliente] ADD  DEFAULT (N'') FOR [IdUPCliente]
GO
ALTER TABLE [dbo].[unidadproduccioncliente] ADD  DEFAULT (N'') FOR [GlsUPCliente]
GO
ALTER TABLE [dbo].[unidadproduccioncliente] ADD  DEFAULT (NULL) FOR [Direccion]
GO
