USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[formulascab]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formulascab](
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idFormulasCab] [char](8) NOT NULL,
	[idUM] [varchar](45) NOT NULL,
	[fecEmision] [datetime2](0) NOT NULL,
	[idUsuarioreg] [char](8) NOT NULL,
	[IdAlmacen] [varchar](8) NOT NULL,
	[Cantidad] [bigint] NOT NULL,
	[FecReg] [datetime2](0) NOT NULL,
	[HoraReg] [time](7) NOT NULL,
	[idUsuarioMod] [varchar](8) NOT NULL,
	[FecMod] [date] NOT NULL,
	[HoraMod] [time](7) NOT NULL,
	[idproducto] [char](8) NOT NULL,
 CONSTRAINT [PK_formulascab_idFormulasCab] PRIMARY KEY CLUSTERED 
(
	[idFormulasCab] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[idproducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT (N'') FOR [idFormulasCab]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT (N'') FOR [idUM]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT (getdate()) FOR [fecEmision]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT (N'') FOR [idUsuarioreg]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT (N'') FOR [IdAlmacen]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT (getdate()) FOR [FecReg]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT ('00:00:00') FOR [HoraReg]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT (N'') FOR [idUsuarioMod]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT (getdate()) FOR [FecMod]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT ('00:00:00') FOR [HoraMod]
GO
ALTER TABLE [dbo].[formulascab] ADD  DEFAULT (N'') FOR [idproducto]
GO
