USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[documentosexportar]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documentosexportar](
	[idDocumento] [char](2) NOT NULL,
	[idDocumentoExp] [char](2) NOT NULL,
	[item] [bigint] NOT NULL,
 CONSTRAINT [PK_documentosexportar_idDocumento] PRIMARY KEY CLUSTERED 
(
	[idDocumento] ASC,
	[idDocumentoExp] ASC,
	[item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[documentosexportar] ADD  DEFAULT (N'') FOR [idDocumento]
GO
ALTER TABLE [dbo].[documentosexportar] ADD  DEFAULT (N'') FOR [idDocumentoExp]
GO
ALTER TABLE [dbo].[documentosexportar] ADD  DEFAULT ((0)) FOR [item]
GO
