USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[docventas_Log]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docventas_Log](
	[idDocumento] [char](2) NOT NULL,
	[idDocVentas] [char](8) NOT NULL,
	[idSerie] [char](4) NOT NULL,
	[idPerCliente] [char](8) NOT NULL,
	[GlsCliente] [varchar](255) NOT NULL,
	[RUCCliente] [char](11) NOT NULL,
	[dirCliente] [varchar](255) NOT NULL,
	[idAlmacen] [char](8) NOT NULL,
	[idPerVendedor] [char](8) NOT NULL,
	[FecEmision] [date] NOT NULL,
	[estDocVentas] [char](3) NOT NULL,
	[TotalValorVenta] [decimal](14, 5) NOT NULL,
	[TotalIGVVenta] [decimal](14, 5) NOT NULL,
	[TotalPrecioVenta] [decimal](14, 5) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[TipoCambio] [decimal](14, 5) NOT NULL,
	[ObsDocVentas] [varchar](800) NOT NULL,
	[Partida] [varchar](185) NOT NULL,
	[llegada] [varchar](185) NOT NULL,
	[idPerChofer] [char](8) NOT NULL,
	[glsChofer] [varchar](45) NOT NULL,
	[idPerEmpTrans] [char](8) NOT NULL,
	[GlsEmpTrans] [varchar](185) NOT NULL,
	[idVehiculo] [char](8) NOT NULL,
	[GlsVehiculo] [varchar](185) NOT NULL,
	[Placa] [varchar](10) NOT NULL,
	[Marca] [varchar](85) NOT NULL,
	[Color] [varchar](85) NOT NULL,
	[Modelo] [varchar](85) NOT NULL,
	[CodInsCrip] [varchar](85) NOT NULL,
	[Bultos] [bigint] NOT NULL,
	[Brevete] [varchar](45) NOT NULL,
	[idLista] [char](8) NOT NULL,
	[GlsVendedor] [varchar](185) NOT NULL,
	[idMotivoTraslado] [char](8) NOT NULL,
	[GlsFormasPago] [varchar](255) NOT NULL,
	[GlsFecVectos] [varchar](185) NOT NULL,
	[idMotivoNCD] [char](8) NOT NULL,
	[GlsMotivoNCD] [varchar](185) NOT NULL,
	[totalLetras] [varchar](255) NOT NULL,
	[FecIniTraslado] [datetime2](0) NOT NULL,
	[rucEmpTrans] [char](11) NOT NULL,
	[FecPago] [datetime2](0) NOT NULL,
	[GlsDocReferencia] [varchar](255) NOT NULL,
	[simboloMonBruto] [varchar](5) NOT NULL,
	[simboloMonIGV] [varchar](5) NOT NULL,
	[simboloMonNeto] [varchar](5) NOT NULL,
	[indVale] [char](1) NOT NULL,
	[idValesCab] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idCentroCosto] [char](8) NOT NULL,
	[GlsCentroCosto] [varchar](200) NOT NULL,
	[estDocImportado] [char](1) NOT NULL,
	[idMovCaja] [char](8) NOT NULL,
	[idPerVendedorCampo] [char](8) NOT NULL,
	[GlsVendedorCampo] [varchar](185) NOT NULL,
	[TotalDsctoVV] [decimal](14, 5) NOT NULL,
	[TotalDsctoPV] [decimal](14, 5) NOT NULL,
	[TotalExonerado] [decimal](14, 5) NOT NULL,
	[TotalBaseImponible] [decimal](14, 5) NOT NULL,
	[estGuiaImportado] [char](1) NOT NULL,
	[idTipoTicket] [char](5) NOT NULL,
	[idUsuarioAnulacion] [char](8) NULL,
	[FechaAnulacion] [datetime2](0) NULL,
	[FecRegistro] [datetime2](0) NOT NULL,
	[idUsuarioReg] [char](8) NOT NULL,
	[Partida2] [varchar](185) NOT NULL,
	[Llegada2] [varchar](185) NOT NULL,
	[numOrdenCompra] [varchar](25) NOT NULL,
	[idValeCabRec] [char](8) NOT NULL,
	[indAprobado] [char](1) NULL,
	[ComisionVtas] [decimal](14, 5) NOT NULL,
	[indLetra] [char](1) NOT NULL,
	[idupp] [char](8) NOT NULL,
	[idFormaPago] [char](8) NOT NULL,
	[indTrasladoConta] [char](1) NOT NULL,
	[glsFormaPago] [varchar](200) NOT NULL,
	[vtercerosCliente] [varchar](255) NOT NULL,
	[vtercerosdireccion] [varchar](255) NOT NULL,
	[vterceroCodigo] [varchar](45) NOT NULL,
	[vterceroRuc] [varchar](45) NOT NULL,
	[IndReq] [varchar](1) NOT NULL,
	[IdContacto] [char](8) NOT NULL,
	[GlsMoneda] [varchar](45) NOT NULL,
	[indTrasladoContaFin] [char](1) NOT NULL,
	[idProvCliente] [varchar](45) NOT NULL,
	[ObsDocVentas2] [varchar](500) NOT NULL,
	[idtienda] [varchar](20) NOT NULL,
	[IdPerVendedorCampo_Ant] [char](8) NULL,
	[tipoVale] [char](1) NULL,
	[IdPeriodo] [varchar](6) NULL,
	[IdComprobante] [varchar](10) NULL,
	[GlsContacto] [varchar](300) NOT NULL,
	[totalTallaPeso] [decimal](14, 6) NOT NULL,
	[IdArea] [varchar](8) NULL,
	[GlsTrabajo] [varchar](200) NULL,
	[GlsPlaca] [varchar](15) NULL,
	[GlsAreaCliente] [varchar](100) NULL,
	[IdUsuarioAprueba] [varchar](8) NULL,
	[FechaAprueba] [datetime2](0) NULL,
	[IdUsuarioDesaprueba] [varchar](8) NULL,
	[FechaDesaprueba] [datetime2](0) NULL,
	[DiasEntrega] [bigint] NULL,
	[FechaEntrega] [date] NULL,
	[IndTerminado] [varchar](1) NULL,
	[indVtaGratuita] [bigint] NOT NULL,
	[FechaMod] [datetime2](0) NULL,
	[IdUsuarioMod] [varchar](8) NULL,
	[ObsRegVentas] [varchar](255) NOT NULL,
	[idTemf] [char](1) NOT NULL,
	[SucursalDestino] [varchar](8) NULL,
	[AlmacenDestino] [varchar](8) NULL,
	[GlsSucursalDestino] [varchar](100) NULL,
	[GlsAlmacenDestino] [varchar](100) NULL,
	[idValesCabIng] [char](8) NULL,
	[TipoValeIng] [char](1) NULL,
	[IndValeIng] [char](1) NULL,
	[idAreaResponsable] [varchar](8) NULL,
	[GlsObsAnula] [varchar](200) NULL,
	[FechaTermino] [date] NULL,
	[FechaTerminoSistema] [datetime2](0) NULL,
	[idAreaCli] [char](8) NULL,
	[Prioridad] [varchar](80) NOT NULL,
	[IndCerrado] [char](1) NULL,
	[IdUsuarioCierre] [varchar](8) NULL,
	[FechaCierre] [datetime2](0) NULL,
	[IdUsuarioAbre] [varchar](8) NULL,
	[FechaAbre] [datetime2](0) NULL,
	[ObsCierre] [varchar](200) NULL,
	[ObsAbre] [varchar](200) NULL,
	[PeriodoAD] [varchar](6) NOT NULL,
	[IdCtaCorrienteOriAD] [bigint] NULL,
	[IdMovBancosCabOriAD] [bigint] NULL,
	[IdCtaCorrienteDesAD] [bigint] NULL,
	[IdMovBancosCabDesAD] [bigint] NULL,
	[IdSucursalDestino] [varchar](8) NOT NULL,
	[PeriodoRec] [varchar](6) NOT NULL,
	[indPeriodoRecEstado] [varchar](1) NULL,
	[IndAfectoPerc] [char](1) NOT NULL,
	[TotalIvap] [decimal](14, 5) NOT NULL,
	[TipoDescuentoGlobal] [char](1) NOT NULL,
	[DescuentoGlobal] [decimal](14, 5) NOT NULL,
	[TotalPorcentajeDescuentoGlobal] [decimal](14, 5) NOT NULL,
	[TotalDescuentoGlobalGravado] [decimal](14, 5) NOT NULL,
	[TotalDescuentoGlobalExonerado] [decimal](14, 5) NOT NULL,
	[TotalDescuento] [decimal](14, 5) NOT NULL,
	[IndAceptadoSunat] [bigint] NOT NULL,
	[IndBajaSunat] [bigint] NOT NULL,
	[IndEnviadoSunat] [bigint] NOT NULL,
	[IndAtribucionNC] [bigint] NOT NULL,
	[IndRechazadoSunat] [bigint] NOT NULL,
	[FechaAceptacionSunat] [date] NOT NULL,
	[HoraAceptacionSunat] [time](7) NOT NULL,
	[FechaRechazoSunat] [date] NOT NULL,
	[HoraRechazoSunat] [time](7) NOT NULL,
	[IdUsuarioFirma1] [varchar](8) NULL,
	[IdUsuarioFirma2] [varchar](8) NULL,
	[IdUsuarioFirma3] [varchar](8) NULL,
	[FechaPT] [datetime2](0) NULL,
	[IdUsuarioPT] [varchar](8) NOT NULL,
	[IndTransGratuitaMP] [bigint] NOT NULL,
	[IndTransGratuita] [bigint] NOT NULL,
	[NumNotaPedido] [varchar](25) NOT NULL,
	[NumCotizacion] [varchar](25) NOT NULL,
	[IndVContado] [bigint] NOT NULL,
	[iddirrecojo] [varchar](8) NOT NULL,
	[ind_CTGanada] [bit] NULL,
	[TotalCosto] [decimal](14, 5) NULL,
	[ItemLog] [bigint] NOT NULL,
	[GlsPCLog] [varchar](100) NOT NULL,
	[GlsPCUsuarioLog] [varchar](100) NOT NULL,
 CONSTRAINT [PK_docventas_Log] PRIMARY KEY CLUSTERED 
(
	[idDocumento] ASC,
	[idDocVentas] ASC,
	[idSerie] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[ItemLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idDocumento]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idDocVentas]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idPerCliente]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [GlsCliente]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [RUCCliente]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [dirCliente]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idAlmacen]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idPerVendedor]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ('2005-02-19') FOR [FecEmision]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'GEN') FOR [estDocVentas]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [TotalValorVenta]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [TotalIGVVenta]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [TotalPrecioVenta]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [TipoCambio]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [ObsDocVentas]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [Partida]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [llegada]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idPerChofer]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [glsChofer]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idPerEmpTrans]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [GlsEmpTrans]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idVehiculo]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [GlsVehiculo]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [Placa]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [Marca]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [Color]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [Modelo]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [CodInsCrip]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0)) FOR [Bultos]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [Brevete]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idLista]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [GlsVendedor]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idMotivoTraslado]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [GlsFormasPago]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [GlsFecVectos]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idMotivoNCD]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [GlsMotivoNCD]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [totalLetras]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ('2005-02-19 00:00:00.000000') FOR [FecIniTraslado]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [rucEmpTrans]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ('2005-02-19 00:00:00.000000') FOR [FecPago]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [GlsDocReferencia]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [simboloMonBruto]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [simboloMonIGV]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [simboloMonNeto]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'N') FOR [indVale]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idValesCab]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idCentroCosto]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [GlsCentroCosto]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [estDocImportado]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idMovCaja]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idPerVendedorCampo]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [GlsVendedorCampo]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [TotalDsctoVV]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [TotalDsctoPV]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [TotalExonerado]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [TotalBaseImponible]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [estGuiaImportado]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idTipoTicket]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [idUsuarioAnulacion]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [FechaAnulacion]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (getdate()) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idUsuarioReg]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [Partida2]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [Llegada2]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [numOrdenCompra]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idValeCabRec]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [indAprobado]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [ComisionVtas]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [indLetra]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idupp]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idFormaPago]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'N') FOR [indTrasladoConta]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [glsFormaPago]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [vtercerosCliente]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [vtercerosdireccion]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [vterceroCodigo]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [vterceroRuc]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'0') FOR [IndReq]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [IdContacto]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [GlsMoneda]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [indTrasladoContaFin]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idProvCliente]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [ObsDocVentas2]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idtienda]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdPerVendedorCampo_Ant]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [tipoVale]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdPeriodo]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdComprobante]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [GlsContacto]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.000000)) FOR [totalTallaPeso]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdArea]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [GlsTrabajo]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [GlsPlaca]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [GlsAreaCliente]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdUsuarioAprueba]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [FechaAprueba]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdUsuarioDesaprueba]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [FechaDesaprueba]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [DiasEntrega]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [FechaEntrega]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IndTerminado]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0)) FOR [indVtaGratuita]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [FechaMod]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdUsuarioMod]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [ObsRegVentas]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idTemf]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [SucursalDestino]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [AlmacenDestino]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [GlsSucursalDestino]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [GlsAlmacenDestino]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [idValesCabIng]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [TipoValeIng]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IndValeIng]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [idAreaResponsable]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [GlsObsAnula]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [FechaTermino]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [FechaTerminoSistema]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [idAreaCli]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [Prioridad]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IndCerrado]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdUsuarioCierre]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [FechaCierre]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdUsuarioAbre]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [FechaAbre]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [ObsCierre]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [ObsAbre]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [PeriodoAD]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdCtaCorrienteOriAD]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdMovBancosCabOriAD]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdCtaCorrienteDesAD]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdMovBancosCabDesAD]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [IdSucursalDestino]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [PeriodoRec]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'0') FOR [indPeriodoRecEstado]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'0') FOR [IndAfectoPerc]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [TotalIvap]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [TipoDescuentoGlobal]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [DescuentoGlobal]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [TotalPorcentajeDescuentoGlobal]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [TotalDescuentoGlobalGravado]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [TotalDescuentoGlobalExonerado]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0.00000)) FOR [TotalDescuento]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0)) FOR [IndAceptadoSunat]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0)) FOR [IndBajaSunat]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0)) FOR [IndEnviadoSunat]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0)) FOR [IndAtribucionNC]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0)) FOR [IndRechazadoSunat]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (getdate()) FOR [FechaAceptacionSunat]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ('00:00:00') FOR [HoraAceptacionSunat]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (getdate()) FOR [FechaRechazoSunat]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ('00:00:00') FOR [HoraRechazoSunat]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdUsuarioFirma1]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdUsuarioFirma2]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [IdUsuarioFirma3]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (NULL) FOR [FechaPT]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [IdUsuarioPT]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0)) FOR [IndTransGratuitaMP]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0)) FOR [IndTransGratuita]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [NumNotaPedido]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [NumCotizacion]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT ((0)) FOR [IndVContado]
GO
ALTER TABLE [dbo].[docventas_Log] ADD  DEFAULT (N'') FOR [iddirrecojo]
GO
