USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tabla_10_comprobantes_pago]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabla_10_comprobantes_pago](
	[idDocumento] [char](2) NOT NULL,
	[Descripcion] [varchar](255) NULL,
 CONSTRAINT [PK_tabla_10_comprobantes_pago_idDocumento] PRIMARY KEY CLUSTERED 
(
	[idDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tabla_10_comprobantes_pago] ADD  DEFAULT (NULL) FOR [Descripcion]
GO
