USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[parametros]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parametros](
	[GlsParametro] [varchar](85) NOT NULL,
	[ValParametro] [varchar](85) NOT NULL,
	[ObsParametro] [varchar](185) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[Fec_Ini] [date] NULL,
	[Fec_Fin] [date] NULL,
 CONSTRAINT [PK_parametros_GlsParametro] PRIMARY KEY CLUSTERED 
(
	[GlsParametro] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[parametros] ADD  DEFAULT (N'') FOR [GlsParametro]
GO
ALTER TABLE [dbo].[parametros] ADD  DEFAULT (N'') FOR [ValParametro]
GO
ALTER TABLE [dbo].[parametros] ADD  DEFAULT (N'') FOR [ObsParametro]
GO
ALTER TABLE [dbo].[parametros] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[parametros] ADD  DEFAULT (NULL) FOR [Fec_Ini]
GO
ALTER TABLE [dbo].[parametros] ADD  DEFAULT (NULL) FOR [Fec_Fin]
GO
