USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[recetadetdestino]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recetadetdestino](
	[IdEmpresa] [char](2) NOT NULL,
	[IdReceta] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[IdProducto] [char](8) NOT NULL,
	[Cantidad] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_recetadetdestino_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdReceta] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [recetadetdestino$Index_2] UNIQUE NONCLUSTERED 
(
	[IdEmpresa] ASC,
	[IdReceta] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[recetadetdestino] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[recetadetdestino] ADD  DEFAULT (N'') FOR [IdReceta]
GO
ALTER TABLE [dbo].[recetadetdestino] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[recetadetdestino] ADD  DEFAULT (N'') FOR [IdProducto]
GO
ALTER TABLE [dbo].[recetadetdestino] ADD  DEFAULT ((0.00000)) FOR [Cantidad]
GO
