USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[motivostraslados]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[motivostraslados](
	[idMotivoTraslado] [char](8) NOT NULL,
	[GlsMotivoTraslado] [varchar](185) NOT NULL,
	[indTipoVale] [char](1) NOT NULL,
	[indGeneraVale] [char](1) NOT NULL,
	[idDocumento] [varchar](2) NOT NULL,
	[idconcepto] [char](2) NOT NULL,
	[IndEvaluaLC] [bigint] NOT NULL,
	[IndDirRecojo] [bigint] NOT NULL,
	[Codigo_Sunat] [varchar](20) NULL,
 CONSTRAINT [PK_motivostraslados_idMotivoTraslado] PRIMARY KEY CLUSTERED 
(
	[idMotivoTraslado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[motivostraslados] ADD  DEFAULT (N'') FOR [idMotivoTraslado]
GO
ALTER TABLE [dbo].[motivostraslados] ADD  DEFAULT (N'') FOR [GlsMotivoTraslado]
GO
ALTER TABLE [dbo].[motivostraslados] ADD  DEFAULT (N'S') FOR [indTipoVale]
GO
ALTER TABLE [dbo].[motivostraslados] ADD  DEFAULT (N'S') FOR [indGeneraVale]
GO
ALTER TABLE [dbo].[motivostraslados] ADD  DEFAULT (N'') FOR [idDocumento]
GO
ALTER TABLE [dbo].[motivostraslados] ADD  DEFAULT (N'') FOR [idconcepto]
GO
ALTER TABLE [dbo].[motivostraslados] ADD  DEFAULT ((0)) FOR [IndEvaluaLC]
GO
ALTER TABLE [dbo].[motivostraslados] ADD  DEFAULT ((0)) FOR [IndDirRecojo]
GO
