USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[activos_retiros]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activos_retiros](
	[idEmpresa] [char](2) NOT NULL,
	[idCodActivo] [char](8) NOT NULL,
	[idPeriodo] [char](6) NOT NULL,
	[ValImporte] [decimal](14, 2) NOT NULL,
	[IndConsidera] [bigint] NOT NULL,
	[GlsMotivo] [varchar](250) NOT NULL,
 CONSTRAINT [PK_activos_retiros_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idCodActivo] ASC,
	[idPeriodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activos_retiros] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[activos_retiros] ADD  DEFAULT (N'') FOR [idCodActivo]
GO
ALTER TABLE [dbo].[activos_retiros] ADD  DEFAULT (N'') FOR [idPeriodo]
GO
ALTER TABLE [dbo].[activos_retiros] ADD  DEFAULT ((0.00)) FOR [ValImporte]
GO
ALTER TABLE [dbo].[activos_retiros] ADD  DEFAULT ((0)) FOR [IndConsidera]
GO
ALTER TABLE [dbo].[activos_retiros] ADD  DEFAULT (N'') FOR [GlsMotivo]
GO
