USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[productosstock]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productosstock](
	[IdEmpresa] [char](2) NOT NULL,
	[IdSucursal] [char](8) NOT NULL,
	[IdProducto] [char](8) NOT NULL,
	[Stock] [decimal](14, 5) NOT NULL,
	[Separacion] [decimal](14, 5) NOT NULL,
	[Disponible] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_productosstock_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdSucursal] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[productosstock] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[productosstock] ADD  DEFAULT (N'') FOR [IdSucursal]
GO
ALTER TABLE [dbo].[productosstock] ADD  DEFAULT (N'') FOR [IdProducto]
GO
ALTER TABLE [dbo].[productosstock] ADD  DEFAULT ((0.00000)) FOR [Stock]
GO
ALTER TABLE [dbo].[productosstock] ADD  DEFAULT ((0.00000)) FOR [Separacion]
GO
ALTER TABLE [dbo].[productosstock] ADD  DEFAULT ((0.00000)) FOR [Disponible]
GO
