USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[unidadproduccion]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unidadproduccion](
	[CodUnidProd] [varchar](3) NOT NULL,
	[DescUnidad] [varchar](50) NULL,
	[SerieFac] [varchar](3) NULL,
	[NumDoc] [varchar](7) NULL,
	[SerieBol] [varchar](3) NULL,
	[NumBol] [varchar](7) NULL,
	[SeriDeb] [varchar](3) NULL,
	[NumDeb] [varchar](7) NULL,
	[SerieCred] [varchar](3) NULL,
	[NumCred] [varchar](7) NULL,
	[SerieGuia] [varchar](3) NULL,
	[NumGuia] [varchar](7) NULL,
	[IdCorrela] [varchar](8) NULL,
	[SerieCorrela] [varchar](3) NULL,
	[F4SERREC] [varchar](3) NULL,
	[F4NUMREC] [varchar](7) NULL,
	[F4SEROTROS] [varchar](3) NULL,
	[F4NUMOTROS] [varchar](7) NULL,
	[F4DIRECCION] [varchar](100) NULL,
	[F3OBSERVACION] [varchar](100) NULL,
	[idEmpresa] [char](2) NOT NULL,
	[IdAlmacen] [varchar](8) NULL,
	[IdJefeArea] [varchar](8) NULL,
	[IndTipo] [varchar](1) NULL,
	[Abreviatura] [char](5) NOT NULL,
	[Firma] [varchar](30) NOT NULL,
 CONSTRAINT [PK_unidadproduccion_CodUnidProd] PRIMARY KEY CLUSTERED 
(
	[CodUnidProd] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (N'') FOR [CodUnidProd]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [DescUnidad]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [SerieFac]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [NumDoc]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [SerieBol]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [NumBol]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [SeriDeb]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [NumDeb]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [SerieCred]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [NumCred]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [SerieGuia]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [NumGuia]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [IdCorrela]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [SerieCorrela]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [F4SERREC]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [F4NUMREC]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [F4SEROTROS]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [F4NUMOTROS]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [F4DIRECCION]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [F3OBSERVACION]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [IdAlmacen]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [IdJefeArea]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (NULL) FOR [IndTipo]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (N'') FOR [Abreviatura]
GO
ALTER TABLE [dbo].[unidadproduccion] ADD  DEFAULT (N'') FOR [Firma]
GO
