USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[factura_detalle_aaaaa]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_detalle_aaaaa](
	[ID] [int] NULL,
	[clvmfact] [varchar](255) NULL,
	[anno] [varchar](255) NULL,
	[oper] [varchar](255) NULL,
	[n_fact] [varchar](255) NULL,
	[secfac] [varchar](255) NULL,
	[grupo] [varchar](255) NULL,
	[almacen] [varchar](255) NULL,
	[articulo] [varchar](255) NULL,
	[modelo] [varchar](255) NULL,
	[desc] [varchar](255) NULL,
	[unidad] [varchar](255) NULL,
	[cant] [float] NULL,
	[VVUNIT] [float] NULL,
	[VVTOTAL] [float] NULL,
	[exonerado] [binary](1) NULL,
	[cuenta] [varchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [ID]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [clvmfact]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [anno]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [oper]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [n_fact]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [secfac]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [grupo]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [almacen]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [articulo]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [modelo]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [desc]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [unidad]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [cant]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [VVUNIT]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [VVTOTAL]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [exonerado]
GO
ALTER TABLE [dbo].[factura_detalle_aaaaa] ADD  DEFAULT (NULL) FOR [cuenta]
GO
