USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[conci]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conci](
	[idCtaCorriente] [bigint] NOT NULL,
	[FecUltConci] [datetime2](0) NOT NULL,
	[SaldoLibros] [float] NULL,
	[SaldoBancario] [float] NULL,
	[TotalIngreso] [float] NULL,
	[TotalEgreso] [float] NULL,
	[idEmpresa] [char](8) NOT NULL,
	[Periodo] [char](6) NOT NULL,
	[idUsuarioReg] [char](8) NOT NULL,
	[FechaReg] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_conci_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idCtaCorriente] ASC,
	[Periodo] ASC,
	[FecUltConci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[conci] ADD  DEFAULT (getdate()) FOR [FecUltConci]
GO
ALTER TABLE [dbo].[conci] ADD  DEFAULT (NULL) FOR [SaldoLibros]
GO
ALTER TABLE [dbo].[conci] ADD  DEFAULT (NULL) FOR [SaldoBancario]
GO
ALTER TABLE [dbo].[conci] ADD  DEFAULT (NULL) FOR [TotalIngreso]
GO
ALTER TABLE [dbo].[conci] ADD  DEFAULT (NULL) FOR [TotalEgreso]
GO
ALTER TABLE [dbo].[conci] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[conci] ADD  DEFAULT (N'') FOR [Periodo]
GO
ALTER TABLE [dbo].[conci] ADD  DEFAULT (N'') FOR [idUsuarioReg]
GO
ALTER TABLE [dbo].[conci] ADD  DEFAULT (getdate()) FOR [FechaReg]
GO
