USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[responsables]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[responsables](
	[Idempresa] [char](8) NOT NULL,
	[idResponsable] [char](8) NOT NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_responsables_Idempresa] PRIMARY KEY CLUSTERED 
(
	[Idempresa] ASC,
	[idResponsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[responsables] ADD  DEFAULT (N'') FOR [Idempresa]
GO
ALTER TABLE [dbo].[responsables] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
