USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[periodosinv]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[periodosinv](
	[idPeriodoInv] [char](8) NOT NULL,
	[GlsPeriodoInv] [varchar](90) NOT NULL,
	[estPeriodoInv] [char](3) NOT NULL,
	[idUsuarioReg] [char](8) NOT NULL,
	[FecRegistro] [datetime2](0) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[FecInicio] [datetime2](0) NULL,
	[FecFin] [datetime2](0) NULL,
 CONSTRAINT [PK_periodosinv_idPeriodoInv] PRIMARY KEY CLUSTERED 
(
	[idPeriodoInv] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[periodosinv] ADD  DEFAULT (N'') FOR [idPeriodoInv]
GO
ALTER TABLE [dbo].[periodosinv] ADD  DEFAULT (N'') FOR [GlsPeriodoInv]
GO
ALTER TABLE [dbo].[periodosinv] ADD  DEFAULT (N'ACT') FOR [estPeriodoInv]
GO
ALTER TABLE [dbo].[periodosinv] ADD  DEFAULT (N'') FOR [idUsuarioReg]
GO
ALTER TABLE [dbo].[periodosinv] ADD  DEFAULT (getdate()) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[periodosinv] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[periodosinv] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[periodosinv] ADD  DEFAULT (NULL) FOR [FecInicio]
GO
ALTER TABLE [dbo].[periodosinv] ADD  DEFAULT (NULL) FOR [FecFin]
GO
