USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[nivcolor]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nivcolor](
	[idEmpresa] [char](2) NOT NULL,
	[idNivColor] [char](8) NOT NULL,
	[idColor] [char](8) NOT NULL,
	[idNivel] [char](8) NOT NULL,
	[GlsNivColor] [varchar](60) NOT NULL,
 CONSTRAINT [PK_nivcolor_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idNivColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[nivcolor] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[nivcolor] ADD  DEFAULT (N'') FOR [idNivColor]
GO
ALTER TABLE [dbo].[nivcolor] ADD  DEFAULT (N'') FOR [idColor]
GO
ALTER TABLE [dbo].[nivcolor] ADD  DEFAULT (N'') FOR [idNivel]
GO
ALTER TABLE [dbo].[nivcolor] ADD  DEFAULT (N'') FOR [GlsNivColor]
GO
