USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[doc_fac]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doc_fac](
	[idproveedor] [varchar](8) NOT NULL,
	[TipoDcto] [varchar](2) NOT NULL,
	[idserieDcto] [varchar](4) NOT NULL,
	[NumDcto] [varchar](20) NOT NULL,
	[Tipo_Fac] [varchar](2) NOT NULL,
	[idSerie_Fac] [varchar](4) NULL,
	[Num_Fac] [varchar](20) NOT NULL,
	[idempresa] [char](2) NOT NULL,
	[idsucursal] [varchar](8) NOT NULL,
	[Annio_Mov] [varchar](4) NOT NULL,
 CONSTRAINT [PK_doc_fac_idproveedor] PRIMARY KEY CLUSTERED 
(
	[idproveedor] ASC,
	[TipoDcto] ASC,
	[idserieDcto] ASC,
	[NumDcto] ASC,
	[Num_Fac] ASC,
	[idempresa] ASC,
	[idsucursal] ASC,
	[Annio_Mov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[doc_fac] ADD  DEFAULT (N'') FOR [idproveedor]
GO
ALTER TABLE [dbo].[doc_fac] ADD  DEFAULT (N'') FOR [TipoDcto]
GO
ALTER TABLE [dbo].[doc_fac] ADD  DEFAULT (N'') FOR [idserieDcto]
GO
ALTER TABLE [dbo].[doc_fac] ADD  DEFAULT (N'') FOR [NumDcto]
GO
ALTER TABLE [dbo].[doc_fac] ADD  DEFAULT (N'') FOR [Tipo_Fac]
GO
ALTER TABLE [dbo].[doc_fac] ADD  DEFAULT (NULL) FOR [idSerie_Fac]
GO
ALTER TABLE [dbo].[doc_fac] ADD  DEFAULT (N'') FOR [Num_Fac]
GO
ALTER TABLE [dbo].[doc_fac] ADD  DEFAULT (N'') FOR [idempresa]
GO
ALTER TABLE [dbo].[doc_fac] ADD  DEFAULT (N'') FOR [idsucursal]
GO
ALTER TABLE [dbo].[doc_fac] ADD  DEFAULT (N'') FOR [Annio_Mov]
GO
