USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tomainvcab]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tomainvcab](
	[idInvCab] [char](8) NOT NULL,
	[GlsAlmacen] [varchar](85) NOT NULL,
	[ObstomaInv] [varchar](100) NOT NULL,
	[numValeIngreso] [char](8) NOT NULL,
	[numValeSalida] [char](8) NOT NULL,
	[codConceptoIng] [char](8) NOT NULL,
	[codconceptoSal] [varchar](85) NOT NULL,
	[idAlmacen] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[idSucursal] [varchar](8) NOT NULL,
	[fecharegistro] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_tomainvcab_idInvCab] PRIMARY KEY CLUSTERED 
(
	[idInvCab] ASC,
	[idEmpresa] ASC,
	[idAlmacen] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tomainvcab] ADD  DEFAULT (N'') FOR [idInvCab]
GO
ALTER TABLE [dbo].[tomainvcab] ADD  DEFAULT (N'') FOR [GlsAlmacen]
GO
ALTER TABLE [dbo].[tomainvcab] ADD  DEFAULT (N'') FOR [ObstomaInv]
GO
ALTER TABLE [dbo].[tomainvcab] ADD  DEFAULT (N'') FOR [numValeIngreso]
GO
ALTER TABLE [dbo].[tomainvcab] ADD  DEFAULT (N'') FOR [numValeSalida]
GO
ALTER TABLE [dbo].[tomainvcab] ADD  DEFAULT (N'') FOR [codConceptoIng]
GO
ALTER TABLE [dbo].[tomainvcab] ADD  DEFAULT (N'') FOR [codconceptoSal]
GO
ALTER TABLE [dbo].[tomainvcab] ADD  DEFAULT (N'') FOR [idAlmacen]
GO
ALTER TABLE [dbo].[tomainvcab] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[tomainvcab] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[tomainvcab] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[tomainvcab] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
