USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[almacenes]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[almacenes](
	[idAlmacen] [char](8) NOT NULL,
	[glsAlmacen] [varchar](85) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idResponsable] [varchar](8) NOT NULL,
	[GlsOtros] [varchar](45) NOT NULL,
	[IndStockDisponible] [bigint] NOT NULL,
	[IdAlmacenIF] [varchar](45) NOT NULL,
 CONSTRAINT [PK_almacenes_idAlmacen] PRIMARY KEY CLUSTERED 
(
	[idAlmacen] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[almacenes] ADD  DEFAULT (N'') FOR [idAlmacen]
GO
ALTER TABLE [dbo].[almacenes] ADD  DEFAULT (N'') FOR [glsAlmacen]
GO
ALTER TABLE [dbo].[almacenes] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[almacenes] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[almacenes] ADD  DEFAULT (N'') FOR [idResponsable]
GO
ALTER TABLE [dbo].[almacenes] ADD  DEFAULT (N'') FOR [GlsOtros]
GO
ALTER TABLE [dbo].[almacenes] ADD  DEFAULT ((0)) FOR [IndStockDisponible]
GO
ALTER TABLE [dbo].[almacenes] ADD  DEFAULT (N'') FOR [IdAlmacenIF]
GO
