USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[niveles]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[niveles](
	[idNivel] [char](8) NOT NULL,
	[idNivelPred] [char](8) NOT NULL,
	[glsNivel] [varchar](85) NOT NULL,
	[idTipoNivel] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[GlsAbreviatura] [varchar](45) NOT NULL,
	[f7codcon] [varchar](100) NOT NULL,
	[Orden] [bigint] NULL,
	[Tipo] [char](5) NULL,
	[PorcComision] [float] NOT NULL,
	[MaxDcto] [bigint] NOT NULL,
	[IdCtaContableC] [varchar](12) NOT NULL,
	[IdCtaContableV] [varchar](12) NOT NULL,
	[IdCtaContableVR] [varchar](12) NOT NULL,
 CONSTRAINT [PK_niveles_idNivel] PRIMARY KEY CLUSTERED 
(
	[idNivel] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT (N'') FOR [idNivel]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT (N'') FOR [idNivelPred]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT (N'') FOR [glsNivel]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT (N'') FOR [idTipoNivel]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT (N'') FOR [GlsAbreviatura]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT (N'') FOR [f7codcon]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT (NULL) FOR [Orden]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT (NULL) FOR [Tipo]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT ((0)) FOR [PorcComision]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT ((0)) FOR [MaxDcto]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT (N'') FOR [IdCtaContableC]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT (N'') FOR [IdCtaContableV]
GO
ALTER TABLE [dbo].[niveles] ADD  DEFAULT (N'') FOR [IdCtaContableVR]
GO
