USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[cajas]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cajas](
	[idCaja] [char](8) NOT NULL,
	[GlsCaja] [varchar](185) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
 CONSTRAINT [PK_cajas_idCaja] PRIMARY KEY CLUSTERED 
(
	[idCaja] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cajas] ADD  DEFAULT (N'') FOR [idCaja]
GO
ALTER TABLE [dbo].[cajas] ADD  DEFAULT (N'') FOR [GlsCaja]
GO
ALTER TABLE [dbo].[cajas] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
