USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[transformaciondet]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transformaciondet](
	[Idempresa] [char](2) NOT NULL,
	[IdSucursal] [char](8) NOT NULL,
	[idTransformacion] [char](8) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[IdUM] [char](8) NOT NULL,
	[Cantidad] [float] NOT NULL,
	[Item] [bigint] NOT NULL,
 CONSTRAINT [PK_transformaciondet_Idempresa] PRIMARY KEY CLUSTERED 
(
	[Idempresa] ASC,
	[IdSucursal] ASC,
	[idTransformacion] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[transformaciondet] ADD  DEFAULT (N'') FOR [Idempresa]
GO
ALTER TABLE [dbo].[transformaciondet] ADD  DEFAULT (N'') FOR [IdSucursal]
GO
ALTER TABLE [dbo].[transformaciondet] ADD  DEFAULT (N'') FOR [idTransformacion]
GO
ALTER TABLE [dbo].[transformaciondet] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[transformaciondet] ADD  DEFAULT (N'') FOR [IdUM]
GO
ALTER TABLE [dbo].[transformaciondet] ADD  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[transformaciondet] ADD  DEFAULT ((0)) FOR [Item]
GO
