USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[docreferenciaempresas]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docreferenciaempresas](
	[item] [bigint] NOT NULL,
	[idEmpresaOrigen] [char](2) NOT NULL,
	[idSucursalOrigen] [char](8) NOT NULL,
	[tipoDocOrigen] [char](2) NOT NULL,
	[numDocOrigen] [char](8) NOT NULL,
	[serieDocOrigen] [char](3) NOT NULL,
	[idEmpresaReferencia] [char](2) NOT NULL,
	[idSucursalReferencia] [char](8) NOT NULL,
	[tipoDocReferencia] [char](2) NOT NULL,
	[numDocReferencia] [char](8) NOT NULL,
	[serieDocReferencia] [char](3) NOT NULL,
	[IndImportado] [char](1) NOT NULL,
 CONSTRAINT [PK_docreferenciaempresas_item] PRIMARY KEY CLUSTERED 
(
	[item] ASC,
	[idEmpresaOrigen] ASC,
	[idSucursalOrigen] ASC,
	[tipoDocOrigen] ASC,
	[numDocOrigen] ASC,
	[serieDocOrigen] ASC,
	[idEmpresaReferencia] ASC,
	[idSucursalReferencia] ASC,
	[tipoDocReferencia] ASC,
	[numDocReferencia] ASC,
	[serieDocReferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[docreferenciaempresas] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[docreferenciaempresas] ADD  DEFAULT (N'') FOR [idEmpresaOrigen]
GO
ALTER TABLE [dbo].[docreferenciaempresas] ADD  DEFAULT (N'') FOR [idSucursalOrigen]
GO
ALTER TABLE [dbo].[docreferenciaempresas] ADD  DEFAULT (N'') FOR [tipoDocOrigen]
GO
ALTER TABLE [dbo].[docreferenciaempresas] ADD  DEFAULT (N'') FOR [numDocOrigen]
GO
ALTER TABLE [dbo].[docreferenciaempresas] ADD  DEFAULT (N'') FOR [serieDocOrigen]
GO
ALTER TABLE [dbo].[docreferenciaempresas] ADD  DEFAULT (N'') FOR [idEmpresaReferencia]
GO
ALTER TABLE [dbo].[docreferenciaempresas] ADD  DEFAULT (N'') FOR [idSucursalReferencia]
GO
ALTER TABLE [dbo].[docreferenciaempresas] ADD  DEFAULT (N'') FOR [tipoDocReferencia]
GO
ALTER TABLE [dbo].[docreferenciaempresas] ADD  DEFAULT (N'') FOR [numDocReferencia]
GO
ALTER TABLE [dbo].[docreferenciaempresas] ADD  DEFAULT (N'') FOR [serieDocReferencia]
GO
ALTER TABLE [dbo].[docreferenciaempresas] ADD  DEFAULT (N'0') FOR [IndImportado]
GO
