USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[distcostosdet]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[distcostosdet](
	[idempresa] [varchar](2) NOT NULL,
	[idcoddistcosto] [varchar](8) NOT NULL,
	[item] [bigint] NOT NULL,
	[idcentro] [varchar](8) NOT NULL,
	[idctacontable] [varchar](20) NOT NULL,
	[porcentaje] [decimal](10, 0) NOT NULL,
 CONSTRAINT [PK_distcostosdet_idempresa] PRIMARY KEY CLUSTERED 
(
	[idempresa] ASC,
	[idcoddistcosto] ASC,
	[item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[distcostosdet] ADD  DEFAULT (N'') FOR [idempresa]
GO
ALTER TABLE [dbo].[distcostosdet] ADD  DEFAULT (N'') FOR [idcoddistcosto]
GO
ALTER TABLE [dbo].[distcostosdet] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[distcostosdet] ADD  DEFAULT (N'') FOR [idcentro]
GO
ALTER TABLE [dbo].[distcostosdet] ADD  DEFAULT (N'') FOR [idctacontable]
GO
ALTER TABLE [dbo].[distcostosdet] ADD  DEFAULT ((0)) FOR [porcentaje]
GO
