USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[docventasdetformula]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docventasdetformula](
	[IdDocumento] [char](2) NOT NULL,
	[IdDocVentas] [char](8) NOT NULL,
	[IdSerie] [char](3) NOT NULL,
	[ItemDocVentas] [bigint] NOT NULL,
	[IdProducto] [char](8) NOT NULL,
	[GlsProducto] [varchar](255) NOT NULL,
	[CantidadStock] [float] NOT NULL,
	[Cantidad] [decimal](14, 5) NOT NULL,
	[Item] [bigint] NOT NULL,
	[IdComboCab] [char](8) NOT NULL,
	[IdEmpresa] [char](2) NOT NULL,
	[IdSucursal] [char](8) NOT NULL,
	[VVUnit] [decimal](14, 5) NOT NULL,
	[PorcDcto] [bigint] NOT NULL,
	[TotalVVenta] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_docventasdetformula_IdDocumento] PRIMARY KEY CLUSTERED 
(
	[IdDocumento] ASC,
	[IdDocVentas] ASC,
	[IdSerie] ASC,
	[ItemDocVentas] ASC,
	[IdEmpresa] ASC,
	[Item] ASC,
	[IdSucursal] ASC,
	[IdComboCab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT (N'') FOR [IdDocumento]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT (N'') FOR [IdDocVentas]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT (N'') FOR [IdSerie]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT ((0)) FOR [ItemDocVentas]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT (N'') FOR [IdProducto]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT (N'') FOR [GlsProducto]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT ((0)) FOR [CantidadStock]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT ((0.00000)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT (N'') FOR [IdComboCab]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT (N'') FOR [IdSucursal]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT ((0.00000)) FOR [VVUnit]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT ((0)) FOR [PorcDcto]
GO
ALTER TABLE [dbo].[docventasdetformula] ADD  DEFAULT ((0.00000)) FOR [TotalVVenta]
GO
