USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[regisdoc]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regisdoc](
	[idMesMov] [varchar](2) NOT NULL,
	[idNumMov] [varchar](8) NOT NULL,
	[idproveedor] [varchar](8) NULL,
	[GlsProveedor] [varchar](100) NULL,
	[DireccionProveedor] [varchar](250) NULL,
	[RucProveedor] [varchar](11) NULL,
	[TipoDcto] [varchar](2) NULL,
	[idSerieDcto] [varchar](4) NULL,
	[NumDcto] [varchar](20) NULL,
	[FechaMov] [datetime2](0) NULL,
	[idMoneda] [varchar](3) NULL,
	[ValTipoCambio] [float] NULL,
	[Observacion] [varchar](100) NULL,
	[MtoImponible] [float] NULL,
	[MtoExonerado] [float] NULL,
	[MtoIGV] [float] NULL,
	[MtoOtrosImp] [float] NULL,
	[MtoTotal] [float] NULL,
	[idForma_pago] [varchar](30) NULL,
	[Fec_vcto] [datetime2](0) NULL,
	[idGastosIngresos] [varchar](4) NULL,
	[idCtaContable] [varchar](12) NULL,
	[NumOrdenCompra] [int] NULL,
	[MtoRetencion] [float] NULL,
	[indTransferido] [varchar](1) NULL,
	[idCorrela] [char](8) NULL,
	[NumPoliza] [varchar](20) NULL,
	[CodIGV] [varchar](3) NULL,
	[FechaReg] [datetime2](0) NULL,
	[idUsuarioReg] [char](8) NULL,
	[FechaMod] [datetime2](0) NULL,
	[idUsuarioMod] [varchar](8) NULL,
	[FechaRecepcion] [datetime2](0) NULL,
	[MtoRedSuma] [float] NULL,
	[MtoRedResta] [float] NULL,
	[NumValeIngreso] [char](8) NULL,
	[MtoDcto] [float] NULL,
	[FechaImpresion] [datetime2](0) NULL,
	[idUsuarioImpresion] [varchar](8) NULL,
	[idNumComprobante] [varchar](10) NULL,
	[indRetener] [varchar](1) NULL,
	[ValPorcIGV] [int] NULL,
	[IdCentro] [varchar](10) NULL,
	[NumCompServicios] [varchar](20) NULL,
	[IndOrigen] [varchar](1) NULL,
	[IndDetraccion] [varchar](1) NULL,
	[IdDetraccion] [varchar](5) NULL,
	[valPorc_Detraccion] [float] NULL,
	[IdcorrelaDetrac1] [varchar](8) NULL,
	[IdcorrelaDetrac2] [varchar](8) NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[Annio_Mov] [varchar](4) NOT NULL,
	[MtoIES] [float] NULL,
	[indContable] [char](1) NOT NULL,
	[valPorc_NotaCredito] [bigint] NOT NULL,
	[Indrevisado] [bigint] NOT NULL,
	[indDistribucion] [bigint] NOT NULL,
	[idcoddistcosto] [varchar](8) NOT NULL,
	[indTransferidoFin] [char](1) NOT NULL,
	[IndPercepcion] [varchar](1) NOT NULL,
	[MtoPercepcion] [float] NOT NULL,
	[FechaRegistro] [datetime2](0) NULL,
	[HoraRegistro] [time](7) NOT NULL,
	[idComprobante] [varchar](9) NOT NULL,
	[MtoDetraccion] [decimal](14, 5) NOT NULL,
	[IndRetencion] [char](1) NOT NULL,
	[IndDetHC] [bigint] NOT NULL,
	[IdSerieGeneral] [varchar](20) NOT NULL,
	[IdCorrelaFG1] [varchar](8) NOT NULL,
	[IdCorrelaFG2] [varchar](8) NOT NULL,
	[MontoFondoG] [decimal](14, 5) NOT NULL,
	[IdCompromiso] [varchar](8) NOT NULL,
	[IdCuota] [bigint] NOT NULL,
	[IdCta_Pago_Compromiso] [varchar](8) NOT NULL,
	[PeriodoRec] [varchar](6) NOT NULL,
	[indPeriodoRecEstado] [varchar](1) NULL,
	[GlsPc] [varchar](100) NOT NULL,
	[GlsPcUsuario] [varchar](100) NOT NULL,
	[IdSesionIF] [varchar](80) NOT NULL,
	[idBienServicio] [varchar](5) NULL,
	[IndTransferidoInvoiceCanje] [varchar](1) NOT NULL,
	[IdComprobanteInvoiceCanje] [varchar](9) NOT NULL,
	[RentaND] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_regisdoc_idMesMov] PRIMARY KEY CLUSTERED 
(
	[idMesMov] ASC,
	[idNumMov] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[Annio_Mov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [idMesMov]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [idNumMov]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [idproveedor]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [GlsProveedor]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [DireccionProveedor]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [RucProveedor]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [TipoDcto]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [idSerieDcto]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [NumDcto]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [FechaMov]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [idMoneda]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [ValTipoCambio]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [Observacion]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [MtoImponible]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [MtoExonerado]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [MtoIGV]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [MtoOtrosImp]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [MtoTotal]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [idForma_pago]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [Fec_vcto]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [idGastosIngresos]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [idCtaContable]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [NumOrdenCompra]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [MtoRetencion]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [indTransferido]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [idCorrela]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [NumPoliza]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [CodIGV]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [FechaReg]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [idUsuarioReg]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [FechaMod]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [idUsuarioMod]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [FechaRecepcion]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [MtoRedSuma]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [MtoRedResta]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [NumValeIngreso]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [MtoDcto]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [FechaImpresion]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [idUsuarioImpresion]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [idNumComprobante]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [indRetener]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [ValPorcIGV]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [IdCentro]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [NumCompServicios]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [IndOrigen]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [IndDetraccion]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [IdDetraccion]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [valPorc_Detraccion]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [IdcorrelaDetrac1]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [IdcorrelaDetrac2]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [Annio_Mov]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [MtoIES]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [indContable]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT ((0)) FOR [valPorc_NotaCredito]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT ((0)) FOR [Indrevisado]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT ((0)) FOR [indDistribucion]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [idcoddistcosto]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [indTransferidoFin]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [IndPercepcion]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT ((0)) FOR [MtoPercepcion]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (NULL) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT ('00:00:00') FOR [HoraRegistro]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [idComprobante]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT ((0.00000)) FOR [MtoDetraccion]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [IndRetencion]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT ((0)) FOR [IndDetHC]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [IdSerieGeneral]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [IdCorrelaFG1]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [IdCorrelaFG2]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT ((0.00000)) FOR [MontoFondoG]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [IdCompromiso]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT ((0)) FOR [IdCuota]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [IdCta_Pago_Compromiso]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [PeriodoRec]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'0') FOR [indPeriodoRecEstado]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [GlsPc]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [GlsPcUsuario]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [IdSesionIF]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [idBienServicio]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [IndTransferidoInvoiceCanje]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT (N'') FOR [IdComprobanteInvoiceCanje]
GO
ALTER TABLE [dbo].[regisdoc] ADD  DEFAULT ((0.00)) FOR [RentaND]
GO
