USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[formaspagos_log]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formaspagos_log](
	[idFormaPago] [char](8) NOT NULL,
	[GlsFormaPago] [varchar](185) NOT NULL,
	[idTipoFormaPago] [char](8) NOT NULL,
	[diasVcto] [bigint] NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[visible_ventas] [char](1) NOT NULL,
	[indLetra] [char](1) NOT NULL,
	[indCaja] [char](1) NOT NULL,
	[cheque] [char](2) NOT NULL,
	[ItemLog] [bigint] NOT NULL,
	[AccionLog] [char](1) NOT NULL,
	[FechaLog] [date] NOT NULL,
	[HoraLog] [time](7) NOT NULL,
	[IdUsuarioLog] [char](8) NOT NULL,
	[GlsPCLog] [varchar](100) NOT NULL,
	[GlsPCUsuarioLog] [varchar](100) NOT NULL,
 CONSTRAINT [PK_formaspagos_log_idFormaPago] PRIMARY KEY CLUSTERED 
(
	[idFormaPago] ASC,
	[idEmpresa] ASC,
	[ItemLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT (N'') FOR [idFormaPago]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT (N'') FOR [GlsFormaPago]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT (N'') FOR [idTipoFormaPago]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT ((0)) FOR [diasVcto]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT (N'') FOR [visible_ventas]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT (N'') FOR [indLetra]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT (N'') FOR [indCaja]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT (N'') FOR [cheque]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT ((0)) FOR [ItemLog]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT (N'') FOR [AccionLog]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT (N'') FOR [IdUsuarioLog]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT (N'') FOR [GlsPCLog]
GO
ALTER TABLE [dbo].[formaspagos_log] ADD  DEFAULT (N'') FOR [GlsPCUsuarioLog]
GO
