USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[canal]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[canal](
	[idCanal] [char](8) NOT NULL,
	[glsCanal] [varchar](200) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
 CONSTRAINT [PK_canal_idCanal] PRIMARY KEY CLUSTERED 
(
	[idCanal] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[canal] ADD  DEFAULT (N'') FOR [idCanal]
GO
ALTER TABLE [dbo].[canal] ADD  DEFAULT (N'') FOR [glsCanal]
GO
ALTER TABLE [dbo].[canal] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
