USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[cierresmes]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cierresmes](
	[idEmpresa] [char](8) NOT NULL,
	[FecCierre] [datetime2](0) NOT NULL,
	[idMes] [char](2) NOT NULL,
	[idAno] [char](4) NOT NULL,
	[estCierre] [char](1) NOT NULL,
	[IdSistema] [char](5) NOT NULL,
	[EstDestino] [char](1) NOT NULL,
 CONSTRAINT [PK_cierresmes_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idAno] ASC,
	[idMes] ASC,
	[IdSistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cierresmes] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[cierresmes] ADD  DEFAULT (getdate()) FOR [FecCierre]
GO
ALTER TABLE [dbo].[cierresmes] ADD  DEFAULT (N'') FOR [idMes]
GO
ALTER TABLE [dbo].[cierresmes] ADD  DEFAULT (N'') FOR [idAno]
GO
ALTER TABLE [dbo].[cierresmes] ADD  DEFAULT (N'') FOR [estCierre]
GO
ALTER TABLE [dbo].[cierresmes] ADD  DEFAULT (N'') FOR [IdSistema]
GO
ALTER TABLE [dbo].[cierresmes] ADD  DEFAULT (N'') FOR [EstDestino]
GO
