USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[planillacob]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planillacob](
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idPlanillaCob] [char](8) NOT NULL,
	[FecDeposito] [datetime2](0) NOT NULL,
	[idTipoCobro] [char](5) NOT NULL,
	[NroDeposito] [varchar](20) NOT NULL,
	[idCtaCorriente] [char](8) NOT NULL,
	[idCobrador] [char](8) NOT NULL,
	[idTipoEfectivo] [char](5) NOT NULL,
	[FecRecepcion] [datetime2](0) NOT NULL,
	[ObsPlanillaCob] [varchar](185) NOT NULL,
	[idMovBancos] [bigint] NOT NULL,
	[UsuarioReg] [char](8) NOT NULL,
	[FechaReg] [datetime2](0) NOT NULL,
	[PeriodoBancos] [char](6) NULL,
 CONSTRAINT [PK_planillacob_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[idPlanillaCob] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (N'') FOR [idPlanillaCob]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (getdate()) FOR [FecDeposito]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (N'') FOR [idTipoCobro]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (N'') FOR [NroDeposito]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (N'') FOR [idCtaCorriente]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (N'') FOR [idCobrador]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (N'') FOR [idTipoEfectivo]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (getdate()) FOR [FecRecepcion]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (N'') FOR [ObsPlanillaCob]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT ((0)) FOR [idMovBancos]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (N'') FOR [UsuarioReg]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (getdate()) FOR [FechaReg]
GO
ALTER TABLE [dbo].[planillacob] ADD  DEFAULT (NULL) FOR [PeriodoBancos]
GO
