USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[varUsuario] [varchar](20) NOT NULL,
	[varPass] [varchar](20) NOT NULL,
	[idPerfil] [char](8) NOT NULL,
	[idUsuario] [char](8) NOT NULL,
	[idEmpresa] [varchar](45) NOT NULL,
	[serieetiquetera] [varchar](20) NOT NULL,
	[Autogenerado] [varchar](45) NOT NULL,
	[ImpresoraLetras] [varchar](20) NOT NULL,
	[IndJefe] [bigint] NOT NULL,
	[FecModClave] [datetime2](0) NULL,
	[idCentroCosto] [char](8) NOT NULL,
	[idAlmacen] [char](8) NOT NULL,
 CONSTRAINT [PK_usuarios_idUsuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (N'') FOR [varUsuario]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (N'') FOR [varPass]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (N'') FOR [idPerfil]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (N'') FOR [idUsuario]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (N'') FOR [serieetiquetera]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (N'') FOR [Autogenerado]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (N'') FOR [ImpresoraLetras]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [IndJefe]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (NULL) FOR [FecModClave]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (N'') FOR [idCentroCosto]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (N'') FOR [idAlmacen]
GO
