USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tipoformaspago]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoformaspago](
	[idTipoFormaPago] [char](8) NOT NULL,
	[GlsTipoFormaPago] [varchar](185) NOT NULL,
	[TipoFormaPago] [char](1) NOT NULL,
 CONSTRAINT [PK_tipoformaspago_idTipoFormaPago] PRIMARY KEY CLUSTERED 
(
	[idTipoFormaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tipoformaspago] ADD  DEFAULT (N'') FOR [idTipoFormaPago]
GO
ALTER TABLE [dbo].[tipoformaspago] ADD  DEFAULT (N'') FOR [GlsTipoFormaPago]
GO
ALTER TABLE [dbo].[tipoformaspago] ADD  DEFAULT (N'') FOR [TipoFormaPago]
GO
