USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[responsablesmov]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[responsablesmov](
	[idempresa] [char](8) NOT NULL,
	[idResponsable] [char](8) NOT NULL,
	[FechaInicio] [datetime2](0) NULL,
	[FechaTermino] [datetime2](0) NULL,
	[idactivo] [char](8) NOT NULL,
	[item] [bigint] NOT NULL,
 CONSTRAINT [PK_responsablesmov_idempresa] PRIMARY KEY CLUSTERED 
(
	[idempresa] ASC,
	[item] ASC,
	[idResponsable] ASC,
	[idactivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[responsablesmov] ADD  DEFAULT (N'') FOR [idempresa]
GO
ALTER TABLE [dbo].[responsablesmov] ADD  DEFAULT (N'') FOR [idResponsable]
GO
ALTER TABLE [dbo].[responsablesmov] ADD  DEFAULT (NULL) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[responsablesmov] ADD  DEFAULT (NULL) FOR [FechaTermino]
GO
ALTER TABLE [dbo].[responsablesmov] ADD  DEFAULT (N'') FOR [idactivo]
GO
ALTER TABLE [dbo].[responsablesmov] ADD  DEFAULT ((0)) FOR [item]
GO
