USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[incidencias]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incidencias](
	[idIncidencia] [varchar](2) NOT NULL,
	[glsIncidencia] [varchar](30) NULL,
 CONSTRAINT [PK_incidencias_idIncidencia] PRIMARY KEY CLUSTERED 
(
	[idIncidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[incidencias] ADD  DEFAULT (NULL) FOR [glsIncidencia]
GO
