USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[receta]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receta](
	[IdEmpresa] [char](2) NOT NULL,
	[IdReceta] [varchar](8) NOT NULL,
	[GlsReceta] [varchar](250) NOT NULL,
	[IdMoneda] [char](3) NOT NULL,
	[GlsObservacion] [varchar](250) NOT NULL,
	[FechaHoraRegistro] [datetime2](0) NOT NULL,
	[IdUsuarioRegistro] [char](8) NOT NULL,
	[GlsPC] [varchar](100) NOT NULL,
	[GlsPcUsuario] [varchar](100) NOT NULL,
 CONSTRAINT [PK_receta_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [receta$Index_3] UNIQUE NONCLUSTERED 
(
	[IdEmpresa] ASC,
	[GlsReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[receta] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[receta] ADD  DEFAULT (N'') FOR [IdReceta]
GO
ALTER TABLE [dbo].[receta] ADD  DEFAULT (N'') FOR [GlsReceta]
GO
ALTER TABLE [dbo].[receta] ADD  DEFAULT (N'') FOR [IdMoneda]
GO
ALTER TABLE [dbo].[receta] ADD  DEFAULT (N'') FOR [GlsObservacion]
GO
ALTER TABLE [dbo].[receta] ADD  DEFAULT (getdate()) FOR [FechaHoraRegistro]
GO
ALTER TABLE [dbo].[receta] ADD  DEFAULT (N'') FOR [IdUsuarioRegistro]
GO
ALTER TABLE [dbo].[receta] ADD  DEFAULT (N'') FOR [GlsPC]
GO
ALTER TABLE [dbo].[receta] ADD  DEFAULT (N'') FOR [GlsPcUsuario]
GO
