USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[movpend]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movpend](
	[idCtaCorriente] [bigint] NOT NULL,
	[idMovBancosCab] [int] NOT NULL,
	[idOpeBancaria] [char](2) NOT NULL,
	[Nro_Comp] [varchar](15) NOT NULL,
	[Detalle] [varchar](100) NOT NULL,
	[FecEmision] [datetime2](0) NOT NULL,
	[ValTotal] [decimal](14, 5) NOT NULL,
	[Periodo] [char](6) NOT NULL,
	[Destino] [char](1) NOT NULL,
	[indConciliado] [char](1) NOT NULL,
	[indEstado] [char](3) NOT NULL,
	[Registro] [int] NOT NULL,
	[FecConciliado] [datetime2](0) NOT NULL,
	[Tipo] [char](1) NOT NULL,
	[FecVcto] [datetime2](0) NOT NULL,
	[indEntregado] [char](1) NOT NULL,
	[FecEntregado] [datetime2](0) NOT NULL,
	[idProveedor] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
 CONSTRAINT [PK_movpend_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idCtaCorriente] ASC,
	[idMovBancosCab] ASC,
	[Periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT ((0)) FOR [idCtaCorriente]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT ((0)) FOR [idMovBancosCab]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (N'') FOR [idOpeBancaria]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (N'') FOR [Nro_Comp]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (N'') FOR [Detalle]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (getdate()) FOR [FecEmision]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT ((0.00000)) FOR [ValTotal]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (N'') FOR [Periodo]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (N'') FOR [Destino]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (N'0') FOR [indConciliado]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (N'0') FOR [indEstado]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT ((0)) FOR [Registro]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (getdate()) FOR [FecConciliado]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (N'') FOR [Tipo]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (getdate()) FOR [FecVcto]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (N'') FOR [indEntregado]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (getdate()) FOR [FecEntregado]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (N'') FOR [idProveedor]
GO
ALTER TABLE [dbo].[movpend] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
