USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[permisosusuarios]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permisosusuarios](
	[idUsuario] [char](8) NOT NULL,
	[idPermiso] [char](2) NOT NULL,
	[item] [varchar](45) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[CodSistema] [char](2) NOT NULL,
 CONSTRAINT [PK_permisosusuarios_idUsuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[idPermiso] ASC,
	[item] ASC,
	[idEmpresa] ASC,
	[CodSistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[permisosusuarios] ADD  DEFAULT (N'') FOR [idUsuario]
GO
ALTER TABLE [dbo].[permisosusuarios] ADD  DEFAULT (N'') FOR [idPermiso]
GO
ALTER TABLE [dbo].[permisosusuarios] ADD  DEFAULT (N'') FOR [item]
GO
ALTER TABLE [dbo].[permisosusuarios] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[permisosusuarios] ADD  DEFAULT (N'') FOR [CodSistema]
GO
