USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[estructurareportecuentas]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estructurareportecuentas](
	[idTipoEstruc] [char](2) NOT NULL,
	[nPagina] [char](2) NOT NULL,
	[nLinea] [char](3) NOT NULL,
	[Tipo] [char](2) NULL,
	[Descri] [varchar](255) NULL,
	[codTotGrupo] [varchar](2) NOT NULL,
 CONSTRAINT [PK_estructurareportecuentas_idTipoEstruc] PRIMARY KEY CLUSTERED 
(
	[idTipoEstruc] ASC,
	[nPagina] ASC,
	[nLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[estructurareportecuentas] ADD  DEFAULT (N'') FOR [idTipoEstruc]
GO
ALTER TABLE [dbo].[estructurareportecuentas] ADD  DEFAULT (N'') FOR [nPagina]
GO
ALTER TABLE [dbo].[estructurareportecuentas] ADD  DEFAULT (N'') FOR [nLinea]
GO
ALTER TABLE [dbo].[estructurareportecuentas] ADD  DEFAULT (NULL) FOR [Tipo]
GO
ALTER TABLE [dbo].[estructurareportecuentas] ADD  DEFAULT (NULL) FOR [Descri]
GO
ALTER TABLE [dbo].[estructurareportecuentas] ADD  DEFAULT (N'') FOR [codTotGrupo]
GO
