USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[proveedoresformapagos]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedoresformapagos](
	[idEmpresa] [char](2) NOT NULL,
	[idProveedor] [char](8) NOT NULL,
	[idFormaPago] [char](8) NOT NULL,
	[FecRegistro] [datetime2](0) NOT NULL,
	[idUsuario] [char](8) NOT NULL,
	[indEstado] [bigint] NOT NULL,
 CONSTRAINT [PK_proveedoresformapagos_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idProveedor] ASC,
	[idFormaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[proveedoresformapagos] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[proveedoresformapagos] ADD  DEFAULT (N'') FOR [idProveedor]
GO
ALTER TABLE [dbo].[proveedoresformapagos] ADD  DEFAULT (N'') FOR [idFormaPago]
GO
ALTER TABLE [dbo].[proveedoresformapagos] ADD  DEFAULT (getdate()) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[proveedoresformapagos] ADD  DEFAULT (N'') FOR [idUsuario]
GO
ALTER TABLE [dbo].[proveedoresformapagos] ADD  DEFAULT ((0)) FOR [indEstado]
GO
