USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[controllineacredito]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[controllineacredito](
	[IdEmpresa] [char](2) NOT NULL,
	[IdCliente] [char](8) NOT NULL,
	[IdMoneda] [char](3) NOT NULL,
	[Linea_Actual] [decimal](14, 5) NOT NULL,
	[Linea_Usada] [decimal](14, 5) NOT NULL,
	[Saldo] [decimal](14, 5) NOT NULL,
	[Estado] [varchar](5) NOT NULL,
	[IndSuspension] [char](1) NOT NULL,
 CONSTRAINT [PK_controllineacredito_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[controllineacredito] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[controllineacredito] ADD  DEFAULT (N'') FOR [IdCliente]
GO
ALTER TABLE [dbo].[controllineacredito] ADD  DEFAULT (N'') FOR [IdMoneda]
GO
ALTER TABLE [dbo].[controllineacredito] ADD  DEFAULT ((0.00000)) FOR [Linea_Actual]
GO
ALTER TABLE [dbo].[controllineacredito] ADD  DEFAULT ((0.00000)) FOR [Linea_Usada]
GO
ALTER TABLE [dbo].[controllineacredito] ADD  DEFAULT ((0.00000)) FOR [Saldo]
GO
ALTER TABLE [dbo].[controllineacredito] ADD  DEFAULT (N'') FOR [Estado]
GO
ALTER TABLE [dbo].[controllineacredito] ADD  DEFAULT (N'0') FOR [IndSuspension]
GO
