USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[atribucionesdet]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[atribucionesdet](
	[IdEmpresa] [char](2) NOT NULL,
	[IdSerieAtri] [char](3) NOT NULL,
	[IdDocAtri] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[IdProducto] [varchar](8) NOT NULL,
	[GlsProducto] [varchar](255) NOT NULL,
	[ImpConteo] [decimal](14, 5) NOT NULL,
	[PorcOP] [decimal](14, 5) NOT NULL,
	[PorcOV] [decimal](14, 5) NOT NULL,
	[ImpAtribucion] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_atribucionesdet_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdDocAtri] ASC,
	[IdSerieAtri] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[atribucionesdet] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[atribucionesdet] ADD  DEFAULT (N'') FOR [IdSerieAtri]
GO
ALTER TABLE [dbo].[atribucionesdet] ADD  DEFAULT (N'') FOR [IdDocAtri]
GO
ALTER TABLE [dbo].[atribucionesdet] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[atribucionesdet] ADD  DEFAULT (N'') FOR [IdProducto]
GO
ALTER TABLE [dbo].[atribucionesdet] ADD  DEFAULT (N'') FOR [GlsProducto]
GO
ALTER TABLE [dbo].[atribucionesdet] ADD  DEFAULT ((0.00000)) FOR [ImpConteo]
GO
ALTER TABLE [dbo].[atribucionesdet] ADD  DEFAULT ((0.00000)) FOR [PorcOP]
GO
ALTER TABLE [dbo].[atribucionesdet] ADD  DEFAULT ((0.00000)) FOR [PorcOV]
GO
ALTER TABLE [dbo].[atribucionesdet] ADD  DEFAULT ((0.00000)) FOR [ImpAtribucion]
GO
