USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tiendascliente]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiendascliente](
	[idEmpresa] [char](2) NOT NULL,
	[idPersona] [char](8) NOT NULL,
	[item] [bigint] NOT NULL,
	[GlsNombre] [varchar](120) NOT NULL,
	[GlsDireccion] [varchar](120) NOT NULL,
	[GlsTelefonos] [varchar](85) NOT NULL,
	[GlsContacto] [varchar](120) NOT NULL,
	[idDistrito] [varchar](8) NOT NULL,
	[idVendedor] [char](8) NOT NULL,
	[idPais] [varchar](8) NOT NULL,
	[idtdacli] [varchar](20) NOT NULL,
 CONSTRAINT [PK_tiendascliente_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idPersona] ASC,
	[item] ASC,
	[idtdacli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tiendascliente] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[tiendascliente] ADD  DEFAULT (N'') FOR [idPersona]
GO
ALTER TABLE [dbo].[tiendascliente] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[tiendascliente] ADD  DEFAULT (N'') FOR [GlsNombre]
GO
ALTER TABLE [dbo].[tiendascliente] ADD  DEFAULT (N'') FOR [GlsDireccion]
GO
ALTER TABLE [dbo].[tiendascliente] ADD  DEFAULT (N'') FOR [GlsTelefonos]
GO
ALTER TABLE [dbo].[tiendascliente] ADD  DEFAULT (N'') FOR [GlsContacto]
GO
ALTER TABLE [dbo].[tiendascliente] ADD  DEFAULT (N'') FOR [idDistrito]
GO
ALTER TABLE [dbo].[tiendascliente] ADD  DEFAULT (N'') FOR [idVendedor]
GO
ALTER TABLE [dbo].[tiendascliente] ADD  DEFAULT (N'') FOR [idPais]
GO
ALTER TABLE [dbo].[tiendascliente] ADD  DEFAULT (N'') FOR [idtdacli]
GO
