USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[turnos]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turnos](
	[idEmpresa] [char](2) NOT NULL,
	[idTurno] [char](8) NOT NULL,
	[glsTurno] [varchar](120) NOT NULL,
 CONSTRAINT [PK_turnos_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[turnos] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[turnos] ADD  DEFAULT (N'') FOR [idTurno]
GO
ALTER TABLE [dbo].[turnos] ADD  DEFAULT (N'') FOR [glsTurno]
GO
