USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[transformacioncab]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transformacioncab](
	[Idempresa] [char](2) NOT NULL,
	[Idsucursal] [char](8) NOT NULL,
	[idTransformacion] [char](8) NOT NULL,
	[idAlmacen] [char](8) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[Observacion] [varchar](255) NOT NULL,
	[Cantidad] [float] NOT NULL,
	[UsuarioReg] [char](8) NOT NULL,
	[FechaReg] [date] NOT NULL,
	[HoraReg] [time](7) NOT NULL,
	[UsuarioMod] [char](8) NOT NULL,
	[FechaMod] [date] NOT NULL,
	[HoraMod] [time](7) NOT NULL,
	[IndEstado] [bigint] NOT NULL,
	[IdValesCabI] [char](8) NOT NULL,
	[IdValesCabS] [char](8) NOT NULL,
	[FecEmision] [date] NOT NULL,
	[UsuarioAnu] [char](8) NOT NULL,
	[FechaAnu] [date] NOT NULL,
	[HoraAnu] [time](7) NOT NULL,
 CONSTRAINT [PK_transformacioncab_Idempresa] PRIMARY KEY CLUSTERED 
(
	[Idempresa] ASC,
	[Idsucursal] ASC,
	[idTransformacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (N'') FOR [Idempresa]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (N'') FOR [Idsucursal]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (N'') FOR [idTransformacion]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (N'') FOR [idAlmacen]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (N'') FOR [Observacion]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (N'') FOR [UsuarioReg]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (getdate()) FOR [FechaReg]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT ('00:00:00') FOR [HoraReg]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (N'') FOR [UsuarioMod]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (getdate()) FOR [FechaMod]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT ('00:00:00') FOR [HoraMod]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT ((0)) FOR [IndEstado]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (N'') FOR [IdValesCabI]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (N'') FOR [IdValesCabS]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (getdate()) FOR [FecEmision]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (N'') FOR [UsuarioAnu]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT (getdate()) FOR [FechaAnu]
GO
ALTER TABLE [dbo].[transformacioncab] ADD  DEFAULT ('00:00:00') FOR [HoraAnu]
GO
