USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[proveedoresnovalidos]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedoresnovalidos](
	[Ruc] [varchar](11) NOT NULL,
	[Glsproveedor] [varchar](255) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[GlsEstado] [varchar](255) NOT NULL,
 CONSTRAINT [PK_proveedoresnovalidos_Ruc] PRIMARY KEY CLUSTERED 
(
	[Ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[proveedoresnovalidos] ADD  DEFAULT (N'') FOR [Ruc]
GO
ALTER TABLE [dbo].[proveedoresnovalidos] ADD  DEFAULT (N'') FOR [Glsproveedor]
GO
ALTER TABLE [dbo].[proveedoresnovalidos] ADD  DEFAULT (N'') FOR [Estado]
GO
ALTER TABLE [dbo].[proveedoresnovalidos] ADD  DEFAULT (N'') FOR [GlsEstado]
GO
