USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tbgrupos_cuentas]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbgrupos_cuentas](
	[idGrupo] [varchar](4) NOT NULL,
	[idCtaContable] [varchar](12) NOT NULL,
	[GlsctaContable] [varchar](50) NULL,
	[Signo] [varchar](1) NULL,
	[idEmpresa] [char](2) NOT NULL,
 CONSTRAINT [PK_tbgrupos_cuentas_idGrupo] PRIMARY KEY CLUSTERED 
(
	[idGrupo] ASC,
	[idCtaContable] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbgrupos_cuentas] ADD  DEFAULT (N'') FOR [idGrupo]
GO
ALTER TABLE [dbo].[tbgrupos_cuentas] ADD  DEFAULT (N'') FOR [idCtaContable]
GO
ALTER TABLE [dbo].[tbgrupos_cuentas] ADD  DEFAULT (NULL) FOR [GlsctaContable]
GO
ALTER TABLE [dbo].[tbgrupos_cuentas] ADD  DEFAULT (NULL) FOR [Signo]
GO
ALTER TABLE [dbo].[tbgrupos_cuentas] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
