USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[cajasusuario]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cajasusuario](
	[idCaja] [char](8) NOT NULL,
	[idUsuario] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[idEmpresa] [char](8) NOT NULL,
 CONSTRAINT [PK_cajasusuario_idCaja] PRIMARY KEY CLUSTERED 
(
	[idCaja] ASC,
	[idUsuario] ASC,
	[Item] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cajasusuario] ADD  DEFAULT (N'') FOR [idCaja]
GO
ALTER TABLE [dbo].[cajasusuario] ADD  DEFAULT (N'') FOR [idUsuario]
GO
ALTER TABLE [dbo].[cajasusuario] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[cajasusuario] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
