USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[docventasliqcab]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docventasliqcab](
	[IdEmpresa] [char](2) NOT NULL,
	[IdSucursal] [char](8) NOT NULL,
	[IdLiquidacion] [char](8) NOT NULL,
	[idCamal] [char](8) NOT NULL,
	[GlsObservacion] [varchar](250) NOT NULL,
	[ValPesoVivo] [decimal](14, 5) NOT NULL,
	[ValPeso] [decimal](14, 5) NOT NULL,
	[ValRendimiento] [decimal](14, 5) NOT NULL,
	[ValEdad] [decimal](14, 5) NOT NULL,
	[FecRegistro] [datetime2](0) NOT NULL,
	[HoraRegistro] [varchar](30) NOT NULL,
	[IdUsuarioRegistro] [char](8) NOT NULL,
	[HoraModificado] [varchar](30) NOT NULL,
	[IdUsuarioModificado] [char](8) NOT NULL,
	[FecEmision] [datetime2](0) NOT NULL,
	[FecModificado] [datetime2](0) NOT NULL,
	[CantidadImp] [decimal](14, 5) NOT NULL,
	[PesoImp] [decimal](14, 5) NOT NULL,
	[IdValesCabI] [varchar](8) NULL,
	[IdValesCabS] [varchar](8) NULL,
 CONSTRAINT [PK_docventasliqcab_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdSucursal] ASC,
	[IdLiquidacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (N'') FOR [IdSucursal]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (N'') FOR [IdLiquidacion]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (N'') FOR [idCamal]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (N'') FOR [GlsObservacion]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT ((0.00000)) FOR [ValPesoVivo]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT ((0.00000)) FOR [ValPeso]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT ((0.00000)) FOR [ValRendimiento]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT ((0.00000)) FOR [ValEdad]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (getdate()) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (N'') FOR [HoraRegistro]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (N'') FOR [IdUsuarioRegistro]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (N'') FOR [HoraModificado]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (N'') FOR [IdUsuarioModificado]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (getdate()) FOR [FecEmision]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (getdate()) FOR [FecModificado]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT ((0.00000)) FOR [CantidadImp]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT ((0.00000)) FOR [PesoImp]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (NULL) FOR [IdValesCabI]
GO
ALTER TABLE [dbo].[docventasliqcab] ADD  DEFAULT (NULL) FOR [IdValesCabS]
GO
