USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tipooperacionbancaria]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipooperacionbancaria](
	[idTipoOpeBancaria] [char](1) NOT NULL,
	[glsTipoOpeBancaria] [varchar](50) NULL,
	[Destino] [varchar](1) NULL,
 CONSTRAINT [PK_tipooperacionbancaria_idTipoOpeBancaria] PRIMARY KEY CLUSTERED 
(
	[idTipoOpeBancaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tipooperacionbancaria] ADD  DEFAULT (N'') FOR [idTipoOpeBancaria]
GO
ALTER TABLE [dbo].[tipooperacionbancaria] ADD  DEFAULT (NULL) FOR [glsTipoOpeBancaria]
GO
ALTER TABLE [dbo].[tipooperacionbancaria] ADD  DEFAULT (NULL) FOR [Destino]
GO
