USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[activosresponsable]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activosresponsable](
	[idPersona] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
 CONSTRAINT [PK_activosresponsable_idPersona] PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activosresponsable] ADD  DEFAULT (N'') FOR [idPersona]
GO
ALTER TABLE [dbo].[activosresponsable] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
