USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[obligaciones]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obligaciones](
	[CODIGO] [varchar](2) NOT NULL,
	[DESCRIP] [varchar](20) NULL,
	[Tipo] [varchar](1) NULL,
 CONSTRAINT [PK_obligaciones_CODIGO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[obligaciones] ADD  DEFAULT (NULL) FOR [DESCRIP]
GO
ALTER TABLE [dbo].[obligaciones] ADD  DEFAULT (NULL) FOR [Tipo]
GO
