USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[conceptos]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conceptos](
	[idConcepto] [char](2) NOT NULL,
	[glsConcepto] [varchar](85) NOT NULL,
	[tipoConcepto] [char](1) NOT NULL,
	[indCosto] [char](1) NOT NULL,
	[CodCon] [varchar](3) NULL,
	[indCentro] [char](1) NULL,
	[indautomatico] [char](1) NULL,
	[indCompra] [bigint] NOT NULL,
	[idSunat] [char](2) NOT NULL,
	[IndDevolucion] [bigint] NOT NULL,
	[IdConceptoIF] [varchar](45) NOT NULL,
 CONSTRAINT [PK_conceptos_idConcepto] PRIMARY KEY CLUSTERED 
(
	[idConcepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[conceptos] ADD  DEFAULT (N'') FOR [idConcepto]
GO
ALTER TABLE [dbo].[conceptos] ADD  DEFAULT (N'') FOR [glsConcepto]
GO
ALTER TABLE [dbo].[conceptos] ADD  DEFAULT (N'') FOR [tipoConcepto]
GO
ALTER TABLE [dbo].[conceptos] ADD  DEFAULT (N'') FOR [indCosto]
GO
ALTER TABLE [dbo].[conceptos] ADD  DEFAULT (N'') FOR [CodCon]
GO
ALTER TABLE [dbo].[conceptos] ADD  DEFAULT (N'') FOR [indCentro]
GO
ALTER TABLE [dbo].[conceptos] ADD  DEFAULT ((0)) FOR [indCompra]
GO
ALTER TABLE [dbo].[conceptos] ADD  DEFAULT (N'') FOR [idSunat]
GO
ALTER TABLE [dbo].[conceptos] ADD  DEFAULT ((0)) FOR [IndDevolucion]
GO
ALTER TABLE [dbo].[conceptos] ADD  DEFAULT (N'') FOR [IdConceptoIF]
GO
