USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[conci_bc]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conci_bc](
	[IdEmpresa] [char](2) NOT NULL,
	[IdBanco] [char](8) NOT NULL,
	[GlsConcepto] [varchar](250) NOT NULL,
	[Destino] [char](1) NOT NULL,
	[IdGastosIngresos] [varchar](4) NOT NULL,
	[IdOpeBancaria] [varchar](2) NOT NULL,
	[IdUsuarioReg] [varchar](8) NOT NULL,
	[FechaHoraReg] [datetime2](0) NOT NULL,
	[IdUsuarioMod] [varchar](8) NOT NULL,
	[FechaHoraMod] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_conci_bc_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdBanco] ASC,
	[GlsConcepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[conci_bc] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[conci_bc] ADD  DEFAULT (N'') FOR [IdBanco]
GO
ALTER TABLE [dbo].[conci_bc] ADD  DEFAULT (N'') FOR [GlsConcepto]
GO
ALTER TABLE [dbo].[conci_bc] ADD  DEFAULT (N'') FOR [Destino]
GO
ALTER TABLE [dbo].[conci_bc] ADD  DEFAULT (N'') FOR [IdGastosIngresos]
GO
ALTER TABLE [dbo].[conci_bc] ADD  DEFAULT (N'') FOR [IdOpeBancaria]
GO
ALTER TABLE [dbo].[conci_bc] ADD  DEFAULT (N'') FOR [IdUsuarioReg]
GO
ALTER TABLE [dbo].[conci_bc] ADD  DEFAULT (getdate()) FOR [FechaHoraReg]
GO
ALTER TABLE [dbo].[conci_bc] ADD  DEFAULT (N'') FOR [IdUsuarioMod]
GO
ALTER TABLE [dbo].[conci_bc] ADD  DEFAULT (getdate()) FOR [FechaHoraMod]
GO
