USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[retencioncab_log]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[retencioncab_log](
	[IdEmpresa] [char](2) NOT NULL,
	[IdSerie] [char](4) NOT NULL,
	[IdComprobante] [varchar](8) NOT NULL,
	[IdProveedor] [varchar](8) NULL,
	[Fec_Emision] [date] NOT NULL,
	[Estado] [char](3) NOT NULL,
	[ValTipoCambio] [decimal](14, 5) NOT NULL,
	[IdPeriodo] [char](6) NOT NULL,
	[IdMovBancosCab] [bigint] NOT NULL,
	[IdCtaCorriente] [bigint] NOT NULL,
	[IdComprobanteCont] [varchar](45) NOT NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
	[IdUsuarioRegistro] [varchar](8) NOT NULL,
	[ItemLog] [bigint] NOT NULL,
	[AccionLog] [char](1) NOT NULL,
	[FechaLog] [date] NOT NULL,
	[HoraLog] [time](7) NOT NULL,
	[IdUsuarioLog] [char](8) NOT NULL,
	[GlsPCLog] [varchar](100) NOT NULL,
	[GlsPCUsuarioLog] [varchar](100) NOT NULL,
	[IdAplicaPagCab] [varchar](8) NOT NULL,
 CONSTRAINT [PK_retencioncab_log_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdComprobante] ASC,
	[IdSerie] ASC,
	[ItemLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (N'') FOR [IdSerie]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (N'') FOR [IdComprobante]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (NULL) FOR [IdProveedor]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (getdate()) FOR [Fec_Emision]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (N'') FOR [Estado]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT ((0.00000)) FOR [ValTipoCambio]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (N'') FOR [IdPeriodo]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT ((0)) FOR [IdMovBancosCab]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT ((0)) FOR [IdCtaCorriente]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (N'') FOR [IdComprobanteCont]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (N'') FOR [IdUsuarioRegistro]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT ((0)) FOR [ItemLog]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (N'') FOR [AccionLog]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (N'') FOR [IdUsuarioLog]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (N'') FOR [GlsPCLog]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (N'') FOR [GlsPCUsuarioLog]
GO
ALTER TABLE [dbo].[retencioncab_log] ADD  DEFAULT (N'') FOR [IdAplicaPagCab]
GO
