USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[motivosncd]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[motivosncd](
	[idMotivoNCD] [char](8) NOT NULL,
	[GlsMotivoNCD] [varchar](185) NOT NULL,
	[tipoNCD] [char](1) NOT NULL,
	[IdDocumento] [varchar](2) NOT NULL,
	[IdCodigoVE] [varchar](2) NOT NULL,
	[IdConcepto] [varchar](2) NOT NULL,
	[Codigo_Sunat] [varchar](20) NULL,
 CONSTRAINT [PK_motivosncd_idMotivoNCD] PRIMARY KEY CLUSTERED 
(
	[idMotivoNCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[motivosncd] ADD  DEFAULT (N'') FOR [idMotivoNCD]
GO
ALTER TABLE [dbo].[motivosncd] ADD  DEFAULT (N'') FOR [GlsMotivoNCD]
GO
ALTER TABLE [dbo].[motivosncd] ADD  DEFAULT (N'') FOR [tipoNCD]
GO
ALTER TABLE [dbo].[motivosncd] ADD  DEFAULT (N'') FOR [IdConcepto]
GO
