USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[planillacobdet_log]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planillacobdet_log](
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idPlanillaCob] [char](8) NOT NULL,
	[item] [bigint] NOT NULL,
	[idCta_Dcto] [char](8) NOT NULL,
	[idCliente] [char](8) NOT NULL,
	[valTipoCambio] [decimal](14, 5) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[ValSaldoOriginal] [decimal](14, 5) NOT NULL,
	[ruc] [varchar](11) NOT NULL,
	[NroDocumento] [varchar](25) NOT NULL,
	[ValSaldoInicial] [decimal](14, 5) NOT NULL,
	[ValImporteCobrado] [decimal](14, 5) NOT NULL,
	[ValSaldoFinal] [decimal](14, 5) NOT NULL,
	[idTipoCobro] [char](5) NOT NULL,
	[NroOperacion] [varchar](25) NOT NULL,
	[NroCheque] [varchar](30) NOT NULL,
	[idBanco] [char](8) NOT NULL,
	[NroComprobante] [varchar](25) NOT NULL,
	[ValAjuste] [decimal](14, 5) NOT NULL,
	[ValImporte] [decimal](14, 5) NOT NULL,
	[Compretencion] [varchar](25) NOT NULL,
	[idCta_Plani] [varchar](11) NOT NULL,
	[idCta_Ajuste] [varchar](11) NOT NULL,
	[FecVcto_ChqDif] [datetime2](0) NOT NULL,
	[FecCr_Retencion] [datetime2](0) NOT NULL,
	[Item_Log] [bigint] NOT NULL,
 CONSTRAINT [PK_planillacobdet_log_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[idPlanillaCob] ASC,
	[item] ASC,
	[Item_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [idPlanillaCob]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [idCta_Dcto]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [idCliente]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT ((0.00000)) FOR [valTipoCambio]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT ((0.00000)) FOR [ValSaldoOriginal]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [ruc]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [NroDocumento]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT ((0.00000)) FOR [ValSaldoInicial]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT ((0.00000)) FOR [ValImporteCobrado]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT ((0.00000)) FOR [ValSaldoFinal]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [idTipoCobro]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [NroOperacion]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [NroCheque]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [idBanco]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [NroComprobante]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT ((0.00000)) FOR [ValAjuste]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT ((0.00000)) FOR [ValImporte]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [Compretencion]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [idCta_Plani]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (N'') FOR [idCta_Ajuste]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT (getdate()) FOR [FecVcto_ChqDif]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT ('1000-01-01 00:00:00.000000') FOR [FecCr_Retencion]
GO
ALTER TABLE [dbo].[planillacobdet_log] ADD  DEFAULT ((0)) FOR [Item_Log]
GO
