USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[opcionesmenu]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opcionesmenu](
	[opmCod] [bigint] IDENTITY(1,1) NOT NULL,
	[opmDes] [varchar](185) NOT NULL,
	[opmNum] [varchar](45) NOT NULL,
	[opmIndex] [bigint] NOT NULL,
	[opmEstado] [char](1) NOT NULL,
	[CodSistema] [char](2) NOT NULL,
 CONSTRAINT [PK_opcionesmenu_opmCod] PRIMARY KEY CLUSTERED 
(
	[opmCod] ASC,
	[CodSistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [opcionesmenu$Index_2] UNIQUE NONCLUSTERED 
(
	[CodSistema] ASC,
	[opmNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[opcionesmenu] ADD  DEFAULT (N'') FOR [opmDes]
GO
ALTER TABLE [dbo].[opcionesmenu] ADD  DEFAULT (N'') FOR [opmNum]
GO
ALTER TABLE [dbo].[opcionesmenu] ADD  DEFAULT ((0)) FOR [opmIndex]
GO
ALTER TABLE [dbo].[opcionesmenu] ADD  DEFAULT (N'S') FOR [opmEstado]
GO
ALTER TABLE [dbo].[opcionesmenu] ADD  DEFAULT (N'') FOR [CodSistema]
GO
