USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[regismov_log]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regismov_log](
	[Item] [smallint] NOT NULL,
	[idMesMov] [varchar](2) NOT NULL,
	[idNumMov] [varchar](20) NOT NULL,
	[idGastosIngresos] [varchar](4) NULL,
	[idCtaContable] [varchar](12) NULL,
	[GlsConcepto] [varchar](255) NULL,
	[ValImporte] [float] NULL,
	[indAfecto] [varchar](1) NULL,
	[indDebHab] [varchar](1) NULL,
	[idCentro] [varchar](8) NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[Annio_Mov] [varchar](4) NOT NULL,
	[NumReferencia] [varchar](45) NOT NULL,
	[Item_Log] [bigint] NOT NULL,
 CONSTRAINT [PK_regismov_log_idMesMov] PRIMARY KEY CLUSTERED 
(
	[idMesMov] ASC,
	[idNumMov] ASC,
	[Annio_Mov] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[Item] ASC,
	[Item_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT (N'') FOR [idMesMov]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT (N'') FOR [idNumMov]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT (NULL) FOR [idGastosIngresos]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT (NULL) FOR [idCtaContable]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT (NULL) FOR [GlsConcepto]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT (NULL) FOR [ValImporte]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT (NULL) FOR [indAfecto]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT (NULL) FOR [indDebHab]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT (NULL) FOR [idCentro]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT (N'') FOR [Annio_Mov]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT (N'') FOR [NumReferencia]
GO
ALTER TABLE [dbo].[regismov_log] ADD  DEFAULT ((0)) FOR [Item_Log]
GO
