USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[regisdocimp]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regisdocimp](
	[IdRegisDocImp] [bigint] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [varchar](2) NOT NULL,
	[Annio_Mov] [varchar](4) NOT NULL,
	[IdMesMov] [varchar](2) NOT NULL,
	[IdNumMov] [varchar](8) NOT NULL,
	[ItemMov] [bigint] NOT NULL,
	[Item] [bigint] NOT NULL,
	[Annio_MovImp] [varchar](4) NOT NULL,
	[IdMesMovImp] [varchar](2) NOT NULL,
	[IdNumMovImp] [varchar](8) NOT NULL,
	[IdCta_Dcto_Canje] [varchar](8) NOT NULL,
 CONSTRAINT [PK_regisdocimp_IdRegisDocImp] PRIMARY KEY CLUSTERED 
(
	[IdRegisDocImp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [regisdocimp$Index_1] UNIQUE NONCLUSTERED 
(
	[IdEmpresa] ASC,
	[Annio_Mov] ASC,
	[IdMesMov] ASC,
	[IdNumMov] ASC,
	[ItemMov] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [regisdocimp$Index_2] UNIQUE NONCLUSTERED 
(
	[IdEmpresa] ASC,
	[Annio_Mov] ASC,
	[IdMesMov] ASC,
	[IdNumMov] ASC,
	[ItemMov] ASC,
	[Annio_MovImp] ASC,
	[IdMesMovImp] ASC,
	[IdNumMovImp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[regisdocimp] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[regisdocimp] ADD  DEFAULT (N'') FOR [Annio_Mov]
GO
ALTER TABLE [dbo].[regisdocimp] ADD  DEFAULT (N'') FOR [IdMesMov]
GO
ALTER TABLE [dbo].[regisdocimp] ADD  DEFAULT (N'') FOR [IdNumMov]
GO
ALTER TABLE [dbo].[regisdocimp] ADD  DEFAULT ((0)) FOR [ItemMov]
GO
ALTER TABLE [dbo].[regisdocimp] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[regisdocimp] ADD  DEFAULT (N'') FOR [Annio_MovImp]
GO
ALTER TABLE [dbo].[regisdocimp] ADD  DEFAULT (N'') FOR [IdMesMovImp]
GO
ALTER TABLE [dbo].[regisdocimp] ADD  DEFAULT (N'') FOR [IdNumMovImp]
GO
ALTER TABLE [dbo].[regisdocimp] ADD  DEFAULT (N'') FOR [IdCta_Dcto_Canje]
GO
