USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[centros_det_log]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centros_det_log](
	[IdEmpresa] [char](2) NOT NULL,
	[IdCentroCosto] [char](8) NOT NULL,
	[IdProducto] [char](8) NOT NULL,
	[GlsProducto] [varchar](250) NOT NULL,
	[Cantidad] [decimal](14, 5) NOT NULL,
	[VVUnit] [decimal](14, 5) NULL,
	[PorcUtilidad] [decimal](14, 5) NULL,
	[TotalVVNeto] [decimal](14, 5) NULL,
	[TotalIgvNeto] [decimal](14, 5) NULL,
	[TotalPVNeto] [decimal](14, 5) NULL,
	[ItemLog] [bigint] NOT NULL,
 CONSTRAINT [PK_centros_det_log_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdCentroCosto] ASC,
	[IdProducto] ASC,
	[ItemLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[centros_det_log] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[centros_det_log] ADD  DEFAULT (N'') FOR [IdCentroCosto]
GO
ALTER TABLE [dbo].[centros_det_log] ADD  DEFAULT (N'') FOR [IdProducto]
GO
ALTER TABLE [dbo].[centros_det_log] ADD  DEFAULT (N'') FOR [GlsProducto]
GO
ALTER TABLE [dbo].[centros_det_log] ADD  DEFAULT ((0.00000)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[centros_det_log] ADD  DEFAULT (NULL) FOR [VVUnit]
GO
ALTER TABLE [dbo].[centros_det_log] ADD  DEFAULT (NULL) FOR [PorcUtilidad]
GO
ALTER TABLE [dbo].[centros_det_log] ADD  DEFAULT (NULL) FOR [TotalVVNeto]
GO
ALTER TABLE [dbo].[centros_det_log] ADD  DEFAULT (NULL) FOR [TotalIgvNeto]
GO
ALTER TABLE [dbo].[centros_det_log] ADD  DEFAULT (NULL) FOR [TotalPVNeto]
GO
ALTER TABLE [dbo].[centros_det_log] ADD  DEFAULT ((0)) FOR [ItemLog]
GO
