USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[clientes_linea]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes_linea](
	[idEmpresa] [char](2) NOT NULL,
	[idCliente] [char](8) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[LineaCredito] [decimal](14, 5) NOT NULL,
	[Utilizado] [decimal](14, 5) NOT NULL,
	[Saldo] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_clientes_linea_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[clientes_linea] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[clientes_linea] ADD  DEFAULT (N'') FOR [idCliente]
GO
ALTER TABLE [dbo].[clientes_linea] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[clientes_linea] ADD  DEFAULT ((0.00000)) FOR [LineaCredito]
GO
ALTER TABLE [dbo].[clientes_linea] ADD  DEFAULT ((0.00000)) FOR [Utilizado]
GO
ALTER TABLE [dbo].[clientes_linea] ADD  DEFAULT ((0.00000)) FOR [Saldo]
GO
