USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[objdocventas]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[objdocventas](
	[idDocumento] [varchar](2) NULL,
	[idSerie] [varchar](3) NULL,
	[tipoObj] [varchar](1) NULL,
	[GlsObj] [varchar](45) NULL,
	[GlsCampo] [varchar](100) NULL,
	[indVisible] [varchar](1) NULL,
	[intLeft] [int] NULL,
	[intTop] [int] NULL,
	[tipoDato] [varchar](1) NULL,
	[Etiqueta] [varchar](45) NULL,
	[numCol] [int] NULL,
	[ancho] [int] NULL,
	[Decimales] [int] NULL,
	[indImprime] [int] NULL,
	[impX] [int] NULL,
	[impY] [int] NULL,
	[impLongitud] [int] NULL,
	[intTabIndex] [int] NULL,
	[GlsObs] [varchar](150) NULL,
	[Identificador] [int] IDENTITY(1,1) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[intNumFilas] [bigint] NOT NULL,
 CONSTRAINT [PK_objdocventas_Identificador] PRIMARY KEY CLUSTERED 
(
	[Identificador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [idDocumento]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [idSerie]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [tipoObj]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [GlsObj]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [GlsCampo]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [indVisible]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [intLeft]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [intTop]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [tipoDato]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [Etiqueta]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [numCol]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [ancho]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [Decimales]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [indImprime]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [impX]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [impY]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [impLongitud]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [intTabIndex]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (NULL) FOR [GlsObs]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[objdocventas] ADD  DEFAULT ((0)) FOR [intNumFilas]
GO
