USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[valesdetlotes]    Script Date: 11/03/2026 22:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[valesdetlotes](
	[IdEmpresa] [char](2) NOT NULL,
	[IdSucursal] [char](8) NOT NULL,
	[TipoVale] [char](1) NOT NULL,
	[IdValesCab] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[IdLote] [char](8) NOT NULL,
	[IdProducto] [char](8) NOT NULL,
	[IdUM] [char](8) NOT NULL,
	[Cantidad] [decimal](14, 5) NOT NULL,
	[CantidadAnt] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_valesdetlotes_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdSucursal] ASC,
	[TipoVale] ASC,
	[IdValesCab] ASC,
	[Item] ASC,
	[IdLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[valesdetlotes] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[valesdetlotes] ADD  DEFAULT (N'') FOR [IdSucursal]
GO
ALTER TABLE [dbo].[valesdetlotes] ADD  DEFAULT (N'') FOR [TipoVale]
GO
ALTER TABLE [dbo].[valesdetlotes] ADD  DEFAULT (N'') FOR [IdValesCab]
GO
ALTER TABLE [dbo].[valesdetlotes] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[valesdetlotes] ADD  DEFAULT (N'') FOR [IdLote]
GO
ALTER TABLE [dbo].[valesdetlotes] ADD  DEFAULT (N'') FOR [IdProducto]
GO
ALTER TABLE [dbo].[valesdetlotes] ADD  DEFAULT (N'') FOR [IdUM]
GO
ALTER TABLE [dbo].[valesdetlotes] ADD  DEFAULT ((0.00000)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[valesdetlotes] ADD  DEFAULT ((0.00000)) FOR [CantidadAnt]
GO
