USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tiposniveles]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiposniveles](
	[idTipoNivel] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[GlsTipoNivel] [varchar](180) NOT NULL,
	[Peso] [bigint] NOT NULL,
 CONSTRAINT [PK_tiposniveles_idTipoNivel] PRIMARY KEY CLUSTERED 
(
	[idTipoNivel] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tiposniveles] ADD  DEFAULT (N'') FOR [idTipoNivel]
GO
ALTER TABLE [dbo].[tiposniveles] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[tiposniveles] ADD  DEFAULT (N'') FOR [GlsTipoNivel]
GO
ALTER TABLE [dbo].[tiposniveles] ADD  DEFAULT ((0)) FOR [Peso]
GO
