USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[planillaper]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planillaper](
	[idEmpresa] [varchar](2) NOT NULL,
	[idSucursal] [varchar](8) NOT NULL,
	[idPlanillaPer] [varchar](8) NOT NULL,
	[FecRegistro] [datetime2](0) NULL,
	[idSerie] [varchar](8) NULL,
	[idComprobante] [varchar](20) NULL,
	[idProveedor] [varchar](8) NULL,
	[glsProveedor] [varchar](300) NULL,
	[idPeriodo] [char](6) NOT NULL,
	[IndTransferido] [char](1) NOT NULL,
	[ValTipoCambio] [decimal](14, 5) NOT NULL,
	[Observacion] [varchar](255) NOT NULL,
 CONSTRAINT [PK_planillaper_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[idPlanillaPer] ASC,
	[idPeriodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[planillaper] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[planillaper] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[planillaper] ADD  DEFAULT (N'') FOR [idPlanillaPer]
GO
ALTER TABLE [dbo].[planillaper] ADD  DEFAULT (NULL) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[planillaper] ADD  DEFAULT (NULL) FOR [idSerie]
GO
ALTER TABLE [dbo].[planillaper] ADD  DEFAULT (NULL) FOR [idComprobante]
GO
ALTER TABLE [dbo].[planillaper] ADD  DEFAULT (NULL) FOR [idProveedor]
GO
ALTER TABLE [dbo].[planillaper] ADD  DEFAULT (NULL) FOR [glsProveedor]
GO
ALTER TABLE [dbo].[planillaper] ADD  DEFAULT (N'') FOR [idPeriodo]
GO
ALTER TABLE [dbo].[planillaper] ADD  DEFAULT (N'') FOR [IndTransferido]
GO
ALTER TABLE [dbo].[planillaper] ADD  DEFAULT ((0.00000)) FOR [ValTipoCambio]
GO
ALTER TABLE [dbo].[planillaper] ADD  DEFAULT (N'') FOR [Observacion]
GO
