USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[controlautodetraccion]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[controlautodetraccion](
	[IdEmpresa] [char](2) NOT NULL,
	[Anno] [char](4) NOT NULL,
	[Correlativo] [varchar](4) NOT NULL,
	[IdAutoDetraccion] [varchar](8) NOT NULL,
 CONSTRAINT [PK_controlautodetraccion_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[Anno] ASC,
	[Correlativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[controlautodetraccion] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[controlautodetraccion] ADD  DEFAULT (N'') FOR [Anno]
GO
ALTER TABLE [dbo].[controlautodetraccion] ADD  DEFAULT (N'') FOR [Correlativo]
GO
ALTER TABLE [dbo].[controlautodetraccion] ADD  DEFAULT (N'') FOR [IdAutoDetraccion]
GO
