USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[isabelact]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[isabelact](
	[CtaAnt] [float] NULL,
	[CtaNva] [float] NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_isabelact_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[isabelact] ADD  DEFAULT (NULL) FOR [CtaAnt]
GO
ALTER TABLE [dbo].[isabelact] ADD  DEFAULT (NULL) FOR [CtaNva]
GO
