USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[conci_cab]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conci_cab](
	[idCtaCorriente] [bigint] NOT NULL,
	[DES_CTA] [varchar](100) NULL,
	[FECHA] [datetime2](0) NULL,
	[idMoneda] [char](3) NULL,
	[SALDO] [decimal](14, 5) NULL,
	[TOT_ABONO] [decimal](14, 5) NULL,
	[TOT_CARGO] [decimal](14, 5) NULL,
	[FECHA2] [datetime2](0) NULL,
	[NUMERO] [varchar](250) NULL,
	[TITULAR] [varchar](150) NULL,
	[Periodo] [char](6) NOT NULL,
	[idempresa] [char](2) NOT NULL,
 CONSTRAINT [PK_conci_cab_idCtaCorriente] PRIMARY KEY CLUSTERED 
(
	[idCtaCorriente] ASC,
	[Periodo] ASC,
	[idempresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[conci_cab] ADD  DEFAULT ((0)) FOR [idCtaCorriente]
GO
ALTER TABLE [dbo].[conci_cab] ADD  DEFAULT (NULL) FOR [DES_CTA]
GO
ALTER TABLE [dbo].[conci_cab] ADD  DEFAULT (NULL) FOR [FECHA]
GO
ALTER TABLE [dbo].[conci_cab] ADD  DEFAULT (NULL) FOR [idMoneda]
GO
ALTER TABLE [dbo].[conci_cab] ADD  DEFAULT (NULL) FOR [SALDO]
GO
ALTER TABLE [dbo].[conci_cab] ADD  DEFAULT (NULL) FOR [TOT_ABONO]
GO
ALTER TABLE [dbo].[conci_cab] ADD  DEFAULT (NULL) FOR [TOT_CARGO]
GO
ALTER TABLE [dbo].[conci_cab] ADD  DEFAULT (NULL) FOR [FECHA2]
GO
ALTER TABLE [dbo].[conci_cab] ADD  DEFAULT (NULL) FOR [NUMERO]
GO
ALTER TABLE [dbo].[conci_cab] ADD  DEFAULT (NULL) FOR [TITULAR]
GO
ALTER TABLE [dbo].[conci_cab] ADD  DEFAULT (N'') FOR [Periodo]
GO
ALTER TABLE [dbo].[conci_cab] ADD  DEFAULT (N'') FOR [idempresa]
GO
