USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[permisos]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permisos](
	[idPermiso] [char](2) NOT NULL,
	[GlsPermiso] [varchar](180) NOT NULL,
	[estPermiso] [char](3) NOT NULL,
	[CodSistema] [char](2) NOT NULL,
 CONSTRAINT [PK_permisos_idPermiso] PRIMARY KEY CLUSTERED 
(
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[permisos] ADD  DEFAULT (N'') FOR [idPermiso]
GO
ALTER TABLE [dbo].[permisos] ADD  DEFAULT (N'') FOR [GlsPermiso]
GO
ALTER TABLE [dbo].[permisos] ADD  DEFAULT (N'ACT') FOR [estPermiso]
GO
ALTER TABLE [dbo].[permisos] ADD  DEFAULT (N'') FOR [CodSistema]
GO
