USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[almacenesubicacion]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[almacenesubicacion](
	[idUbicacion] [varchar](20) NOT NULL,
	[GlsUbicacion] [varchar](100) NOT NULL,
	[idAlmacen] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
 CONSTRAINT [PK_almacenesubicacion_idUbicacion] PRIMARY KEY CLUSTERED 
(
	[idUbicacion] ASC,
	[idEmpresa] ASC,
	[idAlmacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[almacenesubicacion] ADD  DEFAULT (N'') FOR [idUbicacion]
GO
ALTER TABLE [dbo].[almacenesubicacion] ADD  DEFAULT (N'') FOR [GlsUbicacion]
GO
ALTER TABLE [dbo].[almacenesubicacion] ADD  DEFAULT (N'') FOR [idAlmacen]
GO
ALTER TABLE [dbo].[almacenesubicacion] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
