USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[productosclientes]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productosclientes](
	[idEmpresa] [char](2) NOT NULL,
	[idCliente] [char](8) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[Codigo] [varchar](100) NOT NULL,
	[CodigoBarra] [varchar](100) NOT NULL,
 CONSTRAINT [PK_productosclientes_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idCliente] ASC,
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[productosclientes] ADD  DEFAULT (N'') FOR [idCliente]
GO
ALTER TABLE [dbo].[productosclientes] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[productosclientes] ADD  DEFAULT (N'') FOR [Codigo]
GO
ALTER TABLE [dbo].[productosclientes] ADD  DEFAULT (N'') FOR [CodigoBarra]
GO
