USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[activosdepreciacion]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activosdepreciacion](
	[idempresa] [char](2) NOT NULL,
	[idCodActivo] [char](8) NOT NULL,
	[idPeriodo] [char](6) NOT NULL,
	[idUsuario] [char](8) NOT NULL,
	[FecRegistro] [date] NOT NULL,
	[HorRegistro] [time](7) NOT NULL,
	[ValTotDeprecSol] [decimal](14, 5) NOT NULL,
	[ValTotDeprecDol] [decimal](14, 5) NOT NULL,
	[ValTotAcumSol] [decimal](14, 5) NOT NULL,
	[ValTotAcumDol] [decimal](14, 5) NOT NULL,
	[idCentroCosto] [varchar](10) NOT NULL,
	[ValImporteActivo] [decimal](14, 5) NOT NULL,
	[ValImporteRetiro] [decimal](14, 5) NOT NULL,
	[Factor] [decimal](14, 5) NOT NULL,
	[ValDeprecRetiro] [decimal](14, 5) NOT NULL,
	[ValNetoActivo] [decimal](14, 5) NOT NULL,
	[IdClasificacion] [varchar](8) NOT NULL,
	[IdUbicacion] [nvarchar](5) NOT NULL,
	[GlsPC] [varchar](100) NOT NULL,
	[GlsPCUsuario] [varchar](100) NOT NULL,
	[IdCodUNegocio] [varchar](8) NOT NULL,
	[ValAcumDeprecNeto] [decimal](14, 5) NOT NULL,
	[IdSucursal] [varchar](8) NOT NULL,
 CONSTRAINT [PK_activosdepreciacion_idempresa] PRIMARY KEY CLUSTERED 
(
	[idempresa] ASC,
	[idPeriodo] ASC,
	[idCodActivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT (N'') FOR [idempresa]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT (N'') FOR [idCodActivo]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT (N'') FOR [idPeriodo]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT (N'') FOR [idUsuario]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT (getdate()) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT ('00:00:00') FOR [HorRegistro]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT ((0.00000)) FOR [ValTotDeprecSol]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT ((0.00000)) FOR [ValTotDeprecDol]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT ((0.00000)) FOR [ValTotAcumSol]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT ((0.00000)) FOR [ValTotAcumDol]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT (N'') FOR [idCentroCosto]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT ((0.00000)) FOR [ValImporteActivo]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT ((0.00000)) FOR [ValImporteRetiro]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT ((0.00000)) FOR [Factor]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT ((0.00000)) FOR [ValDeprecRetiro]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT ((0.00000)) FOR [ValNetoActivo]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT (N'') FOR [IdClasificacion]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT (N'') FOR [IdUbicacion]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT (N'') FOR [GlsPC]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT (N'') FOR [GlsPCUsuario]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT (N'') FOR [IdCodUNegocio]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT ((0.00000)) FOR [ValAcumDeprecNeto]
GO
ALTER TABLE [dbo].[activosdepreciacion] ADD  DEFAULT (N'') FOR [IdSucursal]
GO
