USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[pagosdocventas]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagosdocventas](
	[item] [bigint] NOT NULL,
	[idDocumento] [char](2) NOT NULL,
	[idDocVentas] [char](8) NOT NULL,
	[idSerie] [char](4) NOT NULL,
	[idFormadePago] [char](8) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[MontoOri] [decimal](14, 5) NOT NULL,
	[MontoSoles] [decimal](14, 5) NOT NULL,
	[idTipoFormaPago] [char](8) NOT NULL,
	[fecVctos] [varchar](185) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[glsNumCheque] [varchar](20) NOT NULL,
	[idBanco] [char](8) NOT NULL,
	[glsBanco] [varchar](100) NOT NULL,
 CONSTRAINT [PK_pagosdocventas_idDocumento] PRIMARY KEY CLUSTERED 
(
	[idDocumento] ASC,
	[idDocVentas] ASC,
	[idSerie] ASC,
	[idFormadePago] ASC,
	[item] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT (N'') FOR [idDocumento]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT (N'') FOR [idDocVentas]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT (N'') FOR [idFormadePago]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT ((0.00000)) FOR [MontoOri]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT ((0.00000)) FOR [MontoSoles]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT (N'') FOR [idTipoFormaPago]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT (N'') FOR [fecVctos]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT (N'') FOR [glsNumCheque]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT (N'') FOR [idBanco]
GO
ALTER TABLE [dbo].[pagosdocventas] ADD  DEFAULT (N'') FOR [glsBanco]
GO
