USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[rendiciones]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rendiciones](
	[Periodo_Egre] [char](6) NOT NULL,
	[idCta_Egre] [int] NOT NULL,
	[Mov_Egre] [int] NOT NULL,
	[Periodo_Ing] [char](6) NOT NULL,
	[idCta_Ing] [bigint] NOT NULL,
	[Mov_Ing] [bigint] NOT NULL,
	[idCta_Ori] [bigint] NULL,
	[Mov_Ori] [bigint] NULL,
	[idEmpresa] [char](6) NOT NULL,
 CONSTRAINT [PK_rendiciones_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[Periodo_Ing] ASC,
	[idCta_Ing] ASC,
	[Mov_Ing] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[rendiciones] ADD  DEFAULT ((0)) FOR [idCta_Egre]
GO
ALTER TABLE [dbo].[rendiciones] ADD  DEFAULT ((0)) FOR [Mov_Egre]
GO
ALTER TABLE [dbo].[rendiciones] ADD  DEFAULT (N'') FOR [Periodo_Ing]
GO
ALTER TABLE [dbo].[rendiciones] ADD  DEFAULT ((0)) FOR [idCta_Ing]
GO
ALTER TABLE [dbo].[rendiciones] ADD  DEFAULT ((0)) FOR [Mov_Ing]
GO
ALTER TABLE [dbo].[rendiciones] ADD  DEFAULT (NULL) FOR [idCta_Ori]
GO
ALTER TABLE [dbo].[rendiciones] ADD  DEFAULT (NULL) FOR [Mov_Ori]
GO
ALTER TABLE [dbo].[rendiciones] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
