USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[controlpagosmasivos]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[controlpagosmasivos](
	[IdEmpresa] [char](2) NOT NULL,
	[IdPeriodo] [char](6) NOT NULL,
	[IdCtaCorriente] [bigint] NOT NULL,
	[Numero] [bigint] NOT NULL,
	[Estado] [bigint] NOT NULL,
 CONSTRAINT [PK_controlpagosmasivos_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdPeriodo] ASC,
	[IdCtaCorriente] ASC,
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[controlpagosmasivos] ADD  DEFAULT (N'0') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[controlpagosmasivos] ADD  DEFAULT (N'') FOR [IdPeriodo]
GO
ALTER TABLE [dbo].[controlpagosmasivos] ADD  DEFAULT ((0)) FOR [IdCtaCorriente]
GO
ALTER TABLE [dbo].[controlpagosmasivos] ADD  DEFAULT ((0)) FOR [Numero]
GO
ALTER TABLE [dbo].[controlpagosmasivos] ADD  DEFAULT ((0)) FOR [Estado]
GO
