USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[activos]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activos](
	[idempresa] [char](2) NOT NULL,
	[idCodActivo] [char](9) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[glsDescActivo] [varchar](150) NOT NULL,
	[glsObsActivo] [varchar](250) NULL,
	[glsModelo] [varchar](30) NULL,
	[glsSerie] [varchar](30) NULL,
	[idClasificacion] [char](8) NULL,
	[indSituacion] [char](1) NULL,
	[indCondicion] [char](1) NULL,
	[FecAdquisicion] [datetime2](0) NULL,
	[idRegistroCompras] [char](14) NULL,
	[TipoDcto] [char](2) NULL,
	[idSerieDcto] [char](4) NULL,
	[NumDcto] [char](20) NULL,
	[idProveedor] [char](8) NULL,
	[glsProveedor] [varchar](100) NULL,
	[FecRegistro] [datetime2](0) NULL,
	[idusuarioReg] [char](8) NULL,
	[FecModificacion] [datetime2](0) NULL,
	[idUsuarioMod] [char](8) NULL,
	[OrigenActivo] [varchar](45) NOT NULL,
	[MtoImponible] [float] NOT NULL,
	[MtoIGV] [float] NOT NULL,
	[MtoTotal] [float] NOT NULL,
	[Marca] [varchar](45) NULL,
	[Placa] [varchar](45) NULL,
	[cantVUmda] [char](8) NULL,
	[VUmda] [varchar](45) NULL,
	[fechaVU] [datetime2](0) NULL,
	[Idmoneda] [char](3) NULL,
	[TipoCambio] [float] NOT NULL,
	[Leasing] [char](1) NULL,
	[Reevaluaciones] [char](1) NULL,
	[Inicio_Depreciacion] [char](6) NULL,
	[PeriodoMov] [char](6) NOT NULL,
	[FechaBaja] [datetime2](0) NULL,
	[MotivoBaja] [varchar](255) NULL,
	[NumMovimiento] [varchar](8) NULL,
	[IndIgvCosto] [char](1) NOT NULL,
	[IndBaja] [char](1) NOT NULL,
	[ValTotSaldoDepreciacion] [decimal](14, 5) NOT NULL,
	[IndDepreciado] [bigint] NOT NULL,
	[PeriodoDeprec] [char](6) NOT NULL,
	[Cantidad] [bigint] NOT NULL,
	[IndNDepreciacion] [bigint] NOT NULL,
	[IndDesHabilitado] [bigint] NOT NULL,
	[idCtaContable] [varchar](30) NOT NULL,
	[indRevaluado2] [bigint] NOT NULL,
	[idCodActivoRevaluado] [char](9) NULL,
	[MtoRetiroBaja] [float] NOT NULL,
	[MtoImponibleOri] [float] NOT NULL,
	[MtoIGVOri] [float] NOT NULL,
	[MtoTotalOri] [float] NOT NULL,
	[FechaGarantia] [date] NULL,
	[IdCodActivoCurso] [varchar](9) NOT NULL,
 CONSTRAINT [PK_activos_idempresa] PRIMARY KEY CLUSTERED 
(
	[idempresa] ASC,
	[idCodActivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (N'') FOR [idempresa]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (N'') FOR [idCodActivo]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (N'') FOR [glsDescActivo]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [glsObsActivo]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [glsModelo]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [glsSerie]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [idClasificacion]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [indSituacion]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [indCondicion]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [FecAdquisicion]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [idRegistroCompras]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [TipoDcto]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [idSerieDcto]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [NumDcto]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [idProveedor]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [glsProveedor]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [idusuarioReg]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [FecModificacion]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [idUsuarioMod]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (N'') FOR [OrigenActivo]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0)) FOR [MtoImponible]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0)) FOR [MtoIGV]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0)) FOR [MtoTotal]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [Marca]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [Placa]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [cantVUmda]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [VUmda]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [fechaVU]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [Idmoneda]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0)) FOR [TipoCambio]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [Leasing]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [Reevaluaciones]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [Inicio_Depreciacion]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (N'') FOR [PeriodoMov]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [FechaBaja]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [MotivoBaja]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [NumMovimiento]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (N'0') FOR [IndIgvCosto]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (N'0') FOR [IndBaja]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0.00000)) FOR [ValTotSaldoDepreciacion]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0)) FOR [IndDepreciado]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (N'') FOR [PeriodoDeprec]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0)) FOR [IndNDepreciacion]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0)) FOR [IndDesHabilitado]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (N'') FOR [idCtaContable]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0)) FOR [indRevaluado2]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [idCodActivoRevaluado]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0)) FOR [MtoRetiroBaja]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0)) FOR [MtoImponibleOri]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0)) FOR [MtoIGVOri]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ((0)) FOR [MtoTotalOri]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (NULL) FOR [FechaGarantia]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (N'') FOR [IdCodActivoCurso]
GO
