USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tb_concep_detrac]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_concep_detrac](
	[CodConcepto] [varchar](5) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Porcentaje] [float] NULL,
	[Codigo_Sunat] [varchar](20) NULL,
 CONSTRAINT [PK_tb_concep_detrac_CodConcepto] PRIMARY KEY CLUSTERED 
(
	[CodConcepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_concep_detrac] ADD  DEFAULT (N'') FOR [CodConcepto]
GO
ALTER TABLE [dbo].[tb_concep_detrac] ADD  DEFAULT (NULL) FOR [Descripcion]
GO
ALTER TABLE [dbo].[tb_concep_detrac] ADD  DEFAULT (NULL) FOR [Porcentaje]
GO
