USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[unidadmedida]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unidadmedida](
	[idUM] [char](8) NOT NULL,
	[GlsUM] [varchar](85) NULL,
	[abreUM] [varchar](10) NULL,
	[IdSunat] [varchar](10) NOT NULL,
	[Codigo_Sunat] [varchar](20) NULL,
 CONSTRAINT [PK_unidadmedida_idUM] PRIMARY KEY CLUSTERED 
(
	[idUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[unidadmedida] ADD  DEFAULT (N'') FOR [idUM]
GO
ALTER TABLE [dbo].[unidadmedida] ADD  DEFAULT (NULL) FOR [GlsUM]
GO
ALTER TABLE [dbo].[unidadmedida] ADD  DEFAULT (NULL) FOR [abreUM]
GO
ALTER TABLE [dbo].[unidadmedida] ADD  DEFAULT (N'') FOR [IdSunat]
GO
