USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[marcas]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marcas](
	[idMarca] [char](8) NOT NULL,
	[glsMarca] [varchar](85) NOT NULL,
	[estMarca] [char](3) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[F2CODMAR] [varchar](45) NOT NULL,
	[MaxDcto] [bigint] NULL,
 CONSTRAINT [PK_marcas_idMarca] PRIMARY KEY CLUSTERED 
(
	[idMarca] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[marcas] ADD  DEFAULT (N'') FOR [idMarca]
GO
ALTER TABLE [dbo].[marcas] ADD  DEFAULT (N'') FOR [glsMarca]
GO
ALTER TABLE [dbo].[marcas] ADD  DEFAULT (N'') FOR [estMarca]
GO
ALTER TABLE [dbo].[marcas] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[marcas] ADD  DEFAULT (N'') FOR [F2CODMAR]
GO
ALTER TABLE [dbo].[marcas] ADD  DEFAULT (NULL) FOR [MaxDcto]
GO
