USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tbdocumentos_cuentas]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbdocumentos_cuentas](
	[SISTEMA] [varchar](1) NOT NULL,
	[CODDOC] [varchar](2) NOT NULL,
	[CTACONT] [varchar](12) NOT NULL,
	[OBLIGACION] [varchar](2) NULL,
 CONSTRAINT [PK_tbdocumentos_cuentas_SISTEMA] PRIMARY KEY CLUSTERED 
(
	[SISTEMA] ASC,
	[CODDOC] ASC,
	[CTACONT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbdocumentos_cuentas] ADD  DEFAULT (N'') FOR [CODDOC]
GO
ALTER TABLE [dbo].[tbdocumentos_cuentas] ADD  DEFAULT (N'') FOR [CTACONT]
GO
ALTER TABLE [dbo].[tbdocumentos_cuentas] ADD  DEFAULT (NULL) FOR [OBLIGACION]
GO
