USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[regisdoc_log]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regisdoc_log](
	[idMesMov] [varchar](2) NOT NULL,
	[idNumMov] [varchar](8) NOT NULL,
	[idproveedor] [varchar](8) NULL,
	[GlsProveedor] [varchar](100) NULL,
	[DireccionProveedor] [varchar](200) NULL,
	[RucProveedor] [varchar](11) NULL,
	[TipoDcto] [varchar](2) NULL,
	[idSerieDcto] [varchar](4) NULL,
	[NumDcto] [varchar](20) NULL,
	[FechaMov] [datetime2](0) NULL,
	[idMoneda] [varchar](3) NULL,
	[ValTipoCambio] [float] NULL,
	[Observacion] [varchar](255) NULL,
	[MtoImponible] [float] NULL,
	[MtoExonerado] [float] NULL,
	[MtoIGV] [float] NULL,
	[MtoOtrosImp] [float] NULL,
	[MtoTotal] [float] NULL,
	[idForma_pago] [varchar](30) NULL,
	[Fec_vcto] [datetime2](0) NULL,
	[idGastosIngresos] [varchar](4) NULL,
	[idCtaContable] [varchar](12) NULL,
	[NumOrdenCompra] [int] NULL,
	[MtoRetencion] [decimal](14, 5) NOT NULL,
	[indTransferido] [varchar](1) NULL,
	[idCorrela] [char](8) NULL,
	[NumPoliza] [varchar](20) NULL,
	[CodIGV] [varchar](3) NULL,
	[FechaReg] [datetime2](0) NULL,
	[idUsuarioReg] [char](8) NULL,
	[FechaMod] [datetime2](0) NULL,
	[idUsuarioMod] [varchar](8) NULL,
	[FechaRecepcion] [datetime2](0) NULL,
	[MtoRedSuma] [float] NULL,
	[MtoRedResta] [float] NULL,
	[NumValeIngreso] [char](8) NULL,
	[MtoDcto] [float] NULL,
	[FechaImpresion] [datetime2](0) NULL,
	[idUsuarioImpresion] [varchar](8) NULL,
	[idNumComprobante] [varchar](10) NULL,
	[indRetener] [varchar](1) NULL,
	[ValPorcIGV] [int] NULL,
	[IdCentro] [varchar](8) NULL,
	[NumCompServicios] [varchar](20) NULL,
	[IndOrigen] [varchar](1) NULL,
	[IndDetraccion] [varchar](1) NULL,
	[IdDetraccion] [varchar](5) NULL,
	[valPorc_Detraccion] [float] NULL,
	[IdcorrelaDetrac1] [varchar](8) NULL,
	[IdcorrelaDetrac2] [varchar](8) NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[Annio_Mov] [varchar](4) NOT NULL,
	[MtoIES] [float] NULL,
	[indContable] [char](1) NULL,
	[valPorc_NotaCredito] [bigint] NOT NULL,
	[Indrevisado] [bigint] NOT NULL,
	[indDistribucion] [bigint] NOT NULL,
	[idcoddistcosto] [varchar](8) NOT NULL,
	[indTransferidoFin] [char](1) NOT NULL,
	[IndPercepcion] [varchar](1) NOT NULL,
	[MtoPercepcion] [float] NOT NULL,
	[IdUsuarioModificacion] [varchar](8) NULL,
	[FechaModificacion] [date] NULL,
	[HoraModificacion] [time](7) NULL,
	[IdUsuarioEliminacion] [varchar](8) NULL,
	[FechaEliminacion] [date] NULL,
	[HoraEliminacion] [time](7) NULL,
	[Item_Log] [bigint] NOT NULL,
	[FechaRegistro] [datetime2](0) NULL,
	[HoraRegistro] [time](7) NULL,
	[IdSerieGeneral] [varchar](20) NOT NULL,
	[GlsPc] [varchar](100) NOT NULL,
	[GlsPcUsuario] [varchar](100) NOT NULL,
	[GlsPcLog] [varchar](100) NOT NULL,
	[GlsPcUsuarioLog] [varchar](100) NOT NULL,
	[RentaND] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_regisdoc_log_idMesMov] PRIMARY KEY CLUSTERED 
(
	[idMesMov] ASC,
	[idNumMov] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[Annio_Mov] ASC,
	[Item_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (N'') FOR [idMesMov]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (N'') FOR [idNumMov]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [idproveedor]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [GlsProveedor]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [DireccionProveedor]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [RucProveedor]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [TipoDcto]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [idSerieDcto]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [NumDcto]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [FechaMov]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [idMoneda]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [ValTipoCambio]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [Observacion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [MtoImponible]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [MtoExonerado]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [MtoIGV]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [MtoOtrosImp]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [MtoTotal]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [idForma_pago]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [Fec_vcto]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [idGastosIngresos]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [idCtaContable]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [NumOrdenCompra]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT ((0.00000)) FOR [MtoRetencion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [indTransferido]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [idCorrela]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [NumPoliza]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [CodIGV]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [FechaReg]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [idUsuarioReg]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [FechaMod]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [idUsuarioMod]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [FechaRecepcion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [MtoRedSuma]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [MtoRedResta]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [NumValeIngreso]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [MtoDcto]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [FechaImpresion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [idUsuarioImpresion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [idNumComprobante]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [indRetener]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [ValPorcIGV]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [IdCentro]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [NumCompServicios]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [IndOrigen]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [IndDetraccion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [IdDetraccion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [valPorc_Detraccion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [IdcorrelaDetrac1]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [IdcorrelaDetrac2]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (N'') FOR [Annio_Mov]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [MtoIES]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [indContable]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT ((0)) FOR [valPorc_NotaCredito]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT ((0)) FOR [Indrevisado]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT ((0)) FOR [indDistribucion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (N'') FOR [idcoddistcosto]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (N'') FOR [indTransferidoFin]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (N'') FOR [IndPercepcion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT ((0)) FOR [MtoPercepcion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [IdUsuarioModificacion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [HoraModificacion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [IdUsuarioEliminacion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [FechaEliminacion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [HoraEliminacion]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT ((0)) FOR [Item_Log]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (NULL) FOR [HoraRegistro]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (N'') FOR [IdSerieGeneral]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (N'') FOR [GlsPc]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (N'') FOR [GlsPcUsuario]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (N'') FOR [GlsPcLog]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT (N'') FOR [GlsPcUsuarioLog]
GO
ALTER TABLE [dbo].[regisdoc_log] ADD  DEFAULT ((0.00)) FOR [RentaND]
GO
