USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[semanas]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[semanas](
	[idAnno] [char](4) NOT NULL,
	[idSemana] [char](2) NOT NULL,
	[FechaIni] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[TipoCambio] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_semanas_idAnno] PRIMARY KEY CLUSTERED 
(
	[idAnno] ASC,
	[idSemana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[semanas] ADD  DEFAULT (N'') FOR [idAnno]
GO
ALTER TABLE [dbo].[semanas] ADD  DEFAULT (N'') FOR [idSemana]
GO
ALTER TABLE [dbo].[semanas] ADD  DEFAULT (getdate()) FOR [FechaIni]
GO
ALTER TABLE [dbo].[semanas] ADD  DEFAULT (getdate()) FOR [FechaFin]
GO
ALTER TABLE [dbo].[semanas] ADD  DEFAULT ((0.00000)) FOR [TipoCambio]
GO
