USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[empresasrelacionadas]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empresasrelacionadas](
	[idEmpresa] [char](2) NOT NULL,
	[idPersona] [varchar](8) NOT NULL,
	[IndMatriz] [char](1) NOT NULL,
	[IndSubSidiaria] [char](1) NOT NULL,
	[IndAsociada] [char](1) NOT NULL,
 CONSTRAINT [PK_empresasrelacionadas_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[empresasrelacionadas] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[empresasrelacionadas] ADD  DEFAULT (N'') FOR [idPersona]
GO
ALTER TABLE [dbo].[empresasrelacionadas] ADD  DEFAULT (N'') FOR [IndMatriz]
GO
ALTER TABLE [dbo].[empresasrelacionadas] ADD  DEFAULT (N'') FOR [IndSubSidiaria]
GO
ALTER TABLE [dbo].[empresasrelacionadas] ADD  DEFAULT (N'') FOR [IndAsociada]
GO
