USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[mcompras]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mcompras](
	[reg_master] [varchar](255) NOT NULL,
	[cia] [varchar](255) NULL,
	[anno] [varchar](255) NULL,
	[registro] [varchar](255) NULL,
	[secu] [varchar](255) NULL,
	[grupo] [varchar](255) NULL,
	[almacen] [varchar](255) NULL,
	[articulo] [varchar](255) NULL,
	[modelo] [varchar](255) NULL,
	[descrip1] [varchar](255) NULL,
	[descrip2] [varchar](255) NULL,
	[cant] [float] NULL,
	[p_unit] [float] NULL,
	[p_bruto] [float] NULL,
	[p_valor] [float] NULL,
	[p_valorexo] [float] NULL,
	[exonerado] [binary](1) NULL,
	[detraccion] [float] NULL,
	[cuenta] [varchar](255) NULL,
	[centro Costo] [varchar](255) NULL,
	[Item] [float] NOT NULL,
 CONSTRAINT [PK_mcompras_reg_master] PRIMARY KEY CLUSTERED 
(
	[reg_master] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [cia]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [anno]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [registro]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [secu]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [grupo]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [almacen]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [articulo]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [modelo]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [descrip1]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [descrip2]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [cant]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [p_unit]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [p_bruto]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [p_valor]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [p_valorexo]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [exonerado]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [detraccion]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [cuenta]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT (NULL) FOR [centro Costo]
GO
ALTER TABLE [dbo].[mcompras] ADD  DEFAULT ((0)) FOR [Item]
GO
