USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[modalidades]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modalidades](
	[Modalidad] [varchar](2) NOT NULL,
	[glsModalidad] [varchar](200) NOT NULL,
 CONSTRAINT [PK_modalidades_Modalidad] PRIMARY KEY CLUSTERED 
(
	[Modalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[modalidades] ADD  DEFAULT (N'') FOR [Modalidad]
GO
ALTER TABLE [dbo].[modalidades] ADD  DEFAULT (N'') FOR [glsModalidad]
GO
