USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[periodo]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[periodo](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Periodo] [varchar](45) NULL,
	[IdDocumento] [varchar](45) NULL,
	[IdSerie] [varchar](45) NULL,
	[IdDocVentas] [varchar](45) NULL,
	[IdEmpresa] [varchar](45) NULL,
 CONSTRAINT [PK_periodo_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[periodo] ADD  DEFAULT (NULL) FOR [Periodo]
GO
ALTER TABLE [dbo].[periodo] ADD  DEFAULT (NULL) FOR [IdDocumento]
GO
ALTER TABLE [dbo].[periodo] ADD  DEFAULT (NULL) FOR [IdSerie]
GO
ALTER TABLE [dbo].[periodo] ADD  DEFAULT (NULL) FOR [IdDocVentas]
GO
ALTER TABLE [dbo].[periodo] ADD  DEFAULT (NULL) FOR [IdEmpresa]
GO
