USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[activosasientocontable]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activosasientocontable](
	[idEmpresa] [char](2) NOT NULL,
	[idPeriodo] [char](6) NOT NULL,
	[idUsuario] [char](8) NOT NULL,
	[FecGenerado] [date] NOT NULL,
	[HorGenerado] [time](7) NOT NULL,
	[IndTransferido] [bigint] NOT NULL,
 CONSTRAINT [PK_activosasientocontable_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idPeriodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activosasientocontable] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[activosasientocontable] ADD  DEFAULT (N'') FOR [idPeriodo]
GO
ALTER TABLE [dbo].[activosasientocontable] ADD  DEFAULT (N'') FOR [idUsuario]
GO
ALTER TABLE [dbo].[activosasientocontable] ADD  DEFAULT (getdate()) FOR [FecGenerado]
GO
ALTER TABLE [dbo].[activosasientocontable] ADD  DEFAULT ('00:00:00') FOR [HorGenerado]
GO
ALTER TABLE [dbo].[activosasientocontable] ADD  DEFAULT ((0)) FOR [IndTransferido]
GO
