USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[contactosclientes]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactosclientes](
	[IdCliente] [char](8) NOT NULL,
	[IdContacto] [char](8) NOT NULL,
	[IdEmpresa] [char](2) NOT NULL,
 CONSTRAINT [PK_contactosclientes_IdCliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC,
	[IdContacto] ASC,
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[contactosclientes] ADD  DEFAULT (N'') FOR [IdCliente]
GO
ALTER TABLE [dbo].[contactosclientes] ADD  DEFAULT (N'') FOR [IdContacto]
GO
ALTER TABLE [dbo].[contactosclientes] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
