USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[productoscliente]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productoscliente](
	[item] [bigint] NOT NULL,
	[idEmpresa] [varchar](2) NOT NULL,
	[idSucursal] [varchar](8) NOT NULL,
	[idCliente] [char](8) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[Fecha] [date] NOT NULL,
	[IdDocumento] [varchar](2) NOT NULL,
	[IdSerie] [varchar](3) NOT NULL,
	[IdDocVentas] [varchar](8) NOT NULL,
	[IdMoneda] [char](3) NOT NULL,
	[ValorVenta] [decimal](14, 5) NOT NULL,
	[IGVVenta] [decimal](14, 5) NOT NULL,
	[PrecioVenta] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_productoscliente_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idCliente] ASC,
	[idProducto] ASC,
	[Fecha] ASC,
	[IdDocumento] ASC,
	[IdSerie] ASC,
	[IdDocVentas] ASC,
	[item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[productoscliente] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[productoscliente] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[productoscliente] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[productoscliente] ADD  DEFAULT (N'') FOR [idCliente]
GO
ALTER TABLE [dbo].[productoscliente] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[productoscliente] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[productoscliente] ADD  DEFAULT (N'') FOR [IdDocumento]
GO
ALTER TABLE [dbo].[productoscliente] ADD  DEFAULT (N'') FOR [IdSerie]
GO
ALTER TABLE [dbo].[productoscliente] ADD  DEFAULT (N'') FOR [IdDocVentas]
GO
ALTER TABLE [dbo].[productoscliente] ADD  DEFAULT (N'') FOR [IdMoneda]
GO
ALTER TABLE [dbo].[productoscliente] ADD  DEFAULT ((0.00000)) FOR [ValorVenta]
GO
ALTER TABLE [dbo].[productoscliente] ADD  DEFAULT ((0.00000)) FOR [IGVVenta]
GO
ALTER TABLE [dbo].[productoscliente] ADD  DEFAULT ((0.00000)) FOR [PrecioVenta]
GO
