USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[clasificacion_activos]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clasificacion_activos](
	[idempresa] [varchar](2) NOT NULL,
	[idCodClasActivos] [char](8) NOT NULL,
	[glsClaActivos] [varchar](150) NOT NULL,
	[idCtaContableD] [varchar](12) NOT NULL,
	[idCtaContableH] [varchar](12) NOT NULL,
	[Factor] [decimal](14, 5) NOT NULL,
	[VidaUtil] [int] NOT NULL,
	[Abreviatura] [char](45) NOT NULL,
	[IdCtaContableLD] [varchar](12) NOT NULL,
	[IdCtaContableLH] [varchar](12) NOT NULL,
 CONSTRAINT [PK_clasificacion_activos_idempresa] PRIMARY KEY CLUSTERED 
(
	[idempresa] ASC,
	[idCodClasActivos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[clasificacion_activos] ADD  DEFAULT (N'') FOR [idempresa]
GO
ALTER TABLE [dbo].[clasificacion_activos] ADD  DEFAULT (N'') FOR [idCodClasActivos]
GO
ALTER TABLE [dbo].[clasificacion_activos] ADD  DEFAULT (N'') FOR [glsClaActivos]
GO
ALTER TABLE [dbo].[clasificacion_activos] ADD  DEFAULT (N'') FOR [idCtaContableD]
GO
ALTER TABLE [dbo].[clasificacion_activos] ADD  DEFAULT (N'') FOR [idCtaContableH]
GO
ALTER TABLE [dbo].[clasificacion_activos] ADD  DEFAULT ((0.00000)) FOR [Factor]
GO
ALTER TABLE [dbo].[clasificacion_activos] ADD  DEFAULT ((0)) FOR [VidaUtil]
GO
ALTER TABLE [dbo].[clasificacion_activos] ADD  DEFAULT (N'') FOR [Abreviatura]
GO
ALTER TABLE [dbo].[clasificacion_activos] ADD  DEFAULT (N'') FOR [IdCtaContableLD]
GO
ALTER TABLE [dbo].[clasificacion_activos] ADD  DEFAULT (N'') FOR [IdCtaContableLH]
GO
