USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[ctascorrientesxproveedor]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ctascorrientesxproveedor](
	[idproveedor] [char](8) NOT NULL,
	[GlsCtaCorriente] [varchar](20) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[idBanco] [char](2) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[GlsCtaInterbancaria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ctascorrientesxproveedor_idproveedor] PRIMARY KEY CLUSTERED 
(
	[idproveedor] ASC,
	[GlsCtaCorriente] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ctascorrientesxproveedor] ADD  DEFAULT (N'') FOR [idproveedor]
GO
ALTER TABLE [dbo].[ctascorrientesxproveedor] ADD  DEFAULT (N'0') FOR [GlsCtaCorriente]
GO
ALTER TABLE [dbo].[ctascorrientesxproveedor] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[ctascorrientesxproveedor] ADD  DEFAULT (N'') FOR [idBanco]
GO
ALTER TABLE [dbo].[ctascorrientesxproveedor] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[ctascorrientesxproveedor] ADD  DEFAULT (N'') FOR [GlsCtaInterbancaria]
GO
