USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tiposdatos]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiposdatos](
	[idTipoDatos] [char](3) NOT NULL,
	[GlsTipoDato] [varchar](85) NULL,
 CONSTRAINT [PK_tiposdatos_idTipoDatos] PRIMARY KEY CLUSTERED 
(
	[idTipoDatos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tiposdatos] ADD  DEFAULT (N'') FOR [idTipoDatos]
GO
ALTER TABLE [dbo].[tiposdatos] ADD  DEFAULT (NULL) FOR [GlsTipoDato]
GO
