USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tomainvdet]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tomainvdet](
	[idInvCab] [char](8) NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[GlsProducto] [varchar](185) NOT NULL,
	[stkActual] [float] NOT NULL,
	[stkReal] [float] NOT NULL,
	[stkAjuste] [float] NOT NULL,
	[item] [bigint] NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[idUM] [char](8) NOT NULL,
	[abreUM] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tomainvdet_idInvCab] PRIMARY KEY CLUSTERED 
(
	[idInvCab] ASC,
	[item] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tomainvdet] ADD  DEFAULT (N'') FOR [idInvCab]
GO
ALTER TABLE [dbo].[tomainvdet] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[tomainvdet] ADD  DEFAULT (N'') FOR [GlsProducto]
GO
ALTER TABLE [dbo].[tomainvdet] ADD  DEFAULT ((0)) FOR [stkActual]
GO
ALTER TABLE [dbo].[tomainvdet] ADD  DEFAULT ((0)) FOR [stkReal]
GO
ALTER TABLE [dbo].[tomainvdet] ADD  DEFAULT ((0)) FOR [stkAjuste]
GO
ALTER TABLE [dbo].[tomainvdet] ADD  DEFAULT ((0)) FOR [item]
GO
ALTER TABLE [dbo].[tomainvdet] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[tomainvdet] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[tomainvdet] ADD  DEFAULT (N'') FOR [idUM]
GO
ALTER TABLE [dbo].[tomainvdet] ADD  DEFAULT (N'') FOR [abreUM]
GO
