USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[empresas]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empresas](
	[idEmpresa] [char](2) NOT NULL,
	[GlsEmpresa] [varchar](180) NOT NULL,
	[RUC] [varchar](11) NOT NULL,
	[Carpeta] [varchar](8) NOT NULL,
	[idPersona] [char](8) NOT NULL,
	[NTamanoLetra] [bigint] NOT NULL,
	[IndRetencion] [bigint] NOT NULL,
	[GlsNumAuto] [varchar](45) NOT NULL,
	[GlsFecAuto] [varchar](45) NOT NULL,
	[GlsCorreoContador] [varchar](45) NOT NULL,
	[Abreviatura] [char](3) NOT NULL,
	[Orden] [bigint] NOT NULL,
	[PeriodoRetencion] [varchar](6) NOT NULL,
	[IdRISunat] [varchar](20) NOT NULL,
 CONSTRAINT [PK_empresas_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT (N'') FOR [GlsEmpresa]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT (N'') FOR [RUC]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT (N'') FOR [Carpeta]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT (N'') FOR [idPersona]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT ((0)) FOR [NTamanoLetra]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT ((0)) FOR [IndRetencion]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT (N'') FOR [GlsNumAuto]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT (N'') FOR [GlsFecAuto]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT (N'') FOR [GlsCorreoContador]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT (N'') FOR [Abreviatura]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT (N'') FOR [PeriodoRetencion]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT (N'') FOR [IdRISunat]
GO
