USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[zonas]    Script Date: 11/03/2026 22:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zonas](
	[idZona] [char](8) NOT NULL,
	[GlsZona] [varchar](185) NOT NULL,
 CONSTRAINT [PK_zonas_idZona] PRIMARY KEY CLUSTERED 
(
	[idZona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zonas] ADD  DEFAULT (N'') FOR [idZona]
GO
ALTER TABLE [dbo].[zonas] ADD  DEFAULT (N'') FOR [GlsZona]
GO
