USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[opagocab]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opagocab](
	[idempresa] [char](2) NOT NULL,
	[idperiodo] [char](6) NOT NULL,
	[idordenpago] [char](8) NOT NULL,
	[idproveedor] [char](8) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[idmoneda] [char](3) NOT NULL,
	[glsobservaciones] [varchar](255) NULL,
	[idCtaCorriente] [bigint] NOT NULL,
	[idMovBancosCab] [bigint] NULL,
	[indEstado] [char](3) NULL,
	[idCtaMovBancos] [bigint] NOT NULL,
	[TipoOp] [char](1) NOT NULL,
 CONSTRAINT [PK_opagocab_idempresa] PRIMARY KEY CLUSTERED 
(
	[idempresa] ASC,
	[idperiodo] ASC,
	[idordenpago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[opagocab] ADD  DEFAULT (N'') FOR [idempresa]
GO
ALTER TABLE [dbo].[opagocab] ADD  DEFAULT (N'') FOR [idperiodo]
GO
ALTER TABLE [dbo].[opagocab] ADD  DEFAULT (N'0') FOR [idordenpago]
GO
ALTER TABLE [dbo].[opagocab] ADD  DEFAULT (N'') FOR [idproveedor]
GO
ALTER TABLE [dbo].[opagocab] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[opagocab] ADD  DEFAULT (N'') FOR [idmoneda]
GO
ALTER TABLE [dbo].[opagocab] ADD  DEFAULT (NULL) FOR [glsobservaciones]
GO
ALTER TABLE [dbo].[opagocab] ADD  DEFAULT ((0)) FOR [idCtaCorriente]
GO
ALTER TABLE [dbo].[opagocab] ADD  DEFAULT (NULL) FOR [idMovBancosCab]
GO
ALTER TABLE [dbo].[opagocab] ADD  DEFAULT (NULL) FOR [indEstado]
GO
ALTER TABLE [dbo].[opagocab] ADD  DEFAULT ((0)) FOR [idCtaMovBancos]
GO
ALTER TABLE [dbo].[opagocab] ADD  DEFAULT (N'0') FOR [TipoOp]
GO
