USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[controlpago]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[controlpago](
	[idEmpresa] [char](2) NOT NULL,
	[Idperiodo] [char](6) NOT NULL,
	[Numero] [bigint] NOT NULL,
	[Estado] [bigint] NOT NULL,
 CONSTRAINT [PK_controlpago_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[Idperiodo] ASC,
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[controlpago] ADD  DEFAULT (N'0') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[controlpago] ADD  DEFAULT (N'') FOR [Idperiodo]
GO
ALTER TABLE [dbo].[controlpago] ADD  DEFAULT ((0)) FOR [Numero]
GO
ALTER TABLE [dbo].[controlpago] ADD  DEFAULT ((0)) FOR [Estado]
GO
