USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[vendedores]    Script Date: 11/03/2026 22:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendedores](
	[idVendedor] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idLista] [char](8) NULL,
	[indResponsable] [char](1) NULL,
	[indVendedor] [char](1) NULL,
	[indVisualizaclientes] [char](1) NOT NULL,
	[IndTipoVenta] [varchar](1) NOT NULL,
	[Nextel] [varchar](45) NOT NULL,
	[Rpm] [varchar](45) NOT NULL,
	[indJefe] [char](1) NOT NULL,
	[idJefe] [char](8) NOT NULL,
 CONSTRAINT [PK_vendedores_idVendedor] PRIMARY KEY CLUSTERED 
(
	[idVendedor] ASC,
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[vendedores] ADD  DEFAULT (N'') FOR [idVendedor]
GO
ALTER TABLE [dbo].[vendedores] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[vendedores] ADD  DEFAULT (NULL) FOR [idLista]
GO
ALTER TABLE [dbo].[vendedores] ADD  DEFAULT (NULL) FOR [indResponsable]
GO
ALTER TABLE [dbo].[vendedores] ADD  DEFAULT (NULL) FOR [indVendedor]
GO
ALTER TABLE [dbo].[vendedores] ADD  DEFAULT (N'') FOR [indVisualizaclientes]
GO
ALTER TABLE [dbo].[vendedores] ADD  DEFAULT (N'') FOR [IndTipoVenta]
GO
ALTER TABLE [dbo].[vendedores] ADD  DEFAULT (N'') FOR [Nextel]
GO
ALTER TABLE [dbo].[vendedores] ADD  DEFAULT (N'') FOR [Rpm]
GO
ALTER TABLE [dbo].[vendedores] ADD  DEFAULT (N'') FOR [indJefe]
GO
ALTER TABLE [dbo].[vendedores] ADD  DEFAULT (N'') FOR [idJefe]
GO
