USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[clientesformapagos]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientesformapagos](
	[idempresa] [char](2) NOT NULL,
	[idcliente] [char](8) NOT NULL,
	[idFormaPago] [char](8) NOT NULL,
	[FecRegistro] [datetime2](0) NOT NULL,
	[idUsuario] [char](8) NOT NULL,
	[indEstado] [bigint] NOT NULL,
 CONSTRAINT [PK_clientesformapagos_idempresa] PRIMARY KEY CLUSTERED 
(
	[idempresa] ASC,
	[idcliente] ASC,
	[idFormaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[clientesformapagos] ADD  DEFAULT (N'') FOR [idempresa]
GO
ALTER TABLE [dbo].[clientesformapagos] ADD  DEFAULT (N'') FOR [idcliente]
GO
ALTER TABLE [dbo].[clientesformapagos] ADD  DEFAULT (N'') FOR [idFormaPago]
GO
ALTER TABLE [dbo].[clientesformapagos] ADD  DEFAULT (getdate()) FOR [FecRegistro]
GO
ALTER TABLE [dbo].[clientesformapagos] ADD  DEFAULT (N'') FOR [idUsuario]
GO
ALTER TABLE [dbo].[clientesformapagos] ADD  DEFAULT ((0)) FOR [indEstado]
GO
