USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[conci_det]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conci_det](
	[idCtaCorriente] [varchar](3) NOT NULL,
	[NRO_DOC] [varchar](50) NOT NULL,
	[DETALLE] [varchar](200) NULL,
	[MONTO] [float] NULL,
	[FECHA] [varchar](20) NOT NULL,
	[NRO_MOV] [smallint] NOT NULL,
	[CONCILIADO] [varchar](1) NULL,
	[DESTINO] [varchar](1) NULL,
	[Periodo] [varchar](6) NOT NULL,
	[XX] [varchar](50) NULL,
	[idempresa] [char](2) NOT NULL,
 CONSTRAINT [PK_conci_det_idCtaCorriente] PRIMARY KEY CLUSTERED 
(
	[idCtaCorriente] ASC,
	[NRO_DOC] ASC,
	[Periodo] ASC,
	[FECHA] ASC,
	[idempresa] ASC,
	[NRO_MOV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[conci_det] ADD  DEFAULT (N'') FOR [idCtaCorriente]
GO
ALTER TABLE [dbo].[conci_det] ADD  DEFAULT (N'') FOR [NRO_DOC]
GO
ALTER TABLE [dbo].[conci_det] ADD  DEFAULT (NULL) FOR [DETALLE]
GO
ALTER TABLE [dbo].[conci_det] ADD  DEFAULT (NULL) FOR [MONTO]
GO
ALTER TABLE [dbo].[conci_det] ADD  DEFAULT (N'') FOR [FECHA]
GO
ALTER TABLE [dbo].[conci_det] ADD  DEFAULT ((0)) FOR [NRO_MOV]
GO
ALTER TABLE [dbo].[conci_det] ADD  DEFAULT (NULL) FOR [CONCILIADO]
GO
ALTER TABLE [dbo].[conci_det] ADD  DEFAULT (NULL) FOR [DESTINO]
GO
ALTER TABLE [dbo].[conci_det] ADD  DEFAULT (N'') FOR [Periodo]
GO
ALTER TABLE [dbo].[conci_det] ADD  DEFAULT (NULL) FOR [XX]
GO
ALTER TABLE [dbo].[conci_det] ADD  DEFAULT (N'') FOR [idempresa]
GO
