USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[docventasdetrubros_log]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docventasdetrubros_log](
	[IdEmpresa] [char](2) NOT NULL,
	[IdSucursal] [char](8) NOT NULL,
	[IdDocumento] [char](2) NOT NULL,
	[IdSerie] [char](3) NOT NULL,
	[IdDocVentas] [char](8) NOT NULL,
	[IdRubro] [char](8) NOT NULL,
	[IdProducto] [char](8) NOT NULL,
	[GlsProducto] [varchar](255) NOT NULL,
	[IdUM] [varchar](8) NOT NULL,
	[Cantidad] [decimal](14, 5) NOT NULL,
	[VVUnit] [decimal](14, 5) NOT NULL,
	[CantidadAnt] [decimal](14, 5) NOT NULL,
	[CantidadPresuAnt] [decimal](14, 5) NOT NULL,
	[ItemLog] [bigint] NOT NULL,
 CONSTRAINT [PK_docventasdetrubros_log_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdSucursal] ASC,
	[IdDocumento] ASC,
	[IdSerie] ASC,
	[IdDocVentas] ASC,
	[IdRubro] ASC,
	[IdProducto] ASC,
	[ItemLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT (N'') FOR [IdSucursal]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT (N'') FOR [IdDocumento]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT (N'') FOR [IdSerie]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT (N'') FOR [IdDocVentas]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT (N'') FOR [IdRubro]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT (N'') FOR [IdProducto]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT (N'') FOR [GlsProducto]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT (N'') FOR [IdUM]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT ((0.00000)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT ((0.00000)) FOR [VVUnit]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT ((0.00000)) FOR [CantidadAnt]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT ((0.00000)) FOR [CantidadPresuAnt]
GO
ALTER TABLE [dbo].[docventasdetrubros_log] ADD  DEFAULT ((0)) FOR [ItemLog]
GO
