USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[costos_temp]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[costos_temp](
	[idProducto] [char](8) NOT NULL,
	[ValCosto] [decimal](14, 5) NULL,
 CONSTRAINT [PK_costos_temp_idProducto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [costos_temp$idProducto] UNIQUE NONCLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[costos_temp] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[costos_temp] ADD  DEFAULT (NULL) FOR [ValCosto]
GO
