USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[autodetracciondet]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autodetracciondet](
	[IdEmpresa] [char](2) NOT NULL,
	[IdAutoDetraccion] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[IdCta_Dcto] [varchar](8) NOT NULL,
	[Nro_Comp] [varchar](15) NOT NULL,
	[MontoDetraccion] [decimal](14, 5) NOT NULL,
 CONSTRAINT [PK_autodetracciondet_IdEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdAutoDetraccion] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[autodetracciondet] ADD  DEFAULT (N'') FOR [IdEmpresa]
GO
ALTER TABLE [dbo].[autodetracciondet] ADD  DEFAULT (N'') FOR [IdAutoDetraccion]
GO
ALTER TABLE [dbo].[autodetracciondet] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[autodetracciondet] ADD  DEFAULT (N'') FOR [IdCta_Dcto]
GO
ALTER TABLE [dbo].[autodetracciondet] ADD  DEFAULT (N'') FOR [Nro_Comp]
GO
ALTER TABLE [dbo].[autodetracciondet] ADD  DEFAULT ((0.00000)) FOR [MontoDetraccion]
GO
