USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[personas]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas](
	[idPersona] [char](8) NOT NULL,
	[GlsPersona] [varchar](255) NOT NULL,
	[apellidoPaterno] [varchar](255) NOT NULL,
	[apellidoMaterno] [varchar](255) NOT NULL,
	[nombres] [varchar](255) NOT NULL,
	[tipoPersona] [char](5) NOT NULL,
	[ruc] [varchar](20) NOT NULL,
	[idDistrito] [char](6) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[FechaNacimiento] [datetime2](0) NOT NULL,
	[Telefonos] [varchar](85) NOT NULL,
	[mail] [varchar](85) NOT NULL,
	[direccionEntrega] [varchar](185) NOT NULL,
	[GlsContacto] [varchar](85) NOT NULL,
	[f2codcli] [varchar](45) NOT NULL,
	[ef2cod] [varchar](45) NOT NULL,
	[f2codtra] [varchar](45) NOT NULL,
	[f2coduser] [varchar](45) NOT NULL,
	[IdPais] [char](5) NOT NULL,
	[Linea_Credito] [bigint] NOT NULL,
	[IdTipoDocIdentidad] [char](1) NOT NULL,
	[GlsNombreComercial] [varchar](255) NOT NULL,
	[IdContacto] [varchar](8) NOT NULL,
 CONSTRAINT [PK_personas_idPersona] PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC,
	[IdPais] ASC,
	[ruc] ASC,
	[idDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [idPersona]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [GlsPersona]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [apellidoPaterno]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [apellidoMaterno]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [nombres]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [tipoPersona]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [ruc]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [idDistrito]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [direccion]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (getdate()) FOR [FechaNacimiento]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [Telefonos]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [mail]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [direccionEntrega]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [GlsContacto]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [f2codcli]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [ef2cod]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [f2codtra]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [f2coduser]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [IdPais]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT ((0)) FOR [Linea_Credito]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [IdTipoDocIdentidad]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [GlsNombreComercial]
GO
ALTER TABLE [dbo].[personas] ADD  DEFAULT (N'') FOR [IdContacto]
GO
