USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[valesdet_log]    Script Date: 11/03/2026 22:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[valesdet_log](
	[idValesCab] [char](8) NOT NULL,
	[Item] [bigint] NOT NULL,
	[idProducto] [char](8) NOT NULL,
	[GlsProducto] [varchar](185) NOT NULL,
	[idUM] [char](8) NOT NULL,
	[Factor] [decimal](14, 5) NOT NULL,
	[Afecto] [char](1) NOT NULL,
	[Cantidad] [float] NOT NULL,
	[VVUnit] [decimal](14, 5) NOT NULL,
	[IGVUnit] [decimal](14, 5) NOT NULL,
	[PVUnit] [decimal](14, 5) NOT NULL,
	[TotalVVNeto] [decimal](14, 5) NOT NULL,
	[TotalIGVNeto] [decimal](14, 5) NOT NULL,
	[TotalPVNeto] [decimal](14, 5) NOT NULL,
	[idMoneda] [char](8) NOT NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[NumLote] [varchar](45) NOT NULL,
	[FecVencProd] [varchar](30) NOT NULL,
	[Cantidad2] [float] NOT NULL,
	[idDocumentoImp] [char](2) NOT NULL,
	[idSerieImp] [char](3) NOT NULL,
	[idDocVentasImp] [char](8) NOT NULL,
	[idsucursalOrigen] [char](8) NOT NULL,
	[idLote] [varchar](50) NULL,
	[tipoVale] [char](1) NOT NULL,
	[Item_Log] [bigint] NOT NULL,
 CONSTRAINT [PK_valesdet_log_idValesCab] PRIMARY KEY CLUSTERED 
(
	[idValesCab] ASC,
	[Item] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[tipoVale] ASC,
	[Item_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [idValesCab]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT ((0)) FOR [Item]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [idProducto]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [GlsProducto]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [idUM]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT ((0.00000)) FOR [Factor]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [Afecto]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT ((0.00000)) FOR [VVUnit]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT ((0.00000)) FOR [IGVUnit]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT ((0.00000)) FOR [PVUnit]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT ((0.00000)) FOR [TotalVVNeto]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT ((0.00000)) FOR [TotalIGVNeto]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT ((0.00000)) FOR [TotalPVNeto]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [NumLote]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [FecVencProd]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT ((0)) FOR [Cantidad2]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [idDocumentoImp]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [idSerieImp]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [idDocVentasImp]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [idsucursalOrigen]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (NULL) FOR [idLote]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT (N'') FOR [tipoVale]
GO
ALTER TABLE [dbo].[valesdet_log] ADD  DEFAULT ((0)) FOR [Item_Log]
GO
