USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[aval]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aval](
	[idEmpresa] [char](2) NOT NULL,
	[idAval] [char](8) NOT NULL,
 CONSTRAINT [PK_aval_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[idAval] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[aval] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[aval] ADD  DEFAULT (N'') FOR [idAval]
GO
