USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[distcostoscab]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[distcostoscab](
	[idempresa] [varchar](2) NOT NULL,
	[idcoddistcosto] [varchar](8) NOT NULL,
	[idgastosingresos] [varchar](8) NOT NULL,
	[glsObservacion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_distcostoscab_idempresa] PRIMARY KEY CLUSTERED 
(
	[idempresa] ASC,
	[idcoddistcosto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[distcostoscab] ADD  DEFAULT (N'') FOR [idempresa]
GO
ALTER TABLE [dbo].[distcostoscab] ADD  DEFAULT (N'') FOR [idcoddistcosto]
GO
ALTER TABLE [dbo].[distcostoscab] ADD  DEFAULT (N'') FOR [idgastosingresos]
GO
ALTER TABLE [dbo].[distcostoscab] ADD  DEFAULT (N'') FOR [glsObservacion]
GO
