USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[tbpercepciones]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbpercepciones](
	[idSerie] [varchar](4) NOT NULL,
	[idComprobante] [varchar](15) NOT NULL,
	[Fecha] [datetime2](0) NULL,
	[Doc_pago] [varchar](15) NULL,
	[NumRegisCom] [varchar](10) NOT NULL,
	[Cod_Cta] [varchar](6) NULL,
	[NumMov] [varchar](10) NULL,
	[MesCompras] [varchar](2) NULL,
	[NumMovCompras] [varchar](8) NULL,
	[IdCorrela] [int] NULL,
	[Condicion] [varchar](1) NULL,
	[Total] [float] NULL,
	[idEmpresa] [char](2) NOT NULL,
	[idSucursal] [char](8) NOT NULL,
	[Periodo] [char](6) NOT NULL,
	[annio_regcom] [varchar](4) NOT NULL,
 CONSTRAINT [PK_tbpercepciones_idEmpresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC,
	[annio_regcom] ASC,
	[NumRegisCom] ASC,
	[idSerie] ASC,
	[idComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (N'') FOR [idComprobante]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (NULL) FOR [Fecha]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (NULL) FOR [Doc_pago]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (NULL) FOR [Cod_Cta]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (NULL) FOR [NumMov]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (NULL) FOR [MesCompras]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (NULL) FOR [NumMovCompras]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (NULL) FOR [IdCorrela]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (NULL) FOR [Condicion]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (NULL) FOR [Total]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (N'') FOR [Periodo]
GO
ALTER TABLE [dbo].[tbpercepciones] ADD  DEFAULT (N'') FOR [annio_regcom]
GO
