USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[aplicactacab]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aplicactacab](
	[idAplicaCtaCab] [bigint] IDENTITY(1,1) NOT NULL,
	[idEmpresa] [varchar](2) NOT NULL,
	[idSucursal] [varchar](8) NOT NULL,
	[idCta_dcto] [varchar](8) NOT NULL,
	[Fec_Apli] [datetime2](0) NOT NULL,
	[Fec_Registro] [datetime2](0) NOT NULL,
	[ValTipoCambio] [decimal](14, 5) NOT NULL,
	[idMoneda] [char](3) NOT NULL,
	[TotalApli] [decimal](14, 5) NOT NULL,
	[idCliente] [varchar](8) NOT NULL,
	[TotalDoc] [decimal](14, 5) NOT NULL,
	[TotalSaldo] [decimal](14, 5) NOT NULL,
	[IdComprobante] [varchar](9) NOT NULL,
	[IdPeriodo] [varchar](6) NOT NULL,
	[IndContable] [char](1) NOT NULL,
 CONSTRAINT [PK_aplicactacab_idAplicaCtaCab] PRIMARY KEY CLUSTERED 
(
	[idAplicaCtaCab] ASC,
	[idEmpresa] ASC,
	[idSucursal] ASC,
	[idCta_dcto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT (N'') FOR [idSucursal]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT (N'') FOR [idCta_dcto]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT (getdate()) FOR [Fec_Apli]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT (getdate()) FOR [Fec_Registro]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT ((0.00000)) FOR [ValTipoCambio]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT (N'') FOR [idMoneda]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT ((0.00000)) FOR [TotalApli]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT (N'') FOR [idCliente]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT ((0.00000)) FOR [TotalDoc]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT ((0.00000)) FOR [TotalSaldo]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT (N'') FOR [IdComprobante]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT (N'') FOR [IdPeriodo]
GO
ALTER TABLE [dbo].[aplicactacab] ADD  DEFAULT (N'') FOR [IndContable]
GO
