USE [DbSistema_23122025]
GO
/****** Object:  Table [dbo].[impmotivostraslados]    Script Date: 11/03/2026 22:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impmotivostraslados](
	[idEmpresa] [char](2) NOT NULL,
	[idSerie] [char](4) NOT NULL,
	[idMotivoTraslado] [char](8) NOT NULL,
	[impX] [bigint] NOT NULL,
	[impY] [bigint] NOT NULL,
	[Identificador] [bigint] IDENTITY(1,1) NOT NULL,
	[idDocumento] [varchar](2) NOT NULL,
 CONSTRAINT [PK_impmotivostraslados_Identificador] PRIMARY KEY CLUSTERED 
(
	[Identificador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[impmotivostraslados] ADD  DEFAULT (N'') FOR [idEmpresa]
GO
ALTER TABLE [dbo].[impmotivostraslados] ADD  DEFAULT (N'') FOR [idSerie]
GO
ALTER TABLE [dbo].[impmotivostraslados] ADD  DEFAULT (N'') FOR [idMotivoTraslado]
GO
ALTER TABLE [dbo].[impmotivostraslados] ADD  DEFAULT ((0)) FOR [impX]
GO
ALTER TABLE [dbo].[impmotivostraslados] ADD  DEFAULT ((0)) FOR [impY]
GO
ALTER TABLE [dbo].[impmotivostraslados] ADD  DEFAULT (N'') FOR [idDocumento]
GO
