USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_Docventas_Listacab]    Script Date: 11/03/2026 22:20:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spu_Docventas_Listacab]
@idEmpresa     CHAR(2),
@idSucursal    VARCHAR(8),
@idDocumento   CHAR(2),
@Anno          INT,
@MES           INT,
@Busqueda      VARCHAR(200),
@IntGanada     INT
AS
BEGIN
    SET NOCOUNT ON;

	DECLARE @BusquedaLike  VARCHAR(200)
	DECLARE @BusquedaSplit VARCHAR(200)

	SET @BusquedaLike  = @Busqueda       -- para LIKE
	SET @BusquedaSplit = @Busqueda       -- para palabras

	-- Para LIKE (comodines)
	IF @BusquedaLike <> ''
	BEGIN
		IF CHARINDEX('%', @BusquedaLike) = 0
		   AND CHARINDEX('_', @BusquedaLike) = 0
			SET @BusquedaLike = '%' + @BusquedaLike + '%'
	END
	ELSE
		SET @BusquedaLike = '%%'

	-- Para búsqueda por palabras
	SET @BusquedaSplit = REPLACE(@BusquedaSplit, '%', ' ')



    SELECT  
        (A.idDocumento + A.idDocVentas + A.idSerie) AS Item,
        A.idDocVentas,
        A.idSerie,
        A.idPerCliente,
        A.GlsCliente,
        A.RUCCliente,
        CAST(A.FecEmision AS DATE) AS FecEmision,

        CASE 
            WHEN X.numDocOrigen IS NOT NULL THEN 'ANU'
            ELSE A.estDocVentas
        END AS estDocVentas,

        CASE 
            WHEN A.idMoneda = 'USD' THEN 'Dolares' 
            ELSE 'Soles' 
        END AS Moneda,

        CAST(A.TotalValorVenta AS NUMERIC(12,2)) AS TotalPrecioVenta,
         CASE WHEN a.idDocumento = '07' THEN  C.DocReferencia ELSE B.DocReferencia END AS DocReferencia ,
        A.NumOrdenCompra,
        CAST(A.TotalCosto AS NUMERIC(12,2)) AS CostoTotal,

        CASE WHEN ISNULL(BB.DocReferencia,'')  = '' THEN '' ELSE BB.DocReferencia  END  + CASE WHEN A.ObsDocVentas = '' THEN '' ELSE ' / ' + A.ObsDocVentas + ' / ' END +
            CASE  WHEN A.idDocumento = '86' THEN ''
                  ELSE 
                     CASE WHEN ISNULL(A.numOrdenCompra,'') = '' THEN ''
                          ELSE A.numOrdenCompra 
                     END 
            END AS Obs,

        m.GlsMotivoTraslado AS MotivoTras

    FROM docventas A

    /* === Referencias (OPTIMIZADO) === */
    OUTER APPLY (
        SELECT STRING_AGG(
                d.AbreDocumento + ' ' + dr.SerieDocOrigen + '-' + dr.NumDocOrigen,
                ', '
            ) AS DocReferencia
        FROM docreferencia dr
        INNER JOIN documentos d
            ON d.idDocumento = dr.TipoDocOrigen
        WHERE dr.IdEmpresa = A.IdEmpresa
            AND dr.IdSucursal = A.IdSucursal
            AND dr.TipoDocReferencia = A.IdDocumento
            AND dr.SerieDocReferencia = A.IdSerie
            AND dr.NumDocReferencia = A.IdDocVentas
            AND dr.TipoDocOrigen <> '99'
    ) B

    /* === Referencias (OPTIMIZADO) === SOLO PARA NC */
    OUTER APPLY (
        SELECT STRING_AGG(
                dd.AbreDocumento + ' ' + dc.serieDocReferencia + '-' + dc.numDocReferencia,
                ', '
            ) AS DocReferencia
        FROM docreferencia dc
        INNER JOIN documentos dd
            ON dd.idDocumento = dc.tipoDocReferencia
        WHERE dc.IdEmpresa = A.IdEmpresa
            AND dc.IdSucursal = A.IdSucursal
            AND dc.tipoDocOrigen = A.IdDocumento
            AND dc.serieDocOrigen = A.IdSerie
            AND dc.numDocOrigen = A.IdDocVentas
            AND dc.TipoDocOrigen = '07'
    ) C

    /* === Referencias (OPTIMIZADO) === SOLO PARA PEDIDOS */
    OUTER APPLY (
        SELECT STRING_AGG(
               d3.AbreDocumento + ' ' + d2.SerieDocOrigen + '-' + d2.NumDocOrigen,
                ', '
            ) AS DocReferencia
        FROM docreferencia d1
		LEFT JOIN docreferencia d2
			ON d1.tipoDocOrigen = d2.tipoDocReferencia 
			AND d1.SerieDocOrigen  = d2.serieDocReferencia
			AND d1.NumDocOrigen  = d2.numDocReferencia
			AND d1.idEmpresa = d2.idEmpresa
			AND d2.TipoDocReferencia = '86'
			AND d2.TipoDocOrigen = '01'
        LEFT JOIN documentos d3
            ON d3.idDocumento = d2.TipoDocOrigen

        WHERE d1.IdEmpresa = A.IdEmpresa
            AND d1.IdSucursal = A.IdSucursal
            AND d1.TipoDocReferencia = A.IdDocumento
            AND d1.SerieDocReferencia = A.IdSerie
            AND d1.NumDocReferencia = A.IdDocVentas
            AND d1.TipoDocOrigen <> '99'
			AND A.IdDocumento = '40'
    ) BB

    /* === Anulación === */
    LEFT JOIN docreferencia X
        ON A.IdEmpresa = X.IdEmpresa
        AND A.IdSucursal = X.IdSucursal
        AND A.IdDocumento = X.TipoDocReferencia
        AND A.IdSerie = X.SerieDocReferencia
        AND A.IdDocVentas = X.NumDocReferencia
        AND X.TipoDocOrigen = '07'
        AND X.TipoDocReferencia = '01'

    /* === Motivo traslado (solo guías) === */
    LEFT JOIN motivostraslados m
        ON m.idMotivoTraslado = A.idMotivoTraslado
        AND m.idDocumento = A.idDocumento
        AND A.idDocumento = '86'

    WHERE A.idEmpresa = @idEmpresa
        AND A.idSucursal = @idSucursal
        AND A.idDocumento = @idDocumento
        AND A.IndAtribucionNC = 0
        AND YEAR(A.FecEmision) = @Anno
        AND (MONTH(A.FecEmision) = @MES OR @MES = 13)

		AND (
			A.idDocVentas      LIKE @BusquedaLike
			OR A.GlsCliente    LIKE @BusquedaLike
			OR A.ObsDocVentas  LIKE @BusquedaLike
			OR A.numOrdenCompra LIKE @BusquedaLike
			OR EXISTS (
				SELECT 1
				FROM docventasdet C
				WHERE C.idEmpresa   = A.idEmpresa
				  AND C.idDocumento = A.idDocumento
				  AND C.idSerie     = A.idSerie
				  AND C.idDocVentas = A.idDocVentas
				  AND (C.idProducto LIKE @BusquedaLike
						OR
						NOT EXISTS (
									SELECT 1
									FROM STRING_SPLIT(
											REPLACE(REPLACE(REPLACE(@BusquedaSplit,'/',' '),'-',' '),'_',' ')
										 , ' '
									) B
									WHERE B.value <> ''
									AND REPLACE(REPLACE(REPLACE(C.GlsProducto,'/',' '),'-',' '),'_',' ')
									NOT LIKE '%' + B.value + '%'

					  )
				  )
			)
		)

        AND (ISNULL(A.ind_CTGanada,0) = @IntGanada OR @IntGanada = 2)

    ORDER BY A.FecEmision, A.idSerie, A.idDocVentas;
END
GO
