USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_Documento]    Script Date: 12/03/2026 12:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[spu_Documento]
@idDocumento CHAR(2)
AS
BEGIN

SELECT GlsDocumento,idDocumento,frameHeight FROM documentos
where idDocumento = @idDocumento

;

END;
GO
