USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_Docventas_Listacab_Imp]    Script Date: 12/03/2026 12:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[spu_Docventas_Listacab_Imp]
@idEmpresa		CHAR(2),
@idSucursal		VARCHAR(8),
@idDocumento	CHAR(2),
@idDocVentas	CHAR(8),
@idSerie		CHAR(4)
AS
BEGIN

Select ConCat(IdDocumento,IdDocVentas,IdSerie) As Item,IdFormaPago,IdDocVentas,IdSerie,IdPerVendedor,GlsVendedor,FecEmision,
EstDocVentas,IdMoneda,TotalValorVenta,TotalIGVVenta,TotalPrecioVenta,NumOrdenCompra,Llegada,IdMoneda,FecIniTraslado,TipoCambio,
IdPerChofer,GlsChofer,IdPerEmpTrans,GlsEmpTrans,IdVehiculo,GlsVehiculo,Placa,Marca,Color,Modelo,CodInsCrip,Brevete,RucEmpTrans,
IdCentroCosto,IdLista,IdAlmacen,IdContacto,ubigeollegada ,TipoCambio  AS TC
From Docventas 
Where IdEmpresa = @idEmpresa
And IdSucursal = @idSucursal
And IdDocumento = @idDocumento 
And idSerie = @idSerie 
And idDocVentas = @idDocVentas
And EstDocventas <> 'ANU'
--And EstDocImportado <> 'S'

END;
GO
