USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[Spu_ActEstado_DocElectronicos]    Script Date: 11/03/2026 22:20:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- EXEC Spu_ActEstado_DocElectronicos 6 'GR','T001-0000001','LUIS LARA','','',0
CREATE   PROCEDURE [dbo].[Spu_ActEstado_DocElectronicos]
@Tipo					INT,
@TipDoc					CHAR(2), 
@SerDoc					VARCHAR(4),
@NumDoc					VARCHAR(15),  
@IdEmpresa				CHAR(2),
@CodError				VARCHAR(10) = '', 
@DesError				VARCHAR(400) = '',
@PDF					VARCHAR(MAX) = '',
@CDR					VARCHAR(MAX) = '',
@XML					VARCHAR(MAX) = ''
AS
BEGIN
	SET NOCOUNT ON;
		
	DECLARE @CodEstSunat	AS CHAR(2) 

	IF @Tipo =  1 BEGIN -- Act estado enviado a nubefact
		
		IF @TipDoc  = '01' OR @TipDoc  = '07' OR @TipDoc = '86' BEGIN
		
			IF @TipDoc = '86' OR @TipDoc  = '01' OR @TipDoc  = '07' BEGIN
				IF @CodError = '3' BEGIN
					UPDATE docventas SET IndEnviadoSunat = 1 , MensajeEnvioSUNAT = '' 
					WHERE idDocumento = @TipDoc
					AND idSerie = @SerDoc
					AND idDocVentas = @NumDoc
					AND idEmpresa = @IdEmpresa
				END ELSE BEGIN		
					UPDATE docventas SET IndEnviadoSunat = 0 ,IndListaParaEnvioSunat = 0, MensajeEnvioSUNAT = @DesError 
					WHERE idDocumento = @TipDoc
					AND idSerie = @SerDoc
					AND idDocVentas = @NumDoc
					AND idEmpresa = @IdEmpresa
				END	
			END
		END 
		
	END
	

	IF @Tipo =  2 BEGIN -- Disparador de estado - enviado desde ventas

		--UPDATE docventas SET IndListaParaEnvioSunat = 1 
		--WHERE idDocumento = @TipDoc
		--AND idSerie = @SerDoc
		--AND idDocVentas = @NumDoc
		--AND idEmpresa = @IdEmpresa

		UPDATE docventas SET IndListaParaEnvioSunat = 1 
		WHERE idDocumento = @TipDoc
		AND idSerie = @SerDoc
		AND idDocVentas = @NumDoc
		AND idEmpresa = @IdEmpresa
		AND ISNULL(IndEnviadoSunat,0) = 0
		AND ISNULL(IndListaParaEnvioSunat,0) = 0
	END


	IF @Tipo = 7 OR  @Tipo = 8 BEGIN  -- ESTADO DE GR EN NUFE BACT - SUNAT
		
		IF @Tipo =  7 BEGIN -- Aceptado
			UPDATE docventas SET IndAceptadoSunat = 1 , MensajeEnvioSUNAT = '',FechaAceptacionSunat =  CAST(GETDATE() AS DATE),
			RutaPDFSunat = @PDF, RutaXMLSunat = @XML, RutaCDRSunat = @CDR
			WHERE idDocumento = @TipDoc
			AND idSerie = @SerDoc
			AND idDocVentas = @NumDoc
			AND idEmpresa = @IdEmpresa
		END ELSE IF @Tipo =  8 BEGIN -- Rechazado
			UPDATE docventas SET IndRechazadoSunat = 1 , MensajeEnvioSUNAT = @DesError,FechaRechazoSunat =  CAST(GETDATE() AS DATE),
			RutaPDFSunat = '', RutaXMLSunat = '', RutaCDRSunat = ''
			WHERE idDocumento = @TipDoc
			AND idSerie = @SerDoc
			AND idDocVentas = @NumDoc
			AND idEmpresa = @IdEmpresa
		END		
			
	END


	SET NOCOUNT OFF;
END
GO
