USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_GrabaVentas_Log]    Script Date: 11/03/2026 22:20:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[spu_GrabaVentas_Log]
    @idEmpresa			CHAR(2),
    @idSucursal			CHAR(8),
    @idDocumento		CHAR(8),
    @idSerie			CHAR(4),
    @idDocVentas		VARCHAR(8),
    @GlsPCLog			VARCHAR(100),
	@GlsPCUsuarioLog	VARCHAR(100)
AS
BEGIN

DECLARE @ItemLog		AS BIGINT
 
BEGIN TRY
    -- Inicia la transacción
BEGIN TRANSACTION;

	SET @ItemLog  = ISNULL((SELECT MAX(ISNULL(ItemLog,0)) FROM docventas_Log 	
							WHERE idDocumento = @idDocumento
							AND idDocVentas = @idDocVentas
							AND idSerie = @idSerie
							AND idEmpresa = @idEmpresa
							AND idSucursal = @idSucursal),0) + 1

	INSERT INTO [dbo].[docventas_Log] (
	idDocumento, idDocVentas, idSerie, idPerCliente, GlsCliente, RUCCliente, dirCliente, idAlmacen, idPerVendedor, FecEmision, estDocVentas, 
	TotalValorVenta, TotalIGVVenta, TotalPrecioVenta, idMoneda, TipoCambio, ObsDocVentas, Partida, llegada, idPerChofer, glsChofer, idPerEmpTrans, 
	GlsEmpTrans, idVehiculo, GlsVehiculo, Placa, Marca, Color, Modelo, CodInsCrip, Bultos, Brevete, idLista, GlsVendedor, idMotivoTraslado, GlsFormasPago, 
	GlsFecVectos, idMotivoNCD, GlsMotivoNCD, totalLetras, FecIniTraslado, rucEmpTrans, FecPago, GlsDocReferencia, simboloMonBruto, simboloMonIGV, simboloMonNeto, 
	indVale, idValesCab, idEmpresa, idSucursal, idCentroCosto, GlsCentroCosto, estDocImportado, idMovCaja, idPerVendedorCampo, GlsVendedorCampo, TotalDsctoVV, TotalDsctoPV, 
	TotalExonerado, TotalBaseImponible, estGuiaImportado, idTipoTicket, idUsuarioAnulacion, FechaAnulacion, FecRegistro, idUsuarioReg, Partida2, Llegada2, numOrdenCompra, 
	idValeCabRec, indAprobado, ComisionVtas, indLetra, idupp, idFormaPago, indTrasladoConta, glsFormaPago, vtercerosCliente, vtercerosdireccion, vterceroCodigo, 
	vterceroRuc, IndReq, IdContacto, GlsMoneda, indTrasladoContaFin, idProvCliente, ObsDocVentas2, idtienda, IdPerVendedorCampo_Ant, tipoVale, IdPeriodo, 
	IdComprobante, GlsContacto, totalTallaPeso, IdArea, GlsTrabajo, GlsPlaca, GlsAreaCliente, IdUsuarioAprueba, FechaAprueba, IdUsuarioDesaprueba, 
	FechaDesaprueba, DiasEntrega, FechaEntrega, IndTerminado, indVtaGratuita, FechaMod, IdUsuarioMod, ObsRegVentas, idTemf, SucursalDestino, 
	AlmacenDestino, GlsSucursalDestino, GlsAlmacenDestino, idValesCabIng, TipoValeIng, IndValeIng, idAreaResponsable, GlsObsAnula, FechaTermino, 
	FechaTerminoSistema, idAreaCli, Prioridad, IndCerrado, IdUsuarioCierre, FechaCierre, IdUsuarioAbre, FechaAbre, ObsCierre, ObsAbre, PeriodoAD, 
	IdCtaCorrienteOriAD, IdMovBancosCabOriAD, IdCtaCorrienteDesAD, IdMovBancosCabDesAD, IdSucursalDestino, PeriodoRec, indPeriodoRecEstado, 
	IndAfectoPerc, TotalIvap, TipoDescuentoGlobal, DescuentoGlobal, TotalPorcentajeDescuentoGlobal, TotalDescuentoGlobalGravado, TotalDescuentoGlobalExonerado, 
	TotalDescuento, IndAceptadoSunat, IndBajaSunat, IndEnviadoSunat, IndAtribucionNC, IndRechazadoSunat, FechaAceptacionSunat, HoraAceptacionSunat, FechaRechazoSunat, 
	HoraRechazoSunat, IdUsuarioFirma1, IdUsuarioFirma2, IdUsuarioFirma3, FechaPT, IdUsuarioPT, IndTransGratuitaMP, IndTransGratuita, NumNotaPedido, NumCotizacion, IndVContado, 
	iddirrecojo, ind_CTGanada, TotalCosto, ItemLog, GlsPCLog, GlsPCUsuarioLog
	)
	SELECT idDocumento, idDocVentas, idSerie, idPerCliente, GlsCliente, RUCCliente, dirCliente, idAlmacen, idPerVendedor, FecEmision, estDocVentas, 
	TotalValorVenta, TotalIGVVenta, TotalPrecioVenta, idMoneda, TipoCambio, ObsDocVentas, Partida, llegada, idPerChofer, glsChofer, idPerEmpTrans, 
	GlsEmpTrans, idVehiculo, GlsVehiculo, Placa, Marca, Color, Modelo, CodInsCrip, Bultos, Brevete, idLista, GlsVendedor, idMotivoTraslado, GlsFormasPago, 
	GlsFecVectos, idMotivoNCD, GlsMotivoNCD, totalLetras, FecIniTraslado, rucEmpTrans, FecPago, GlsDocReferencia, simboloMonBruto, simboloMonIGV, simboloMonNeto, 
	indVale, idValesCab, idEmpresa, idSucursal, idCentroCosto, GlsCentroCosto, estDocImportado, idMovCaja, idPerVendedorCampo, GlsVendedorCampo, TotalDsctoVV, TotalDsctoPV, 
	TotalExonerado, TotalBaseImponible, estGuiaImportado, idTipoTicket, idUsuarioAnulacion, FechaAnulacion, GETDATE(), idUsuarioReg, Partida2, Llegada2, numOrdenCompra, 
	idValeCabRec, indAprobado, ComisionVtas, indLetra, idupp, idFormaPago, indTrasladoConta, glsFormaPago, vtercerosCliente, vtercerosdireccion, vterceroCodigo, 
	vterceroRuc, IndReq, IdContacto, GlsMoneda, indTrasladoContaFin, idProvCliente, ObsDocVentas2, idtienda, IdPerVendedorCampo_Ant, tipoVale, IdPeriodo, 
	IdComprobante, GlsContacto, totalTallaPeso, IdArea, GlsTrabajo, GlsPlaca, GlsAreaCliente, IdUsuarioAprueba, FechaAprueba, IdUsuarioDesaprueba, 
	FechaDesaprueba, DiasEntrega, FechaEntrega, IndTerminado, indVtaGratuita, FechaMod, IdUsuarioMod, ObsRegVentas, idTemf, SucursalDestino, 
	AlmacenDestino, GlsSucursalDestino, GlsAlmacenDestino, idValesCabIng, TipoValeIng, IndValeIng, idAreaResponsable, GlsObsAnula, FechaTermino, 
	FechaTerminoSistema, idAreaCli, Prioridad, IndCerrado, IdUsuarioCierre, FechaCierre, IdUsuarioAbre, FechaAbre, ObsCierre, ObsAbre, PeriodoAD, 
	IdCtaCorrienteOriAD, IdMovBancosCabOriAD, IdCtaCorrienteDesAD, IdMovBancosCabDesAD, IdSucursalDestino, PeriodoRec, indPeriodoRecEstado, 
	IndAfectoPerc, TotalIvap, TipoDescuentoGlobal, DescuentoGlobal, TotalPorcentajeDescuentoGlobal, TotalDescuentoGlobalGravado, TotalDescuentoGlobalExonerado, 
	TotalDescuento, IndAceptadoSunat, IndBajaSunat, IndEnviadoSunat, IndAtribucionNC, IndRechazadoSunat, FechaAceptacionSunat, HoraAceptacionSunat, FechaRechazoSunat, 
	HoraRechazoSunat, IdUsuarioFirma1, IdUsuarioFirma2, IdUsuarioFirma3, FechaPT, IdUsuarioPT, IndTransGratuitaMP, IndTransGratuita, NumNotaPedido, NumCotizacion, IndVContado, 
	iddirrecojo, ind_CTGanada, TotalCosto, @ItemLog, @GlsPCLog, @GlsPCUsuarioLog 
	FROM [dbo].[docventas]

	WHERE idDocumento = @idDocumento
	AND idDocVentas = @idDocVentas
	AND idSerie = @idSerie
	AND idEmpresa = @idEmpresa
	AND idSucursal = @idSucursal

	INSERT INTO [dbo].[docventasdet_log] (idDocumento, idDocVentas, idSerie, idProducto, GlsProducto, idMarca, idUM, Factor, Afecto, Cantidad, 
	VVUnit, IGVUnit, PVUnit, TotalVVBruto, TotalPVBruto, PorDcto, DctoVV, DctoPV, TotalVVNeto, TotalIGVNeto, TotalPVNeto, item, GlsMarca, GlsUM, 
	idTipoProducto, idMoneda, idCodFabricante, idEmpresa, idSucursal, estDocImportado, idDocumentoImp, idDocVentasImp, idSerieImp, NumLote, FecVencProd, 
	idUsuarioDcto, VVUnitLista, PVUnitLista, CantidadImp, VVUnitNeto, PVUnitNeto, Cantidad2, CodigoRapido, idTallaPeso, CantidadAnt, Simbolo1, Simbolo2, 
	simbolo3, itemPro, PorcUtilidad, IdCentroCosto, IdSucursalPres, IdDocumentoPres, IdSeriePres, IdDocVentasPres, GlsPlaca, IdUPCliente, FechaEmision, IvapUnit, 
	TotalIvapNeto, IdLote, GlsProveedor, CostoS, CostoD, Margen, CostoSInc, ItemLog)

	SELECT idDocumento, idDocVentas, idSerie, idProducto, GlsProducto, idMarca, idUM, Factor, Afecto, Cantidad, 
	VVUnit, IGVUnit, PVUnit, TotalVVBruto, TotalPVBruto, PorDcto, DctoVV, DctoPV, TotalVVNeto, TotalIGVNeto, TotalPVNeto, item, GlsMarca, GlsUM, 
	idTipoProducto, idMoneda, idCodFabricante, idEmpresa, idSucursal, estDocImportado, idDocumentoImp, idDocVentasImp, idSerieImp, NumLote, FecVencProd, 
	idUsuarioDcto, VVUnitLista, PVUnitLista, CantidadImp, VVUnitNeto, PVUnitNeto, Cantidad2, CodigoRapido, idTallaPeso, CantidadAnt, Simbolo1, Simbolo2, 
	simbolo3, itemPro, PorcUtilidad, IdCentroCosto, IdSucursalPres, IdDocumentoPres, IdSeriePres, IdDocVentasPres, GlsPlaca, IdUPCliente, FechaEmision, IvapUnit, 
	TotalIvapNeto, IdLote, GlsProveedor, CostoS, CostoD, Margen, CostoSInc, @ItemLog 
	FROM [dbo].[docventasdet]
	WHERE idDocumento = @idDocumento
	AND idDocVentas = @idDocVentas
	AND idSerie = @idSerie
	AND idEmpresa = @idEmpresa
	AND idSucursal = @idSucursal

    -- Confirma la transacción si todo es exitoso
COMMIT TRANSACTION;
END TRY
BEGIN CATCH
    -- Reversa la transacción si ocurre un error
    ROLLBACK TRANSACTION;

    -- Opcional: manejar el error
    DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();

    -- Lanza el error para que sea manejado por el llamador
    RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH

END
GO
