USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_Docventas_ListaDet_Imp]    Script Date: 12/03/2026 12:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[spu_Docventas_ListaDet_Imp]
@idEmpresa		CHAR(2),
@idSucursal		VARCHAR(8),
@idDocumento	CHAR(2),
@idDocVentas	CHAR(8),
@idSerie		CHAR(4)
AS
BEGIN

Select Item,IdProducto,IdCodFabricante,GlsProducto,IdMarca,GlsMarca,IdUM,GlsUM,Factor,Afecto,
(Cantidad - CantidadImp) As Cantidad,VVUnit,IGVUnit,PVUnit,TotalVVBruto,TotalPVBruto,PorDcto,DctoVV,DctoPV,TotalVVNeto,
TotalIGVNeto,TotalPVNeto,IdTipoProducto,IdMoneda,NumLote,FecVencProd,VVUnitLista,PVUnitLista,VVUnitNeto,PVUnitNeto,Cantidad2,
CodigoRapido,IdTallaPeso,ItemPro,IvapUnit,TotalIvapNeto ,idDocVentas , idSerie , IdLote ,GlsProveedor,CostoS,CostoSInc,CostoD,Margen
From DocVentasDet 
Where IdEmpresa = @idEmpresa
And IdSucursal = @idSucursal 
And IdDocumento = @idDocumento 
And IdDocVentas = @idDocVentas 
And IdSerie = @idSerie
And EstDocImportado <> 'S' Order By Item


END;
GO
