USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_ListaDocventasOrdendeCompra]    Script Date: 11/03/2026 22:20:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spu_ListaDocventasOrdendeCompra]
    @varEmpresa CHAR(2),
    @varSucursal CHAR(8),
    @varidDocumento CHAR(2),
    @varAnnioMov INT,
    @varMesMov INT,
    @varParamBusqueda VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    IF @varParamBusqueda = '' 
    BEGIN
        SET @varParamBusqueda = '%%';
    END

    IF OBJECT_ID('tempdb..#TmpReferenciasOC') IS NOT NULL DROP TABLE #TmpReferenciasOC;

    CREATE TABLE #TmpReferenciasOC (
        IdEmpresa CHAR(2) NOT NULL DEFAULT '',
        IdSucursal VARCHAR(8) NOT NULL DEFAULT '',
        TipoDocOrigen VARCHAR(2) NOT NULL DEFAULT '',
        SerieDocOrigen VARCHAR(4) NOT NULL DEFAULT '',
        NumDocOrigen VARCHAR(8) NOT NULL DEFAULT '',
        Referencia VARCHAR(250) NOT NULL DEFAULT '',
        PRIMARY KEY(IdSucursal, TipoDocOrigen, SerieDocOrigen, NumDocOrigen)
    );

    INSERT INTO #TmpReferenciasOC
    SELECT IdEmpresa, IdSucursal, TipoDocOrigen, SerieDocOrigen, NumDocOrigen,
        Referencia AS Referencia
    FROM (
        SELECT * 
        FROM (
            SELECT A.IdEmpresa, A.IdSucursal, A.TipoDocOrigen, A.SerieDocOrigen, A.NumDocOrigen,
            
			STRING_AGG(B.AbreDocumento + A.SerieDocReferencia + A.NumDocReferencia, ' - ') AS Referencia
            FROM DocReferencia A
            INNER JOIN Documentos B ON A.TipoDocReferencia = B.IdDocumento
            WHERE A.IdEmpresa = @varEmpresa AND A.TipoDocOrigen = @varidDocumento
			GROUP BY A.IdEmpresa, A.IdSucursal, A.TipoDocOrigen, A.SerieDocOrigen, A.NumDocOrigen

        ) AS A
    ) AS A
   -- GROUP BY IdSucursal, TipoDocOrigen, SerieDocOrigen, NumDocOrigen;

    IF OBJECT_ID('tempdb..#TmpReferenciasOCVales') IS NOT NULL DROP TABLE #TmpReferenciasOCVales;

    CREATE TABLE #TmpReferenciasOCVales (
        IdEmpresa CHAR(2) NOT NULL DEFAULT '',
        IdSucursal VARCHAR(8) NOT NULL DEFAULT '',
        TipoDocReferencia VARCHAR(2) NOT NULL DEFAULT '',
        SerieDocReferencia VARCHAR(4) NOT NULL DEFAULT '',
        NumDocReferencia VARCHAR(8) NOT NULL DEFAULT '',
        ReferenciaVale VARCHAR(500) NOT NULL DEFAULT '',
        PRIMARY KEY(IdSucursal, TipoDocReferencia, SerieDocReferencia, NumDocReferencia)
    );

    INSERT INTO #TmpReferenciasOCVales
    SELECT IdEmpresa, IdSucursal, TipoDocReferencia, SerieDocReferencia, NumDocReferencia,
       Referencia AS Referencia
    FROM (
        SELECT * 
        FROM (
            SELECT A.IdEmpresa, A.IdSucursal, A.TipoDocReferencia, A.SerieDocReferencia, A.NumDocReferencia,
               
			   STRING_AGG(A.NumDocOrigen, ' - ') AS Referencia

            FROM DocReferencia A
            INNER JOIN Documentos B ON A.TipoDocOrigen = B.IdDocumento
            WHERE A.IdEmpresa = @varEmpresa AND A.TipoDocReferencia = @varidDocumento AND A.TipoDocOrigen = '88'
			GROUP BY A.IdEmpresa, A.IdSucursal, A.TipoDocReferencia, A.SerieDocReferencia, A.NumDocReferencia
        ) AS A
    ) AS A
    --GROUP BY IdSucursal, TipoDocReferencia, SerieDocReferencia, NumDocReferencia;

    SELECT DISTINCT CONCAT(A.idDocumento, A.idDocVentas, A.idSerie) AS Item, A.idDocVentas, A.idSerie, A.idPerCliente, A.GlsCliente,
        A.RUCCliente, CONVERT(VARCHAR,A.FecEmision, 103) AS FecEmision, A.estDocVentas,
        A.TotalValorVenta AS TotalPrecioVenta, ISNULL(C.Referencia, '') AS Referencia, A.IdCentroCosto,
        CASE WHEN A.idMoneda = 'PEN' THEN 'Soles' ELSE 'Dolares' END AS idMoneda, p.nombres AS GlsUser, 
        RIGHT('00' + CAST(MONTH(A.FecEmision) AS VARCHAR(2)) ,2) AS Mes, A.GlsPlaca, 
		ISNULL(A.IndCerrado, '0') AS IndCerrado, ISNULL(D.ReferenciaVale, '') AS ReferenciaVale
    FROM docventas A
	INNER JOIN docventasdet dd
		on a.idDocumento = dd.idDocumento
		and a.idDocVentas = dd.idDocVentas
		and a.idSerie = dd.idSerie
		and a.idEmpresa = dd.idEmpresa
		and a.idSucursal = dd.idSucursal
    LEFT JOIN #TmpReferenciasOC C ON A.IdEmpresa = C.IdEmpresa AND A.IdSucursal = C.IdSucursal AND A.IdDocumento = C.TipoDocOrigen
        AND A.IdSerie = C.SerieDocOrigen AND A.IdDocVentas = C.NumDocOrigen
    LEFT JOIN #TmpReferenciasOCVales D ON A.IdEmpresa = D.IdEmpresa AND A.IdSucursal = D.IdSucursal AND A.IdDocumento = D.TipoDocReferencia
        AND A.IdSerie = D.SerieDocReferencia AND A.IdDocVentas = D.NumDocReferencia
    LEFT JOIN Personas p ON A.idPerVendedor = p.idPersona
    WHERE A.idEmpresa = @varEmpresa
    AND A.idSucursal = @varSucursal
    AND A.idDocumento = @varidDocumento
    AND YEAR(A.FecEmision) = @varAnnioMov
    AND MONTH(A.FecEmision) LIKE @varMesMov
   -- AND (@VarUsuario = '' OR A.IdUsuarioReg = @VarUsuario)
    AND (A.GlsCliente LIKE @varParamBusqueda OR A.idDocVentas LIKE @varParamBusqueda OR A.RUCCliente LIKE @varParamBusqueda
    OR A.idPerCliente LIKE @varParamBusqueda OR p.nombres LIKE @varParamBusqueda OR dd.GlsProducto LIKE @varParamBusqueda)
    ORDER BY Item, A.idDocVentas, A.idSerie, A.idPerCliente, A.GlsCliente,
        A.RUCCliente, FecEmision, A.estDocVentas,
        TotalPrecioVenta,Referencia, A.IdCentroCosto, idMoneda, GlsUser,Mes, A.GlsPlaca,IndCerrado,ReferenciaVale ;
	--MONTH(A.FecEmision), A.idSerie, A.idDocVentas;

    SET NOCOUNT OFF;
END
GO
