USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_Docventas_Docventas_Valida]    Script Date: 11/03/2026 22:20:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spu_Docventas_Docventas_Valida]
@Tipo		   TINYINT,
@idEmpresa     CHAR(2),
@idSucursal    VARCHAR(8),
@idDocumento   CHAR(2),
@idSerie	   CHAR(4),
@iddocventas   CHAR(8)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Resultado BIT = 0;
    DECLARE @Mensaje   VARCHAR(500) = '';
    DECLARE @Pedidos   VARCHAR(400);

    IF @Tipo = 1 -- Validaciones para modificacion de COTIZACIONES
    BEGIN
		
        -- Obtenemos los pedidos no anulados relacionados a la cotización
        SELECT @Pedidos =
            STRING_AGG(
                CONCAT(b.idSerie, '-', b.idDocVentas),
                ', '
            )
        FROM DocReferencia A
        INNER JOIN docventas B
            ON A.idEmpresa = B.idEmpresa
           AND A.idSucursal = B.idSucursal
           AND A.tipoDocOrigen = b.idDocumento
           AND A.serieDocOrigen = b.idSerie
           AND A.numDocOrigen = b.idDocVentas
        WHERE A.IdEmpresa = @idEmpresa
          AND A.IdSucursal = @idSucursal
          AND A.tipoDocReferencia = @idDocumento
          AND A.serieDocReferencia = @idSerie
          AND A.numDocReferencia = @iddocventas
          AND A.tipoDocOrigen = '40'
          AND RTRIM(LTRIM(b.estDocVentas)) <> 'ANU';

        IF @Pedidos IS NOT NULL
        BEGIN
            SET @Resultado = 1;
            SET @Mensaje =
                'La cotización ya cuenta con pedido(s): ' + @Pedidos;
            GOTO FIN;
        END

    END


FIN:
    SELECT 
        @Resultado AS Resultado,
        @Mensaje AS Mensaje;
END
GO
