USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_Docventas_ListaDet]    Script Date: 12/03/2026 12:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[spu_Docventas_ListaDet]
@idEmpresa		CHAR(2),
@idSucursal		VARCHAR(8),
@idDocumento	CHAR(2),
@idDocVentas	CHAR(8),
@idSerie		CHAR(4)
AS
BEGIN

SELECT item, idProducto, CAST((CAST(GlsProducto AS VARCHAR(500))) AS VARCHAR(8000)) AS GlsProducto, GlsMarca, GlsUM, 
CAST(Cantidad AS NUMERIC(12,2)) AS Cantidad,CAST(Cantidad2 AS NUMERIC(12,2)) AS Cantidad2, CAST(VVUnit AS NUMERIC(12,2)) AS PVUnit, 
PorDcto, CAST(TotalVVNeto AS NUMERIC(12,2)) AS TotalPVNeto ,ISNULL(CantidadImp,0) AS CantidadImp
FROM docventasdet WHERE idEmpresa = @idEmpresa
AND idSucursal = @idSucursal 
AND idDocumento = @idDocumento
AND idDocVentas = @idDocVentas
AND idSerie = @idSerie 
Order By Item


END;
GO
