USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_Docventas_Mostrar_Docventas_cab]    Script Date: 11/03/2026 22:20:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spu_Docventas_Mostrar_Docventas_cab]
@idEmpresa     CHAR(2),
@idSucursal    VARCHAR(8),
@idDocumento   CHAR(2),
@idSerie	   CHAR(4),
@iddocventas   CHAR(8)
AS
BEGIN
    SET NOCOUNT ON;

	SELECT idDocumento , idDocVentas, idSerie, idPerCliente, GlsCliente, RucCliente, dirCliente, idAlmacen, idPerVendedor, fecEmision, estDocVentas,TotalValorVenta , TotalIGVVenta, TotalPrecioVenta, 
	idMoneda, TipoCambio, obsdocventas, Partida, llegada, idPerChofer, glsChofer, idPerEmpTrans, GlsEmpTrans, idVehiculo, GlsVehiculo, Placa, Marca, Color, Modelo, CodInsCrip, Bultos, Brevete, 
	idLista, GlsVendedor, idMotivoTraslado, GlsFormasPago, GlsFecVectos, idMotivoNCD, GlsMotivoNCD, totalLetras, FecIniTraslado, rucEmpTrans, FecPago, GlsDocReferencia, simboloMonBruto, 
	simboloMonIGV, simboloMonNeto, indVale, idValesCab, idEmpresa, idSucursal, idCentroCosto, GlsCentroCosto, estDocImportado, idmovcaja, idPerVendedorCampo, GlsVendedorCampo, TotalDsctoVV, 
	TotalDsctoPV, TotalExonerado, TotalBaseImponible, estGuiaImportado, idTipoTicket, idUsuarioAnulacion, FechaAnulacion, FecRegistro, idUsuarioReg, Partida2, Llegada2, numOrdenCompra, idValeCabRec, 
	indAprobado, ComisionVtas, indLetra, idupp, idFormaPago, indTrasladoConta,glsFormapago , vtercerosCliente, vtercerosdireccion, vterceroCodigo, vterceroRuc, IndReq, IdContacto, 
	GlsMoneda, indTrasladoContaFin, idProvCliente,ObsDocVentas2 , idtienda, Tipovale, IdPeriodo, IdComprobante, GlsContacto, totalTallaPeso, IDArea, GlsTrabajo, GlsPlaca, GlsAreaCliente, 
	IdUsuarioAprueba, FechaAprueba, IdUsuarioDesaprueba, FechaDesaprueba, DiasEntrega, FechaEntrega, IndTerminado, indVtaGratuita, ObsRegVentas, SucursalDestino, 
	AlmacenDestino, GlsSucursalDestino, GlsAlmacenDestino, idValesCabIng, TipoValeIng, IndValeIng, GlsObsAnula, FechaTermino, FechaTerminoSistema, idAreaCli, Prioridad, 
	IndCerrado, IdUsuarioCierre, FechaCierre, IdUsuarioAbre, FechaAbre, ObsCierre, ObsAbre, PeriodoAD, IdCtaCorrienteOriAD, IdMovBancosCabOriAD, IdCtaCorrienteDesAD, 
	IdMovBancosCabDesAD, IdSucursalDestino, FechaPT, IdUsuarioPT, IndTransGratuitaMP, IndTransGratuita, PeriodoRec, indPeriodoRecEstado, IndAfectoPerc, 
	TotalIvap, TipoDescuentoGlobal, DescuentoGlobal, TotalPorcentajeDescuentoGlobal, TotalDescuentoGlobalGravado, TotalDescuentoGlobalExonerado, 
	TotalDescuento, IndAceptadoSunat, IndBajaSunat, IndEnviadoSunat, IndAtribucionNC,IndVContado,iddirrecojo,TotalCosto,ubigeollegada,ubigeoPartida 
	FROM docventas d 
	WHERE d.idEmpresa = @idEmpresa 
	AND d.idSucursal = @idSucursal 
	AND d.idDocumento = @idDocumento
	AND d.idDocVentas = @iddocventas
	AND d.idSerie = @idSerie
	;
END
GO
