USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_Docventas_Mostrar_Docventas_Ref]    Script Date: 11/03/2026 22:20:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spu_Docventas_Mostrar_Docventas_Ref]
@idEmpresa     CHAR(2),
@idSucursal    VARCHAR(8),
@idDocumento   CHAR(2),
@idSerie	   CHAR(4),
@iddocventas   CHAR(8)
AS
BEGIN
    SET NOCOUNT ON;

	Select R.Item,R.TipoDocReferencia IdDocumento,D.GlsDocumento,R.NumDocReferencia IdNumDoc,R.SerieDocReferencia IdSerie,R.IndImportado 
	From DocReferencia R 
	Inner Join Documentos D 
	On R.TipoDocReferencia = D.IdDocumento 
	Where R.IdEmpresa = @idEmpresa 
	And R.IdSucursal = @idSucursal 
	And R.TipoDocOrigen = @idDocumento
	And R.SerieDocOrigen = @idSerie
	And R.NumDocOrigen = @iddocventas 
	Order By Item
	;

END
GO
