USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[Spu_Genera_Doc_electronico]    Script Date: 11/03/2026 22:20:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
 /*
 EXEC Spu_Genera_Doc_electronico 3,'01','F108','00000011','01'
 EXEC Spu_Genera_Doc_electronico 4,'01','F108','00000011','01'
 EXEC Spu_Genera_Doc_electronico 5,'01','F108','00000011','01'
 */

CREATE   PROCEDURE [dbo].[Spu_Genera_Doc_electronico](
@Tipo		AS INT,
@TipDoc		AS CHAR (2),
@SerDoc		AS VARCHAR(4),
@NumDoc		AS VARCHAR(20),
@Idempresa	AS CHAR(2)
)
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @WEB_SERVICE_RUC	AS VARCHAR(20)
	DECLARE @WEB_SERVICE_RZN	AS VARCHAR(100)
	DECLARE @IGV				AS VARCHAR(10)


	SET @IGV = (SELECT ValParametro FROM parametros WHERE GlsParametro = 'IGV' AND idEmpresa = @Idempresa)

	--************************   GEENRACION DE DOCUMENTOS GR   ********************
	--*******************************************************************************************

	IF @Tipo  = 2 BEGIN -- DETALLE GUIA
		
		SELECT A.item,
		A.GlsProducto AS GlsProducto,
		B.Codigo_Sunat AS UM,
		CAST(A.Cantidad AS DECIMAL(12,2)) AS Cantidad,
		A.idProducto AS idProducto,							
		A.idUM UMOri				
		FROM docventasdet A
		INNER JOIN docventas C
		ON A.idEmpresa = C.idEmpresa
		AND A.idSerie = C.idSerie
		AND A.idDocumento = C.idDocumento
		AND A.idDocVentas = C.idDocVentas
		INNER JOIN unidadmedida B
		ON A.idUM = B.idUM 
		WHERE A.idDocumento = @TipDoc 
		AND a.idSerie = @SerDoc
		and a.idDocVentas = @NumDoc
		ORDER BY item
		
	END
		
	IF @Tipo  = 1 BEGIN -- CABECERA GUIA
		

		SELECT DISTINCT '09' AS TIPDOC, a.idDocumento,a.idEmpresa,
		a.idSerie AS SERIE, 
		CAST(a.idDocVentas AS decimal(10,0))  AS NUMDOC,
		A.idDocVentas AS NumDocOri,
		REPLACE(CONVERT(VARCHAR,A.FecEmision,103),'/','-')  AS FecDocEmi ,
				
		a.RUCCliente AS Ruc,
		ISNULL(D.IdTipoDocIdentidad,	
			CASE WHEN LEN(LTRIM(LTRIM(ISNULL(a.RUCCliente,'')))) = 11 THEN 6 ELSE 
				CASE WHEN LEN(LTRIM(LTRIM(ISNULL(a.RUCCliente,'')))) = 8 THEN 1 ELSE '' END 
			END 
		) tipo_cli,--,E.GlsMotivoTraslado AS Motivo_Tras,
				
		D.GlsPersona AS Rzn,

		A.ObsDocVentas,CAST(A.numOrdenCompra AS INT) AS PESOBRUTO, CAST(A.Bultos AS INT) AS Bultos,				
		REPLACE(CONVERT(VARCHAR,A.FecIniTraslado,103),'/','-') AS FecIniTraslado,

		'KGM' AS PesoUNM,
				
		CASE WHEN ISNULL(A.GlsEmpTrans ,'')   <> ''  THEN
			''
		ELSE
			CASE WHEN RTRIM(LTRIM(ISNULL(a.Placa,''))) = '' THEN
				''
			ELSE
				REPLACE(REPLACE(RTRIM(LTRIM(ISNULL(a.Placa,''))),'-',''),' ','')
			END
		END AS PLACA,


		RTRIM(LTRIM(ISNULL(A.rucEmpTrans,''))) AS DNIRUCTRA,
		RTRIM(LTRIM(ISNULL(A.GlsEmpTrans ,''))) AS TRANOM,

		CASE WHEN ISNULL(A.GlsEmpTrans ,'')   <> '' THEN
			'6'
		ELSE
			''
		END AS TIPODOCTRAN ,
		'' as nro_ins,
		ltrim(rtrim(E.Codigo_Sunat)) as Motivo_Tras,
		CASE WHEN  ISNULL(RTRIM(LTRIM(ISNULL(A.rucEmpTrans ,''))),'') = '' THEN
			'02'	-- PRIVADO			
		ELSE
			'01' -- PUBLICO
		END Tipo_Tras,

		'' AS tuc_vehiculo_principal,
		CASE WHEN ltrim(rtrim(ISNULL(A.GlsEmpTrans ,'')))   = '' THEN
			'1'
		ELSE
			''
		END AS conductor_documento_tipo,

		CASE WHEN ltrim(rtrim(ISNULL(A.GlsEmpTrans ,'')))   = '' THEN
			RTRIM(LTRIM(ISNULL(F.ruc,'')))
		ELSE
			''
		END AS conductor_documento_numero,

		CASE WHEN LTRIM(RTRIM(ISNULL(A.GlsEmpTrans ,'')))   = '' THEN
			''
		ELSE
			F.GlsPersona
		END AS conductor_denominacion,

		CASE WHEN ltrim(rtrim(ISNULL(A.GlsEmpTrans ,'')))   = '' THEN					
			REPLACE(REPLACE(ISNULL(F.nombres,''),'-',''),',','')
		ELSE '' END AS conductor_nombre,


		CASE WHEN ltrim(rtrim(ISNULL(A.GlsEmpTrans ,'')))   = '' THEN
			REPLACE(REPLACE(ISNULL(F.apellidoPaterno,'') + ' ' +  ISNULL(F.apellidoMaterno,''),'-',''),',','')
		ELSE
			''
		END conductor_apellidos,


		CASE WHEN ltrim(rtrim(ISNULL(A.GlsEmpTrans ,'')))   = '' THEN
			REPLACE(REPLACE(ISNULL(A.Brevete,''),'-',''),' ','')
		ELSE
			''
		END AS conductor_numero_licencia,

		'' AS destinatario_documento_tipo,
		'' AS destinatario_documento_numero,
		'' AS destinatario_denominacion,
		'' AS mtc,
		A.ubigeoPartida AS AL1_Ubigeo_Partida,
		A.ubigeollegada AS AL1_Ubigeo_Llegada,
		'' AS punto_de_partida_codigo_establecimiento_sunat,
		'' AS punto_de_llegada_codigo_establecimiento_sunat,
		A.llegada,
		A.Partida,
		d.direccion AS CLI_DIROFI,
		CONVERT(VARCHAR,GETDATE(),8) AS HoraEmi

		FROM docventas A
		INNER JOIN personas D
		ON a.idPerCliente = D.idPersona

		INNER JOIN motivostraslados E
		ON E.idMotivoTraslado = A.idMotivoTraslado

		left join personas F
		ON F.idPersona = A.idPerChofer
		WHERE A.idDocumento = '86' 
		AND A.idSerie = @SerDoc
		AND A.idDocVentas = @NumDoc
		AND A.idEmpresa = @Idempresa

	END
	-- ***********************************************************************************************************************
	IF @Tipo  = 3 BEGIN -- CABECERA DOC FACT
		
		SELECT 
		CASE WHEN A.idDocumento = '01' THEN 1
			 WHEN A.idDocumento = '07' THEN 3
		END AS Tipo_comprobante,
		a.idDocumento,a.idEmpresa,
		a.idSerie AS SERIE, 
		CAST(a.idDocVentas AS decimal(10,0))  AS NUMDOC,
		A.idDocVentas AS NumDocOri,
		REPLACE(CONVERT(VARCHAR,A.FecEmision,103),'/','-')  AS FecDocEmi,

		CASE WHEN A.idDocumento = '01' THEN
			REPLACE(CONVERT(VARCHAR,DATEADD(day, isnull(b.diasVcto,0), A.FecEmision),103),'/','-')
		ELSE
			REPLACE(CONVERT(VARCHAR,A.FecEmision,103),'/','-')
		END  AS Fecvcto,
				
		a.RUCCliente AS Ruc,
		ISNULL(D.IdTipoDocIdentidad,	
			CASE WHEN LEN(LTRIM(LTRIM(ISNULL(a.RUCCliente,'')))) = 11 THEN 6 ELSE 
				CASE WHEN LEN(LTRIM(LTRIM(ISNULL(a.RUCCliente,'')))) = 8 THEN 1 ELSE '' END 
			END 
		) tipo_cli,				
		D.GlsPersona AS Rzn,d.direccion,


		CASE WHEN ISNULL((
		SELECT TOP 1 (ltrim(rtrim(isnull(IdConceptoDetraccion,'')))) FROM docventasdet x
		INNER JOIN productos z on x.idProducto = z.idProducto AND x.idEmpresa = Z.idEmpresa
		INNER JOIN tb_concep_detrac w on Z.IdConceptoDetraccion = w.CodConcepto
		WHERE ltrim(rtrim(isnull(IdConceptoDetraccion,''))) <> ''	
		AND x.idDocumento = @TipDoc
		AND x.idSerie = @SerDoc
		AND x.idDocVentas = @NumDoc
		AND x.idEmpresa = @Idempresa
		),'') <> '' THEN	 -- PREGUNTA SI TIENE DETRACCION
			CASE WHEN ISNULL((CASE WHEN A.idMoneda = 'USD'  THEN ISNULL((A.TipoCambio * A.TotalPrecioVenta),0) ELSE A.TotalPrecioVenta END),0)  > 700 then
				30
			ELSE
				1
			END
		ELSE
			1
		END TipoOpe_nb,

		CASE WHEN A.idMoneda = 'PEN' THEN 1 ELSE 2 END Moneda,
		a.TipoCambio,@IGV as Igv,
		a.TotalValorVenta,a.TotalIGVVenta,a.TotalPrecioVenta,

		CASE WHEN ISNULL((CASE WHEN A.idMoneda = 'USD'  THEN ISNULL((A.TipoCambio * A.TotalPrecioVenta),0) ELSE A.TotalPrecioVenta END),0)  > 700 then
			ISNULL((
			SELECT TOP 1 (ltrim(rtrim(isnull(w.Codigo_Sunat,'')))) 
			FROM docventasdet x
			INNER JOIN productos z on x.idProducto = z.idProducto AND x.idEmpresa = Z.idEmpresa
			INNER JOIN tb_concep_detrac w on Z.IdConceptoDetraccion = w.CodConcepto
			WHERE ltrim(rtrim(isnull(Z.IdConceptoDetraccion,''))) <> ''		
			AND x.idDocumento = @TipDoc
			AND x.idSerie = @SerDoc
			AND x.idDocVentas = @NumDoc
			AND x.idEmpresa = @Idempresa
			ORDER BY Porcentaje DESC
			),'') 
		ELSE
			''
		END AS CodDetrac,

		A.glsFormaPago,
		
		
		CASE WHEN LTRIM(RTRIM(ISNULL(numOrdenCompra,''))) = '' THEN a.ObsDocVentas ELSE 'O. COMPRA :' +  LTRIM(RTRIM(ISNULL(numOrdenCompra,''))) + ' / ' + a.ObsDocVentas  END AS ObsDocVentas,

		CASE WHEN A.idDocumento = '07' THEN
			'1'
		ELSE
			''
		END AS TipDoc_Mod,

		CASE WHEN A.idDocumento = '07' THEN
			ISNULL(C.serieDocReferencia,'')
		ELSE
			''
		END AS SerDoc_Mod,

		CASE WHEN A.idDocumento = '07' THEN
			CAST(C.numDocReferencia AS decimal(10,0))
		ELSE
			0
		END AS NumDoc_Mod,

		CASE WHEN A.idDocumento = '07' THEN
			e.Codigo_Sunat
		ELSE
			''
		END AS Tiponc,

		CAST(A.TotalPrecioVenta * 
				CASE WHEN ISNULL((CASE WHEN A.idMoneda = 'USD'  THEN ISNULL((A.TipoCambio * A.TotalPrecioVenta),0) ELSE A.TotalPrecioVenta END),0)  <= 700
					THEN
						0
					ELSE
						(isnull((
								SELECT MAX(ISNULL(w.Porcentaje,0)) 
								FROM docventasdet x
								INNER JOIN productos z on x.idProducto = z.idProducto AND x.idEmpresa = Z.idEmpresa
								INNER JOIN tb_concep_detrac w on Z.IdConceptoDetraccion = w.CodConcepto
								AND x.idDocumento = @TipDoc
								AND x.idSerie = @SerDoc
								AND x.idDocVentas = @NumDoc
								AND x.idEmpresa = @Idempresa
								WHERE ltrim(rtrim(isnull(Z.IdConceptoDetraccion,''))) <> ''	
						),0) / 100.00) 
					END
		AS DECIMAL(12,2)) AS TotDetrac,

		CASE WHEN ISNULL((CASE WHEN A.idMoneda = 'USD'  THEN ISNULL((A.TipoCambio * A.TotalPrecioVenta),0) ELSE A.TotalPrecioVenta END),0)   > 700 then
			CASE WHEN ISNULL((
			SELECT TOP 1 (ltrim(rtrim(isnull(IdConceptoDetraccion,'')))) FROM docventasdet x
			INNER JOIN productos z on x.idProducto = z.idProducto AND x.idEmpresa = Z.idEmpresa
			INNER JOIN tb_concep_detrac w on Z.IdConceptoDetraccion = w.CodConcepto
			WHERE ltrim(rtrim(isnull(IdConceptoDetraccion,''))) <> '' 
			AND x.idDocumento = @TipDoc
			AND x.idSerie = @SerDoc
			AND x.idDocVentas = @NumDoc
			AND x.idEmpresa = @Idempresa ),'') <> '' THEN 
				0
			ELSE
				isnull(f.indAgenteRetencion,0) 
			END
		ELSE
			0
		END	AS AgenteRet,
		1 AS TipoRet,

		CASE WHEN ISNULL((CASE WHEN A.idMoneda = 'USD'  THEN ISNULL((A.TipoCambio * A.TotalPrecioVenta),0) ELSE A.TotalPrecioVenta END),0)   > 700 then
			CASE WHEN ISNULL((
			SELECT TOP 1 (ltrim(rtrim(isnull(IdConceptoDetraccion,'')))) FROM docventasdet x
			INNER JOIN productos z on x.idProducto = z.idProducto AND x.idEmpresa = Z.idEmpresa
			INNER JOIN tb_concep_detrac w on Z.IdConceptoDetraccion = w.CodConcepto
			WHERE ltrim(rtrim(isnull(IdConceptoDetraccion,''))) <> '' 
			AND x.idDocumento = @TipDoc
			AND x.idSerie = @SerDoc
			AND x.idDocVentas = @NumDoc
			AND x.idEmpresa = @Idempresa ),'') <> '' THEN 
				0
			ELSE
				CASE WHEN isnull(f.indAgenteRetencion,0) = 1 THEN
					CAST(A.TotalPrecioVenta * 
							CASE WHEN ISNULL((CASE WHEN A.idMoneda = 'USD'  THEN ISNULL((A.TipoCambio * A.TotalPrecioVenta),0) ELSE A.TotalPrecioVenta END),0)  < 700 THEN
									0
								ELSE
									(3 / 100.00) 
								END
					AS DECIMAL(12,2))
				ELSE 
					0
				END
			END
		ELSE
			0
		END	AS TotRet,

		CASE WHEN B.idTipoFormaPago IN ('06090002','06090003') THEN 'Crédito' ELSE '' END GlsMedioPago

		FROM docventas A
		INNER JOIN personas D
		ON a.idPerCliente = D.idPersona

		INNER JOIN clientes F
		ON A.idPerCliente = f.idCliente
		and a.idEmpresa = f.idEmpresa
		INNER JOIN formaspagos b
		on b.idFormaPago = a.idformapago
		and a.idEmpresa = b.idEmpresa

		LEFT JOIN docreferencia C
		ON  C.tipoDocOrigen = a.idDocumento
		AND C.serieDocOrigen = a.idSerie
		AND C.numDocOrigen = a.idDocVentas
		AND C.idEmpresa = a.idEmpresa

		left join motivosncd e
		on a.idMotivoNCD = e.idMotivoNCD
		WHERE A.idDocumento = @TipDoc
		AND A.idSerie = @SerDoc
		AND A.idDocVentas = @NumDoc
		AND A.idEmpresa = @Idempresa

	END 

	IF @Tipo  = 4 BEGIN -- DETALLE DOC FACT

		SELECT 
		A.item,
		A.GlsProducto AS GlsProducto,
		B.Codigo_Sunat AS UM,
		CAST(A.Cantidad AS DECIMAL(12,2)) AS Cantidad,
		A.idProducto AS idProducto,							
		A.idUM UMOri	,
		A.VVUnit,a.PVUnit,a.IGVUnit,a.TotalVVNeto,a.TotalIGVNeto,a.TotalPVNeto,
		TotalPVNeto,
		1 AS tipo_igv
		FROM docventasdet A
		INNER JOIN docventas C
		ON A.idEmpresa = C.idEmpresa
		AND A.idSerie = C.idSerie
		AND A.idDocumento = C.idDocumento
		AND A.idDocVentas = C.idDocVentas
		INNER JOIN unidadmedida B
		ON A.idUM = B.idUM 
		WHERE A.idDocumento = @TipDoc 
		AND a.idSerie = @SerDoc
		and a.idDocVentas = @NumDoc
		ORDER BY item

	END 

	IF @Tipo  = 5 BEGIN -- GUIAS DOC FACT
		SELECT 
		
		(A.serieDocReferencia + '-' +  CAST(CAST(a.numDocReferencia AS decimal(10,0)) AS VARCHAR(10))) AS Numguia
		
		FROM docreferencia A
		WHERE  A.tipoDocOrigen = @TipDoc
		AND A.serieDocOrigen = @SerDoc
		AND A.numDocOrigen = @NumDoc
		AND A.idEmpresa = @Idempresa
		AND A.tipoDocReferencia = '86'
	END 

	SET NOCOUNT OFF;
END
GO
