USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[Spu_Lista_GRElectronicos]    Script Date: 11/03/2026 22:20:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- Spu_Lista_GRElectronicos 1,0,0
CREATE   PROCEDURE [dbo].[Spu_Lista_GRElectronicos]
@Tipo			AS INT,
@Annio			As INT,
@Mes			As INT
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @EstadoSunatB			CHAR(2)
	DECLARE @PERIODO				AS CHAR(6)
	DECLARE @CADSQL					VARCHAR(MAX)
	DECLARE @CADENA					VARCHAR(MAX)
	DECLARE @RUTA					VARCHAR(150)
	DECLARE @INCIDENCIAS TABLE(TIPDOC CHAR(2), NUMDOC VARCHAR(10), CODINC CHAR(2), CODIGOAREA VARCHAR(10), INC_ID INT, ESTADOOBSERVACION VARCHAR(1000));	

	CREATE TABLE #Tmp_Fac_Inc(Vt1_TipDoc CHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS, Vt1_NumDoc VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS)
	SET @PERIODO = RIGHT('00' + CAST(@Mes AS VARCHAR(2)),2) + CAST (@Annio AS VARCHAR(4))

	IF @Tipo  = 2 BEGIN --APLICATIVO INDEPENDIENTE - ESTADOS NUBE - CONSULTAR ESTADOS

		SELECT 							
		REPLACE(CONVERT(VARCHAR,a.FecEmision,102),'.','-') As Fechadoc,
		'09' AS TIPD, 
		RTRIM(LTRIM(A.idSerie)) AS SERIE,
		CAST(A.idDocVentas AS decimal(10,0))  AS NUMDOC,
		'86' Tipo,
		A.idDocVentas AS numeroori ,
		A.idEmpresa
		FROM docventas A
		WHERE ISNULL(A.IndEnviadoSunat,0) = 1
		and (ISNULL(A.IndAceptadoSunat,0) = 0 AND ISNULL(A.IndRechazadoSunat,0) = 0)
		AND LEFT(RTRIM(LTRIM(A.idSerie)),1) = 'T'
		AND A.estDocVentas <> 'ANU'
		AND A.idDocumento = '86'

	END


	IF @Tipo  = 1 BEGIN --APLICATIVO INDEPENDIENTE - ESTADOS NUBE FACT - EMVIAR COMPROBANTES

		SELECT 							
		REPLACE(CONVERT(VARCHAR,a.FecEmision,102),'.','-') As Fechadoc,
		RTRIM(LTRIM(A.idSerie)) AS SERIE, 
		CAST(A.idDocVentas AS decimal(10,0))  AS NUMDOC,
		'86' Tipo,A.idDocVentas AS numeroori 	,
		A.idDocVentas AS NumOri,
		A.idEmpresa

		FROM docventas A
		WHERE ISNULL(A.IndEnviadoSunat,0) = 0
		and ISNULL(A.IndListaParaEnvioSunat,0) = 1
		AND LEFT(RTRIM(LTRIM(A.idSerie)),1) = 'T'
		AND A.estDocVentas <> 'ANU'
		AND A.idDocumento = '86'

	END


	IF @Tipo  = 4 BEGIN --APLICATIVO INDEPENDIENTE - ESTADOS NUBE - CONSULTAR ESTADOS

		SELECT 							
		REPLACE(CONVERT(VARCHAR,a.FecEmision,102),'.','-') As Fechadoc,
		CASE WHEN A.idDocumento = '01' THEN 1
			 WHEN A.idDocumento = '07' THEN 3
		END AS TIPD, 
		RTRIM(LTRIM(A.idSerie)) AS SERIE,
		CAST(A.idDocVentas AS decimal(10,0))  AS NUMDOC,
		A.idDocumento AS Tipo,
		A.idDocVentas AS numeroori ,
		A.idEmpresa
		FROM docventas A
		WHERE ISNULL(A.IndEnviadoSunat,0) = 1
		and (ISNULL(A.IndAceptadoSunat,0) = 0 AND ISNULL(A.IndRechazadoSunat,0) = 0)
		AND LEFT(RTRIM(LTRIM(A.idSerie)),1) = 'F'
		AND A.estDocVentas <> 'ANU'
		AND A.idDocumento IN('01','07')

	END


	IF @Tipo  = 3 BEGIN --APLICATIVO INDEPENDIENTE - ESTADOS NUBE FACT - EMVIAR COMPROBANTES

		SELECT 							
		REPLACE(CONVERT(VARCHAR,a.FecEmision,102),'.','-') As Fechadoc,
		RTRIM(LTRIM(A.idSerie)) AS SERIE, 
		CAST(A.idDocVentas AS decimal(10,0))  AS NUMDOC,
		A.idDocumento Tipo,A.idDocVentas AS numeroori 	,
		A.idDocVentas AS NumOri,
		A.idEmpresa

		FROM docventas A
		WHERE ISNULL(A.IndEnviadoSunat,0) = 0
		and ISNULL(A.IndListaParaEnvioSunat,0) = 1
		AND LEFT(RTRIM(LTRIM(A.idSerie)),1) = 'F'
		AND A.estDocVentas <> 'ANU'
		AND A.idDocumento IN('01','07')

	END

	SET NOCOUNT OFF;
END
GO
