USE [DbSportCenter]
GO
/****** Object:  Table [dbo].[ComprobantesElectronicos]    Script Date: 3/04/2026 23:17:42 ******/
-- Firma: FRANCO LARA - 06/10/2026 | Conserva exclusivamente codigos canonicos SUNAT de comprobante y moneda.
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobantesElectronicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NegocioId] [int] NOT NULL,
	[ReservaId] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[CodigoTipoComprobante] [nvarchar](4) NOT NULL,
	[Serie] [nvarchar](4) NOT NULL,
	[Numero] [int] NOT NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[CodigoMoneda] [nvarchar](10) NOT NULL,
	[CodigoTipoOperacionSunat] [nvarchar](4) NOT NULL,
	[CodigoTipoDocumentoClienteSunat] [nvarchar](4) NOT NULL,
	[CodigoHashCpe] [nvarchar](8) NULL,
	[NumeroTicketSunat] [nvarchar](40) NULL,
	[CodigoRespuestaSunat] [nvarchar](50) NULL,
	[MensajeRespuestaSunat] [nvarchar](500) NULL,
	[UrlPdfSunat] [nvarchar](500) NULL,
	[UrlXmlSunat] [nvarchar](500) NULL,
	[UrlCdrSunat] [nvarchar](500) NULL,
	[SubTotal] [decimal](10, 2) NOT NULL,
	[Igv] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Estado] [int] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[UsuarioActualizacion] [nvarchar](max) NULL,
	[UsuarioCreacion] [nvarchar](max) NULL,
 CONSTRAINT [PK_ComprobantesElectronicos] PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComprobantesElectronicos]  WITH CHECK ADD  CONSTRAINT [FK_ComprobantesElectronicos_Clientes_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[ComprobantesElectronicos] CHECK CONSTRAINT [FK_ComprobantesElectronicos_Clientes_ClienteId]
GO
ALTER TABLE [dbo].[ComprobantesElectronicos]  WITH CHECK ADD  CONSTRAINT [FK_ComprobantesElectronicos_Negocios_NegocioId] FOREIGN KEY([NegocioId])
REFERENCES [dbo].[Negocios] ([Id])
GO
ALTER TABLE [dbo].[ComprobantesElectronicos] CHECK CONSTRAINT [FK_ComprobantesElectronicos_Negocios_NegocioId]
GO
ALTER TABLE [dbo].[ComprobantesElectronicos]  WITH CHECK ADD  CONSTRAINT [FK_ComprobantesElectronicos_Reservas_ReservaId] FOREIGN KEY([ReservaId])
REFERENCES [dbo].[Reservas] ([Id])
GO
ALTER TABLE [dbo].[ComprobantesElectronicos] CHECK CONSTRAINT [FK_ComprobantesElectronicos_Reservas_ReservaId]
GO
ALTER TABLE [dbo].[ComprobantesElectronicos] WITH CHECK ADD CONSTRAINT [FK_ComprobantesElectronicos_MonedasSuperMaestro_CodigoMoneda] FOREIGN KEY([CodigoMoneda])
REFERENCES [dbo].[MonedasSuperMaestro] ([Codigo])
GO
ALTER TABLE [dbo].[ComprobantesElectronicos] CHECK CONSTRAINT [FK_ComprobantesElectronicos_MonedasSuperMaestro_CodigoMoneda]
GO
ALTER TABLE [dbo].[ComprobantesElectronicos] WITH CHECK ADD CONSTRAINT [FK_ComprobantesElectronicos_TiposDocumentoComprobanteSuperMaestro_Codigo] FOREIGN KEY([CodigoTipoComprobante])
REFERENCES [dbo].[TiposDocumentoComprobanteSuperMaestro] ([CodigoSunat])
GO
ALTER TABLE [dbo].[ComprobantesElectronicos] CHECK CONSTRAINT [FK_ComprobantesElectronicos_TiposDocumentoComprobanteSuperMaestro_Codigo]
GO
CREATE NONCLUSTERED INDEX [IX_ComprobantesElectronicos_CodigosCanonicos] ON [dbo].[ComprobantesElectronicos]([NegocioId] ASC, [CodigoTipoComprobante] ASC, [CodigoMoneda] ASC)
GO
CREATE UNIQUE NONCLUSTERED INDEX [UX_ComprobantesElectronicos_Negocio_CodigoTipo_Serie_Numero] ON [dbo].[ComprobantesElectronicos]([NegocioId] ASC, [CodigoTipoComprobante] ASC, [Serie] ASC, [Numero] ASC)
GO
