USE [DbSportCenter]
GO
/****** Object:  Table [dbo].[SolicitudesAltaClub]    Script Date: 3/04/2026 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudesAltaClub](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoSolicitud] [nvarchar](30) NOT NULL,
	[NombreContacto] [nvarchar](200) NOT NULL,
	[Telefono] [nvarchar](30) NOT NULL,
	[Correo] [nvarchar](200) NOT NULL,
	[RelacionClub] [nvarchar](80) NOT NULL,
	[NombreClub] [nvarchar](200) NOT NULL,
	[Pais] [nvarchar](80) NOT NULL,
	[ProvinciaEstado] [nvarchar](120) NOT NULL,
	[Ciudad] [nvarchar](120) NOT NULL,
	[Direccion] [nvarchar](250) NOT NULL,
	[Estado] [int] NOT NULL,
	[ComentarioGestion] [nvarchar](300) NULL,
	[NegocioId] [int] NULL,
	[SedeId] [int] NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[FechaGestion] [datetime2](7) NULL,
	[UsuarioGestion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SolicitudesAltaClub] ADD  CONSTRAINT [DF_SolicitudesAltaClub_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[SolicitudesAltaClub] ADD  CONSTRAINT [DF_SolicitudesAltaClub_FechaRegistro]  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[SolicitudesAltaClub]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudesAltaClub_Negocios_NegocioId] FOREIGN KEY([NegocioId])
REFERENCES [dbo].[Negocios] ([Id])
GO
ALTER TABLE [dbo].[SolicitudesAltaClub] CHECK CONSTRAINT [FK_SolicitudesAltaClub_Negocios_NegocioId]
GO
ALTER TABLE [dbo].[SolicitudesAltaClub]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudesAltaClub_Sedes_SedeId] FOREIGN KEY([SedeId])
REFERENCES [dbo].[Sedes] ([Id])
GO
ALTER TABLE [dbo].[SolicitudesAltaClub] CHECK CONSTRAINT [FK_SolicitudesAltaClub_Sedes_SedeId]
GO
