USE [DbSportCenter]
GO
/****** Object:  Table [dbo].[UsuariosNegocio]    Script Date: 3/04/2026 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosNegocio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [nvarchar](450) NOT NULL,
	[NegocioId] [int] NOT NULL,
	[RolNegocio] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[SedeId] [int] NULL,
 CONSTRAINT [PK_UsuariosNegocio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UsuariosNegocio]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosNegocio_AspNetUsers_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuariosNegocio] CHECK CONSTRAINT [FK_UsuariosNegocio_AspNetUsers_UsuarioId]
GO
ALTER TABLE [dbo].[UsuariosNegocio]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosNegocio_Negocios_NegocioId] FOREIGN KEY([NegocioId])
REFERENCES [dbo].[Negocios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuariosNegocio] CHECK CONSTRAINT [FK_UsuariosNegocio_Negocios_NegocioId]
GO
ALTER TABLE [dbo].[UsuariosNegocio]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosNegocio_Sedes_SedeId] FOREIGN KEY([SedeId])
REFERENCES [dbo].[Sedes] ([Id])
GO
ALTER TABLE [dbo].[UsuariosNegocio] CHECK CONSTRAINT [FK_UsuariosNegocio_Sedes_SedeId]
GO
