USE [DbSportCenter]
GO
/****** Object:  Table [dbo].[SedeFechasInhabilitadas]    Script Date: 3/04/2026 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SedeFechasInhabilitadas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SedeId] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[UsuarioCreacion] [nvarchar](200) NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[UsuarioActualizacion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SedeFechasInhabilitadas_Sede_Fecha] UNIQUE NONCLUSTERED 
(
	[SedeId] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SedeFechasInhabilitadas] ADD  CONSTRAINT [DF_SedeFechasInhabilitadas_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[SedeFechasInhabilitadas] ADD  CONSTRAINT [DF_SedeFechasInhabilitadas_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[SedeFechasInhabilitadas]  WITH CHECK ADD  CONSTRAINT [FK_SedeFechasInhabilitadas_Sede] FOREIGN KEY([SedeId])
REFERENCES [dbo].[Sedes] ([Id])
GO
ALTER TABLE [dbo].[SedeFechasInhabilitadas] CHECK CONSTRAINT [FK_SedeFechasInhabilitadas_Sede]
GO
