USE [DbSportCenter]
GO
/****** Object:  Table [dbo].[SedeConfiguracionNotificacion]    Script Date: 3/04/2026 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SedeConfiguracionNotificacion](
	[SedeId] [int] NOT NULL,
	[NotificacionesActivas] [bit] NOT NULL,
	[MinutosAnticipacionRecordatorio] [int] NOT NULL,
	[MinutosToleranciaNoShow] [int] NOT NULL,
	[CorreoNotificacion] [nvarchar](200) NULL,
	[WhatsappContacto] [nvarchar](20) NULL,
	[PermiteChatWhatsapp] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[UsuarioCreacion] [nvarchar](200) NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[UsuarioActualizacion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[SedeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SedeConfiguracionNotificacion] ADD  CONSTRAINT [DF_SedeConfigNotif_Activas]  DEFAULT ((1)) FOR [NotificacionesActivas]
GO
ALTER TABLE [dbo].[SedeConfiguracionNotificacion] ADD  CONSTRAINT [DF_SedeConfigNotif_Anticipacion]  DEFAULT ((90)) FOR [MinutosAnticipacionRecordatorio]
GO
ALTER TABLE [dbo].[SedeConfiguracionNotificacion] ADD  CONSTRAINT [DF_SedeConfigNotif_NoShow]  DEFAULT ((30)) FOR [MinutosToleranciaNoShow]
GO
ALTER TABLE [dbo].[SedeConfiguracionNotificacion] ADD  CONSTRAINT [DF_SedeConfigNotif_ChatWhatsapp]  DEFAULT ((0)) FOR [PermiteChatWhatsapp]
GO
ALTER TABLE [dbo].[SedeConfiguracionNotificacion] ADD  CONSTRAINT [DF_SedeConfigNotif_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[SedeConfiguracionNotificacion]  WITH CHECK ADD  CONSTRAINT [FK_SedeConfigNotif_Sedes_SedeId] FOREIGN KEY([SedeId])
REFERENCES [dbo].[Sedes] ([Id])
GO
ALTER TABLE [dbo].[SedeConfiguracionNotificacion] CHECK CONSTRAINT [FK_SedeConfigNotif_Sedes_SedeId]
GO
