USE [DbSportCenter]
GO
/****** Object:  Table [dbo].[SedeHorarioAtencion]    Script Date: 3/04/2026 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SedeHorarioAtencion](
	[SedeId] [int] NOT NULL,
	[AtiendeLunes] [bit] NOT NULL,
	[AtiendeMartes] [bit] NOT NULL,
	[AtiendeMiercoles] [bit] NOT NULL,
	[AtiendeJueves] [bit] NOT NULL,
	[AtiendeViernes] [bit] NOT NULL,
	[AtiendeSabado] [bit] NOT NULL,
	[AtiendeDomingo] [bit] NOT NULL,
	[HoraApertura] [time](7) NOT NULL,
	[HoraCierre] [time](7) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[UsuarioCreacion] [nvarchar](200) NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[UsuarioActualizacion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[SedeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SedeHorarioAtencion] ADD  CONSTRAINT [DF_SedeHorarioAtencion_Lunes]  DEFAULT ((1)) FOR [AtiendeLunes]
GO
ALTER TABLE [dbo].[SedeHorarioAtencion] ADD  CONSTRAINT [DF_SedeHorarioAtencion_Martes]  DEFAULT ((1)) FOR [AtiendeMartes]
GO
ALTER TABLE [dbo].[SedeHorarioAtencion] ADD  CONSTRAINT [DF_SedeHorarioAtencion_Miercoles]  DEFAULT ((1)) FOR [AtiendeMiercoles]
GO
ALTER TABLE [dbo].[SedeHorarioAtencion] ADD  CONSTRAINT [DF_SedeHorarioAtencion_Jueves]  DEFAULT ((1)) FOR [AtiendeJueves]
GO
ALTER TABLE [dbo].[SedeHorarioAtencion] ADD  CONSTRAINT [DF_SedeHorarioAtencion_Viernes]  DEFAULT ((1)) FOR [AtiendeViernes]
GO
ALTER TABLE [dbo].[SedeHorarioAtencion] ADD  CONSTRAINT [DF_SedeHorarioAtencion_Sabado]  DEFAULT ((1)) FOR [AtiendeSabado]
GO
ALTER TABLE [dbo].[SedeHorarioAtencion] ADD  CONSTRAINT [DF_SedeHorarioAtencion_Domingo]  DEFAULT ((1)) FOR [AtiendeDomingo]
GO
ALTER TABLE [dbo].[SedeHorarioAtencion] ADD  CONSTRAINT [DF_SedeHorarioAtencion_HoraApertura]  DEFAULT ('08:00') FOR [HoraApertura]
GO
ALTER TABLE [dbo].[SedeHorarioAtencion] ADD  CONSTRAINT [DF_SedeHorarioAtencion_HoraCierre]  DEFAULT ('23:00') FOR [HoraCierre]
GO
ALTER TABLE [dbo].[SedeHorarioAtencion] ADD  CONSTRAINT [DF_SedeHorarioAtencion_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[SedeHorarioAtencion]  WITH CHECK ADD  CONSTRAINT [FK_SedeHorarioAtencion_Sede] FOREIGN KEY([SedeId])
REFERENCES [dbo].[Sedes] ([Id])
GO
ALTER TABLE [dbo].[SedeHorarioAtencion] CHECK CONSTRAINT [FK_SedeHorarioAtencion_Sede]
GO
