USE [DbSportCenter]
GO
/****** Object:  Table [dbo].[TiposDeporte]    Script Date: 3/04/2026 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDeporte](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Activo] [bit] NOT NULL,
	[NegocioId] [int] NULL,
	[FechaCreacion] [datetime2](7) NULL,
	[UsuarioCreacion] [nvarchar](200) NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[UsuarioActualizacion] [nvarchar](200) NULL,
 CONSTRAINT [PK_TiposDeporte] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TiposDeporte]  WITH CHECK ADD  CONSTRAINT [FK_TiposDeporte_Negocios_NegocioId] FOREIGN KEY([NegocioId])
REFERENCES [dbo].[Negocios] ([Id])
GO
ALTER TABLE [dbo].[TiposDeporte] CHECK CONSTRAINT [FK_TiposDeporte_Negocios_NegocioId]
GO
