USE [DbSportCenter]
GO
/****** Object:  Table [dbo].[BloqueosHorario]    Script Date: 3/04/2026 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloqueosHorario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EspacioDeportivoId] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
	[Motivo] [nvarchar](250) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[UsuarioCreacion] [nvarchar](200) NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[UsuarioActualizacion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BloqueosHorario] ADD  CONSTRAINT [DF_BloqueosHorario_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[BloqueosHorario] ADD  CONSTRAINT [DF_BloqueosHorario_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[BloqueosHorario]  WITH CHECK ADD  CONSTRAINT [FK_BloqueosHorario_EspaciosDeportivos_EspacioDeportivoId] FOREIGN KEY([EspacioDeportivoId])
REFERENCES [dbo].[EspaciosDeportivos] ([Id])
GO
ALTER TABLE [dbo].[BloqueosHorario] CHECK CONSTRAINT [FK_BloqueosHorario_EspaciosDeportivos_EspacioDeportivoId]
GO
