USE [DbSportCenter]
GO
/****** Object:  Table [dbo].[SolicitudesReservaPublica]    Script Date: 3/04/2026 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudesReservaPublica](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoSolicitud] [nvarchar](20) NULL,
	[EspacioDeportivoId] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
	[NombreSolicitante] [nvarchar](200) NOT NULL,
	[Telefono] [nvarchar](30) NOT NULL,
	[Correo] [nvarchar](200) NULL,
	[Comentario] [nvarchar](300) NULL,
	[Estado] [int] NOT NULL,
	[NotificadoCliente] [bit] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[ReservaId] [int] NULL,
	[FechaGestion] [datetime2](7) NULL,
	[UsuarioGestion] [nvarchar](200) NULL,
	[ComentarioGestion] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SolicitudesReservaPublica] ADD  CONSTRAINT [DF_SolicitudesReservaPublica_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[SolicitudesReservaPublica] ADD  CONSTRAINT [DF_SolicitudesReservaPublica_NotificadoCliente]  DEFAULT ((0)) FOR [NotificadoCliente]
GO
ALTER TABLE [dbo].[SolicitudesReservaPublica] ADD  CONSTRAINT [DF_SolicitudesReservaPublica_FechaRegistro]  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[SolicitudesReservaPublica]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudesReservaPublica_EspaciosDeportivos_EspacioDeportivoId] FOREIGN KEY([EspacioDeportivoId])
REFERENCES [dbo].[EspaciosDeportivos] ([Id])
GO
ALTER TABLE [dbo].[SolicitudesReservaPublica] CHECK CONSTRAINT [FK_SolicitudesReservaPublica_EspaciosDeportivos_EspacioDeportivoId]
GO
ALTER TABLE [dbo].[SolicitudesReservaPublica]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudesReservaPublica_Reservas_ReservaId] FOREIGN KEY([ReservaId])
REFERENCES [dbo].[Reservas] ([Id])
GO
ALTER TABLE [dbo].[SolicitudesReservaPublica] CHECK CONSTRAINT [FK_SolicitudesReservaPublica_Reservas_ReservaId]
GO
