USE [DbSportCenter]
GO
/****** Object:  Table [dbo].[RolesNegocioPermiso]    Script Date: 3/04/2026 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesNegocioPermiso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RolNegocio] [int] NOT NULL,
	[ModuloSistemaId] [int] NOT NULL,
	[PuedeVer] [bit] NOT NULL,
	[PuedeCrear] [bit] NOT NULL,
	[PuedeEditar] [bit] NOT NULL,
	[PuedeEliminar] [bit] NOT NULL,
 CONSTRAINT [PK_RolesNegocioPermiso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RolesNegocioPermiso]  WITH CHECK ADD  CONSTRAINT [FK_RolesNegocioPermiso_ModulosSistema_ModuloSistemaId] FOREIGN KEY([ModuloSistemaId])
REFERENCES [dbo].[ModulosSistema] ([Id])
GO
ALTER TABLE [dbo].[RolesNegocioPermiso] CHECK CONSTRAINT [FK_RolesNegocioPermiso_ModulosSistema_ModuloSistemaId]
GO
