USE [DbSportCenter]
GO
/****** Object:  Table [dbo].[BitacoraAuditoria]    Script Date: 3/04/2026 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraAuditoria](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NegocioId] [int] NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Accion] [nvarchar](20) NOT NULL,
	[Entidad] [nvarchar](80) NOT NULL,
	[EntidadId] [nvarchar](80) NOT NULL,
	[UsuarioId] [nvarchar](450) NOT NULL,
	[UsuarioNombre] [nvarchar](200) NULL,
	[UsuarioCorreo] [nvarchar](200) NULL,
	[DetalleJson] [nvarchar](4000) NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BitacoraAuditoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
