USE [DbSportCenter]
GO
/****** Object:  Table [dbo].[SedeServicios]    Script Date: 3/04/2026 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SedeServicios](
	[SedeId] [int] NOT NULL,
	[ServicioId] [int] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[UsuarioCreacion] [nvarchar](200) NULL,
 CONSTRAINT [PK_SedeServicios] PRIMARY KEY CLUSTERED 
(
	[SedeId] ASC,
	[ServicioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SedeServicios] ADD  CONSTRAINT [DF_SedeServicios_FechaRegistro]  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[SedeServicios]  WITH CHECK ADD  CONSTRAINT [FK_SedeServicios_CatalogoServiciosSede_ServicioId] FOREIGN KEY([ServicioId])
REFERENCES [dbo].[CatalogoServiciosSede] ([Id])
GO
ALTER TABLE [dbo].[SedeServicios] CHECK CONSTRAINT [FK_SedeServicios_CatalogoServiciosSede_ServicioId]
GO
ALTER TABLE [dbo].[SedeServicios]  WITH CHECK ADD  CONSTRAINT [FK_SedeServicios_Sedes_SedeId] FOREIGN KEY([SedeId])
REFERENCES [dbo].[Sedes] ([Id])
GO
ALTER TABLE [dbo].[SedeServicios] CHECK CONSTRAINT [FK_SedeServicios_Sedes_SedeId]
GO
