.git
.gitignore
bin/
obj/
FralseTech.Web/
temp_codex_build/
tmp/
tmp_*/
tmp_build*/
*.user
*.suo
*.pubxml
*.pubxml.user
Properties/PublishProfiles/
appsettings*.json
appsettings.Secrets*.json
secrets*.json
*.pfx
*.pem
*.key
