USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_Docventas_Reg_AtnDet]    Script Date: 12/03/2026 12:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spu_Docventas_Reg_AtnDet]
@idEmpresa		CHAR(2),
@idSucursal		VARCHAR(8),
@idDocumento	CHAR(2),
@idDocVentas	CHAR(8),
@idSerie		CHAR(4),
@Item			BIGINT,
@Cantidad		DECIMAL(14,2)
AS
BEGIN

UPDATE docventasdet SET CantidadImp = @Cantidad
WHERE idDocumento = @idDocumento
AND idSerie = @idSerie
AND idDocVentas = @idDocVentas
AND idEmpresa = @idEmpresa
AND idSucursal = @idSucursal
AND item = @Item

END;
GO
