USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[Spu_TraeDirecciones_GR]    Script Date: 12/03/2026 12:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[Spu_TraeDirecciones_GR]
@IdCliente		CHAR(8),
@IdEmpresa		CHAR(2)
AS
BEGIN
	SET NOCOUNT ON;
		
	SELECT ROW_NUMBER() OVER (ORDER BY idUbigeo) AS Item,idUbigeo,glsdireccion FROM 
	(
	SELECT DISTINCT ubigeollegada AS idUbigeo ,llegada AS glsdireccion FROM docventas
	WHERE idPerCliente = @IdCliente
	AND idDocumento = '86'
	AND idEmpresa = @IdEmpresa
	AND isnull(ubigeollegada,'') <> ''
	) x

	SET NOCOUNT OFF;
END
GO
