USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_Docventas_Mostrar_Docventas_Det]    Script Date: 12/03/2026 12:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spu_Docventas_Mostrar_Docventas_Det]
@idEmpresa     CHAR(2),
@idSucursal    VARCHAR(8),
@idDocumento   CHAR(2),
@idSerie	   CHAR(4),
@iddocventas   CHAR(8)
AS
BEGIN
    SET NOCOUNT ON;

	SELECT idDocumento, idDocVentas, idSerie, idProducto, glsProducto, idMarca, idUM, Factor, Afecto, Cantidad, VVUnit, IGVUnit, PVUnit, TotalVVBruto, 
	TotalPVBruto, PorDcto, DctoVV, DctoPV, TotalVVNeto, TotalIGVNeto, TotalPVNeto, item, GlsMarca, GlsUM, idTipoProducto, idMoneda, idCodFabricante, 
	idEmpresa, idSucursal, estDocImportado, idDocumentoImp, idDocVentasImp, idSerieImp, IdLote,NumLote, FecVencProd, idUsuarioDcto, VVUnitLista, 
	PVUnitLista, CantidadImp, VVUnitNeto, PVUnitNeto, Cantidad2, CodigoRapido, idTallaPeso, CantidadAnt, Simbolo1, Simbolo2, Simbolo3, itemPro, 
	PorcUtilidad, IdCentroCosto, IdSucursalPres, IdDocumentoPres, IdSeriePres, IdDocVentasPres, GlsPlaca, IdUPCliente,IvapUnit,TotalIvapNeto,
	GlsProveedor,CostoS,CostoSInc,CostoD,Margen,VVunitG 
	FROM docventasdet d 
	WHERE d.idEmpresa = @idEmpresa 
	AND d.idSucursal = @idSucursal 
	AND d.idDocumento = @idDocumento
	AND d.idDocVentas = @iddocventas
	AND d.idSerie = @idSerie
	ORDER BY ITEM
	;
END
GO
