USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_Parametros]    Script Date: 12/03/2026 12:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[spu_Parametros]
@varEmpresa CHAR(2)
AS
BEGIN

Select GlsParametro,ValParametro From parametros Where idEmpresa = @varEmpresa;

END;
GO
