USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_Sucursales]    Script Date: 12/03/2026 12:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[spu_Sucursales]
@varEmpresa CHAR(2)
AS
BEGIN

SELECT a.idSucursal ,b.GlsPersona 
FROM sucursales a
inner join personas  b on a.idSucursal = b.idPersona
WHERE  a.idEmpresa = @varEmpresa;

END;
GO
