USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[Spu_TraeDocImportar]    Script Date: 12/03/2026 12:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[Spu_TraeDocImportar]
@Ididdocumento		CHAR(2)
AS
BEGIN
	SET NOCOUNT ON;
		
	SELECT top 1 c.idDocumentoExp cod
	FROM documentosexportar c
	WHERE c.idDocumento = @Ididdocumento

	SET NOCOUNT OFF;
END

GO
