USE [DbSistema_23122025]
GO
/****** Object:  StoredProcedure [dbo].[spu_Trae_Costo_Precio_Cotizacion]    Script Date: 12/03/2026 12:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[spu_Trae_Costo_Precio_Cotizacion]
@idEmpresa		  CHAR(2),
@idProducto		  CHAR(8),
@IdCliente		  CHAR(8),
@CodMoneda		  CHAR(3),
@TC				  DECIMAL(10,3) 
AS
BEGIN

DECLARE @Proveedor			AS VARCHAR(150)
DECLARE @CostoS				AS DECIMAL(12,2)
DECLARE @CostoD				AS DECIMAL(12,2)
DECLARE @CostoSInc			AS DECIMAL(12,2)
DECLARE @Moneda				AS CHAR(3)
DECLARE @MonedaG			AS CHAR(3)
DECLARE @VvUnitario			AS DECIMAL(12,2)
DECLARE @VvUnitarioG			AS DECIMAL(12,2)

SELECT TOP 1 
@Proveedor = a.GlsProveedor,
@CostoS = a.CostoS,
@CostoD = a.CostoD,
@CostoSInc = a.CostoSInc
FROM docventasdet a
inner join docventas b
on a.idEmpresa = b.idEmpresa
and a.idSucursal = b.idSucursal
and a.idSerie = b.idSerie
and a.idDocVentas = b.idDocVentas
and a.idDocumento = b.idDocumento
Where a.idDocumento = '92' 
and a.idEmpresa = @idEmpresa 
AND A.idProducto = @idProducto
AND ISNULL(a.GlsProveedor,'') <> ''
ORDER BY B.FecEmision DESC 

SELECT TOP 1 
@Moneda = b.idMoneda,
@VvUnitario = a.VVUnit
FROM docventasdet a
inner join docventas b
on a.idEmpresa = b.idEmpresa
and a.idSucursal = b.idSucursal
and a.idSerie = b.idSerie
and a.idDocVentas = b.idDocVentas
and a.idDocumento = b.idDocumento
Where a.idDocumento = '92' 
and a.idEmpresa = @idEmpresa 
AND b.idPerCliente = @IdCliente
AND A.idProducto = @idProducto
ORDER BY B.FecEmision DESC 

-- VVUNIT COLOCAOD EN PEDIDO
SELECT TOP 1 
@MonedaG = b.idMoneda,
@VvUnitarioG = b.VVUnit 
FROM docventasdet a
INNER JOIN docreferencia C
ON A.idDocumento = C.tipoDocReferencia
and a.idSerie = c.serieDocReferencia
and a.idDocVentas = c.numDocReferencia
and a.idEmpresa = c.idEmpresa
and a.idSucursal = c.idSucursal
and c.tipoDocOrigen = '40'
inner join docventasdet b
on c.idEmpresa = b.idEmpresa
and c.idSucursal = b.idSucursal
and c.serieDocOrigen = b.idSerie
and c.numDocOrigen = b.idDocVentas
and c.tipoDocOrigen = b.idDocumento
AND A.idProducto = B.idProducto
inner join docventas d
on b.idEmpresa = d.idEmpresa
and b.idSucursal = d.idSucursal
and b.idSerie = d.idSerie
and b.idDocVentas = d.idDocVentas
and b.idDocumento = d.idDocumento
Where a.idDocumento = '92' 
and a.idEmpresa = @idEmpresa
AND A.idProducto = @idProducto
AND d.idPerCliente = @IdCliente
ORDER BY d.FecEmision DESC 

SELECT  
ISNULL(@Proveedor,'')	 AS Proveedor,
ISNULL(@CostoS,0.00)	 AS CostoS, 
ISNULL(@CostoD,0.00)	 AS CostoD,
ISNULL(@CostoSInc,0.00)  AS CostoSInc,
ISNULL(@Moneda,'')		 AS Moneda,
ISNULL(@VvUnitario,0.00) AS VvUnitario,

CASE WHEN ISNULL(@VvUnitarioG,0.00) = 0 THEN
	0.00
ELSE
	CASE WHEN @MonedaG = @CodMoneda THEN
			ISNULL(@VvUnitarioG,0.00) 
		ELSE
			CASE WHEN @TC > 0 THEN
				CASE WHEN @CodMoneda = 'PEN' THEN
					ISNULL(@VvUnitarioG,0.00) * @TC 
				ELSE
					ISNULL(@VvUnitarioG,0.00) / @TC 
				END
			END
		END 
END AS VvUnitarioG 


END;
GO
