USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Panel_ListarNegociosUsuario]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 01_Seguridad_Panel.sql (linea 149)
CREATE   PROCEDURE [dbo].[Sp_Panel_ListarNegociosUsuario]
    @UsuarioId NVARCHAR(450)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT
            un.NegocioId,
            n.NombreComercial,
            CAST(un.RolNegocio AS NVARCHAR(20)) AS Rol
        FROM dbo.UsuariosNegocio un
        INNER JOIN dbo.Negocios n ON n.Id = un.NegocioId
        WHERE un.UsuarioId = @UsuarioId
          AND un.Activo = 1
          AND n.Activo = 1
        ORDER BY n.NombreComercial;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
