USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Home_ObtenerSolicitudParaNotificacion]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 12_Home_Notificaciones_Seguimiento.sql (linea 49)
CREATE   PROCEDURE [dbo].[Sp_Home_ObtenerSolicitudParaNotificacion]
    @CodigoSolicitud NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT TOP (1)
            s.CodigoSolicitud,
            s.NombreSolicitante,
            s.Correo,
            se.Nombre AS Sede,
            e.Nombre AS Espacio,
            s.Fecha,
            s.HoraInicio,
            s.HoraFin,
            s.NotificadoCliente
        FROM dbo.SolicitudesReservaPublica s
        INNER JOIN dbo.EspaciosDeportivos e ON e.Id = s.EspacioDeportivoId
        INNER JOIN dbo.Sedes se ON se.Id = e.SedeId
        WHERE s.CodigoSolicitud = @CodigoSolicitud;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
