USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Maestros_MonedasSuper_Listar]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 36_Maestros_PorNegocio_MonedasSuper.sql (linea 200)
CREATE   PROCEDURE [dbo].[Sp_Maestros_MonedasSuper_Listar]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT m.Id, CONCAT(m.Codigo, N' - ', m.Nombre, N' (', m.Simbolo, N')') AS Nombre
        FROM dbo.MonedasSuperMaestro m
        WHERE m.Activo = 1
        ORDER BY m.Codigo;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
