USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Pagos_Eliminar]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 07_Reservas_Pagos_Reglas.sql (linea 340)
CREATE   PROCEDURE [dbo].[Sp_Pagos_Eliminar]
    @NegocioId INT,
    @Id INT,
    @Usuario NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @ReservaId INT;
        SELECT @ReservaId = p.ReservaId
        FROM dbo.Pagos p
        INNER JOIN dbo.Reservas r ON r.Id = p.ReservaId
        INNER JOIN dbo.EspaciosDeportivos e ON e.Id = r.EspacioDeportivoId
        INNER JOIN dbo.Sedes s ON s.Id = e.SedeId
        WHERE p.Id = @Id
          AND s.NegocioId = @NegocioId;

        IF @ReservaId IS NULL
            RAISERROR('No se encontro el pago para eliminar en el negocio.', 16, 1);

        BEGIN TRANSACTION;

        DELETE FROM dbo.Pagos WHERE Id = @Id;

        UPDATE r
        SET Adelanto = x.Pagado,
            Saldo = (r.Total - x.Pagado),
            FechaActualizacion = SYSUTCDATETIME(),
            UsuarioActualizacion = @Usuario
        FROM dbo.Reservas r
        INNER JOIN (
            SELECT @ReservaId AS ReservaId, COALESCE(SUM(p.Monto), 0) AS Pagado
            FROM dbo.Pagos p
            WHERE p.ReservaId = @ReservaId
        ) x ON x.ReservaId = r.Id;

        IF @@ROWCOUNT > 0
        BEGIN
            DECLARE @EntidadIdAudit NVARCHAR(80);
            SET @EntidadIdAudit = CONVERT(NVARCHAR(80), @Id);
            EXEC dbo.Sp_Auditoria_Registrar @NegocioId = @NegocioId, @Modulo = N'PAGOS', @Accion = N'DELETE', @Entidad = N'Pago', @EntidadId = @EntidadIdAudit, @Usuario = @Usuario, @DetalleJson = NULL;
        END;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
