USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Promociones_Listar]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 32_Usuarios_Sede_Restriccion_Filtros.sql (linea 503)
CREATE   PROCEDURE [dbo].[Sp_Promociones_Listar]
    @NegocioId INT,
    @SedeId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT
            p.Id,
            p.Nombre,
            COALESCE(s.Nombre, N'Todas') AS Sede,
            COALESCE(e.Nombre, N'Todos') AS Espacio,
            p.FechaInicio,
            p.FechaFin,
            p.HoraInicio,
            p.HoraFin,
            p.PorcentajeDescuento,
            p.Activo
        FROM dbo.PromocionesHorario p
        LEFT JOIN dbo.Sedes s ON s.Id = p.SedeId
        LEFT JOIN dbo.EspaciosDeportivos e ON e.Id = p.EspacioDeportivoId
        WHERE p.NegocioId = @NegocioId
          AND (@SedeId IS NULL OR p.SedeId = @SedeId OR (p.SedeId IS NULL AND p.EspacioDeportivoId IS NULL))
        ORDER BY p.FechaInicio DESC, p.Nombre;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
