USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Clientes_Eliminar]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 06_Seguridad_Clientes.sql (linea 396)
CREATE   PROCEDURE [dbo].[Sp_Clientes_Eliminar]
    @NegocioId INT,
    @Id INT,
    @Usuario NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE nc
        SET nc.Activo = 0
        FROM dbo.NegocioClientes nc
        WHERE nc.NegocioId = @NegocioId
          AND nc.ClienteId = @Id
          AND nc.Activo = 1;

        IF @@ROWCOUNT = 0
            RAISERROR('No se encontro el cliente para eliminar en el negocio.', 16, 1);

        IF NOT EXISTS (SELECT 1 FROM dbo.NegocioClientes WHERE ClienteId = @Id AND Activo = 1)
        BEGIN
            UPDATE dbo.Clientes
            SET Activo = 0,
                FechaActualizacion = SYSUTCDATETIME(),
                UsuarioActualizacion = @Usuario
            WHERE Id = @Id;
        END;

        DECLARE @EntidadIdAudit NVARCHAR(80);
        SET @EntidadIdAudit = CONVERT(NVARCHAR(80), @Id);
        EXEC dbo.Sp_Auditoria_Registrar @NegocioId = @NegocioId, @Modulo = N'CLIENTES', @Accion = N'DELETE', @Entidad = N'Cliente', @EntidadId = @EntidadIdAudit, @Usuario = @Usuario, @DetalleJson = NULL;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
