USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Maestros_TiposDeporte_Crear]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 36_Maestros_PorNegocio_MonedasSuper.sql (linea 490)
CREATE   PROCEDURE [dbo].[Sp_Maestros_TiposDeporte_Crear]
    @NegocioId INT, @Nombre NVARCHAR(80), @Activo BIT, @Usuario NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SET @Nombre = LTRIM(RTRIM(@Nombre));
        IF @Nombre = N'' RAISERROR('El nombre es obligatorio.',16,1);
        IF EXISTS (SELECT 1 FROM dbo.TiposDeporte WHERE NegocioId=@NegocioId AND UPPER(LTRIM(RTRIM(Nombre)))=UPPER(@Nombre)) RAISERROR('Ya existe un tipo de deporte con ese nombre para el negocio.',16,1);
        INSERT INTO dbo.TiposDeporte(NegocioId,Nombre,Activo,FechaCreacion,UsuarioCreacion) VALUES(@NegocioId,@Nombre,@Activo,SYSUTCDATETIME(),@Usuario);
        DECLARE @Id INT = SCOPE_IDENTITY();
        EXEC dbo.Sp_Auditoria_Registrar @NegocioId=@NegocioId,@Modulo=N'MAESTROS',@Accion=N'CREATE',@Entidad=N'TipoDeporte',@EntidadId=@Id,@Usuario=@Usuario,@DetalleJson=NULL;
        SELECT @Id;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
