USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Reservas_AutoNoShow]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 18_Sedes_Config_Notificaciones.sql (linea 342)
CREATE   PROCEDURE [dbo].[Sp_Reservas_AutoNoShow]
    @FechaHoraActual DATETIME2,
    @Usuario NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @Actualizadas TABLE
        (
            ReservaId INT NOT NULL,
            NegocioId INT NOT NULL
        );

        UPDATE r
        SET r.Estado = 6,
            r.FechaActualizacion = SYSUTCDATETIME(),
            r.UsuarioActualizacion = @Usuario
        OUTPUT inserted.Id, s.NegocioId
        INTO @Actualizadas (ReservaId, NegocioId)
        FROM dbo.Reservas r
        INNER JOIN dbo.EspaciosDeportivos e ON e.Id = r.EspacioDeportivoId
        INNER JOIN dbo.Sedes s ON s.Id = e.SedeId
        LEFT JOIN dbo.SedeConfiguracionNotificacion scn ON scn.SedeId = s.Id
        WHERE r.Estado IN (1, 2)
          AND COALESCE(scn.NotificacionesActivas, 1) = 1
          AND DATEADD(
                MINUTE,
                COALESCE(scn.MinutosToleranciaNoShow, 30),
                DATEADD(MINUTE, DATEDIFF(MINUTE, 0, r.HoraInicio), CAST(r.Fecha AS DATETIME2))
          ) <= @FechaHoraActual;

        DECLARE @ReservaId INT, @NegocioId INT;
        DECLARE c CURSOR LOCAL FAST_FORWARD FOR
            SELECT a.ReservaId, a.NegocioId
            FROM @Actualizadas a;

        OPEN c;
        FETCH NEXT FROM c INTO @ReservaId, @NegocioId;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            DECLARE @EntidadIdAudit NVARCHAR(80);
            SET @EntidadIdAudit = CONVERT(NVARCHAR(80), @ReservaId);
            EXEC dbo.Sp_Auditoria_Registrar
                @NegocioId = @NegocioId,
                @Modulo = N'RESERVAS',
                @Accion = N'AUTO_NOSHOW',
                @Entidad = N'Reserva',
                @EntidadId = @EntidadIdAudit,
                @Usuario = @Usuario,
                @DetalleJson = NULL;

            FETCH NEXT FROM c INTO @ReservaId, @NegocioId;
        END;

        CLOSE c;
        DEALLOCATE c;

        SELECT COUNT(1) AS TotalActualizadas FROM @Actualizadas;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
