USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_UsuariosNegocio_PermisosListar]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 13_Usuarios_Negocio_Gestion.sql (linea 214)
CREATE   PROCEDURE [dbo].[Sp_UsuariosNegocio_PermisosListar]
    @NegocioId INT,
    @UsuarioNegocioId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM dbo.UsuariosNegocio WHERE Id = @UsuarioNegocioId AND NegocioId = @NegocioId)
            RAISERROR('UsuarioNegocio invalido para el negocio.', 16, 1);

        DECLARE @RolNegocio INT;
        SELECT @RolNegocio = RolNegocio FROM dbo.UsuariosNegocio WHERE Id = @UsuarioNegocioId;

        SELECT
            m.Id AS ModuloSistemaId,
            m.Codigo,
            m.Nombre,
            COALESCE(up.PuedeVer, rp.PuedeVer) AS PuedeVer,
            COALESCE(up.PuedeCrear, rp.PuedeCrear) AS PuedeCrear,
            COALESCE(up.PuedeEditar, rp.PuedeEditar) AS PuedeEditar,
            COALESCE(up.PuedeEliminar, rp.PuedeEliminar) AS PuedeEliminar
        FROM dbo.ModulosSistema m
        INNER JOIN dbo.RolesNegocioPermiso rp ON rp.ModuloSistemaId = m.Id AND rp.RolNegocio = @RolNegocio
        LEFT JOIN dbo.UsuariosNegocioPermiso up ON up.ModuloSistemaId = m.Id AND up.UsuarioNegocioId = @UsuarioNegocioId
        WHERE m.Activo = 1
        ORDER BY m.Nombre;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
