USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Comprobantes_Crear]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 04_Reservas_Pagos_Comprobantes.sql (linea 465)
CREATE   PROCEDURE [dbo].[Sp_Comprobantes_Crear]
    @NegocioId INT,
    @ReservaId INT,
    @TipoComprobante INT,
    @Serie NVARCHAR(4),
    @Numero INT,
    @FechaEmision DATETIME2,
    @TipoMoneda INT,
    @SubTotal DECIMAL(10,2),
    @Igv DECIMAL(10,2),
    @Total DECIMAL(10,2),
    @Estado INT,
    @Usuario NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @ClienteId INT;
        SELECT @ClienteId = r.ClienteId FROM dbo.Reservas r WHERE r.Id = @ReservaId;

        INSERT INTO dbo.ComprobantesElectronicos
        (
            NegocioId, ReservaId, ClienteId, TipoComprobante, Serie, Numero,
            FechaEmision, TipoMoneda, CodigoTipoOperacionSunat, CodigoTipoDocumentoClienteSunat,
            SubTotal, Igv, Total, Estado, FechaRegistro, UsuarioCreacion
        )
        VALUES
        (
            @NegocioId, @ReservaId, @ClienteId, @TipoComprobante, @Serie, @Numero,
            @FechaEmision, @TipoMoneda, N'0101', N'1',
            @SubTotal, @Igv, @Total, @Estado, SYSUTCDATETIME(), @Usuario
        );

        DECLARE @Id INT;
        SET @Id = SCOPE_IDENTITY();
        DECLARE @EntidadIdAudit NVARCHAR(80);
            SET @EntidadIdAudit = CONVERT(NVARCHAR(80), @Id);
        EXEC dbo.Sp_Auditoria_Registrar @NegocioId = @NegocioId, @Modulo = N'COMPROBANTES', @Accion = N'CREATE', @Entidad = N'ComprobanteElectronico', @EntidadId = @EntidadIdAudit, @Usuario = @Usuario, @DetalleJson = NULL;
        SELECT @Id;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
