USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Panel_ListarModulosPermitidos]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 23_Suscripcion_Bloqueo_Operacion.sql (linea 136)
CREATE   PROCEDURE [dbo].[Sp_Panel_ListarModulosPermitidos]
    @UsuarioId NVARCHAR(450),
    @NegocioId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @UsuarioNegocioId INT, @RolNegocio INT;
        DECLARE @EstadoSuscripcion INT, @EsPrueba BIT, @FechaFinPrueba DATE, @FechaFinPlan DATE;
        DECLARE @Hoy DATE = CAST(SYSUTCDATETIME() AS DATE);

        SELECT @UsuarioNegocioId = un.Id, @RolNegocio = un.RolNegocio
        FROM dbo.UsuariosNegocio un
        WHERE un.UsuarioId = @UsuarioId
          AND un.NegocioId = @NegocioId
          AND un.Activo = 1;

        IF OBJECT_ID(N'dbo.NegociosSuscripcion', N'U') IS NOT NULL
        BEGIN
            SELECT
                @EstadoSuscripcion = ns.EstadoSuscripcion,
                @EsPrueba = ns.EsPrueba,
                @FechaFinPrueba = ns.FechaFinPrueba,
                @FechaFinPlan = ns.FechaFinPlan
            FROM dbo.NegociosSuscripcion ns
            WHERE ns.NegocioId = @NegocioId;

            IF @EstadoSuscripcion = 1 AND @EsPrueba = 1 AND @FechaFinPrueba IS NOT NULL AND @FechaFinPrueba < @Hoy
            BEGIN
                UPDATE dbo.NegociosSuscripcion
                SET EstadoSuscripcion = 3,
                    EsPrueba = 0,
                    FechaActualizacion = SYSUTCDATETIME(),
                    UsuarioActualizacion = @UsuarioId
                WHERE NegocioId = @NegocioId;
                SET @EstadoSuscripcion = 3;
            END;

            IF @EstadoSuscripcion = 2 AND @FechaFinPlan IS NOT NULL AND @FechaFinPlan < @Hoy
            BEGIN
                UPDATE dbo.NegociosSuscripcion
                SET EstadoSuscripcion = 3,
                    FechaActualizacion = SYSUTCDATETIME(),
                    UsuarioActualizacion = @UsuarioId
                WHERE NegocioId = @NegocioId;
                SET @EstadoSuscripcion = 3;
            END;

            IF @EstadoSuscripcion IN (3, 4)
            BEGIN
                SELECT
                    m.Id,
                    m.Codigo,
                    m.Nombre,
                    CAST(0 AS BIT) AS PuedeVer,
                    CAST(0 AS BIT) AS PuedeCrear,
                    CAST(0 AS BIT) AS PuedeEditar,
                    CAST(0 AS BIT) AS PuedeEliminar
                FROM dbo.ModulosSistema m
                WHERE 1 = 0;
                RETURN;
            END;
        END;

        SELECT
            m.Id,
            m.Codigo,
            m.Nombre,
            COALESCE(up.PuedeVer, rp.PuedeVer) AS PuedeVer,
            COALESCE(up.PuedeCrear, rp.PuedeCrear) AS PuedeCrear,
            COALESCE(up.PuedeEditar, rp.PuedeEditar) AS PuedeEditar,
            COALESCE(up.PuedeEliminar, rp.PuedeEliminar) AS PuedeEliminar
        FROM dbo.ModulosSistema m
        INNER JOIN dbo.RolesNegocioPermiso rp ON rp.ModuloSistemaId = m.Id AND rp.RolNegocio = @RolNegocio
        LEFT JOIN dbo.UsuariosNegocioPermiso up ON up.ModuloSistemaId = m.Id AND up.UsuarioNegocioId = @UsuarioNegocioId
        WHERE m.Activo = 1
        ORDER BY m.Nombre;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
