USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Maestros_FormasPago_Eliminar]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 36_Maestros_PorNegocio_MonedasSuper.sql (linea 601)
CREATE   PROCEDURE [dbo].[Sp_Maestros_FormasPago_Eliminar]
    @NegocioId INT, @Id INT, @Usuario NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE dbo.FormasPago SET Activo=0,FechaActualizacion=SYSUTCDATETIME(),UsuarioActualizacion=@Usuario WHERE Id=@Id AND NegocioId=@NegocioId;
        IF @@ROWCOUNT=0 RAISERROR('No se encontro la forma de pago para inactivar.',16,1);
        EXEC dbo.Sp_Auditoria_Registrar @NegocioId=@NegocioId,@Modulo=N'MAESTROS',@Accion=N'DELETE',@Entidad=N'FormaPago',@EntidadId=@Id,@Usuario=@Usuario,@DetalleJson=NULL;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
