USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Auditoria_Registrar]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SOURCE: 00_Auditoria.sql (linea 7)
CREATE   PROCEDURE [dbo].[Sp_Auditoria_Registrar]
    @NegocioId INT = NULL,
    @Modulo NVARCHAR(50),
    @Accion NVARCHAR(20),
    @Entidad NVARCHAR(80),
    @EntidadId NVARCHAR(80),
    @Usuario NVARCHAR(200),
    @DetalleJson NVARCHAR(4000) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO dbo.BitacoraAuditoria
        (
            NegocioId,
            Modulo,
            Accion,
            Entidad,
            EntidadId,
            UsuarioId,
            UsuarioNombre,
            UsuarioCorreo,
            DetalleJson,
            FechaRegistro
        )
        VALUES
        (
            @NegocioId,
            @Modulo,
            @Accion,
            @Entidad,
            @EntidadId,
            @Usuario,
            @Usuario,
            NULL,
            @DetalleJson,
            SYSUTCDATETIME()
        );
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
