USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_SolicitudesPublicas_ActualizarEstado]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 11_Solicitudes_Gestion.sql (linea 156)
CREATE   PROCEDURE [dbo].[Sp_SolicitudesPublicas_ActualizarEstado]
    @NegocioId INT,
    @Id INT,
    @Estado INT,
    @ComentarioGestion NVARCHAR(300) = NULL,
    @Usuario NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @Estado NOT IN (2, 3)
            RAISERROR('Estado invalido. Solo se permite aprobar(2) o rechazar(3).', 16, 1);

        UPDATE s
        SET s.Estado = @Estado,
            s.ComentarioGestion = @ComentarioGestion,
            s.FechaGestion = SYSUTCDATETIME(),
            s.UsuarioGestion = @Usuario
        FROM dbo.SolicitudesReservaPublica s
        INNER JOIN dbo.EspaciosDeportivos e ON e.Id = s.EspacioDeportivoId
        INNER JOIN dbo.Sedes se ON se.Id = e.SedeId
        WHERE s.Id = @Id
          AND se.NegocioId = @NegocioId
          AND s.Estado IN (1, 2, 3);

        IF @@ROWCOUNT = 0
            RAISERROR('No se encontro la solicitud para actualizar en el negocio.', 16, 1);

        DECLARE @EntidadIdAudit NVARCHAR(80);
        SET @EntidadIdAudit = CONVERT(NVARCHAR(80), @Id);
        EXEC dbo.Sp_Auditoria_Registrar @NegocioId = @NegocioId, @Modulo = N'SOLICITUDES', @Accion = N'EDIT', @Entidad = N'SolicitudReservaPublica', @EntidadId = @EntidadIdAudit, @Usuario = @Usuario, @DetalleJson = NULL;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
