USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Maestros_FormasPago_Crear]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 36_Maestros_PorNegocio_MonedasSuper.sql (linea 564)
CREATE   PROCEDURE [dbo].[Sp_Maestros_FormasPago_Crear]
    @NegocioId INT, @Nombre NVARCHAR(80), @Activo BIT, @Usuario NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO dbo.FormasPago(NegocioId,Nombre,Activo,FechaCreacion,UsuarioCreacion) VALUES(@NegocioId,LTRIM(RTRIM(@Nombre)),@Activo,SYSUTCDATETIME(),@Usuario);
        DECLARE @Id INT = SCOPE_IDENTITY();
        EXEC dbo.Sp_Auditoria_Registrar @NegocioId=@NegocioId,@Modulo=N'MAESTROS',@Accion=N'CREATE',@Entidad=N'FormaPago',@EntidadId=@Id,@Usuario=@Usuario,@DetalleJson=NULL;
        SELECT @Id;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
