USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Maestros_Monedas_Listar]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 36_Maestros_PorNegocio_MonedasSuper.sql (linea 298)
CREATE   PROCEDURE [dbo].[Sp_Maestros_Monedas_Listar]
    @NegocioId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT m.Id, m.MonedaSuperId, m.Codigo, m.Nombre, m.Simbolo, m.Activo
        FROM dbo.Monedas m
        WHERE m.NegocioId = @NegocioId
        ORDER BY m.Nombre;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
