USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Reservas_Historial]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 33_Reservas_Historial_Recordatorio.sql (linea 8)
CREATE   PROCEDURE [dbo].[Sp_Reservas_Historial]
    @NegocioId INT,
    @ReservaId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
            b.FechaRegistro,
            b.Accion,
            COALESCE(NULLIF(LTRIM(RTRIM(b.UsuarioNombre)), N''), b.UsuarioId, N'sistema') AS UsuarioNombre,
            b.DetalleJson
        FROM dbo.BitacoraAuditoria b
        WHERE b.NegocioId = @NegocioId
          AND b.Modulo = N'RESERVAS'
          AND b.Entidad = N'Reserva'
          AND b.EntidadId = CONVERT(NVARCHAR(80), @ReservaId)
        ORDER BY b.FechaRegistro DESC;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
