USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_UsuariosNegocio_AsignarPorCorreo]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 32_Usuarios_Sede_Restriccion_Filtros.sql (linea 568)
CREATE   PROCEDURE [dbo].[Sp_UsuariosNegocio_AsignarPorCorreo]
    @NegocioId INT,
    @Correo NVARCHAR(256),
    @RolNegocio INT,
    @SedeId INT = NULL,
    @Usuario NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @UsuarioId NVARCHAR(450);
        SELECT TOP (1) @UsuarioId = u.Id
        FROM dbo.AspNetUsers u
        WHERE u.NormalizedEmail = UPPER(@Correo);

        IF @UsuarioId IS NULL
            RAISERROR('No existe usuario con ese correo en el sistema.', 16, 1);

        IF @RolNegocio = 1
            SET @SedeId = NULL;

        IF @RolNegocio <> 1 AND @SedeId IS NULL
            RAISERROR('La sede es obligatoria para usuarios no administradores.', 16, 1);

        IF @SedeId IS NOT NULL
        BEGIN
            IF NOT EXISTS (SELECT 1 FROM dbo.Sedes s WHERE s.Id = @SedeId AND s.NegocioId = @NegocioId)
                RAISERROR('La sede no pertenece al negocio seleccionado.', 16, 1);
        END;

        IF EXISTS (SELECT 1 FROM dbo.UsuariosNegocio WHERE NegocioId = @NegocioId AND UsuarioId = @UsuarioId)
        BEGIN
            UPDATE dbo.UsuariosNegocio
            SET RolNegocio = @RolNegocio,
                SedeId = @SedeId,
                Activo = 1
            WHERE NegocioId = @NegocioId
              AND UsuarioId = @UsuarioId;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.UsuariosNegocio (UsuarioId, NegocioId, RolNegocio, SedeId, Activo)
            VALUES (@UsuarioId, @NegocioId, @RolNegocio, @SedeId, 1);
        END;

        DECLARE @UsuarioNegocioId INT;
        SELECT TOP (1) @UsuarioNegocioId = Id FROM dbo.UsuariosNegocio WHERE NegocioId = @NegocioId AND UsuarioId = @UsuarioId;

        DECLARE @EntidadIdAudit NVARCHAR(80);
        SET @EntidadIdAudit = CONVERT(NVARCHAR(80), @UsuarioNegocioId);
        EXEC dbo.Sp_Auditoria_Registrar @NegocioId = @NegocioId, @Modulo = N'USUARIOS', @Accion = N'CREATE', @Entidad = N'UsuarioNegocio', @EntidadId = @EntidadIdAudit, @Usuario = @Usuario, @DetalleJson = NULL;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
