USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_UsuariosNegocio_ActualizarRol]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 32_Usuarios_Sede_Restriccion_Filtros.sql (linea 628)
CREATE   PROCEDURE [dbo].[Sp_UsuariosNegocio_ActualizarRol]
    @NegocioId INT,
    @UsuarioNegocioId INT,
    @RolNegocio INT,
    @SedeId INT = NULL,
    @Usuario NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @RolNegocio = 1
            SET @SedeId = NULL;

        IF @RolNegocio <> 1 AND @SedeId IS NULL
            RAISERROR('La sede es obligatoria para usuarios no administradores.', 16, 1);

        IF @SedeId IS NOT NULL
        BEGIN
            IF NOT EXISTS (SELECT 1 FROM dbo.Sedes s WHERE s.Id = @SedeId AND s.NegocioId = @NegocioId)
                RAISERROR('La sede no pertenece al negocio seleccionado.', 16, 1);
        END;

        UPDATE dbo.UsuariosNegocio
        SET RolNegocio = @RolNegocio,
            SedeId = @SedeId
        WHERE Id = @UsuarioNegocioId
          AND NegocioId = @NegocioId;

        IF @@ROWCOUNT = 0
            RAISERROR('No se encontro el usuario del negocio para actualizar rol.', 16, 1);

        IF @@ROWCOUNT > 0
        BEGIN
            DECLARE @EntidadIdAudit NVARCHAR(80);
            SET @EntidadIdAudit = CONVERT(NVARCHAR(80), @UsuarioNegocioId);
            EXEC dbo.Sp_Auditoria_Registrar @NegocioId = @NegocioId, @Modulo = N'USUARIOS', @Accion = N'EDIT', @Entidad = N'UsuarioNegocio', @EntidadId = @EntidadIdAudit, @Usuario = @Usuario, @DetalleJson = NULL;
        END;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
