USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Combos_FormasPago]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 36_Maestros_PorNegocio_MonedasSuper.sql (linea 278)
CREATE   PROCEDURE [dbo].[Sp_Combos_FormasPago]
    @NegocioId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT fp.Id, fp.Nombre
        FROM dbo.FormasPago fp
        WHERE fp.NegocioId = @NegocioId
          AND fp.Activo = 1
        ORDER BY fp.Nombre;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
