USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_AltasClubes_Rechazar]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 21_Altas_Clubes.sql (linea 215)
CREATE   PROCEDURE [dbo].[Sp_AltasClubes_Rechazar]
    @Id INT,
    @Usuario NVARCHAR(200),
    @ComentarioGestion NVARCHAR(300) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE dbo.SolicitudesAltaClub
        SET Estado = 3,
            ComentarioGestion = @ComentarioGestion,
            FechaGestion = SYSUTCDATETIME(),
            UsuarioGestion = @Usuario
        WHERE Id = @Id
          AND Estado = 1;

        IF @@ROWCOUNT = 0
            RAISERROR('No se encontro la solicitud pendiente para rechazar.', 16, 1);
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
