USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_UsuariosNegocio_PermisoGuardar]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 13_Usuarios_Negocio_Gestion.sql (linea 249)
CREATE   PROCEDURE [dbo].[Sp_UsuariosNegocio_PermisoGuardar]
    @NegocioId INT,
    @UsuarioNegocioId INT,
    @ModuloSistemaId INT,
    @PuedeVer BIT,
    @PuedeCrear BIT,
    @PuedeEditar BIT,
    @PuedeEliminar BIT,
    @Usuario NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM dbo.UsuariosNegocio WHERE Id = @UsuarioNegocioId AND NegocioId = @NegocioId)
            RAISERROR('UsuarioNegocio invalido para el negocio.', 16, 1);

        IF EXISTS (SELECT 1 FROM dbo.UsuariosNegocioPermiso WHERE UsuarioNegocioId = @UsuarioNegocioId AND ModuloSistemaId = @ModuloSistemaId)
        BEGIN
            UPDATE dbo.UsuariosNegocioPermiso
            SET PuedeVer = @PuedeVer,
                PuedeCrear = @PuedeCrear,
                PuedeEditar = @PuedeEditar,
                PuedeEliminar = @PuedeEliminar
            WHERE UsuarioNegocioId = @UsuarioNegocioId
              AND ModuloSistemaId = @ModuloSistemaId;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.UsuariosNegocioPermiso
            (
                UsuarioNegocioId, ModuloSistemaId, PuedeVer, PuedeCrear, PuedeEditar, PuedeEliminar
            )
            VALUES
            (
                @UsuarioNegocioId, @ModuloSistemaId, @PuedeVer, @PuedeCrear, @PuedeEditar, @PuedeEliminar
            );
        END;

        DECLARE @EntidadIdAudit NVARCHAR(80);
        SET @EntidadIdAudit = CONCAT(CONVERT(NVARCHAR(30), @UsuarioNegocioId), N'-', CONVERT(NVARCHAR(30), @ModuloSistemaId));
        EXEC dbo.Sp_Auditoria_Registrar @NegocioId = @NegocioId, @Modulo = N'USUARIOS', @Accion = N'EDIT', @Entidad = N'UsuarioNegocioPermiso', @EntidadId = @EntidadIdAudit, @Usuario = @Usuario, @DetalleJson = NULL;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
