USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Home_ListarSedesPublicas]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 19_Home_Whatsapp_Publico.sql (linea 8)
CREATE   PROCEDURE [dbo].[Sp_Home_ListarSedesPublicas]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT
            s.Id,
            s.Nombre,
            s.Direccion,
            s.Telefono,
            scn.WhatsappContacto,
            COALESCE(scn.PermiteChatWhatsapp, 0) AS PermiteChatWhatsapp,
            s.Latitud,
            s.Longitud,
            s.GoogleMapsUrl,
            s.FotoPrincipalUrl,
            s.FotosUrlsCsv
        FROM dbo.Sedes s
        INNER JOIN dbo.Negocios n ON n.Id = s.NegocioId
        LEFT JOIN dbo.SedeConfiguracionNotificacion scn ON scn.SedeId = s.Id
        WHERE s.Activo = 1
          AND n.Activo = 1
        ORDER BY s.Nombre;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
