USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Promociones_Actualizar]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 14_Promociones_Kpis.sql (linea 321)
CREATE   PROCEDURE [dbo].[Sp_Promociones_Actualizar]
    @Id INT,
    @NegocioId INT,
    @SedeId INT = NULL,
    @EspacioDeportivoId INT = NULL,
    @Nombre NVARCHAR(150),
    @FechaInicio DATE,
    @FechaFin DATE,
    @HoraInicio TIME,
    @HoraFin TIME,
    @PorcentajeDescuento DECIMAL(5,2),
    @Activo BIT,
    @Usuario NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @FechaFin < @FechaInicio
            RAISERROR('La fecha fin no puede ser menor a fecha inicio.', 16, 1);
        IF @HoraFin <= @HoraInicio
            RAISERROR('La hora fin debe ser mayor a hora inicio.', 16, 1);
        IF @PorcentajeDescuento < 0 OR @PorcentajeDescuento > 100
            RAISERROR('El descuento debe estar entre 0 y 100.', 16, 1);

        UPDATE dbo.PromocionesHorario
        SET SedeId = @SedeId,
            EspacioDeportivoId = @EspacioDeportivoId,
            Nombre = @Nombre,
            FechaInicio = @FechaInicio,
            FechaFin = @FechaFin,
            HoraInicio = @HoraInicio,
            HoraFin = @HoraFin,
            PorcentajeDescuento = @PorcentajeDescuento,
            Activo = @Activo,
            FechaActualizacion = SYSUTCDATETIME(),
            UsuarioActualizacion = @Usuario
        WHERE Id = @Id
          AND NegocioId = @NegocioId;

        IF @@ROWCOUNT = 0
            RAISERROR('No se encontro la promocion para actualizar en el negocio.', 16, 1);

        DECLARE @EntidadIdAudit NVARCHAR(80);
        SET @EntidadIdAudit = CONVERT(NVARCHAR(80), @Id);
        EXEC dbo.Sp_Auditoria_Registrar @NegocioId = @NegocioId, @Modulo = N'PROMOCIONES', @Accion = N'EDIT', @Entidad = N'PromocionHorario', @EntidadId = @EntidadIdAudit, @Usuario = @Usuario, @DetalleJson = NULL;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
