USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Panel_ObtenerRolUsuario]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 01_Seguridad_Panel.sql (linea 174)
CREATE   PROCEDURE [dbo].[Sp_Panel_ObtenerRolUsuario]
    @UsuarioId NVARCHAR(450),
    @NegocioId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT TOP (1)
            CAST(un.RolNegocio AS NVARCHAR(20))
        FROM dbo.UsuariosNegocio un
        WHERE un.UsuarioId = @UsuarioId
          AND un.NegocioId = @NegocioId
          AND un.Activo = 1;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
