USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Combos_ServiciosSede]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 05_Sedes_Servicios.sql (linea 61)
CREATE   PROCEDURE [dbo].[Sp_Combos_ServiciosSede]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT cs.Id, cs.Nombre
        FROM dbo.CatalogoServiciosSede cs
        WHERE cs.Activo = 1
        ORDER BY cs.Nombre;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
