USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Seguridad_ObtenerContextoModulo]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 32_Usuarios_Sede_Restriccion_Filtros.sql (linea 674)
CREATE   PROCEDURE [dbo].[Sp_Seguridad_ObtenerContextoModulo]
    @UsuarioId NVARCHAR(450),
    @NegocioId INT,
    @ModuloCodigo NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @UsuarioNegocioId INT, @RolNegocio INT, @NegocioNombre NVARCHAR(200), @ModuloId INT, @ModuloNombre NVARCHAR(120);
        DECLARE @PuedeVer BIT = 0, @PuedeCrear BIT = 0, @PuedeEditar BIT = 0, @PuedeEliminar BIT = 0;
        DECLARE @EstadoSuscripcion INT, @EsPrueba BIT, @FechaFinPrueba DATE, @FechaFinPlan DATE;
        DECLARE @Hoy DATE = CAST(SYSUTCDATETIME() AS DATE);
        DECLARE @SedeIdAsignada INT = NULL, @EsAdministrador BIT = 0;

        SELECT
            @UsuarioNegocioId = un.Id,
            @RolNegocio = un.RolNegocio,
            @SedeIdAsignada = un.SedeId,
            @NegocioNombre = n.NombreComercial
        FROM dbo.UsuariosNegocio un
        INNER JOIN dbo.Negocios n ON n.Id = un.NegocioId
        WHERE un.UsuarioId = @UsuarioId
          AND un.NegocioId = @NegocioId
          AND un.Activo = 1
          AND n.Activo = 1;

        SET @EsAdministrador = CASE WHEN @RolNegocio = 1 THEN 1 ELSE 0 END;
        IF @EsAdministrador = 1
            SET @SedeIdAsignada = NULL;

        IF @UsuarioNegocioId IS NULL
        BEGIN
            SELECT CAST(0 AS BIT), @NegocioId, N'', @ModuloCodigo, N'', N'', CAST(0 AS BIT), CAST(0 AS BIT), CAST(0 AS BIT), CAST(0 AS BIT), N'Usuario sin acceso al negocio', CAST(NULL AS INT), CAST(0 AS BIT);
            RETURN;
        END;

        IF OBJECT_ID(N'dbo.NegociosSuscripcion', N'U') IS NOT NULL
        BEGIN
            SELECT
                @EstadoSuscripcion = ns.EstadoSuscripcion,
                @EsPrueba = ns.EsPrueba,
                @FechaFinPrueba = ns.FechaFinPrueba,
                @FechaFinPlan = ns.FechaFinPlan
            FROM dbo.NegociosSuscripcion ns
            WHERE ns.NegocioId = @NegocioId;

            IF @EstadoSuscripcion = 1 AND @EsPrueba = 1 AND @FechaFinPrueba IS NOT NULL AND @FechaFinPrueba < @Hoy
            BEGIN
                UPDATE dbo.NegociosSuscripcion
                SET EstadoSuscripcion = 3,
                    EsPrueba = 0,
                    FechaActualizacion = SYSUTCDATETIME(),
                    UsuarioActualizacion = @UsuarioId
                WHERE NegocioId = @NegocioId;
                SET @EstadoSuscripcion = 3;
            END;

            IF @EstadoSuscripcion = 2 AND @FechaFinPlan IS NOT NULL AND @FechaFinPlan < @Hoy
            BEGIN
                UPDATE dbo.NegociosSuscripcion
                SET EstadoSuscripcion = 3,
                    FechaActualizacion = SYSUTCDATETIME(),
                    UsuarioActualizacion = @UsuarioId
                WHERE NegocioId = @NegocioId;
                SET @EstadoSuscripcion = 3;
            END;

            IF @EstadoSuscripcion IN (3, 4)
            BEGIN
                SELECT
                    CAST(0 AS BIT),
                    @NegocioId,
                    @NegocioNombre,
                    @ModuloCodigo,
                    N'',
                    CAST(@RolNegocio AS NVARCHAR(20)),
                    CAST(0 AS BIT),
                    CAST(0 AS BIT),
                    CAST(0 AS BIT),
                    CAST(0 AS BIT),
                    N'La suscripcion del negocio esta vencida o suspendida. Activa un plan para continuar operando.',
                    @SedeIdAsignada,
                    @EsAdministrador;
                RETURN;
            END;
        END;

        SELECT @ModuloId = m.Id, @ModuloNombre = m.Nombre
        FROM dbo.ModulosSistema m
        WHERE m.Codigo = @ModuloCodigo AND m.Activo = 1;

        IF @ModuloId IS NULL
        BEGIN
            SELECT CAST(0 AS BIT), @NegocioId, @NegocioNombre, @ModuloCodigo, N'', CAST(@RolNegocio AS NVARCHAR(20)), CAST(0 AS BIT), CAST(0 AS BIT), CAST(0 AS BIT), CAST(0 AS BIT), N'Modulo no configurado', @SedeIdAsignada, @EsAdministrador;
            RETURN;
        END;

        SELECT
            @PuedeVer = rp.PuedeVer,
            @PuedeCrear = rp.PuedeCrear,
            @PuedeEditar = rp.PuedeEditar,
            @PuedeEliminar = rp.PuedeEliminar
        FROM dbo.RolesNegocioPermiso rp
        WHERE rp.RolNegocio = @RolNegocio
          AND rp.ModuloSistemaId = @ModuloId;

        SELECT
            @PuedeVer = COALESCE(up.PuedeVer, @PuedeVer),
            @PuedeCrear = COALESCE(up.PuedeCrear, @PuedeCrear),
            @PuedeEditar = COALESCE(up.PuedeEditar, @PuedeEditar),
            @PuedeEliminar = COALESCE(up.PuedeEliminar, @PuedeEliminar)
        FROM dbo.UsuariosNegocioPermiso up
        WHERE up.UsuarioNegocioId = @UsuarioNegocioId
          AND up.ModuloSistemaId = @ModuloId;

        SELECT
            CAST(CASE WHEN @PuedeVer = 1 THEN 1 ELSE 0 END AS BIT) AS Autorizado,
            @NegocioId,
            @NegocioNombre,
            @ModuloCodigo,
            @ModuloNombre,
            CAST(@RolNegocio AS NVARCHAR(20)) AS RolActual,
            @PuedeVer,
            @PuedeCrear,
            @PuedeEditar,
            @PuedeEliminar,
            CAST(NULL AS NVARCHAR(200)) AS Mensaje,
            @SedeIdAsignada AS SedeIdAsignada,
            @EsAdministrador AS EsAdministrador;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
