USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Home_MarcarSolicitudNotificada]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 12_Home_Notificaciones_Seguimiento.sql (linea 78)
CREATE   PROCEDURE [dbo].[Sp_Home_MarcarSolicitudNotificada]
    @CodigoSolicitud NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE dbo.SolicitudesReservaPublica
        SET NotificadoCliente = 1
        WHERE CodigoSolicitud = @CodigoSolicitud;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
