USE [DbSportCenter]
GO
/****** Object:  StoredProcedure [dbo].[Sp_UsuariosNegocio_Listar]    Script Date: 3/04/2026 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SOURCE: 32_Usuarios_Sede_Restriccion_Filtros.sql (linea 536)
CREATE   PROCEDURE [dbo].[Sp_UsuariosNegocio_Listar]
    @NegocioId INT,
    @SedeId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT
            un.Id AS UsuarioNegocioId,
            un.UsuarioId,
            COALESCE(u.Nombres, N'') AS Nombres,
            COALESCE(u.Apellidos, N'') AS Apellidos,
            COALESCE(u.Email, N'') AS Correo,
            un.RolNegocio,
            un.Activo,
            un.SedeId,
            COALESCE(s.Nombre, N'') AS SedeNombre
        FROM dbo.UsuariosNegocio un
        INNER JOIN dbo.AspNetUsers u ON u.Id = un.UsuarioId
        LEFT JOIN dbo.Sedes s ON s.Id = un.SedeId
        WHERE un.NegocioId = @NegocioId
          AND (@SedeId IS NULL OR un.SedeId = @SedeId)
        ORDER BY un.Activo DESC, u.Email;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
