<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--local-->
    <add name="CnxBD" connectionString="server=NORMA-PC; user id=root; password=SAV; database=dbeital; pooling=true; convert zero datetime=True" providerName="MySql.Data.MySqlClient" />

    <!--eital-->
    <!--<add name="CnxBD" connectionString="server=servidor; user id=root; password=1234; database=dbeital; pooling=true; convert zero datetime=True" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--local-->
    <!--
    <add key="certpath" value="\\Dev01-pc\sistemas actualizados\FacturacionElectronica\Files\Produccion\VENTAS_ELECTRONICAS_CERT\Certificado_Sunat_PFX_EITAL.pfx" />
    <add key="inputpath-server" value="\\dev01-pc\BACKUP_FUENTES\MYSQL\Ventas_Electronicas" />
    <add key="inputpath-server-repo" value="\\Dev01-pc\sistemas actualizados\FacturacionElectronica\Files\Produccion\VENTAS_ELECTRONICAS_REPO" />
    <add key="inputpath-server-work" value="\\Dev01-pc\sistemas actualizados\FacturacionElectronica\Files\Produccion\VENTAS_ELECTRONICAS_WORK" />
    <add key="inputpath-local" value="\\Dev01-pc\sistemas actualizados\FacturacionElectronica\Files\Produccion\inputs_local\" />
    <add key="outputpath" value="\\Dev01-pc\sistemas actualizados\FacturacionElectronica\Files\Produccion\outputs\" />
    <add key="email-to" value="dmao1230@gmail.com" />-->

    <!--eital-->
    <add key="certpath" value="\\servidor\SIST_MYSQL\VENTAS_ELECTRONICAS_CERT\Certificado_Sunat_PFX_EITAL.pfx" />
    <add key="inputpath-server" value="\\servidor\SIST_MYSQL\VENTAS_ELECTRONICAS" />
    <add key="inputpath-server-repo" value="\\servidor\SIST_MYSQL\VENTAS_ELECTRONICAS_REPO" />
    <add key="inputpath-server-work" value="\\servidor\SIST_MYSQL\VENTAS_ELECTRONICAS_WORK" />
    <!--
    <add key="inputpath-local" value="D:\SISTEMAS ACTUALIZADOS\FacturacionElectronica\Files\Produccion\inputs_local\" />
    <add key="outputpath" value="D:\SISTEMAS ACTUALIZADOS\FacturacionElectronica\Files\Produccion\outputs\" />-->
    <add key="email-to" value="v.caceres@eital.pe" />

    <!--EMAIL NOREPLY SAV-->
    <add key="RpSmtpUser" value="sistemas@savperu.com" />
    <add key="RpSmtpPassword" value="$Sav2010" />
    <add key="SmtpHost" value="mail.savperu.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpSsl" value="false" />

    <add key="ejecutar" value="1" />
  <!-- 1:EnviarDocumentos, 2:RevisarBajas, 11:EnviarDocumentosBeta, 21:EnviarDocumentosHomologacion, 22:RevisarBajasHomologacion -->
    <add key="IdEmpresa" value="01"/>
    <add key="GlsParametroCarpetaXMLVentasElectronicas" value="CARPETA_XML_VE"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BillServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding2" />
                <binding name="BillServicePortBinding3">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding4" />
                <binding name="BillServicePortBinding5">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding6" />
            </basicHttpBinding>
            <customBinding>
                <binding name="BillServicePortBinding1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
                contract="SunatProduccionService.billService" name="BillServicePort">
                <headers>
                    <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
                        <wsse:UsernameToken Id="ABC-123">
                            <wsse:Username>20266578572JCASTRO1</wsse:Username>
                            <wsse:Password>jcastro1</wsse:Password>
                        </wsse:UsernameToken>
                    </wsse:Security>
                </headers>
            </endpoint>
            <endpoint address="https://www.sunat.gob.pe:443/ol-ti-itcpgem-beta/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding3"
                contract="SunatBetaService.billService" name="BillServicePort1">
                <headers>
                    <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
                        <wsse:UsernameToken Id="ABC-123">
                            <wsse:Username>20266578572MODDATOS</wsse:Username>
                            <wsse:Password>moddatos</wsse:Password>
                        </wsse:UsernameToken>
                    </wsse:Security>
                </headers>
            </endpoint>
          <endpoint address="https://www.sunat.gob.pe:443/ol-ti-itcpgem-sqa/billService"
              binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding5"
              contract="SunatHomologacionService.billService" name="BillServicePort2">
            <headers>
              <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
                <wsse:UsernameToken Id="ABC-123">
                  <wsse:Username>20266578572JCASTRO1</wsse:Username>
                  <wsse:Password>jcastro1</wsse:Password>
                </wsse:UsernameToken>
              </wsse:Security>
            </headers>
          </endpoint>
        </client>
    </system.serviceModel>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>